body {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  color: #777; }
  body .pushable > .pusher {
    background-color: #f8f9ef !important; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-weight: 300 !important; }

.cursive-font {
  font-family: "Acme", sans-serif !important; }

.primary-color {
  color: #bdc3c7 !important; }

.secondary-color {
  color: #34495e !important; }

.white-color {
  color: #fff !important; }

.padright-1 {
  padding-right: 1rem !important; }

.padright-2 {
  padding-right: 2rem !important; }

.padright-3 {
  padding-right: 3rem !important; }

.padright-4 {
  padding-right: 4rem !important; }

.padright-5 {
  padding-right: 5rem !important; }

.padright-6 {
  padding-right: 6rem !important; }

.padleft-1 {
  padding-left: 1rem !important; }

.padleft-2 {
  padding-left: 2rem !important; }

.padleft-3 {
  padding-left: 3rem !important; }

.padleft-4 {
  padding-left: 4rem !important; }

.padleft-5 {
  padding-left: 5rem !important; }

.padleft-6 {
  padding-left: 6rem !important; }

.padtop-1 {
  padding-top: 1rem !important; }

.padtop-2 {
  padding-top: 2rem !important; }

.padtop-3 {
  padding-top: 3rem !important; }

.padtop-4 {
  padding-top: 4rem !important; }

.padtop-5 {
  padding-top: 5rem !important; }

.padtop-6 {
  padding-top: 6rem !important; }

.padbottom-1 {
  padding-bottom: 1rem !important; }

.padbottom-2 {
  padding-bottom: 2rem !important; }

.padbottom-3 {
  padding-bottom: 3rem !important; }

.padbottom-4 {
  padding-bottom: 4rem !important; }

.padbottom-5 {
  padding-bottom: 5rem !important; }

.padbottom-6 {
  padding-bottom: 6rem !important; }

.ui.vertical.indexpage.sidebar.menu {
  background-color: #bdc3c7;
  color: #fff; }
  .ui.vertical.indexpage.sidebar.menu a {
    color: #fff !important; }

.toc.item {
  display: none !important;
  color: #000 !important;
  font-size: 2em;
  padding: 0 !important;
  margin-left: 15px; }

.card {
  box-shadow: none !important; }

#details-card {
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5 !important; }

@media only screen and (max-width: 700px) {
  #extra-content-card {
    display: none; }

  .right.mobilehide.menu {
    display: none !important; }

  .borderless.topmenu.secondary.menu {
    display: none;
    margin-bottom: 3em; }

  .fixed.borderless.hidden.menu {
    display: none !important; }

  .toc.item {
    display: inline-block !important;
    position: fixed;
    visibility: visible;
    margin-top: 10px;
    font-size: 2em;
    z-index: 999; } }
.pusher.mybackground {
  background: #fff !important; }

.ui[class*="top fixed"].featured.menu {
  background-color: #bdc3c7;
  color: #fff; }

.ui.top.fixed.hidden.menu {
  display: none; }

.ui.borderless.topmenu.menu {
  background-color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #bdc3c7;
  margin: 0 !important; }
  .ui.borderless.topmenu.menu .ui.container .icon {
    color: #bdc3c7; }
  .ui.borderless.topmenu.menu .ui.container .ui.dropdown.item {
    border-radius: 0;
    color: #bdc3c7; }
    .ui.borderless.topmenu.menu .ui.container .ui.dropdown.item .menu > .item {
      color: #bdc3c7; }
      .ui.borderless.topmenu.menu .ui.container .ui.dropdown.item .menu > .item .icon {
        color: #bdc3c7; }

#kaadie_logo {
  width: 8.5em !important; }

.long-search.input {
  width: 30em !important; }

.ui.borderless.mainnav.menu, .ui.borderless.homenav.menu {
  background-color: #00B5AD;
  border: none;
  border-radius: 0;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  color: #fff;
  margin-bottom: 0 !important;
  margin-top: 0 !important; }
  .ui.borderless.mainnav.menu .ui.centered.stackable.grid.container, .ui.borderless.homenav.menu .ui.centered.stackable.grid.container {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
    .ui.borderless.mainnav.menu .ui.centered.stackable.grid.container .ui.dropdown.item, .ui.borderless.homenav.menu .ui.centered.stackable.grid.container .ui.dropdown.item {
      border-radius: 0;
      color: #fff; }
      .ui.borderless.mainnav.menu .ui.centered.stackable.grid.container .ui.dropdown.item .menu > .item, .ui.borderless.homenav.menu .ui.centered.stackable.grid.container .ui.dropdown.item .menu > .item {
        color: #bdc3c7; }
        .ui.borderless.mainnav.menu .ui.centered.stackable.grid.container .ui.dropdown.item .menu > .item .icon, .ui.borderless.homenav.menu .ui.centered.stackable.grid.container .ui.dropdown.item .menu > .item .icon {
          color: #bdc3c7; }

.overflow {
  overflow: hidden !important;
  white-space: nowrap !important; }

.ellipsis {
  text-overflow: ellipsis !important; }

.ui.very.padded.featured.segment {
  box-shadow: none;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important; }

.ui.card .content img, .ui.cards > .card .content img {
  width: 100%; }

footer.footer-background {
  background-color: #bdc3c7;
  color: #fff;
  /*padding-top: 3em;*/
  /*padding-bottom: 3em;*/
  bottom: 0;
  margin-top: 20px;
}

.sm-thin-font {
  font-weight: 300 !important;
  font-size: 0.65em !important; }

.ui.borderless.homenav.menu {
  margin-top: 0px !important; }

#signuppage, #forgotpage {
  background: #bdc3c7;
  background-image: url(../../images/mockup.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  padding-top: 2em;
  position: relative; }
  #signuppage .form-holder, #forgotpage .form-holder {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 3px;
    margin-left: 1rem;
    margin-right: 1rem; }
  #signuppage .form-head, #forgotpage .form-head {
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 15px auto 30px auto; }
  #signuppage .kaadie-logo-image, #forgotpage .kaadie-logo-image {
    width: 40%; }
  #signuppage .size-mini, #forgotpage .size-mini {
    font-size: 12px !important;
    line-height: 1.9 !important; }

#forgotpage {
  height: 100vh;
  background-image: url(../../images/mockup.jpg); }

#footer-details {
  position: absolute;
  bottom: 5%; }

#login-form {
  box-sizing: border-box;
  width: 400px;
  margin: 10px 2em 0;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 40px;
  border-radius: 5px;
  background-color: #fff; }
  #login-form h1 {
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 0;
    text-align: center; }

.form-header {
  width: 100%;
  background: #2c3e50;
  font-weight: 300;
  color: #fff;
  line-height: 150%;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2); }

button {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2); }
  button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2); }

.alter {
  padding: 0 1.5em; }

@media screen and (max-width: 680px) {
  .kaadie-logo-image {
    margin: 0 auto; } }
#sms-field {
  display: none; }

#image_upload {
  position: relative;
  overflow: hidden; }
  #image_upload input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.001; }

#brand_segment_2 .masthead.segment {
  min-height: 400px;
  padding: 1em 0em; }
  #brand_segment_2 .masthead.segment h1.ui.header {
    margin-top: 2em;
    margin-bottom: 0em;
    font-size: 3em;
    font-weight: normal; }
#brand_segment_2 .ui.vertical.stripe {
  padding: 2em 0em; }
  #brand_segment_2 .ui.vertical.stripe h3 {
    font-size: 1.5em; }
#brand_segment_2 .ui.vertical.stripe .button + h3,
#brand_segment_2 .ui.vertical.stripe p + h3 {
  margin-top: 1em; }
#brand_segment_2 .ui.vertical.stripe .floated.image {
  clear: both; }
#brand_segment_2 .ui.vertical.stripe p {
  font-size: 1.1em; }
#brand_segment_2 .ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em; }
#brand_segment_2 .quote.stripe.segment {
  padding: 0em; }
#brand_segment_2 .quote.stripe.segment .grid .column {
  padding-top: 4em;
  padding-bottom: 4em; }
@media only screen and (max-width: 700px) {
  #brand_segment_2 .masthead.segment {
    min-height: 350px; }
  #brand_segment_2 .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em; }
  #brand_segment_2 .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em; } }
#brand_segment_2 #form_grid .column {
  max-width: 450px; }

/*# sourceMappingURL=app.css.map */

.ui.small.modal {
    position: relative; !important;
    top: -50%; !important;
}

.font_20 {
    font-size: 20px; !important;
}
.mobile-search {
  position: relative;
  height: 56px;
  min-width:100%;
  width: 100%;
  background: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.05);
  margin-bottom: 0;
}
.trans {
  background-color: transparent;
}