/*::-webkit-scrollbar {*/
/*width: 12px;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
/*border-radius: 10px;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*border-radius: 10px;*/
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
/*}*/

.nav > li > a {
    /*padding-top: 2px;*/
    /*padding-bottom: 2px;*/
    padding: 0;
    font-size: 10px;
}

/*.nav-pills > li > a {*/
/*min-width: 30px;*/
/*}*/
.small_width {
    min-width: 30px !important;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #123;
}

.nav-pills > li > a > i {
    font-size: 18px;
!important;
}

.card .card-header {
    background-color: #123;
}

.custom-panel {
    float: none;
    width: 100%;
    /*overflow: inherit; !important;*/
}

.button-color {
    background-color: #123;
!important;
}

.no-padding {
    padding-top: 0;
    margin-top: 0
}

.flash-card {
    margin-top: 10px;
    padding: 10px;
}

.message-card {
    padding: 10px;
    color: darkgrey;
}

.delete_contact_modal {
    height: 50px;
    padding-left: 250px
}

.inline_image {
    display: inline
}

.truncate {
    width: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.new-truncate {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.new-panel {
    margin: 10px;
    padding: 10px;
    opacity: 0.6;
    border-radius: 20px;
}

.custom-frame {
    max-width: 320px;  !important;
    max-height: 320px;  !important;
}

.nav-tabs > li.active {
    border-bottom: 2px solid black;
}

.margin-neg {
    margin: 6px !important;
}

.width-expand {
    min-width: 46.333333%;  !important;
}