.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 500ms !important;
}

.font{
    font-family: 'Lobster', cursive;
    font-weight:300;
    font-size:40px;
}

#internal{
    display:none;
}


#details{
    display:none;
}

#cards{
    display: block;
}

.text.container{
    width:40%;
}

#logo{
    border:2px solid white;
    border-radius: 10px;
    color:white;
    padding:15px;
}

#logo:hover{
    box-shadow: 0 0 5px 5px white;
}



