#kaadie_logo {
    width: 8.5em !important;
}

.primary_color {
    color: {{ organization.primary_color }} !important;
}

.white-color {
    color: {{ organization.color }} !important;
}

.ui.vertical.indexpage.sidebar.menu {
    background-color: {{ organization.color }};
    color: {{ organization.color }};
}

.ui[class*=\"top fixed\" ]

.featured.menu {
    color: {{ organization.primary_color }};
    background-color: {{ organization.color }};
}

.ui.inverted.menu .item, .ui.inverted.menu .item > a:not(.ui) {
    color: {{ organization.color }};
}

.ui.borderless.topmenu.menu {
    background-color: {{ organization.menu_color }};
    color: {{ organization.color }};
}

.ui.borderless.topmenu.menu .ui.container .icon {
    color: {{ organization.primary_color }};
}

.ui.borderless.topmenu.menu .ui.container .ui.dropdown.item {
    color: {{ organization.color }};
}

.ui.borderless.topmenu.menu .ui.container .ui.dropdown.item .menu > .item {
    color: {{ organization.menu_color }};
}

.ui.borderless.topmenu.menu .ui.container .ui.dropdown.item .menu > .item .icon {
    color: {{ organization.menu_color }};
}

.ui.borderless.mainnav.menu, .ui.borderless.homenav.menu {
    background-color: {{ organization.primary_background_color }};
    color: {{ organization.color }};
}

.ui.borderless.mainnav.menu .ui.centered.stackable.grid.container .ui.dropdown.item,
.ui.borderless.homenav.menu .ui.centered.stackable.grid.container .ui.dropdown.item {
    background-color: {{ organization.primary_background_color }};
    color: {{ organization.primary_color }};
}

.ui.borderless.mainnav.menu .ui.centered.stackable.grid.container .ui.dropdown.item .menu > .item, .ui.borderless.homenav.menu .ui.centered.stackable.grid.container .ui.dropdown.item .menu > .item {
    color: {{ organization.color }};
}

.ui.borderless.mainnav.menu .ui.centered.stackable.grid.container .ui.dropdown.item .menu > .item .icon, .ui.borderless.homenav.menu .ui.centered.stackable.grid.container .ui.dropdown.item .menu > .item .icon {
    color: {{ organization.color }};
}

.ui.borderless.mainnav.menu,
.ui.borderless.homenav.menu {
    background-color: {{ organization.primary_background_color }};
    color: {{ organization.color }};
}

footer.footer-background {
    background-color: {{ organization.primary_background_color }};
    color: {{ organization.primary_color }};
}

#signuppage, #forgotpage {
    background-color: {{ organization.primary_background_color }};
}

{#            // For send and zoom button#}
{#            $(".ui.dimmer>.content>.center>a.button").addClass("{{ organization.semantic_class }}"); // semantic class#}
{#            //Category.html Segment Header#}
{#            $(".ui.featured.segment>.ui.dividing.header.primary_color").addClass("{{ organization.semantic_class }}"); // semantic class#}
{#            //Main menu across the pages#}
{#            $("ui.inverted.huge.borderless.mainnav.menu").addClass("{{ organization.semantic_class }}"); // semantic class#}
{#            //$(".menubar.item").addClass("{{ organization.primary_color_class }}"); // color#}
{#            //section.html#}
{#            $("h5.ui.cursive-font.dividing.header").addClass("{{ organization.semantic_class }}"); // semantic class#}
{#            $("ui.dropdown.item >i.user.large.icon").addClass("{{ organization.semantic_class }}"); // semantic class#}
{#            $("h2.ui.icon.center.aligned.header>i.send.inverted.circular.icon").addClass("{{ organization.semantic_class }}"); // semantic class#}
{#            $("h2.ui.icon.center.aligned.header>i.send.inverted.circular.icon>.content>.ui.header").addClass("{{ organization.semantic_class }}");#}