#kaadie_logo {
    width: 8.5em !important;
}

.primary_color {
    color: #123 !important;
}

.white-color {
    color: #123 !important;
}

.ui.vertical.indexpage.sidebar.menu {
    background-color: #123;
    color: #123;
}

.ui[class*=\"top fixed\" ]

.featured.menu {
    color: #123;
    background-color: #123;
}

.ui.inverted.menu .item, .ui.inverted.menu .item > a:not(.ui) {
    color: #123;
}

.ui.borderless.topmenu.menu {
    background-color: #123;
    color: #123;
}

.ui.borderless.topmenu.menu .ui.container .icon {
    color: #123;
}

.ui.borderless.topmenu.menu .ui.container .ui.dropdown.item {
    color: #ffffff;
}

.ui.borderless.topmenu.menu .ui.container .ui.dropdown.item .menu > .item {
    color: #123;
}

.ui.borderless.topmenu.menu .ui.container .ui.dropdown.item .menu > .item .icon {
    color: #123;
}

.ui.borderless.mainnav.menu, .ui.borderless.homenav.menu {
    background-color: #123;
    color: #123;
}

.ui.borderless.mainnav.menu .ui.centered.stackable.grid.container .ui.dropdown.item,
.ui.borderless.homenav.menu .ui.centered.stackable.grid.container .ui.dropdown.item {
    background-color: #000000;
    color: #000000;
}

.ui.borderless.mainnav.menu .ui.centered.stackable.grid.container .ui.dropdown.item .menu > .item, .ui.borderless.homenav.menu .ui.centered.stackable.grid.container .ui.dropdown.item .menu > .item {
    color: #000000;
}

.ui.borderless.mainnav.menu .ui.centered.stackable.grid.container .ui.dropdown.item .menu > .item .icon, .ui.borderless.homenav.menu .ui.centered.stackable.grid.container .ui.dropdown.item .menu > .item .icon {
    color: #000000;
}

.ui.borderless.mainnav.menu,
.ui.borderless.homenav.menu {
    background-color: #000000;
    color: #000000;
}

footer.footer-background {
    background-color: #000000;
    color: #000000;
}

#signuppage, #forgotpage {
    background-color: #000000;
}
