{% extends 'layout.html' %}

{% block 'title' %}
    <title> Kaadie | 500 Page </title>
{% endblock %}

{% block 'body' %}
<div class="ui text container">
  <div class="ui basic segment">
    <header>
      <h1 class="ui center aligned icon huge header">
        <i class="grey unlinkify icon"></i>
        Internal Server Error
      </h1>
      <div class="ui center aligned grey sub header">Sorry, looks like something went wrong.</div>
    </header>
    <section>
      <!-- <div class="ui hidden divider"></div> -->
      <div class="ui basic center aligned segment">
        <div class="ui relaxed horizontal list">
          <div class="item">
            <div class="content">
              <a class="ui medium header" href="">Report page as missing</a>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <a class="ui medium header" href="">Return to the Homepage</a>
            </div>
          </div>
        </div>
      </div>
      <div class="ui center aligned grid container">
        <div class="twelve wide column computer tablet only">
            {% if random_cards|length > 0 %}
                <div class="ui sub centered primary_color header">Better still, you can try send these cards:</div>
                <div class="ui hidden divider"></div>
                <div class="ui small images">
                    {% for card in random_cards %}
                        <a href="{% if sub is None %}{% url 'send_card' card.slug %}{% else %}{% url 'send_card' sub card.slug %}{% endif %}" class="ui medium image">
                            <img src="{{ card.image_url }}">
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="twelve wide column mobile only">
            {% if random_cards|length > 0 %}
                <div class="ui sub centered primary_color header">Better still, you can try send these cards:</div>
                <div class="ui hidden divider"></div>
                <div class="ui tiny images">
                    {% for card in random_cards %}
                        <a href="{% if sub is None %}{% url 'send_card' card.slug %}{% else %}{% url 'send_card' sub card.slug %}{% endif %}" class="ui medium image">
                            <img src="{{ card.image_url }}">
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
      </div>
    </section>
  </div>
</div><!-- end of container -->

{% endblock %}
