{% extends 'layout.html' %}

{% block 'title' %}
    <title> Kaadie | About Us</title>
{% endblock %}

{% block 'body' %}

      <!-- Content Description   -->
      <div class="ui very padded text container basic segment">
        <img class="ui medium centered image" src="{{ organization.logo }}" alt="Kaadie Logo">
        <h1 class="ui header">
          <div class="primary_color content">
            About Us
          </div>
        </h1>
        <div class="ui justified teal container">
          <p> Kaadie is Nigeria’s first virtual card platform. Kaadie is a technology that bridges the gap between “thoughts –feelings of emotions and expressions of love” without spending a dime. It redefines the traditional way of sending cards and expressing love. </p>
          <p>
            With just a click of the button, you can send your thoughts and express your emotions to that very dear person by e-mail, text and on social media without a care in this world about what to write, how much to spend and how fast your card can be delivered.
          </p>
          <p>
            We have over 500 beautifully designed indigenous/internationally themed cards and emojis that well describe how you feel per time. Kaadie is easy to use, fast and absolutely free.
          </p>
          <p>
            The kaadie team is made up of passionate, creative and dedicated professionals who pay attention to every detail ensuring the delivery of great designs and itch free service. For every card you send on kaadie, you preserve a tree.
          </p>
          <p>
            It is our responsibility to preserve our environment and create a safer and cleaner world. With the kaadie technology we are saving trees and stopping deforestation.
          </p>
          <p>
            At kaadie we see beauty in everything. We believe that memories are worth shared and preserved. Our goal is to give expression to what you feel and to be your messenger bearing goodwill to your loved ones, catching every perfect emotion on canvas.
          </p>
        </div>

        <div class="ui hidden divider"></div>
      </div>
  </div> <!-- end of pusher -->

{% endblock %}
