{% extends 'layout.html' %}

{% block 'inner-script' %}
    <style media="screen">
        /*For select2-search__field*/
        input.select2-search__field {
            border: none !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .select2-container {
            width: 100% !important;
        }

        .select2-container--default .select2-selection--multiple {
            background-color: white;
            border: 1px solid rgba(34, 36, 38, .15);
        }

        .ui.card > .content, .ui.cards > .card > .content {
            padding: 0.5em 0.5em !important;
        }
        img {
            max-width: 100%;
            max-height: 100%;
        }
        .square {
            height: 240px;
            width: 240px;
        }
    </style>
{% endblock %}

{% block 'scripts' %}
    <!-- Script files -->
    <script type="text/javascript">
        $(function () {
            // Accordion
            $('.ui.accordion').accordion();
        });
        var shareModal = function () {
            $(".ui.share.small.modal").modal("show");
        };

        var sendModalShow = function () {
            $('.special.cards .image').dimmer({
                on: 'hover'
            });
        };

        var sendModal = function () {
            $(".ui.send.small.modal").modal("show");
        };
    </script>
    <!-- end script files -->
{% endblock %}

{% block 'body' %}

    <div class="owl-carousel owl-theme">
        {% for banner in banners %}
            <div class="item">
                <a href="{{ banner.link }}">
                    <div class="ui large">
                        <img class="ui fluid image" src="{{ banner.image_url }}">
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <div ng-controller="IndexController">
        <!-- Begin of Featured segment -->
        <div class="ui container">
            <div style="margin-top: 20px">
                <div class="column">
                    {% if artists.count == 0 %}
                        <h1 class="ui center aligned icon huge header">
                            <i class="grey frown icon"></i>
                            There are currently no active artists on Kaadie right now..
                        </h1><hr>
                        <div class="ui sub header">Here are some beautifuly designed cards by other artists</div>
                        <div class="ui hidden divider"></div>
                        <div class="ui hidden divider"></div>
                        <div class="ui four doubling special left aligned cards">
                            <!-- Begin of Card -->
                            {% for card in random_cards %}
                                <div class="card">
                                    <div class="blurring dimmable image">
                                        <div class="ui inverted dimmer">
                                            <div class="content">
                                                <div class="center">
                                                    <a class="ui icon button primary_color" href="{% if sub is None %}{% url 'card' card.slug %}{% else %}{% url 'card' sub card.slug %}{% endif %}">
                                                      <i class="zoom icon"></i>
                                                      View Card
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="{{ card.image_url }}">
                                    </div>
                                    {% if user.is_authenticated %}
                                        <div class="content">
                                            {% if card not in saved_cards %}
                                                <span class="save-icon" ng-show="can_save('{{ card.pk }}')" ng-click="saveCard('{{ card.pk }}')">
                                                    <i class="link bookmark green large icon"></i>
                                                </span>
                                            {% endif %}
{#                                            <a class="cursive-font primary_color" href="{% if sub is None %}{% url 'card' card.slug %}{% else %}{% url 'card' sub card.slug %}{% endif %}">#}
{#                                                <i class="ui zoom icon"></i>#}
{#                                            </a>#}
                                            <a href="{% if sub is None %}{% url 'send_card' card.slug %}{% else %}{% url 'send_card' sub card.slug %}{% endif %}"
                                               class="right floated ui compact primary circular tiny button">Send
                                            </a>
                                        </div>
                                    {% else %}
                                        <div class="content">
                                            {% if card not in saved_cards %}
                                                <a href="{% if sub is None %}{% url 'login' %}?next={% url 'card' card.slug %}{% else %}{% url 'login' sub %}?next={% url 'card' sub card.slug %}{% endif %}">
                                                    <i class="link bookmark green large icon"></i>
                                                </a>
                                            {% endif %}

                                            <a href="{% if sub is None %}{% url 'send_card' card.slug %}{% else %}{% url 'send_card' sub card.slug %}{% endif %}"
                                               class="right floated ui compact primary circular tiny button">Send
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                                <!-- End of Card -->
                            {% endfor %}
                        </div>
                        <div class="ui featured basic segment" ng-controller="LandingController">
                            <div class="ui four doubling special centered cards" infinite-scroll="loadMore()" infinite-scroll-disabled="isBusy" infinite-scroll-distance="1">
                                <div class="card" ng-repeat="moreCard in cards">
                                        <div class="blurring dimmable image">
                                            <div class="ui inverted dimmer">
                                                <div class="content">
                                                    <div class="center">
                                                        <a class="ui icon button primary_color" href="{% if sub is None %}/cards/[[ moreCard.slug ]]{% else %}'/{{ sub }}/cards/[[ moreCard.slug ]]{% endif %}">
                                                            <i class="zoom icon"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <img data-ng-src="[[ moreCard.image_url ]]" onmouseover="sendModalShow()">
                                        </div>
                                        {% if user.is_authenticated %}
                                            <div class="content">
                                                <span class="save-icon" ng-show="can_save(moreCard.pk)" ng-click="saveCard(moreCard.pk)">
                                                  <i class="link bookmark green large icon"></i>
                                                </span>
                                                 <a href="{% if sub is None %}/cards/[[ moreCard.slug ]]/send{% else %}/{{ sub }}/cards/[[ moreCard.slug ]]/send{% endif %}" class="right floated ui compact primary circular tiny  button">Send
                                                 </a>
                                            </div>
                                        {% else %}
                                            <div class="content">
                                                <a href="{% if sub is None %}/accounts/login?next=/cards/[[ moreCard.slug ]]{% else %}/{{ sub }}/accounts/login?next=/{{ sub }}/cards/[[ moreCard.slug ]]{% endif %}">
                                                    <i class=" link bookmark green large icon"></i>
                                                </a>
                                                <a {% if sub is None %}href="/cards/[[ moreCard.slug ]]/send"{% else %}href="/{{ sub }}/cards/[[ moreCard.slug ]]/send"{% endif %}
                                                   class="right floated ui compact primary circular tiny button">
                                                    Send
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                <div ng-show='isBusy'><h2 style="text-align: center">Loading data...</h2></div>
                            </div>
                        </div>
                    {% else %}
                        <div class="ui four doubling special left aligned link cards">
                        {% for person in artists.all %}
                            <div class="card">
                                <div class="image" style="background-color: transparent; margin: 10px">
                                    <div class="square">
                                        {% if person.account.image_url %}
                                            <img class="ui medium circular image" style="left: 10%;" src="{{ person.account.image_url }}">
                                        {% else %}
                                            <img class="ui medium circular image" style="left: 10%;" src="/images/profile.png">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="header"><a href="/artists/{{ person.nickname }}">@{{ person.nickname }}</a></div>
                                    <div class="meta">
                                        <a>{{ person.account.name }}</a>
                                    </div>
        {#                            <div class="description">#}
        {#                                Matthew is an interior designer living in New York.#}
        {#                            </div>#}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- End of Page Section -->

        <!-- Modal for share -->
        <div class="ui share small modal">
            <i class="close icon"></i>

            <div class="header">
                Share Card from Kaadie
            </div>
            <div class="image content">
                <div class="ui medium image">
                    <img data-ng-src="[[ selected_image_url ]]">
                </div>
                <div class="description">
                    <h3>Please select from options below</h3>
                    <a href="" ng-click="shareFB()"
                       class="ui circular facebook icon button" target="_blank">
                        <i class="facebook big icon"></i>
                    </a>
                    <a href="" ng-click="shareIn()"
                       class="ui circular linkedin icon button" target="_blank">
                        <i class="linkedin big icon"></i>
                    </a>
                    <a ng-click="shareTweet()"
                       class="ui circular twitter icon button">
                        <i class="twitter big icon"></i>
                    </a>
                    <a ng-click="sharePinterest()"
                       class="ui circular pinterest icon button">
                        <i class="pinterest big icon"></i>
                    </a>
                    <a ng-click="shareWhatsapp('{{ ua.is_pc }}')" data-text="Kaadie | [[selected_card.title]]"
                       data-href="[[selected_card.link]]" data-action="share/whatsapp/share"
                       class="ui circular whatsapp green icon button">
                        <i class="whatsapp white small icon"></i>
                    </a>
                    <a ng-click="shareGPlus()" class="ui circular google plus icon button">
                        <i class="google plus big icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <!--End of share modal  -->
    </div>
    <!-- end of pusher -->

{% endblock %}
