<!DOCTYPE html>
<html ng-app="kaadie" ng-controller="BaseController"
      {% if user.is_authenticated %}ng-init="init('{{ user.pk }}', '{{ user.account.name }}')"{% endif %}>
<head>
    <title>Kaadie | Profile.</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description"
          content="Kaadie.com is nigeria's first virtual card sending platform. Send virtual cards/invite via email, sms and share on social media.">
    <meta name="keywords"
          content="Kaadie, eCards, e-Cards, Greeting cards, Birthday cards, Love cards, Romantic cards, free cards, Easter cards, Ramadan cards, Christmas cards,">
    <meta name="author" content="Kaadie">
    <meta name="robot" content="index,follow">
    <meta name="copyright" content="Kaadie.com all rights reserved.">
    <meta name="language" content="en">
    <meta name="revisit-after" content="1">
    <meta property="og:title" content="Kaadie | Nigeria's first virtual card platform."/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.kaadie.com"/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="Kaadie"/>
    <meta property="og:description"
          content="Kaadie.com is nigeria's first virtual card sending platform. Send virtual cards/invite via email, sms and share on social media."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="google-signin-client_id"
          content="71206465461-u6epfp5tto1b574knupep0urbnak3rb0.apps.googleusercontent.com">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
          name='viewport'/>
    {#    {% load compress %}#}
    {#    {% compress css %}#}
    <!-- Site Properties -->
    <link rel="shortcut icon" type="image" href="/images/favicon.ico"/>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    <link rel="stylesheet" type="text/css" href="/static/css/pace.css">
    <link rel="stylesheet" type="text/css" href="/static/css/lato.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/owl.theme.default.min.css">

    <!--  Material Dashboard CSS    -->
    <link href="/static/css/material-dashboard.css" rel="stylesheet"/>
    <link href="/static/css/custom.css" rel="stylesheet"/>
    <!--     Fonts and icons     -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href='/static/fonts/material-icons.css' rel='stylesheet'
          type='text/css'>
    <script src="/static/js/jquery-3.1.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/js/material.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap-notify.js"></script>
    <script src="/static/js/aws-sdk.min.js"></script>
    <style media="screen">
        #app_message {
            margin: 0 !important;
            width: 100%;
            z-index: 999;
            top: 0;
            right: 0;
        }

        /*For select2-search__field*/
        input.select2-search__field {
            border: none !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .select2-container {
            width: 100% !important;
        }

        .select2-container--default .select2-selection--multiple {
            background-color: white;
            border: 1px solid rgba(34, 36, 38, .15);
        }
    </style>
    {#    {% endcompress %}#}
    <link rel="stylesheet" type="text/css" href="/static/css/brands/kaadie.css">
    {% if sub is not None %}
        <link rel="stylesheet" type="text/css" href="/static/css/brands/{{ sub|lower }}.css">
    {% endif %}
</head>
<body>
<!-- Sidebar Menu  when mobile-->
<div class="ui vertical indexpage sidebar menu">
    <div class="item">
        <a class="ui logo icon image"
           href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}">
            <img class="" style="width: 120px" src="{{ organization.logo }}">
        </a>
    </div>
    <div class="borderless white-color item">
        {% if user.is_authenticated %}
            <a href="{% if sub is None %}{% url 'home' %}{% else %}{% url 'home' sub %}{% endif %}" class="item">
                <i class="user icon"></i>{{ user.account.name }}
            </a>
            <a ng-show="data.notification_count > 0"
               href="{% if sub is None %}{% url 'notifications' %}{% else %}{% url 'notifications' sub %}{% endif %}"
               class="menubar item">
                <i class="bell large icon"></i>
                <small class="ui small red left pointing label" ng-bind="data.notification_count"></small>
                Notifications
            </a>
        {% else %}
            Account
        {% endif %}
    </div>
    {% if user.is_authenticated %}
        {% if user.account.is_premium or user.is_staff %}
            {#                <a href="{% if sub is None %}{% url 'create_card' %}{% else %}{% url 'create_card' sub %}{% endif %}"#}
            {#                   class="item"><i class="pencil icon"></i>Create Card</a>#}
            {% if organization.account_id == user.account.pk %}
                <a href="
                        {% if sub is None %}{% url 'control_panel' %}{% else %}{% url 'control_panel' sub %}{% endif %}"
                   class="item"><i class="setting icon"></i>Control Panel</a>
            {% endif %}
        {% endif %}
        <a href="{% if sub is None %}{% url 'logout' %}{% else %}{% url 'logout' sub %}{% endif %}" class="item"><i
                class="sign out icon"></i> Sign Out</a>
    {% else %}
        <a href="{% if sub is None %}{% url 'login' %}{% else %}{% url 'login' sub %}{% endif %}" class="item"><i
                class="checkmark box icon"></i> Login</a>
        <a href="{% if sub is None %}{% url 'register' %}{% else %}{% url 'register' sub %}{% endif %}"
           class="item"><i class="signup icon"></i> Sign up</a>
    {% endif %}
    <div class="borderless item"></div>
    {% for section in sections|slice:":5" %}
        <div class="item">
            <a href="
                    {% if sub is None %}{% url 'section' section.slug %}{% else %}{% url 'section' sub section.slug %}{% endif %}"
               class="header">{{ section.title }}</a>

            <div class="menu">
                {% if is_db %}
                    {% for category in section.categories.all %}
                        {% if category.is_active %}
                            <a class="item"
                               href="
                                       {% if sub is None %}{% url 'category' section.pk category.slug %}{% else %}{% url 'category' sub section.pk category.slug %}{% endif %}">{{ category.title }}</a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for category in section.categories %}
                        {% if category.is_active %}
                            <a class="item"
                               href="
                                       {% if sub is None %}{% url 'category' section.pk category.slug %}{% else %}{% url 'category' sub section.pk category.slug %}{% endif %}">{{ category.title }}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <div class="borderless item"></div>
    {% if not user.is_authenticated %}
        <a href="{% if sub is None %}{% url 'register_brand' %}{% else %}{% url 'register_brand' sub %}{% endif %}"
           class="item"> <span class="ui compact mini blue button ">Register Brand</span>
        </a>
    {% endif %}
    {#        {% if not premium and not user.is_staff %}#}
    {#            <a href="{% if sub is None %}{% url 'premium' %}{% else %}{% url 'premium' sub %}{% endif %}" class="item">#}
    {#                <span class="ui compact mini blue button ">Try Premium</span>#}
    {#            </a>#}
    {#        {% endif %}#}
    {#        <a href="#" class="artist_btn item">Artist Sign Up</a>#}
    {% if user.is_authenticated and not artist %}
        <a href="{% if sub is None %}{% url 'request_rights' %}{% else %}{% url 'request_rights' sub %}{% endif %}"
           style="margin: 10px" class="ui compact mini blue button">Request Artist Rights</a>
    {% endif %}
    <a href="http://support.kaadie.com" class=" primary_color item"><i class="flag large icon"></i>Report</a>
    <a href="https://medium.com/@kaadie" target="_blank" class=" primary_color item">
        <i class="write large icon"></i>Blog
    </a>
    <a href="{% if sub is None %}{% url 'how_it_works' %}{% else %}{% url 'how_it_works' sub %}{% endif %}"
       class="item"> How It works </a>
    <a href="{% if sub is None %}{% url 'terms_of_use' %}{% else %}{% url 'terms_of_use' sub %}{% endif %}"
       class="item"> Terms and Conditions</a>
    <a href="{% if sub is None %}{% url 'privacy_policy' %}{% else %}{% url 'privacy_policy' sub %}{% endif %}"
       class="item"> Privacy Policy </a>

    <div class="borderless item"></div>
    <div class="borderless item">
        &copy; 2017. Kaadie.com or its affiliates.
    </div>
</div>
<div class="pusher mybackground">
    <div class="ui borderless topmenu secondary menu ">
        <div class="ui container">
            <a class="fitted item" href="https://www.facebook.com/Kaadiecom-1149233738494529/"><i
                    class="facebook f icon"></i></a>
            <a class="fitted item" href="https://twitter.com/OfficialKaadie"><i class="twitter icon"></i></a>
            <a class="fitted item" href="https://www.instagram.com/officialkaadie/"><i class="instagram icon"></i></a>

            <div class="ui dropdown right primary_color item">All
                <i class="dropdown icon"></i>

                <div class="menu">
                    {% for section in sections %}
                        <a class="item" href="
                                {% if sub is None %}{% url 'section' section.slug %}{% else %}{% url 'section' sub section.slug %}{% endif %}">{{ section.title }}</a>
                    {% endfor %}
                </div>
            </div>
            {% for section in sections|slice:":3" %}
                <div class="ui dropdown primary_color item">
                    <a href="
                            {% if sub is None %}{% url 'section' section.slug %}{% else %}{% url 'section' sub section.slug %}{% endif %}"
                       style="color:inherit">{{ section.title }}</a>
                    <i class="dropdown icon"></i>

                    <div class="menu">
                        {% if is_db %}
                            {% for category in section.categories.all %}
                                {% if category.is_active %}
                                    <a class="item" href="
                                            {% if sub is None %}{% url 'category' section.pk category.slug %}{% else %}{% url 'category' sub section.pk category.slug %}{% endif %}">{{ category.title }}</a>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for category in section.categories %}
                                {% if category.is_active %}
                                    <a class="item" href="
                                            {% if sub is None %}{% url 'category' section.pk category.slug %}{% else %}{% url 'category' sub section.pk category.slug %}{% endif %}">{{ category.title }}</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <a href="{% if sub is None %}{% url 'how_it_works' %}{% else %}{% url 'how_it_works' sub %}{% endif %}"
               class="primary_color item">
                <i class="question large icon"></i>How It Works
            </a>
            <a href="http://support.kaadie.com" class=" primary_color item"><i class="flag large icon"></i>Report</a>

            <div class="padtop-1 padbottom-1">
                {% if not user.is_authenticated %}
                    <a class="ui compact mini green button" href="
                            {% if sub is None %}{% url 'register_brand' %}{% else %}{% url 'register_brand' sub %}{% endif %}">
                        Register Brand</a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Fixed menu when you scroll -->
    <div class="ui top fixed borderless hidden featured menu">
        <div class="ui container">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>

            <div class="item">
                <a href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}"><img
                        id="kaadie_logo" src="{{ organization.logo }}"></a>
            </div>
            <div class="right mobilehide menu">
                <div class="item">
                    <div class="ui search ">
                        <div class="ui icon mini long-search input">
                            <form id="search_form" method="get" action="{% url 'search' %}">
                                <input class="prompt" type="text" name="q" placeholder="Search for Cards..."
                                       value="{{ search_q }}">
                                <i class="search icon"></i>
                            </form>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    {% if user.account.saved_count > 0 %}
                        <a href="{% if sub is None %}{% url 'home' %}{% else %}{% url 'home' sub %}{% endif %}"
                           class="menubar item">
                            <i class="bookmark large icon"></i>

                            <div class="ui small green left pointing label">{{ user.account.saved_count }}</div>
                        </a>
                    {% endif %}
                    <a ng-show="data.notification_count > 0" href="
                            {% if sub is None %}{% url 'notifications' %}{% else %}{% url 'notifications' sub %}{% endif %}"
                       class="menubar item">
                        <i class="bell large icon"></i>

                        <div class="ui small red left pointing label" ng-bind="data.notification_count"></div>
                    </a>
                {% endif %}

                <div class="ui dropdown item">
                    {% if user.is_authenticated %}
                        <i class="user large icon"></i> {{ user.account.name }}
                    {% else %}
                        Account
                    {% endif %}
                    <i class="dropdown icon"></i>

                    <div class="menu">
                        {% if user.is_authenticated %}
                            {% if user.account.is_premium or user.is_staff %}
                                {% if organization.account_id == user.account.pk %}
                                    <a href="
                                            {% if sub is None %}{% url 'control_panel' %}{% else %}{% url 'control_panel' sub %}{% endif %}"
                                       class="item"><i class="setting icon"></i>Control Panel</a>
                                {% endif %}
                            {% endif %}
                            {% if artist %}
                                <a href="
                                        {% if sub is None %}{% url 'create_card' %}{% else %}{% url 'create_card' sub %}{% endif %}"
                                   class="item"><i class="user icon"></i>Create Card</a>
                            {% endif %}
                            <a href="{% if sub is None %}{% url 'home' %}{% else %}{% url 'home' sub %}{% endif %}"
                               class="item"><i class="user icon"></i>Profile</a>
                            <a href="{% if sub is None %}{% url 'logout' %}{% else %}{% url 'logout' sub %}{% endif %}"
                               class="item"><i class="sign out icon"></i> Sign Out</a>
                        {% else %}
                            <a href="{% if sub is None %}{% url 'login' %}{% else %}{% url 'login' sub %}{% endif %}"
                               class="item"><i class="checkmark box icon"></i>Login</a>
                            <a href="
                                    {% if sub is None %}{% url 'register' %}{% else %}{% url 'register' sub %}{% endif %}"
                               class="item"><i class="signup icon"></i> Sign up</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main menu -->
    <div class="ui inverted huge borderless mainnav menu">
        <div class="ui container" style="">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>

            <div class="item">
                <a href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}">
                    <img id="kaadie_logo" src="{{ organization.logo }}">
                </a>
            </div>
            <div class="right mobilehide menu">
                <div class="item">
                    <div class="ui search ">
                        <div class="ui icon mini long-search input">
                            <form id="search_form" method="get" action="{% url 'search' %}">
                                <input class="prompt" type="text" name="q"
                                       placeholder="Search for Cards..." value="{{ search_q }}">
                                <i class="search icon"></i>
                            </form>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>

                {% if user.is_authenticated %}
                    {% if user.account.saved_count > 0 %}
                        <a href="{% if sub is None %}{% url 'home' %}{% else %}{% url 'home' sub %}{% endif %}"
                           class="menubar item">
                            <span class="icon-popup" data-tooltip="Your Saved Cards" data-position="bottom center">
                              <i class="bookmark large icon"></i>
                              <div class="ui small green left pointing label">{{ user.account.saved_count }}</div>
                            </span>
                        </a>
                    {% endif %}
                    <div ng-show="data.notification_count > 0" class="ui dropdown item">
                        <a href="
                                {% if sub is None %}{% url 'notifications' %}{% else %}{% url 'notifications' sub %}{% endif %}">
                            <i class="bell large icon"></i>
                        </a>

                        <div class="ui small red left pointing label" ng-bind="data.notification_count"></div>
                        <i class="dropdown icon"></i>
                    </div>
                {% endif %}
                <div class="ui dropdown item">
                    {% if user.is_authenticated %}<i class="user large icon"></i>{{ user.account.name }}{% else %}
                        Account{% endif %}
                    <i class="dropdown icon"></i>

                    <div class="menu">
                        {% if user.is_authenticated %}
                            {% if user.account.is_premium or user.is_staff %}
                                {% if organization.account_id == user.account.pk %}
                                    <a href="
                                            {% if sub is None %}{% url 'control_panel' %}{% else %}{% url 'control_panel' sub %}{% endif %}"
                                       class="item"><i class="settings icon"></i>Control Panel</a>
                                {% endif %}
                            {% endif %}
                            {% if artist %}
                                <a href="
                                        {% if sub is None %}{% url 'create_card' %}{% else %}{% url 'create_card' sub %}{% endif %}"
                                   class="item">
                                    <i class="user icon"></i>Create Card
                                </a>
                            {% endif %}
                            <a href="{% if sub is None %}{% url 'home' %}{% else %}{% url 'home' sub %}{% endif %}"
                               class="item"><i class="user icon"></i>Profile</a>
                            <a href="{% if sub is None %}{% url 'logout' %}{% else %}{% url 'logout' sub %}{% endif %}"
                               class="item"><i class="sign out icon"></i> Sign Out</a>
                        {% else %}
                            <a href="{% if sub is None %}{% url 'login' %}{% else %}{% url 'login' sub %}{% endif %}"
                               class="item"><i class="checkmark box icon"></i>
                                Login</a>
                            <a href="
                                    {% if sub is None %}{% url 'register' %}{% else %}{% url 'register' sub %}{% endif %}"
                               class="item"><i class="signup icon"></i> Sign up</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- message to try mobile -->
    {% if ua.is_mobile %}
        <div class="ui blue message" id="app_message">
            <i class="close icon"></i>

            <div class="header">
                Kaadie Mobile app
            </div>
            <p>Coming soon on <a href="#" class="primary_color">Play store</a></p>
        </div>
    {% endif %}
    <div class="wrapper" ng-controller="HomeController" ng-init="init('{{ saved_ids }}')">
        <div class="main-panel custom-panel">
            <div class="content" style="margin-top: 0">
                <div class="container-fluid">
                    {% if ua.is_mobile %}
                        <div class="row">
                            <div class="owl-carousel owl-theme">
                                {% for banner in banners %}
                                    <div class="item">
                                        <a href="{{ banner.link }}">
                                            <div class="ui large">
                                                <img class="ui fluid image" src="{{ banner.image_url }}">
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-4" style="margin-top: 40px">
                            <div class="card card-profile">
                                <!-- web profile thumbnail -->
                                <div class="card-avatar visible-md visible-lg">
                                    {% if person.account.image_url %}
                                        <img class="img" src="{{ person.account.image_url }}"/>
                                    {% else %}
                                        <img class="img" src="/images/profile.png"/>
                                    {% endif %}
                                </div>
                                <div class="content visible-lg visible-md">
                                    <h6 class="category text-gray">{{ person.account.name.title }}<br>
                                        <small class="card-title">{{ person.account.email }}{% if account.phone %} |
                                            {{ account.phone }}{% endif %}</small>
                                    </h6>
                                    <div class="ui mini buttons">
                                        <button class="ui mini compact blue button" style="margin: 2px">Follow</button>
                                        <button class="ui mini compact green button" style="margin: 2px">Message
                                        </button>
                                    </div>
                                    <hr>
                                    <div class="panel">
                                        <div class="ui tiny statistic">
                                            <div class="value">
                                                {{ cards.count }}
                                            </div>
                                            <div class="label sm-thin-font">
                                                Cards Created
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- mobile profile thumbnail -->
                                <div class="content visible-sm visible-xs">
                                    <div class="thumbnail">
                                        <h6 class="category text-gray font_20">
                                            <span>
                                                {% if person.account.image_url %}
                                                    <img class="ui avatar image inline_image"
                                                         src="{{ person.account.image_url }}"/>
                                                {% else %}
                                                    <img class="ui avatar image inline_image"
                                                         src="/images/profile.png"/>
                                                {% endif %}
                                            </span>
                                            {{ person.account.name.title }}
                                        </h6>
                                        <hr>
                                        <small class="card-title">{{ person.account.email }}
                                            | {{ person.account.phone }}</small>
                                        <div class="ui mini buttons">
                                            <button class="ui mini compact blue button">Follow</button>
                                            <button class="ui mini compact green button">Message</button>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8" style="margin-top: 8px">
                            {% if storage %}
                                <div class="row flash-card">
                                    <ul>
                                        {% for message in storage %}
                                            <li {% if message.tags == 'alert-danger error' %}
                                                class="alert-danger message-card" {% else %}
                                                class="alert-success message-card" {% endif %}>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if cards.count > 0 %}
                                <div class="ui four doubling special left aligned link cards">
                                    <!-- Begin of Featured Card -->
                                    {% for card in cards.all|dictsortreversed:"date_created" %}
                                        <div class="card">
                                            <div class="blurring dimmable image">
                                                <div class="ui inverted dimmer">
                                                    <div class="content">
                                                        <div class="center">
                                                            <a class="ui icon button primary_color" href="{% if sub is None %}{% url 'card' card.slug %}{% else %}{% url 'card' sub card.slug %}{% endif %}">
                                                              <i class="zoom icon"></i>
            {#                                                  View Card#}
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <img src="{{ card.image_url }}">
                                            </div>
                                            {% if user.is_authenticated %}
                                                <div class="content">
                                                    {% if card not in saved_cards %}
                                                        <span class="save-icon" ng-show="can_save('{{ card.pk }}')" ng-click="saveCard('{{ card.pk }}')">
                                                          <i class="link bookmark green large icon"></i>
                                                        </span>
                                                    {% endif %}
                                                     <a href="{% if sub is None %}{% url 'send_card' card.slug %}{% else %}{% url 'send_card' sub card.slug %}{% endif %}" class="right floated ui compact primary circular tiny  button">Send
                                                     </a>
                                                </div>
                                            {% else %}
                                                <div class="content">
                                                    {% if card not in saved_cards %}
                                                        <a href="{% if sub is None %}{% url 'login' %}?next={% url 'card' card.slug %}{% else %}{% url 'login' sub %}?next={% url 'card' sub card.slug %}{% endif %}">
                                                            <i class="link bookmark green large icon"></i>
                                                        </a>
                                                    {% endif %}

                                                    <a href="{% if sub is None %}{% url 'send_card' card.slug %}{% else %}{% url 'send_card' sub card.slug %}{% endif %}"
                                                       class="right floated ui compact primary circular tiny  button">Send
                                                    </a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    <!-- End of Featured Card -->
                                </div>
                            {% else %}
                                <div class="ui icon negative message" style="margin: 10px">
                                    <i class="info icon"></i>
                                    <div class="content">
                                        <div class="header">
                                            <h4 class="ui center aligned header">
                                                <i class="orange circular inverted warning icon"></i>
                                                NO CARDS CREATED BY THIS ARTIST YET
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui sub header">Here are some beautifuly designed cards by other artists</div>
                                <div class="ui hidden divider"></div>
                                <div class="ui hidden divider"></div>
                                <div class="ui four doubling special centered cards">
                                    <!-- Begin of Featured Card -->
                                    {% for card in random_cards %}
                                        <div class="card">
                                            <div class="blurring dimmable image">
                                                <div class="ui inverted dimmer">
                                                    <div class="content">
                                                        <div class="center">
                                                            <a class="ui icon button primary_color" href="{% if sub is None %}{% url 'card' card.slug %}{% else %}{% url 'card' sub card.slug %}{% endif %}">
                                                              <i class="zoom icon"></i>
            {#                                                  View Card#}
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <img src="{{ card.image_url }}">
                                            </div>
                                            {% if user.is_authenticated %}
                                                <div class="content">
                                                    {% if card not in saved_cards %}
                                                        <span class="save-icon" ng-show="can_save('{{ card.pk }}')" ng-click="saveCard('{{ card.pk }}')">
                                                          <i class="link bookmark green large icon"></i>
                                                        </span>
                                                    {% endif %}
                                                     <a href="{% if sub is None %}{% url 'send_card' card.slug %}{% else %}{% url 'send_card' sub card.slug %}{% endif %}" class="right floated ui compact primary circular tiny  button">Send
                                                     </a>
                                                </div>
                                            {% else %}
                                                <div class="content">
                                                    {% if card not in saved_cards %}
                                                        <a href="{% if sub is None %}{% url 'login' %}?next={% url 'card' card.slug %}{% else %}{% url 'login' sub %}?next={% url 'card' sub card.slug %}{% endif %}">
                                                            <i class="link bookmark green large icon"></i>
                                                        </a>
                                                    {% endif %}

                                                    <a href="{% if sub is None %}{% url 'send_card' card.slug %}{% else %}{% url 'send_card' sub card.slug %}{% endif %}"
                                                       class="right floated ui compact primary circular tiny  button">Send
                                                    </a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    <!-- End of Featured Card -->
                                </div>
                                <div class="ui hidden divider"></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of artist modal  -->
    <footer class="footer-background">
        <div class="ui three column doubling equal height stackable grid container">
            <div class="four wide column">
                <a href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}">
                    <img src="{{ organization.logo }}" alt="Kaadie Logo" class="ui small image"/></a>

                <div class="ui hidden divider"></div>
                <small class="centered item white-color padtop-2"> &copy; 2017. Kaadie.com or its affiliates.</small>
            </div>
            <div class="three wide column computer tablet only">
                <h3 class="ui dividing white-color header"><b>Main Menu</b></h3>

                <div class="ui link list">
                    <a class="white-color item"
                       href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}">Home</a>
                    <a class="white-color item"
                       href="{% if sub is None %}{% url 'about' %}{% else %}{% url 'about' sub %}{% endif %}">AboutKaadie</a>
                    <a href="
                            {% if sub is None %}{% url 'how_it_works' %}{% else %}{% url 'how_it_works' sub %}{% endif %}"
                       class="white-color item">How It works</a>
                </div>
            </div>
            <div class="three wide column computer tablet only">
                <h3 class="ui dividing white-color header"><b>Other Details</b></h3>

                <div class="ui link list">
                    <a href="mailto:support@kaadie.com" class="white-color item">Email Us</a>
                    <a href="
                            {% if sub is None %}{% url 'terms_of_use' %}{% else %}{% url 'terms_of_use' sub %}{% endif %}"
                       class="white-color item">Terms of Use</a>
                    <a href="
                            {% if sub is None %}{% url 'privacy_policy' %}{% else %}{% url 'privacy_policy' sub %}{% endif %}"
                       class="white-color item">Privacy Policy</a>
                </div>
            </div>
            <div class="three wide column">
                <h3 class="ui dividing white-color header"><b>Follow Kaadie</b></h3>

                <div class="ui link list">
                    <a class="white-color item" href="https://www.facebook.com/Kaadiecom-1149233738494529/">
                        <i class="facebook white-color icon"></i>

                        <div class="content">
                            Facebook
                        </div>
                    </a>
                    <a class="white-color item" href="https://twitter.com/OfficialKaadie">
                        <i class="twitter white-color icon"></i>

                        <div class="content">
                            Twitter
                        </div>
                    </a>
                    <a class="white-color item" href="https://www.instagram.com/officialkaadie/">
                        <i class="instagram white-color icon"></i>

                        <div class="content">
                            Instagram
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>

{#{% compress js %}#}
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/facebook-sdk.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.responsive.min.js"></script>
<script src="/static/js/dataTables.rowReorder.min.js"></script>
<script src="/static/js/semantic.min.js"></script>
<script src="/static/js/select2.min.js"></script>
<script src="/static/js/dataTables.semanticui.min.js"></script>
<script type="text/javascript" src="/static/js/codemirror.min.js"></script>
<script type="text/javascript" src="/static/js/xml.min.js"></script>
<script src="/static/js/menu.js"></script>
<script src="/static/froala_editor/js/froala_editor.min.js"></script>
<script src="/static/froala_editor/js/plugins/link.min.js"></script>
<script src="/static/froala_editor/js/plugins/emoticons.min.js"></script>
<script src="/static/js/additional-methods.min.js"></script>
<script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/pusher.min.js"></script>
<script src="/static/js/angular/angular.min.js"></script>
<script src="/static/js/angular/angular-resource.min.js"></script>
<script src="/static/js/angular/angular-utils-pagination/dirPagination.js"></script>
<script src="/static/js/angular/model.js"></script>
<script src="/static/js/angular/controllers.js"></script>
<script src="/static/js/angular/app.js"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o);
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '/static/js/analytics.js', 'ga');

    ga('create', 'UA-87995079-1', 'auto');
    ga('send', 'pageview');
</script>
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    $('.pointing.menu .item').tab({
        //history: false
    });

    // initializing share button when you click

    $(".import-user").click(function () {
        $(".ui.importuser.small.modal").modal("show");
    });

    $(".add-user").click(function () {
        $(".ui.adduser.small.modal").modal("show");
    });

    $(".edit-profile").click(function () {
        $(".ui.editprofile.small.modal").modal("show");
    });

    $(".edit-contact").click(function () {
        $(".ui.editcontact.small.modal").modal("show");
    });

    $(".cloud-download").click(function () {
        $(".ui.clouddownload.small.modal").modal("show");
    });

    // Zoom modal
    $(".expand-button").click(function () {
        $(".ui.expand.small.modal").modal("show");
    });

    $(".delete_contact").click(function () {
        $(".ui.deletecontact.small.modal").modal("show");
    });

    $(".close_contact").click(function () {
        $(".ui.deletecontact.small.modal").modal("hide");
    });

</script>
<script>
    $(function () {
        $(function () {
            $(".upload_link").on('click', function (e) {
                e.preventDefault();
                $("#profileImage").trigger('click');
            });
        });
        $('#profileImage').change(function () {
            $("#updateImageForm").submit();
        });
        $('#DOB').datepicker({
            defaultViewDate: '{{ account.address.date_of_birth }}',
            todayBtn: true
        });
        $('#profileForm').validate({
            submitHandler: function (form) {
                if ($(form).valid() && document.getElementById('DOB').value != null) {
                    document.getElementById('DOB').value = new Date(document.getElementById('DOB').value).toISOString().slice(0, 10);
                    form.submit();
                }
            }
        })
    });
</script>
<script type="text/javascript">
    var mark = function (notification_id) {
        var url = '/notification/' + notification_id + '/mark';
        $.post(url, function (data, status) {
        })
    };

    jQuery.validator.setDefaults({
        debug: true,
        success: "valid"
    });
    $(function () {
        $('#app_message.close').on('click', function () {
            $(this).closest('.message').transition('fade');
        });
    });
    $('#search_form input').keydown(function (e) {
        if (e.keyCode == 13) {
            $('#search_form').submit();
        }
    });
</script>
{#{% endcompress %}#}
</body>

</html>
