<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description"
          content="Kaadie.com is nigeria's first virtual card sending platform. Send virtual cards/invite via emails, sms and share on social media.">
    <meta name="keywords"
          content="Kaadie, eCards, e-Cards, Greeting cards, Birthday cards, Love cards, Romantic cards, free cards, Easter cards, Ramadan cards, Christmas cards,">
    <meta name="author" content="Kaadie">
    <meta name="robot" content="index,follow">
    <meta name="copyright" content="Kaadie.com all rights reserved.">
    <meta name="language" content="en">
    <meta name="revisit-after" content="1">
    <meta property="og:title" content="Kaadie | Nigeria's first virtual cards platform."/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.kaadie.com"/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="Kaadie"/>
    <meta property="og:description"
          content="Kaadie.com is nigeria's first virtual card sending platform. Send virtual cards/invite via emails, sms and share on social media."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="google-signin-client_id"
          content="71206465461-u6epfp5tto1b574knupep0urbnak3rb0.apps.googleusercontent.com">
    <!-- Site Properties -->

    {% block 'title' %}
        <title>Kaadie</title>
    {% endblock %}
{#    {% load compress %}#}
{#    {% compress css %}#}
    <!-- Site Properties -->
    <link rel="shortcut icon" type="image" href="/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    <link rel="stylesheet" type="text/css" href="/static/css/pace.css">
    <link rel="stylesheet" type="text/css" href="/static/css/lato.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/owl.theme.default.min.css">
    <style media="screen">
        #app_message {
            margin: 0 !important;
            width: 100%;
            z-index: 999;
            top: 0;
            right: 0;
        }
    </style>
{#    {% endcompress %}#}
    <link rel="stylesheet" type="text/css" href="/static/css/brands/kaadie.css">
    {% if sub is not None %}
        <link rel="stylesheet" type="text/css" href="/static/css/brands/{{ sub|lower }}.css">
    {% endif %}
    {% block 'inner-script' %}
    {% endblock %}

</head>
<body>
<div class="layout_loader"></div>
{% block 'body' %}
{% endblock %}
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/menu.js"></script>
<script src="http://connect.facebook.net/en_US/sdk.js"></script>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script src="/static/js/dataTables.semanticui.min.js"></script>
<script type="text/javascript"
        src="/static/js/codemirror.min.js"></script>
<script type="text/javascript"
        src="/static/js/xml.min.js"></script>
<script src="/static/froala_editor/js/froala_editor.min.js"></script>
<script type="text/javascript" src="/static/froala_editor/js/plugins/link.min.js"></script>
<script type="text/javascript" src="/static/froala_editor/js/plugins/emoticons.min.js"></script>
<script src="/static/js/additional-methods.min.js"></script>
<script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/semantic.min.js"></script>
<script src="/static/js/angular/angular.min.js"></script>
<script src="/static/js/angular/angular-resource.min.js"></script>
<script src="/static/js/angular/model.js"></script>
<script src="/static/js/angular/controllers.js"></script>
<script src="/static/js/angular/app.js"></script>
<script type="text/javascript">
    $(window).load(function () {
        $('.ui.dropdown').dropdown({transition: "drop", on: "hover"});
        $(".layout_loader").fadeOut("slow")
    });
</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-87995079-1', 'auto');
    ga('send', 'pageview');

</script>
{% block 'scripts' %}
{% endblock %}
</body>

</html>
