{% extends 'layout.html' %}

{% block 'title' %}
    <title>Kaadie | Brand Sign Up</title>
{% endblock %}

{% block 'inner-script' %}

    <style type="text/css">

    </style>
{% endblock %}

{% block 'scripts' %}
    <!-- Script files  -->
    <script type="text/javascript">
        $('#select-gender')
            .dropdown();
        $('.ui.checkbox').checkbox();

        //Message
        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade');
            });
    </script>
    <script src="/static/js/platform.js?onload=signOut" async defer></script>
    <script>

        $(document)
            .ready(function () {
                $('.ui.large.form')
                    .form({
                        fields: {
                            text: {
                                identifier: 'brand_name',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please enter your brand name'
                                    },
                                    {
                                        type: 'length[4]',
                                        prompt: 'Your brand name must be at least 4 characters'
                                    }
                                ]
                            },
                            email: {
                                identifier: 'username',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please enter your e-mail'
                                    },
                                    {
                                        type: 'email',
                                        prompt: 'Please enter a valid e-mail'
                                    }
                                ]
                            },
                            name: {
                                identifier: 'name',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please enter your administrator account name'
                                    }
                                ]
                            },
                            password: {
                                identifier: 'brand_password',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please enter your password'
                                    },
                                    {
                                        type: 'length[6]',
                                        prompt: 'Your password must be at least 6 characters'
                                    }
                                ]
                            }
                        }
                    })
                ;
            })
        ;
    </script>

{% endblock %}
{% block 'body' %}
    <!-- Page Contents -->
    <div id="brand_segment_2">
        <div class="ui inverted teal vertical masthead center aligned segment">

            <div class="ui text container">
                <h1 class="ui inverted header">
                    Brand gets more on Kaadie!
                </h1>
                <h2>Get extra privileges. Do whatever you want when you want to.</h2>
                <a href="#form_grid" class="ui green large right labeled icon button">
                    Register now <i class="down arrow icon"></i>
                </a>
            </div>

        </div>

        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="eight wide column">
                        <h3 class="ui icon header">
                            <i class="circular purple inverted users icon"></i>
                            <div class="content">
                                Send More cards at once
                            </div>
                        </h3>
                        <p>Registering as a brand can give your company superpowers to do things that they never thought
                            possible. Upload spreadsheet and send to more contacts at one.</p>
                        <h3 class="ui icon header">
                            <i class="circular orange inverted cloud upload icon"></i>
                            <div class="content">
                                Integrate SMS and Email API's
                            </div>
                        </h3>
                        <p>Yes that's right, as a brand on Kaadie you will have access to SMS and Email APIs. You can
                            also integrate kaadie to your site</p>
                    </div>
                    <div class="eight wide column">
                        <h3 class="ui icon header">
                            <i class="circular teal inverted options icon"></i>
                            <div class="content">
                                Control Panel
                            </div>
                        </h3>
                        <p>Manage your account settings,wallets and set layout preferences.</p>
                        <h3 class="ui icon header">
                            <i class="circular blue inverted payment icon"></i>
                            <div class="content">
                                Manage Contacts
                            </div>
                        </h3>
                        <p>Armed with the right to edit contacts, boost productivity and increase your organization's
                            growth.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="center aligned column">
                        <a href="#form_grid" class="ui huge blue button">Start Now</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui vertical stripe quote segment">
            <div class="ui equal width stackable internally celled grid">
                <div class="center aligned row">
                    <div class="column">
                        <h3>"The response from our customers has been awesome."</h3>
                        <p>Airtel, Nigeria</p>
                    </div>
                    <div class="column">
                        <h3>"A product to increase customer acquisition."</h3>
                        <p>
                            Etisalat, Nigeria
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui vertical stripe segment">
            <div class="ui middle aligned center aligned grid" id="form_grid">
                <div class="column">
                    <h2 class="ui image header cursive-font">
                        <div class="content">
                            Register your company on Kaadie
                        </div>
                    </h2>
                    {% if storage %}
                        <div class="ui hidden divider"></div>
                        <ul class="ui message">
                            {% for message in storage %}
                                <li {% if message.tags == 'alert-danger error' %} style="color: #a41515; list-style: none" {% else %}
                                                                                  style="color: limegreen; list-style: none" {% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form class="ui large form" method="post" action="{% if sub is None %}{% url 'register_brand' %}{% else %}{% url 'register_brand' sub %}{% endif %}">
                        <div class="ui error message"></div>
                        <div class="ui raised left aligned segment">
                            <div class="field">
                                <label for="brand_name">Company Name</label>
                                <input type="text" placeholder="Brand Name" name="brand_name" value="{{ brand_name }}"
                                       required>
                            </div>
                            <div class="field">
                                <label for="brand_name">Admin Name</label>
                                <input type="text" placeholder="Administrator" name="name" value="{{ name }}"
                                       required>
                            </div>
                            <div class="field">
                                <label for="brand_email">Email Address</label>
                                <input type="email" placeholder="brand@example.com" name="username"
                                       value="{{ username }}"
                                       required>
                            </div>
                            <div class="field">
                                <label for="brand_password">Password</label>
                                <input type="password" placeholder="minimum of 6 characters" name="password"
                                       required>
                            </div>
                            <button class="ui fluid green submit button">SIGN UP</button>
                        </div>
                    </form>

                    <div class="ui message">
                        <span class="help-block">Already have an Account? <a href="{% url 'login' %}">Sign in</a></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
