{% extends 'layout.html' %}

{% block 'title' %}
    <title> Kaadie | {{ card.title.title }}</title>
{% endblock %}

{% block 'scripts' %}
    <!-- Script files  -->
    <script type="text/javascript">
        var shareModal = function () {
            $(".ui.share.small.modal").modal("show");
        };

        var sendModalShow = function () {
            $('.special.cards .image').dimmer({
                on: 'hover'
            });
        };

        var sendModal = function () {
            $(".ui.send.small.modal").modal("show");
        };

        $("#share_label_btn").click(function () {
            $(".ui.share.small.modal").modal("show");
        });
    </script>

{% endblock %}

{% block 'body' %}
    <div ng-controller="IndexController" ng-init="initialize('{{ saved_ids }}')">
        <div class="ui very padded text container">
            <h1 class="ui center aligned primary_color header  padtop-1 ">
                {{ card.title }}
                <div class="sub header cursive-font">with love from <span class="ui header primary_color">Kaadie</span>
                </div>
            </h1>
            <div class="ui divider"></div>
        </div>
        <!-- Card View -->
        <div class="ui two column doubling stackable grid container">
            <div class="column">
                <h3 class="ui header primary_color cursive-font">
                    Send <b>{{ card.title }} </b>to someone special...
                </h3>
                <img class="ui fluid rounded image" src="{{ card.image_url }}">
                {% if card.description %}
                    <div class="ui basic segment">
                        <h3 class="ui dividing header">Card Description</h3>
                        <p>{{ card.description }}.</p>
                    </div>
                {% endif %}

                <div class="ui hidden divider"></div>
                <!-- Share and save buttons -->
                <div class="ui basic segment">
                    {% if user.is_authenticated %}
{#                        <div class="ui icon compact circular teal button" tabindex="0"#}
{#                             ng-click="share('{{ card.pk }}')" id="share_label_btn">#}
{#                            <i class="share alternate icon"></i>#}
{#                            {{ card.shared_cards.count }}#}
{#                        </div>#}
                        <div class="ui icon compact circular primary button" tabindex="0" ng-show="can_save('{{ card.pk }}')" ng-click="saveCard('{{ card.pk }}')">
                            <i class="bookmark icon"></i>
                            {{ card.saved_counts }}
                        </div>
                        <a class="ui icon compact circular green button" href="{% if sub is None %}{% url 'send_card' card.slug %}{% else %}{% url 'send_card' sub card.slug %}{% endif %}"
                           tabindex="0">
                            <i class="send icon"></i>
                            {{ card.sent_counts }}
                        </a>
                        {% if card.user == request.user.account or user.is_staff %}
                            <a href="{% if sub is None %}{% url 'edit_card' card.slug %}{% else %}{% url 'edit_card' sub card.slug %}{% endif %}"
                               class="ui compact circular grey button right floated">Edit Card</a>
                        {% endif %}
                    {% else %}
{#                        <a href="{% if sub is None %}{% url 'login' %}{% else %}{% url 'login' sub %}{% endif %}"#}
{#                           class="ui icon compact circular teal button" tabindex="0">#}
{#                            <i class="share alternate small icon"></i>#}
{#                            {{ card.shared_cards.count }}#}
{#                        </a>#}
                        <a href="{% if sub is None %}{% url 'login' %}{% else %}{% url 'login' sub %}{% endif %}"
                           class="ui icon compact circular button" tabindex="0">
                            <i class="bookmark icon"></i>
                            {{ card.saved_counts }}
                        </a>
                        <a class="ui icon compact circular green button" tabindex="0">
                            <i class="send icon"></i>
                            {{ card.sent_counts }}
                        </a>
                    {% endif %}
                    <a class="ui icon compact circular primary button right floated" href="{% if sub is None %}{% url 'send_card' card.slug %}{% else %}{% url 'send_card' sub card.slug %}{% endif %}">Send Now</a>
                    <div class="ui hidden divider"></div>
                </div>

            </div>
            <div class=" column computer tablet only">
                {% if random_cards|length > 0 %}
                    <div class="ui sub centered primary_color header">You may also like these cards:</div>
                    <div class="ui hidden divider"></div>
                    <div class="ui small images">
                        {% for card in random_cards %}
                            <a href="{% if sub is None %}{% url 'send_card' card.slug %}{% else %}{% url 'send_card' sub card.slug %}{% endif %}"
                               class="ui medium image">
                                <img src="{{ card.image_url }}">
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="column mobile only">
                {% if random_cards|length > 0 %}
                    <div class="ui sub centered primary_color header">You may also like these cards:</div>
                    <div class="ui hidden divider"></div>
                    <div class="ui tiny images">
                        {% for card in random_cards %}
                            <a href="{% if sub is None %}{% url 'send_card' card.slug %}{% else %}{% url 'send_card' sub card.slug %}{% endif %}"
                               class="ui medium image">
                                <img src="{{ card.image_url }}">
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- Modal for Share Contacts -->
        <div class="ui share small modal">
            <i class="close icon"></i>
            <div class="header">
                Share Card From Kaadie
            </div>
            <div class="image content">
                <div class="ui medium image">
                    <img data-ng-src="[[ selected_card.image_url ]]">
                </div>
                <div class="description">
                    <h3>Please select from options below</h3>
                    <a href="" ng-click="shareFB()"
                       class="ui circular facebook icon button" target="_blank">
                        <i class="facebook big icon"></i>
                    </a>
                    <a href="" ng-click="shareIn()"
                       class="ui circular linkedin icon button" target="_blank">
                        <i class="linkedin big icon"></i>
                    </a>
                    <a ng-click="shareTweet()"
                       class="ui circular twitter icon button">
                        <i class="twitter big icon"></i>
                    </a>
                    <a ng-click="sharePinterest()"
                       class="ui circular pinterest icon button">
                        <i class="pinterest big icon"></i>
                    </a>
                    {% if ua.is_mobile %}
                        <a ng-click="shareWhatsapp()" class="ui circular whatsapp green icon button">
                            <i class="whatsapp white big icon"></i>
                        </a>
                    {% endif %}
                    <a ng-click="shareGPlus()"
                       class="ui circular google plus icon button">
                        <i class="google plus big icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <!--End of share modal  -->
    </div>
{% endblock %}
