{% extends 'base_layout.html' %}

{% block 'title' %}
    <title>Kaadie | Change Email </title>
{% endblock %}

<!-- two colum centered  -->

{% block 'body' %}
    <div id="forgotpage">
      <div class="ui very padded text container piled segment">
          <a href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}" class="ui centered medium image">
            <img src="{{ organization.logo }}" alt="Kaadie Logo">
          </a>
          <div class="ui hidden divider"></div>
                <form class="ui form" method="post" id="reset-form" action="{% if sub is None %}{% url 'change_email' %}{% else %}{% url 'change_email' sub %}{% endif %}">
                    {% csrf_token %}
                    <h1 class="primary-color cursive-font">Change Email Address</h1>
                    <div class="ui divider"></div>
                    <div class="ui hidden divider"></div>
                    <p>Please enter valid email address.</p>
                    {% if storage %}
                        <div class="ui message">
                            {% for message in storage %}
                                <p {% if message.tags == 'alert-danger error'%} style="color: #a41515" {% else %} style="color: green" {% endif %}>{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <input type="hidden" name="token" value="{{ token }}" id="token">
                    <div class="required field">
                        <label for="email">Email Address</label>
                        <div class="ui left icon input">
                            <input class="" placeholder="Enter Valid Email Address" type="email" name="email" required>
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class="ui hidden divider"></div>
                    <button class="ui green button" type="submit">Save</button>
                </form>
                <div class="ui hidden divider"></div>
        </div>
    </div>
{% endblock %}
