{% extends 'base_layout.html' %}

{% block 'title' %}
    <title>Reset Passwordd | Kaadie</title>
{% endblock %}

{% block 'scripts' %}
    <script>
        // just for the demos, avoids form submit
        jQuery.validator.setDefaults({
            debug: true,
            success: "valid"
        });
        $("#reset-form").validate({
            rules: {
                confirm_password: {
                    equalTo: "#new_password"
                }
            },
            highlight: function (element) {
                $(element).parent().addClass('error')
            },
            unhighlight: function (element) {
                $(element).parent().removeClass('error')
            },
            submitHandler: function (form) {
                if ($(form).valid()) {
                    form.submit();
                }
                return false; // prevent normal form posting
            }
        });
    </script>

{% endblock %}

<!-- two colum centered  -->

{% block 'body' %}
    <div id="forgotpage">
        <div class="ui very padded text container piled segment">
            <a href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}" class="ui centered medium image">
                <img src="/images/k_logo.png" alt="Kaadie Logo">
            </a>
            <div class="ui hidden divider"></div>
            <form class="ui form" method="post" id="reset-form" action="{% if sub is None %}{% url 'change' %}{% else %}{% url 'change' sub %}{% endif %}">
                {% csrf_token %}
                <h1 class="primary_color cursive-font">Reset Password</h1>
                <div class="ui divider"></div>
                <div class="ui hidden divider"></div>
                <p>Please enter the details for your new password.</p>
                {% if storage %}
                    <div class="ui message">
                        {% for message in storage %}
                            <p {% if message.tags == 'alert-danger error' %} style="color: #a41515" {% else %}
                                                                              style="color: green" {% endif %}>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <input type="hidden" name="token" value="{{ token }}" id="token">
                <div class="required field">
                    <label for="email">New Password</label>
                    <div class="ui left icon input">
                        <input class="" placeholder="New Password" type="password" name="new_password" id="new_password"
                               required>
                        <i class="lock icon"></i>
                    </div>
                </div>
                <div class="required field">
                    <label for="email">Confirm New Password</label>
                    <div class="ui left icon input">
                        <input class="" placeholder="Confirm Password" type="password" name="confirm_password"
                               id="confirm_password" required>
                        <i class="lock icon"></i>
                    </div>
                </div>
                <div class="ui hidden divider"></div>
                <button class="ui green button" type="submit">Reset Password</button>
            </form>
            <div class="ui hidden divider"></div>
{#            <footer id="footer-details">#}
{#                <div class="column">#}
{#                    <div class="ui horizontal list">#}
{#                        <div class="item white-color" href="#"><b>© 2017 Kaadie.com or its affiliates</b></div>#}
{#                        <a class="item secondary-color" href="{% url 'index' %}">Home</a>#}
{#                        <a class="item secondary-color" href="{% url 'about' %}">About</a>#}
{#                        <a class="item secondary-color" href="#">Jobs at Kaadie</a>#}
{#                        <a class="item secondary-color" href="#">Terms</a>#}
{#                        <a class="item secondary-color" href="#">Privacy</a>#}
{#                        <a class="item secondary-color" href="#">Contact</a>#}
{#                    </div>#}
{#                </div>#}
{#            </footer>#}
        </div>
    </div>
{% endblock %}
