{% extends 'base_layout.html' %}

{% block 'title' %}
    <title> Kaadie | Control Panel </title>
{% endblock %}

{% block 'scripts' %}
    <!-- Script files  -->
    <script type="text/javascript">
        $(function () {
          //script for message display
          $('.message .close').on('click', function () {
                  $(this).closest('.message').transition('fade');
            });
          // script for tab menu
          $(' .menu .item').tab({});
          // script for modal
          $(".add-user").click(function () {
              $(".ui.adduser.small.modal").modal("show");
          });
          $(".edit-contact").click(function () {
              $(".ui.editcontact.small.modal").modal("show");
          });
          $(".cloud-download").click(function () {
              $(".ui.clouddownload.small.modal").modal("show");
          });

          // initializing table sort
          $('#cp-table').DataTable({
              "info": false,
              "dom": '<"top"if>rt<"bottom"p><"clear">'
          });
         
        });
    </script>

{% endblock %}

{% block 'body' %}
    <div class="ui container">
        <div class="ui stackable menu">
            <div class="i tiny icon image borderless item">
                <img class="kaadie-logo-image" src="{{ organization.logo }}" alt="Kaadie Logo"/>
            </div>
            <a class="borderless item" href="{% if sub is None %}{% url 'home' %}{% else %}{% url 'home' sub %}{% endif %}">
                <i class="ui user icon"></i>Profile
            </a>
            <a class="right item" href="{% if sub is None %}{% url 'notifications' %}{% else %}{% url 'notifications' sub %}{% endif %}">Notifications</a>
            <a class="item" href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}">
                <i class="ui home icon"></i>Return to Homepage
            </a>
        </div>
        <div class="ui container">
            <div class="row">
                <div class="ui hidden divider"></div>
                <div class="ui large header">{% now 'jS F Y' %}</div>
                <div class="ui icon tiny message">
                    <i class="heart outline icon primary_color"></i>
                    <div class="content">
                        <div class="header">
                            Welcome {{ organization.name }}, to your organization's control panel
                        </div>
                    </div>
                </div>
                <div class="ui hidden divider"></div>
            </div>
            <div class="column">
                <div class="ui pointing secondary stackable menu">
                    <a class="primary_color item active" data-tab="personal">Details</a>
                    <a class="primary_color item" data-tab="wallet">Wallet</a>
                    <a class="primary_color item" data-tab="card_payment">Cards</a>
                    <a class="primary_color item" data-tab="api">Third Party APIs</a>
                    <a class="primary_color item" data-tab="contact">Contact</a>
                </div>
                <div class="ui tab basic segment active" data-tab="personal">
                    <div class="ui segment">
                        <div class="ui top attached large primary_color label">Brand Information</div>
                        <h3 class="ui dividing header">
                            Manage your account settings and set layout preferences.
                        </h3>
                        {% if storage %}
                            <div class="ui compact visible message">
                                <i class="close icon"></i>
                                <ul class="messages">
                                    {% for message in storage %}
                                        <li {% if message.tags == 'alert-danger error' %} style="color: #a41515"
                                        {% else %} style="color: limegreen" {% endif %}>{{ message }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <form class="ui form" method="post" action="{% if sub is None %}{% url 'update_organization' %}{% else %}{% url 'update_organization' sub %}{% endif %}">
                            <div class="field">
                                <label for="name">Brand Name</label>
                                <input type="text" name="name" value="{{ organization.name }}" placeholder="Brand Name"
                                       required>
                            </div>
                            <div class="field">
                                <label>Logo</label>
                                {{ form.logo }}
{#                                <input type="file" name="logo">#}
                            </div>
                            <div class="field">
                                <label for="primary_color">Primary Color</label>
                                <input type="text" name="primary_color" value="{{ organization.primary_color }}"
                                       placeholder="" required>
                            </div>
                            <div class="field">
                                <label for="primary_background_color">Primary Background Color</label>
                                <input type="text" name="primary_background_color"  value="{{ organization.primary_background_color }}" required>
                            </div>
                            <div class="field">
                                <label for="primary_color_class">Primary Color Class</label>
                                <input type="text" name="primary_color_class"
                                       value="{{ organization.primary_color_class }}" required>
                            </div>
                            <div class="field">
                                <label for="color">Color</label>
                                <input type="text" name="color" value="{{ organization.color }}" required>
                            </div>
                            <div class="field">
                                <label for="semantic_class">Semantic Class</label>
                                <input type="text" name="semantic_class" value="{{ organization.semantic_class }}"
                                       required>
                            </div>
                            <div class="field">
                                <label for="menu_color">Menu Color</label>
                                <input type="text" name="menu_color" value="{{ organization.menu_color }}" required>
                            </div>
                            <button class="ui button" type="submit">Update Information</button>
                        </form>
                    </div>
                </div>
                <div class="ui tab basic segment" data-tab="wallet">
                    <div class="ui segment">
                        <div class="ui top attached large primary_color label">Wallet</div>
                        <h3 class="ui dividing header">
                            Manage your account credit and debit account balances
                        </h3>
                        <div class="ui centered cards">
                          <div class="card">
                            <div class="content">
                              <h2 class="ui icon header">
                                <i class="mobile orange icon"></i>
                                <div class="content">
                                  <div class="sub header"><b>SMS Credit</b></div>
                                  23,2134
                                </div>
                              </h2>
                            </div>
                          </div>
                          <div class="card">
                            <div class="content">
                              <h2 class="ui icon header">
                                <i class="mail outline blue icon"></i>
                                <div class="content">
                                  <div class="sub header"><b>Email Credit</b></div>
                                  3,2134
                                </div>
                              </h2>
                            </div>
                          </div>
                          <div class="card">
                            <div class="content">
                              <h2 class="ui icon header">
                                <i class="payment green icon"></i>
                                <div class="content">
                                  <div class="sub header"><b>Balance</b></div>
                                  23,2134
                                </div>
                              </h2>
                            </div>
                          </div>
                        </div>
                        <div class="ui divider"></div>
                        <h3 class="ui header">
                            Purchase funds into my wallet.
                        </h3>
                        <div class="ui form">
                            <div class="inline fields">
                                <label>How much you want to purchase?</label>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="currency" tabindex="0">
                                        <label><b>$10.00</b></label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="currency" tabindex="0">
                                        <label><b>$20.00</b></label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="currency" tabindex="0">
                                        <label><b>$50.00</b></label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="currency" tabindex="0">
                                        <label><b>$100.00</b></label>
                                    </div>
                                </div>
                            </div>
                            <div class="ui submit green button">Purchase</div>
                        </div>
                    </div>
                </div>
                <div class="ui tab basic segment" data-tab="card_payment">
                    <div class="ui segment">
                        <div class="ui top attached large primary_color label">Card Payment</div>
                        <h3 class="ui dividing header">
                            Card Details
                            <div class="sub header">Manage your credit card informations and set preferences.</div>
                        </h3>
                        <div class="ui compact visible green message">
                            <i class="close icon"></i>
                            <div class="header">
                                Congrats!
                            </div>
                            <p>Card details updated successfully</p>
                        </div>
                        <form class="ui form">
                            <h4 class="ui dividing header">Billing Information</h4>
                            <div class="fields">
                                <div class="seven wide field">
                                    <label>Card Number</label>
                                    <input type="text" name="card[number]" maxlength="16" placeholder="Card #">
                                </div>
                                <div class="three wide field">
                                    <label>CVC</label>
                                    <input type="text" name="card[cvc]" maxlength="3" placeholder="CVC">
                                </div>
                                <div class="six wide field">
                                    <label>Expiration</label>
                                    <div class="two fields">
                                        <div class="field">
                                            <select class="ui fluid search dropdown" name="card[expire-month]">
                                                <option value="">Month</option>
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <input type="text" name="card[expire-year]" maxlength="4"
                                                   placeholder="Year">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="ui button" type="submit">Update Card Details</button>
                        </form>
                    </div>
                </div>
                <div class="ui tab basic segment" data-tab="api">
                    <div class="ui segment">
                        <div class="ui top attached large primary_color label">API</div>
                        <h3 class="ui dividing header">
                            Manage your account SMS and e-mail APIs.
                        </h3>
                        <div class="ui top attached tabular menu">
                            <a class="active item" data-tab="api/a">SMS</a>
                            <a class="item" data-tab="api/b">Email</a>
                        </div>
                        <div class="ui bottom attached active basic tab segment" data-tab="api/a">
                            <form action="" class="ui tiny form">
                                <div class="field">
                                    <label>SMS API: </label>
                                    <input value="40328423092340">
                                </div>
                                <button class="ui green small button" type="submit">Save</button>
                            </form>
                        </div>
                        <div class="ui bottom attached basic tab segment" data-tab="api/b">
                            <form action="" class="ui tiny form">
                                <div class="field">
                                    <label>E-mail API: </label>
                                    <input value="84723432894411">
                                </div>
                                <button class="ui green small button" type="submit">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="ui tab basic segment" data-tab="contact">
                  <div class="ui stackable doubling grid container">
                      <div class="four wide column">
                          <div class="ui header">
                              <i class="address book outline primary_color icon"></i>
                              <h2 class="content">
                                  Contact Listings
                                  <span class="sub header">Manage your contacts</span>
                              </h2>
                          </div>
                      </div>
                      <div class="six wide column computer tablet only"></div>
                      <div class="six wide column mobile only">
                          <div class="ui small primary labeled add-user icon button">
                              <i class="add user icon"></i>Add
                          </div>
                          <div class="ui small green labeled icon button cloud-download ">
                              <i class="cloud upload icon"></i>Import
                          </div>
                      </div>
                      <div class="six wide column computer tablet only">
                          <div class="ui small primary labeled add-user icon right floated button">
                              <i class="add user icon"></i>Add
                          </div>
                          <div class="ui small green labeled cloud-download icon right floated button">
                              <i class="cloud upload icon"></i>Import
                          </div>
                      </div>
                  </div>
                  <table class="ui compact celled table" id="cp-table" style="max-width: 100%">
                      <thead>
                      <tr>
                          <th colspan="">Name</th>
                          <th>Email</th>
                          <th>Phone Number</th>
                          <th>Birthday</th>
                          <th colspan="">Actions</th>
                      </tr>
                      </thead>
                          <tbody>
                          <tr>
                              <td>{{ contact.name }}</td>
                              <td>{% if contact.email %}{{ contact.email }}{% else %}----{% endif %}</td>
                              <td>{% if contact.phone %}{{ contact.phone }}{% else %}----{% endif %}</td>
                              <td>{% if contact.address.date_of_birth %}{{ contact.address.date_of_birth }}{% else %}
                                  ----{% endif %}</td>
                              <td>
                                  {% if contact.address.date_of_birth and user.account.is_premium or user.is_staff and contact.address.date_of_birth %}
                                      {% if not contact.is_reminder_set %}
                                      <a href="{% if sub is None %}{% url 'schedule_reminder' contact.pk %}{% else %}{% url 'schedule_reminder' sub contact.pk %}{% endif %}" class="ui   tiny button">
                                          Set Reminder</a>
                                      {% endif %}
                                  {% endif %}
                                  <a ng-click="deleteContact('{{ contact.pk }}')" class="ui red tiny button"> Delete</a>
                                  <a ng-click="selectContact('{{ contact.pk }}')"
                                     class="ui blue tiny button edit-contact"> Edit</a>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                </div>
                <div class="ui hidden divider"></div>
          </div>
        </div>
    </div>

    <!-- Modal for Add Contacts -->
    <div class="ui adduser small modal">
        <i class="close icon"></i>
        <div class="primary_color header">
            Add Contacts to your Kaadie profile
        </div>
        <div class="content">
            <form class="ui equal width form" method="post" action="/contacts/create">
                {% csrf_token %}
                <div class="required fields">
                    <div class="field">
                        <label>First name</label>
                        <input type="text" name="first_name" placeholder="First Name" required="">
                    </div>
                    <div class="field">
                        <label>Last name</label>
                        <input type="text" name="last_name" placeholder="Last Name">
                    </div>
                </div>
                <div class="required fields">
                    <div class="field">
                        <label>E-mail</label>
                        <input type="email" name="email" placeholder="joe@schmoe.com" required="">
                    </div>
                    <div class="field">
                        <label>Phone number</label>
                        <input type="number" name="phone" value="" placeholder="+2348011223344">
                    </div>
                    <div class="field">
                        <label>Birthday</label>
                        <input type="date" name="birthday" value="" placeholder="1907-03-20">
                    </div>
                </div>
                <div class="field">
                    <label for="address">Address</label>
                    <textarea name="address" rows="2"></textarea>
                </div>
                <div class="fields">
                    <div class="field">
                        <label for="city">City</label>
                        <input type="text" name="city" placeholder="city">
                    </div>
                    <div class="field">
                        <label for="Country">Country</label>
                        <input type="text" name="country" placeholder="country">
                    </div>
                </div>
                <button class="ui green button"> Save Contact</button>
            </form>
        </div>
    </div>
    <!--End of share modal  -->

    <div class="ui clouddownload small modal">
        <i class="close icon"></i>
        <h3 class="primary_color sub header">
            Import contact via spreadsheet
            <div style="float: right;">
                <a style="color: inherit" href="/images/sample.xlsx" download>
                    <i class="cloud download big icon"></i> Download Sample File
                </a>
            </div>
        </h3>
        <div class="content">
            <form class="ui equal width form" method="post" enctype="multipart/form-data"
                  action="">
                <div class="required fields">
                    <div class="field">
                        <label>File</label>
                        <input type="file" id="file" name="file"
                               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                               required>
                    </div>
                </div>
                <button class="ui green button"> Upload</button>
            </form>
        </div>
    </div>

    <!-- Modal for Import Contacts -->
    <div class="ui importuser small modal">
        <i class="close icon"></i>
        <div class="header">
            Import Contacts to Kaadie
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img src="[[ selected_card.image_url ]]">
            </div>
            <div class="description">
                <h3>Please select from options below</h3>
                <a href="" ng-click="shareFB()"
                   class="ui circular facebook icon button" target="_blank">
                    <i class="facebook big icon"></i>
                </a>
                <a href="" ng-click="shareIn()"
                   class="ui circular linkedin icon button" target="_blank">
                    <i class="linkedin big icon"></i>
                </a>
                <a ng-click="shareTweet()"
                   class="ui circular twitter icon button">
                    <i class="twitter big icon"></i>
                </a>
                <a ng-click="sharePinterest()"
                   class="ui circular pinterest icon button">
                    <i class="pinterest big icon"></i>
                </a>
                <a ng-click="shareGPlus()"
                   class="ui circular google plus icon button">
                    <i class="google plus big icon"></i>
                </a>
            </div>
        </div>
    </div>
    <!--End of share modal  -->

    <footer class="footer-background">
        <div class="ui three column doubling equal height stackable grid container">
            <div class="four wide column">
                <a href="/"><img src="{{ organization.logo }}" alt="Kaadie Logo" class="ui small image"/></a>
                <div class="ui hidden divider"></div>
                <small class="centered item padtop-2"> &copy; 2017. Kaadie.com or its affiliates.</small>
            </div>
            <div class="three wide column computer tablet only">
                <h3 class="ui dividing header"><b>Main Menu</b></h3>
                <div class="ui link list">
                    <div class="active item"><a href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}">Home</a></div>
                    <a class="item" href="{% if sub is None %}{% url 'about' %}{% else %}{% url 'about' sub %}{% endif %}">About Kaadie</a>
                    <a href="{% if sub is None %}{% url 'how_it_works' %}{% else %}{% url 'how_it_works' sub %}{% endif %}" class="item">How It works</a>
                    <a class="item">Jobs</a>
                </div>
            </div>
            <div class="three wide column computer tablet only">
                <h3 class="ui dividing header"><b>Other Details</b></h3>
                <div class="ui link list">
                    <a href="mailto:support@kaadie.com" class="item">Email Us</a>
                    <a href="{% if sub is None %}{% url 'terms_of_use' %}{% else %}{% url 'terms_of_use' sub %}{% endif %}" class="item">Terms of Use</a>
                    <a href="{% if sub is None %}{% url 'privacy_policy' %}{% else %}{% url 'privacy_policy' sub %}{% endif %}" class="item">Privacy Policy</a>
                    <a class="item">Team</a>
                </div>
            </div>
            <div class="three wide column">
                <h3 class="ui dividing header"><b>Connect with Kaadie</b></h3>
                <div class="ui link list">
                    <a class="item" href="https://www.facebook.com/Kaadiecom-1149233738494529/">
                        <i class="facebook icon"></i>
                        <div class="content">
                            Facebook
                        </div>
                    </a>
                    <a class="item" href="https://twitter.com/Kaadieworld">
                        <i class="twitter icon"></i>
                        <div class="content">
                            Twitter
                        </div>
                    </a>
                    <a class="item" href="https://www.instagram.com/kaadieworld/">
                        <i class="instagram icon"></i>
                        <div class="content">
                            Instagram
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
