{% extends 'layout.html' %}

{% block 'title' %}
    <title> Kaadie | FAQs</title>
{% endblock %}

{% block 'scripts' %}
  <script type="text/javascript">
    $('.ui.accordion').accordion();
  </script>
{% endblock %}

{% block 'body' %}

      <!-- Content Description   -->
      <div class="ui very padded text container basic segment">
        <img class="ui medium centered image" src="https://s3-us-west-2.amazonaws.com/kaadie/k_logo.png" alt="Kaadie Logo">
        <h1 class="ui header">
          <div class="primary_color content">
            Frequently Asked Questions
          </div>
        </h1>
        <div class="ui justified container">
          <div class="ui styled accordion">
            <div class="ui hidden divider"></div>
            <h3 class="ui centered header">General Questions</h3>
            <div class="title">
              <i class="dropdown icon"></i>
              What is Kaadie?
            </div>
            <div class="content">
              <p class="transition hidden">
                Kaadie.com is innovating on tradition and redefining the way you connect with
                family, friends and colleagues online with beautifully designed virtual
                cards/invitations that meets seamless technology. Sending virtual cards/invite via
                emails, SMS and sharing on social media is made simple to use on kaadie.com </p>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              How does Kaadie work?
            </div>
            <div class="content">
              <p class="transition hidden">
                <ul>
                  <li>Find the perfect card from our list of categories.</li>
                  <li>Send an awesome card that helps interpret your feelings</li>
                  <li>You may save the cards to remember your last experience</li>
                </ul>
                <a href="">Click Here</a> to see how Kaadie works
              </p>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              Who can use the kaadie service?
            </div>
            <div class="content">
              <p class="transition hidden">Anyone above (13+) can use  and enjoy Kaadie service for free.</p>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              How much does it cost to open an account on Kaadie?
            </div>
            <div class="content">
              <p class="transition hidden">It's completely free to register/sign up on Kaadie.</p>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              Where do I go if I need help?
            </div>
            <div class="content">
              <p class="transition hidden">We have provided an illustration on how Kaadie works... <a href="#">Click here to watch</a></p>
              <p class="transition hidden">For more info kindly email us, please Email us at info@kaadie.com</p>
              <p class="transition hidden">We are also on standby on <a class="" href="https://twitter.com/OfficialKaadie">Twitter</a>, <a class="" href="https://www.instagram.com/officialkaadie/">Instagram</a> and <a class="" href="https://www.facebook.com/Kaadiecom-1149233738494529/">Facebook</a></p>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              Is my credit card information secure?
            </div>
            <div class="content">
              <p class="transition hidden">Yes, your card information is 100% secure with us because security is our top priority. Our site uses industry standard 128-bit SSL (Secure Sockets Layer) to ensure that sensitive data (i.e. credit card number, name, address, etc.) is transmitted securely during every transaction. SSL encrypts the data before it is transmitted so that it can never be read.</p>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              Is my personal information safe?
            </div>
            <div class="content">
              <p class="transition hidden">Yes, your personal information is safe with us. We would NEVER share or sell it.</p>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              Can I upload my image?
            </div>
            <div class="content">
              <p class="transition hidden">Yes, as a premium user on Kaadie, you can upload your image and customize it for sending.</p>
            </div>
            <h3 class="ui centered header">Designers FAQs</h3>
            <div class="title">
              <i class="dropdown icon"></i>
              Does it cost me to open an account and sell my images on Kaadie?
            </div>
            <div class="content">
              <p class="transition hidden">Absolutely not, it's completely free.</p>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              What size of images should I upload? What resolution do they need to be?
            </div>
            <div class="content">
              <p class="transition hidden">To ensure that we display high-quality cards online, minimum resolution of cards should be 1000 width x 800 height. And size should be less than 5mb</p>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              Can my images be used/ purchased today?
            </div>
            <div class="content">
              <p class="transition hidden">Yes, as soon as your initial images are uploaded, by using our sharing features,people will be able to view, use and purchase straight away.</p>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              Can I design cards for Kaadie?
            </div>
            <div class="content">
              <p class="transition hidden">Yes, you can, we are always looking to get fresh and talented graphic artist on board. Click here to get started.</p>
            </div>
            <h3 class="ui centered header">Designers Guide</h3>
            <div class="title">
              <i class="dropdown icon"></i>
              What are my benefits?
            </div>
            <div class="content">
              <p class="transition hidden">Join the Kaadie Team as a graphic designer, as a designer you have full creative control. However we recognize that it would be useful to have a 'design brief' to give you guidance! Here are some benefits of joining:</p>
              <ul>
                <li>Extra cash</li>
                <li>Global reach</li>
                <li>Get your name out there</li>
                <li>Hone your skills</li>
              </ul>
              <p class="transition hidden">To get started/ coming soon. Drop a message</p>
            </div>
            <div class="title">
              <i class="dropdown icon"></i>
              Guidelines
            </div>
            <div class="content">
              <p class="transition hidden">
                <ul>
                  <li>
                    <h4>Stay original</h4>
                    A card should be fun, inspiring, humorous, charming. Every design should
                    display your creativity. Designs must be original.
                  </li>
                  <li>
                    <h4>Reason commercially</h4>
                    Your card needs to appeal to lots of people. When designing try to put yourself in
                    the position of someone looking to buy a card, who are you buying it for and
                    what's the occasion?
                  </li>
                  <li>
                    <h4>Add text</h4>
                    Adding text - a simple phrase or a quote - can really bring an image alive! 70% of
                    people buying a card base their choice on a card's text. Here's an example where
                    an image becomes better by adding some text.
                    Upload sample image for this part
                  </li>
                  <li>
                    <h4>The occasions</h4>
                    There are over 20 greeting card occasions in a year. Here are some of the most
                    common occasions to create for:
                    <ul>
                      <li>Birthday</li>
                      <li>New Baby</li>
                      <li>Get Well Soon</li>
                      <li>Friendship</li>
                      <li>Valentines/General Love</li>
                      <li>Sympathy</li>
                      <li>Thank You</li>
                      <li>Congratulations</li>
                      <li>Anniversary</li>
                      <li>Wedding (happy married life)</li>
                      <li>Christmas/New Year</li>
                      <li>Good Luck</li>
                      <li>Mother’s Day</li>
                      <li>Thinking of You</li>
                    </ul>
                  </li>
                </ul>
              </p>
            </div>
          </div>
        </div>

        <div class="ui hidden divider"></div>
      </div>
  </div> <!-- end of pusher -->

{% endblock %}