{% extends 'base_layout.html' %}

{% block 'title' %}
    <title>Forgot | Kaadie</title>
{% endblock %}

<!-- two colum centered  -->

{% block 'body' %}
    <div id="forgotpage">
        <div class="ui very padded text container piled segment">
            <a href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}" class="ui centered medium image">
                <img src="{{ organization.logo }}" alt="Kaadie Logo">
            </a>
            <div class="ui hidden divider"></div>
            <form class="ui form" method="post" action="{% if sub is None %}{% url 'forgot' %}{% else %}{% url 'forgot' sub %}{% endif %}">
                <h1 class="primary-color cursive-font">Reset Password</h1>
                <div class="ui divider"></div>
                <div class="ui hidden divider"></div>
                <p>Enter the email address associated with your Kaadie account.</p>
                {% if storage %}
                    <div class="ui message">
                        {% for message in storage %}
                            <p {% if message.tags == 'alert-danger error' %} style="color: #a41515" {% else %}
                                                                              style="color: green" {% endif %}>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="required field">
                    <label for="email">Email</label>
                    <div class="ui left icon input">
                        <input class="" placeholder="Email" type="email" name="email" value="" required>
                        <i class="mail icon"></i>
                    </div>
                </div>
                <div class="ui hidden divider"></div>
                <button class="ui green button" type="submit">Reset</button>
            </form>
            <div class="ui hidden divider"></div>
            {#            <footer id="footer-details">#}
            {#                <div class="column">#}
            {#                    <div class="ui horizontal list">#}
            {#                        <div class="item" href="#"><b>© 2017 Kaadie.com or its affiliates</b></div>#}
            {#                        <a class="item primary-color" href="#">About Kaadie</a>#}
            {#                        <a class="item primary-color" href="#">Jobs at Kaadie</a>#}
            {#                        <a class="item primary-color" href="#">Terms</a>#}
            {#                        <a class="item primary-color" href="#">Privacy</a>#}
            {#                        <a class="item primary-color" href="#">Contact</a>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </footer>#}

        </div>
    </div>
{% endblock %}
