{% extends 'layout.html' %}

{% block 'title' %}
    <title> Kaadie | Home</title>
{% endblock %}

{% block 'inner-script' %}
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.20.min.js"></script>
{% endblock %}

{% block 'scripts' %}
    <!-- <script src="/static/js/easyPaginate.js"></script> -->
    <!-- Script files  -->
    <script type="text/javascript">
        $('.pointing.menu .item').tab({
            //history: false
        });

        // initializing share button when you click

        $(".import-user").click(function () {
            $(".ui.importuser.small.modal").modal("show");
        });

        $(".add-user").click(function () {
            $(".ui.adduser.small.modal").modal("show");
        });

        $(".edit-profile").click(function () {
            $(".ui.editprofile.small.modal").modal("show");
        });

        $(".edit-contact").click(function () {
            $(".ui.editcontact.small.modal").modal("show");
        });

        $(".cloud-download").click(function () {
            $(".ui.clouddownload.small.modal").modal("show");
        });

        // Zoom modal
        $(".expand-button").click(function () {
            $(".ui.expand.small.modal").modal("show");
        });

        $(".delete_contact").click(function () {
            $(".ui.deletecontact.small.modal").modal("show");
        });

        $(".close_contact").click(function () {
            $(".ui.deletecontact.small.modal").modal("hide");
        });


        $.extend(true, $.fn.dataTable.defaults, {
            "ordering": false
        });

        // initializing table sort
        $('#contact-table').DataTable({
            info: false,
            dom: '<"top"i>rt<"bottom"p><"clear">',
            {#            dom: '<"top"if>rt<"bottom"p><"clear">',#}
            rowReorder: {
                selector: 'td:nth-child(2)'
            }
        });

        //Pagination codes

    </script>

    <script>
        $(function () {
            $(function () {
                $(".upload_link").on('click', function (e) {
                    e.preventDefault();
                    $("#profileImage").trigger('click');
                });
            });
            $('#profileImage').change(function () {
                $("#updateImageForm").submit();
            });
        });
    </script>
{% endblock %}

{% block 'body' %}
    <div ng-controller="HomeController" ng-init="init('{{ saved_ids }}')">
        <div class="ui container">
            {% if storage %}
                <div class="ui hidden divider"></div>
                <ul class="ui floating message">
                    {% for message in storage %}
                        <li {% if message.tags == 'alert-danger error' %} style="color: #a41515" {% else %}
                                                                          style="color: limegreen" {% endif %}>
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="ui hidden divider"></div>
            <div class="ui stackable doubling grid container">
                <div class="six wide column">
                    <div class="ui two column centered grid">
                        <!-- stackable four column -->
                        <div class="five wide column">
                            {% if account.image_url %}
                                <a href="#" class="upload_link">
                                    <img src="{{ account.image_url }}" class="ui circular tiny image">
                                </a>
                            {% else %}
                                <a href="#" class="upload_link">
                                    <img src="/images/profile.png" class="ui circular tiny image">
                                </a>
                            {% endif %}
                        </div>
                        <div class="column">
                            <div class="ui header" style="margin-bottom: 5px;">
                                <p style="line-height: 0.9em;">{{ account.name }}<br><span
                                        style="font-weight: 100; font-size: 12px;">{{ account.email }}</span></p>
                            </div>
                            <div class="ui mini buttons">
                                <button class="ui mini compact edit-profile button"
                                        style="background-color: {{ organization.primary_color }}; color: white;">Edit Profile
                                </button>
                                <form id="updateImageForm" method="post"
                                      {% if sub is None %}action="{% url 'update_profile_image' %}"
                                      {% else %}action="{% url 'update_profile_image' sub %}"{% endif %}
                                      enctype="multipart/form-data">
                                    <button class="ui mini compact floated left button" id="image_upload"
                                            style="width: 100px; ">
                                        <input type="file" name="image" id="profileImage" accept="image/*">
                                        <label for="image">Upload Image</label>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ten wide column computer tablet only">
                    <div class="ui small statistics  ">
                        <div class="statistic">
                            <div class="value">
                                {{ account.sent_count }}
                            </div>
                            <div class="label sm-thin-font">
                                Cards Sent
                            </div>
                        </div>
                        <div class="statistic">
                            <div class="value">
                                {{ account.saved_count }}
                            </div>
                            <div class="label sm-thin-font">
                                Cards Saved
                            </div>
                        </div>
                        <div class="statistic">
                            <div class="value">
                                {{ received_cards|length }}
                            </div>
                            <div class="label sm-thin-font">
                                Cards Received
                            </div>
                        </div>
                        <div class="statistic">
                            <div class="value">
                                {{ account.shared_cards.count }}
                            </div>
                            <div class="label sm-thin-font">
                                Cards Shared
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
                <div class="ten wide centered column mobile only">
                    <div class="ui small three statistics  ">
                        <div class="statistic">
                            <div class="value">
                                {{ account.saved_count }}
                            </div>
                            <div class="label sm-thin-font">
                                Cards Saved
                            </div>
                        </div>
                        <div class="statistic">
                            <div class="value">
                                {{ account.sent_count }}
                            </div>
                            <div class="label sm-thin-font">
                                Cards Sent
                            </div>
                        </div>
                        <div class="statistic">
                            <div class="value">
                                {{ account.shared_cards.count }}
                            </div>
                            <div class="label sm-thin-font">
                                Cards Shared
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="ui container">
                <div class="ui top attached pointing primary_color stackable menu" id="hometab">
                    <a class="active primary_color item" data-tab="user_contact">
                        My Contacts
                    </a>
                    <a class="primary_color item" data-tab="sent_cards">
                        My Sent Cards
                    </a>
                    <a class="primary_color item" data-tab="save_cards">
                        My Saved Cards
                    </a>
                    <a class="primary_color item" data-tab="received_cards">
                        My Received Cards
                    </a>
                    <a class="primary_color item" data-tab="wallet">
                        My Kaadie Credit
                    </a>
                    <a class="primary_color item" data-tab="referral">
                        My Referrals
                    </a>
                </div>
                <!-- ********
                4 FOUR TAB menu: sent_cards, saved_cards, received_cards, user_contact
                ********** -->
                <div class="ui bottom attached tab active segment" data-tab="user_contact">
                    <div class="ui hidden divider"></div>
                    <div class="ui stackable doubling grid container">
                        <div class="four wide column">
                            <div class="ui header">
                                <i class="address book outline primary_color icon"></i>
                                <h2 class="content">
                                    Contact Listings
                                    <span class="sub header">Manage your contacts</span>
                                </h2>
                            </div>
                        </div>
                        <div class="six wide column computer tablet only"></div>
                        <div class="six wide column mobile only">
                            <div class="ui small primary labeled add-user icon button">
                                <i class="add user icon"></i>Add
                            </div>
                            <div class="ui small green labeled icon button cloud-download ">
                                <i class="cloud upload icon"></i>Import
                            </div>
                        </div>
                        <div class="six wide column computer tablet only">
                            <div class="ui small primary labeled add-user icon right floated button">
                                <i class="add user icon"></i>Add
                            </div>
                            <div class="ui small green labeled cloud-download icon right floated button">
                                <i class="cloud upload icon"></i>Import
                            </div>
                        </div>
                    </div>

                    <div class="ui hidden divider mobile only"></div>

                    <table class="ui compact celled table" id="contact-table" style="max-width: 100%">
                        <thead>
                        <tr>
                            <th class="one wide">
                                <div class="ui master checkbox" id="selectall">
                                    <label for="select_check">All</label>
                                    <input type="checkbox" name="select_check" id="select_check">
                                </div>
                            </th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Birthday</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                            <tbody>
                            {% for contact in account.contacts.all %}
                                <tr>
                                <td>
                                    <div class="ui checkbox">
                                        <label for=""></label>
                                        <input type="checkbox" class="child-checkbox" name="{{ contact.name }}">
                                    </div>
                                </td>
                                <td>{{ contact.address.get_full_name }}</td>
                                <td>{% if contact.email %}{{ contact.email }}{% else %}----{% endif %}</td>
                                <td>{% if contact.phone %}{{ contact.phone }}{% else %}----{% endif %}</td>
                                <td>{% if contact.address.date_of_birth %}{{ contact.address.date_of_birth }}{% else %}
                                    ----{% endif %}</td>
                                <td>
                                    {% if contact.address.date_of_birth and user.account.is_premium or user.is_staff and contact.address.date_of_birth %}
                                        {% if not contact.is_reminder_set %}
                                            <a href="{% if sub is None %}{% url 'schedule_reminder' contact.pk %}{% else %}{% url 'schedule_reminder' sub contact.pk %}{% endif %}"
                                               class="ui tiny button">
                                                Set Reminder</a>
                                        {% endif %}
                                    {% endif %}
                                    <button ng-click="selectContact('{{ contact.pk }}')" class="ui delete_contact red tiny button">
                                        <i class="fa fa-trash"></i></button>
                                    <a ng-click="selectContact('{{ contact.pk }}')"
                                       class="ui blue tiny button edit-contact"> <i class="fa fa-pencil"></i></a>
                                    <a href="{% url 'send_card' random_card.slug %}" class="ui green tiny button"><i
                                            class="fa fa-send"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Beginning of sent_cards -->
                <div class="ui bottom attached tab segment" data-tab="sent_cards">
                    <div class="ui hidden divider"></div>
                    <div class="ui four stackable special cards">
                        {% if  account.sent_cards.count > 0 %}
                            <table class="ui compact celled table" id="contact-table" style="max-width: 100%">
                                <thead>
                                <tr>
                                    <th>Card</th>
                                    <th>Description</th>
                                    <th>Message</th>
                                    <th>Recipients</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for sent_card in account.sent_cards.all %}
                                    <tr>
                                        <td>{{ sent_card.card.title }}</td>
                                        <td>{{ sent_card.card.description }}</td>
                                        <td>{{ sent_card.message }}</td>
                                        <td>{{ sent_card.recipients }}</td>
                                        <td>
                                            {% if sent_card.image_url %}
                                                <span class="expand-button">
                                                    <button class="ui blue tiny icon button"
                                                            ng-click='zoomCard("{{ sent_card.image_url }}")'><i
                                                            class="zoom icon"></i></button>
                                              </span>
                                            {% endif %}
                                            <a href="{% if sub is None %}{% url 'send_card' sent_card.card.slug %}{% else %}{% url 'send_card' sub sent_card.card.slug %}{% endif %}"
                                               class="ui green tiny icon button"><i class="send icon"></i></a>
                                            <a href="{% if sub is None %}{% url 'sent_card' sent_card.notification_id %}{% else %}{% url 'sent_card' sub sent_card.notification_id %}{% endif %}"
                                               class="ui teal tiny icon button"><i class="sort content ascending icon"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="ui icon negative message" style="margin: 10px">
                                <i class="info icon"></i>
                                <div class="content">
                                    <div class="ui basic segment padtop-1">
                                        <h4 class="ui center aligned header">
                                            <i class="orange circular inverted warning icon"></i>
                                            NO CARDS SENT YET
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="ui hidden divider"></div>
                        {% endif %}
                    </div><!-- End of stackable cards -->
                </div>
                <!-- ********* SAVE CARDS SECTIONS ******   -->
                <div class="ui bottom attached tab center aligned segment" data-tab="save_cards">
                    <div class="ui hidden divider"></div>
                    <div class="ui four stackable special cards">
                        {% if  account.saved_count > 0 %}
                            {% for saved_card in account.saved_cards.all %}
                                <div class="card">
                                    <div class="blurring dimmable image">
                                        <div class="ui inverted dimmer">
                                            <div class="content">
                                                <div class="center">
                                                    <a href="{% if sub is None %}{% url 'send_card' saved_card.card.slug %}{% else %}{% url 'send_card' sub saved_card.card.slug %}{% endif %}"
                                                       class="small ui icon button">
                                                        <i class="send icon"></i>
                                                        Send
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="{{ saved_card.card.image_url }}">
                                    </div>
                                    <div class="content">
                                        <span class="share-icon"
                                              ng-click='share("{{ saved_card.card.pk }}", "{{ saved_card.card.image_url }}")'>
                                            <i class="right floated link share alternate large green icon"></i>
                                          </span>
                                        <a class="header cursive-font primary_color"
                                           href="/cards/{{ saved_card.card.slug }}">{{ saved_card.card.title }}
                                        </a>
                                        <div class="meta overflow">
                                            <span class="date ellipsis">{{ saved_card.card.description }}</span>
                                        </div>
                                    </div>
                                    {#                                    <div class="extra content">#}
                                    {#                                        #{{ saved_card.card.price }}#}
                                    {#                                        <span class="floated primary_color ">#}
                                    {#                                            <i class="bookmark red icon"></i>#}
                                    {#                                            {{ saved_card.count }}#}
                                    {#                                        </span>#}
                                    {#                                    </div>#}
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="ui icon negative message" style="margin: 10px">
                                <i class="info icon"></i>
                                <div class="content">
                                    <div class="ui basic segment padtop-1">
                                        <h4 class="ui center aligned header">
                                            <i class="orange circular inverted warning icon"></i>
                                            NO CARDS SAVED YET
                                        </h4>
                                    </div>
                                    <p>Go back <a href="{% url 'index' %}">Home</a> to save cards</p>
                                </div>
                            </div>
                            <div class="ui hidden divider"></div>
                        {% endif %}
                    </div>
                </div>
                <!-- Begin of received_card  -->
                <div class="ui bottom attached tab center aligned segment" data-tab="received_cards">
                    <div class="ui hidden divider"></div>
                    <div class="ui four stackable special cards">
                        <!-- Begin of Card -->
                        {% if received_cards|length > 0 %}
                            {% for received_card in received_cards %}
                                <div class="card">
                                    <div class="blurring dimmable image">
                                        <div class="ui inverted dimmer">
                                            <div class="content">
                                                <div class="center">
                                                    <a href="{% if sub is None %}{% url 'sent_card' received_card.notification_id %}{% else %}{% url 'sent_card' sub received_card.notification_id %}{% endif %}"
                                                       class="small ui   icon button">
                                                        <i class="send icon"></i>
                                                        View Reactions
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <img src="{{ received_card.card.image_url }}">
                                    </div>
                                    <div class="content">
                                        <span class="share-icon"
                                              ng-click='share("{{ received_card.card.pk }}", "{{ received_card.card.image_url }}")'>
                                            <i class="right floated link share alternate large green icon"></i>
                                        </span>
                                        <a class="header cursive-font primary_color"
                                           href="{% if sub is None %}{% url 'sent_card' received_card.notification_id %}{% else %}{% url 'sent_card' sub received_card.notification_id %}{% endif %}">{{ received_card.card.title }}
                                        </a>
                                        <div class="meta overflow">
                                            <span class="date ellipsis">{{ received_card.card.description }}</span>
                                        </div>
                                    </div>
                                    <div class="extra content">
                                        {#                                        <span class="right floated primary_color ">#}
                                        {#                                            <i class="money icon"></i>#}
                                        {#                                            #{{ received_card.card.price }}#}
                                        {#                                        </span>#}
                                        <span class="floated primary_color ">
                                            <i class="send blue icon"></i>
                                            {{ received_card.card.sent_counts }}
                                        </span>&nbsp;
                                        <span class="floated primary_color ">
                                          <i class="share alternate black icon"></i>
                                          {{ received_card.card.shared_cards.count }}
                                        </span>&nbsp;
                                        <span class="floated primary_color ">
                                            <i class="bookmark red icon"></i>
                                            {{ received_card.card.saved_counts }}
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
{#                            <div class="ui basic segment padtop-1">#}
{#                                <h4 class="ui center aligned header">#}
{#                                    <i class="orange circular inverted warning icon"></i>#}
{#                                    NO CARDS RECEIVED YET#}
{#                                </h4>#}
{#                            </div>#}
                            <div class="ui icon negative message" style="margin: 10px">
                                <i class="info icon"></i>
                                <div class="content">
                                    <div class="header">
                                        <h4 class="ui center aligned header">
                                            <i class="orange circular inverted warning icon"></i>
                                            NO CARDS RECEIVED YET
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="ui hidden divider"></div>
                        {% endif %}
                        <!-- End of Card -->
                    </div>
                    <!-- End of stackable cards -->
                </div>
                <!-- Beginning of wallet -->
                <div class="ui bottom attached tab segment" data-tab="wallet">
                    <div class="ui two column doubling stackable grid container">
                        <div class="six wide column">
                            <div class="ui orange segment">
                                <h4 class="ui dividing header">
                                    <b>Your Kaadie credit balance</b>
                                </h4>
                                <div class="ui centered card">
                                    <h2 class="ui header">
                                        <i class="inverted teal circular money small icon"></i>
                                        <div class="content">
                                            <div class="sub header"><b>Credit</b></div>
                                            {{ wallet.sms_credit }}
                                        </div>
                                    </h2>
                                </div>
                            </div> <!-- end of segment -->
                        </div>
                        <div class="ten wide column">
                            <div class="ui green segment">
                                <h4 class="ui dividing header">
                                    <b>Purchase Kaadie Credits.</b>
                                </h4>
                                <form class="ui centered form">
                                    <label>How much you want to purchase?</label>
                                    <div class=" grouped fields">
                                        <div class="field">
                                            <div class="ui radio checkbox">
                                                <input type="radio" name="currency" tabindex="0">
                                                <label><b>$10.00</b></label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="ui radio checkbox">
                                                <input type="radio" name="currency" tabindex="0">
                                                <label><b>$20.00</b></label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="ui radio checkbox">
                                                <input type="radio" name="currency" tabindex="0">
                                                <label><b>$50.00</b></label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="ui radio checkbox">
                                                <input type="radio" name="currency" tabindex="0">
                                                <label><b>$100.00</b></label>
                                            </div>
                                        </div>
                                </form>
                                <div class="ui submit green button">Purchase</div>
                            </div>
                        </div>
                        <!-- end of segment-->
                    </div>
                </div>
                <!-- end of wallet -->
            </div>
            <!-- Beginning of referral -->
            <div class="ui bottom attached tab segment" data-tab="referral">
                <div class="ui two column doubling stackable grid container">
                    <div class="six wide column">
                        <div class="ui teal segment">
                            <div class="ui header">Referral Code</div>
                            <form action="" class="ui tiny form">
                                <div class="field">
                                    <label>Code: </label>
                                    <input value="{{ setting.referral_code }}" disabled>
                                </div>
                                <div class="field">
                                    <label>URL: </label>
                                    <input value="{{ referral_url }}" disabled>
                                </div>
                            </form>
                        </div>
                        <div class="ui orange segment">
                            <div class="ui tiny statistics">
                                <div class=" green statistic">
                                    <div class="value">
                                        <i class="circular users icon"></i>&nbsp;{{ account.referrals.all|length }}
                                    </div>
                                    <div class="label">
                                        Persons
                                    </div>
                                </div>
                                <div class=" blue statistic">
                                    <div class="value">
                                        <i class="circular payment icon"></i>&nbsp; {{ account.referral_credit }}
                                    </div>
                                    <div class="label">
                                        Coins
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end of segment-->
                    </div>
                    <div class="ten wide column">
                        <div class="ui yellow segment">
                            <div class="ui header">Referrals List</div>
                            {% if account.referrals.count > 0 %}
                                <table class="ui celled striped unstackable table">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>E-mail address</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for acc in account.referrals.all %}
                                        <tr>
                                            <td>{{ acc.name }}</td>
                                            <td>{{ acc.recipient }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="ui basic segment padtop-1">
                                    <h4 class="ui center aligned header">
                                        <i class="orange circular inverted warning icon"></i>
                                        NO REFERRALS
                                    </h4>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!--end of referral segment -->
        </div>
    </div>
    <!-- END OF SAVED CARDS SECTIONS -->
    <!-- START OF CONTACTS -->
    <div class="ui hidden divider"></div>

    <div class="ui share small modal">
        <i class="close icon"></i>
        <div class="header">
            Share Card from Kaadie
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img data-ng-src="[[ selected_card.image_url ]]">
            </div>
            <div class="description">
                <h3>Please select from options below</h3>
                <a href="" ng-click="shareFB()"
                   class="ui circular facebook icon button" target="_blank">
                    <i class="facebook big icon"></i>
                </a>
                <a href="" ng-click="shareIn()"
                   class="ui circular linkedin icon button" target="_blank">
                    <i class="linkedin big icon"></i>
                </a>
                <a ng-click="shareTweet()"
                   class="ui circular twitter icon button">
                    <i class="twitter big icon"></i>
                </a>
                <a ng-click="sharePinterest()"
                   class="ui circular pinterest icon button">
                    <i class="pinterest big icon"></i>
                </a>
                <a class="ui circular whatsapp green icon button">
                    <i class="whatsapp white big icon"></i>
                </a>
                <a ng-click="shareGPlus()"
                   class="ui circular google plus icon button">
                    <i class="google plus big icon"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Modal for Add Contacts -->
    <div class="ui adduser small modal">
        <i class="close icon"></i>
        <div class="primary_color header">
            Add Contacts to your Kaadie profile
        </div>
        <div class="content">
            <form class="ui equal width form" method="post" action="/contacts/create">
                {% csrf_token %}
                <div class="required fields">
                    <div class="field">
                        <label>First name</label>
                        <input type="text" name="first_name" placeholder="First Name" required="">
                    </div>
                    <div class="field">
                        <label>Last name</label>
                        <input type="text" name="last_name" placeholder="Last Name">
                    </div>
                </div>
                <div class="required fields">
                    <div class="field">
                        <label>E-mail</label>
                        <input type="email" name="email" placeholder="joe@schmoe.com" required="">
                    </div>
                    <div class="field">
                        <label>Phone number</label>
                        <input type="number" name="phone" value="" placeholder="+2348011223344">
                    </div>
                    <div class="field">
                        <label>Birthday</label>
                        <input type="date" name="birthday" value="" placeholder="1907-03-20">
                    </div>
                </div>
                <div class="field">
                    <label for="address">Address</label>
                    <textarea name="address" rows="2"></textarea>
                </div>
                <div class="fields">
                    <div class="field">
                        <label for="city">City</label>
                        <input type="text" name="city" placeholder="city">
                    </div>
                    <div class="field">
                        <label for="Country">Country</label>
                        <input type="text" name="country" placeholder="country">
                    </div>
                </div>
                <button class="ui green button"> Save Contact</button>
            </form>
        </div>
    </div>
    <!--End of share modal  -->

    <div class="ui editcontact small modal">
        <i class="close icon"></i>
        <div class="primary_color header">
            Update Contact
        </div>
        <div class="content">
            <form class="ui equal width form" method="post" ng-submit="updateContact()">
                {% csrf_token %}
                <div class="required fields">
                    <div class="field">
                        <label>First name</label>
                        <input type="text" name="first_name" ng-model="selected_contact.first_name"
                               placeholder="First Name" required>
                    </div>
                    <div class="field">
                        <label>Last name</label>
                        <input type="text" name="last_name" ng-model="selected_contact.last_name"
                               placeholder="Last Name">
                    </div>
                </div>
                <div class="required fields">
                    <div class="field">
                        <label>E-mail</label>
                        <input type="email" name="email" ng-model="selected_contact.email"
                               placeholder="joe@schmoe.com" required>
                    </div>
                    <div class="field">
                        <label>Phone number</label>
                        <input type="number" name="phone" ng-model="selected_contact.phone"
                               placeholder="+2348011223344">
                    </div>
                    <div class="field">
                        <label>Birthday</label>
                        <input type="date" name="birthday" ng-model="selected_contact.date_of_birth"
                               placeholder="02/30/1907">
                    </div>
                </div>
                <div class="field">
                    <label>Address</label>
                    <textarea name="address" ng-model="selected_contact.address" rows="2"></textarea>
                </div>
                <div class="fields">
                    <div class="field">
                        <label for="city">City</label>
                        <input type="text" name="city" ng-model="selected_contact.city" placeholder="city">
                    </div>
                    <div class="field">
                        <label for="Country">Country</label>
                        <input type="text" name="country" ng-model="selected_contact.country"
                               placeholder="country">
                    </div>
                </div>
                <button class="ui green button"> Update Contact</button>
            </form>
        </div>
    </div>

    <div class="ui clouddownload small modal">
        <i class="close icon"></i>
        <div class="primary_color header">
            Import contact via spreadsheet
            <div style="float: right;">
                <a style="color: inherit" href="/images/sample.xlsx" download>
                    <i class="cloud download big icon"></i> Download Sample File
                </a>
            </div>
        </div>
        <div class="content">
            <form class="ui equal width form" method="post" enctype="multipart/form-data"
                  action="
                          {% if sub is None %}{% url 'upload_contact' %}{% else %}{% url 'upload_contact' sub %}{% endif %}">
                {% csrf_token %}
                <div class="required fields">
                    <div class="field">
                        <label>File</label>
                        <input type="file" id="file" name="file"
                               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                               required>
                    </div>
                </div>
                <button class="ui green button"> Upload</button>
            </form>
        </div>
    </div>

    <!-- Modal for Import Contacts -->
    <div class="ui importuser small modal">
        <i class="close icon"></i>
        <div class="header">
            Import Contacts to Kaadie
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img data-ng-src="[[ selected_card.image_url ]]">
            </div>
            <div class="description">
                <h3>Please select from options below</h3>
                <a href="" ng-click="shareFB()"
                   class="ui circular facebook icon button" target="_blank">
                    <i class="facebook big icon"></i>
                </a>
                <a href="" ng-click="shareIn()"
                   class="ui circular linkedin icon button" target="_blank">
                    <i class="linkedin big icon"></i>
                </a>
                <a ng-click="shareTweet()"
                   class="ui circular twitter icon button">
                    <i class="twitter big icon"></i>
                </a>
                <a ng-click="sharePinterest()"
                   class="ui circular pinterest icon button">
                    <i class="pinterest big icon"></i>
                </a>
                <a ng-click="shareGPlus()"
                   class="ui circular google plus icon button">
                    <i class="google plus big icon"></i>
                </a>
            </div>
        </div>
    </div>
    <!--End of share modal  -->

    <!-- Modal for Add Contacts -->
    <div class="ui editprofile small modal">
        <i class="close icon"></i>
        <div class="primary_color header">
            Edit Profile
        </div>
        <div class="content">
            <form class="ui equal width form" method="post" action="profile/update">
                {% csrf_token %}
                <div class="required fields">
                    <div class="field">
                        <label>First name</label>
                        <input type="text" name="first_name" placeholder="First Name"
                               value="{{ account.address.first_name }}" required="">
                    </div>
                    <div class="field">
                        <label>Last name</label>
                        <input type="text" name="last_name" value="{{ account.address.last_name }}"
                               placeholder="Last Name">
                    </div>
                </div>
                <div class="required fields">
                    <div class="field">
                        <label>E-mail</label>
                        <input type="email" name="email" value="{{ user.email }}" placeholder="joe@schmoe.com" disabled>
                    </div>
                    <div class="field">
                        <label>Phone number</label>
                        <input type="number" name="phone" value="{{ account.address.phone }}"
                               placeholder="+2348011223344">
                    </div>
                    <div class="field">
                        <label>Birthday</label>
                        <input type="date" name="birthday" value="{{ account.address.birthday }}"
                               placeholder="30/02/1907">
                    </div>
                </div>
                <div class="field">
                    <label for="address">Address</label>
                    <textarea name="address" rows="2">{{ account.address.address }}</textarea>
                </div>
                <div class="fields">
                    <div class="field">
                        <label for="city">City</label>
                        <input type="text" name="city" value="{{ account.address.city }}" placeholder="city">
                    </div>
                    <div class="field">
                        <label for="Country">Country</label>
                        <input type="text" name="country" value="{{ account.address.country }}" placeholder="country">
                    </div>
                </div>
                <button class="ui blue button"> Update Profile</button>
            </form>
        </div>
    </div>
    <!--End of share modal  -->

    <!-- BEGIN OF EXPAND modal  -->
    <div class="ui expand small modal">
        <i class="close icon"></i>
        <div class="header">
            Your card
        </div>
        <div class="image content">
            <div class="ui fluid image">
                <img data-ng-src="[[ zoomed_url ]]">
            </div>
        </div>
    </div>

    <div class="ui deletecontact small modal">
        <i class="close icon"></i>
        <div class="header">
            <h4 class="modal-title">Are you sure you want to delete this contact
            </h4>
        </div>
        <div class="content">
            <div class="ui fluid image">
                <div style="height: 50px; padding-left: 250px">
                    <button class="ui green button" ng-click="deleteContact(selected_contact.pk)"><i class="ui check icon"></i>YES
                    </button>
                    <button class="ui close_contact red button"><i class="close icon"></i>NO</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
{% endblock %}
