{% extends 'layout.html' %}

{% block 'title' %}
    <title> Kaadie | How It Works</title>
{% endblock %}

{% block 'body' %}

      <!-- Content Description   -->
      <div class="ui very padded text container basic segment">
        <img class="ui medium centered image" src="{{ organization.logo }}" alt="Kaadie Logo">
        <h1 class="ui header">
          <div class="primary_color content">
            How Kaadie Works...
          </div>
        </h1>
        <div class="ui justified container">
          <p>
            With Kaadie.com, sending cards is as easy as ABC! Send e-cards and get feedbacks from your loved ones for FREE.
            Kaadie.com bridges the gap between “thoughts –feelings of emotions and expressions of love” without spending a dime.
            <h2 class="ui header">
              <i class="large icons">
                <i class="image icon"></i>
                <i class="corner mouse pointer icon"></i>
              </i>
              <div class="content">
                Pick a Card
                <div class="sub header">from endless options...</div>
              </div>
            </h2>
            <a href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}">Kaadie.com</a> offers over 500 beautifully designed indigenous themed cards that well describe how you feel per time. How cool is that?
            <div class="ui hidden divider"></div>
            <h2 class="ui header">
              <i class="edit icon"></i>
              <div class="content">
                Enter the Delivery Details
                <div class="sub header">in seconds and select prefered option</div>
              </div>
            </h2>
            <div class="ui relaxed horizontal list">
              <div class="item">
              </div>
              <div class="item">
                <i class="at big icon"></i>
                <div class="content">
                  <div class="ui sub header">By Email</div>
                </div>
              </div>
              <div class="item">
                  <i class="mobile big icon"></i>
                <div class="content">
                  <div class="ui sub header">By SMS</div>
                </div>
              </div>
            </div> <br>
             Send your cards to that very dear person by e-mail, text, whatsapp and on social media. Import your email address book/ social media contacts to be notified of their special days (i.e. anniversary, birthdays etc.).
             <div class="ui hidden divider"></div>
            <h2 class="ui header">
            <i class="send icon"></i>
              <div class="content">
                Send Card
                <div class="sub header">that's all!</div>
              </div>
            </h2>
           Kaadie.com is created to give you the leverage of internet to communicate how you feel not just in words but images. Kaadie is easy to use and absolutely free for now!
            Think cards, think Kaadie!
            <h2 class="ui header">
              <i class="share alternate icon"></i>
              <div class="content">
                Share Card
                <div class="sub header">...share the cards through: </div>
              </div>
            </h2>
            <div class="ui hidden divider"></div>
            <div class="ui relaxed horizontal list">
              <div class="item">
                <div class="ui circular facebook icon button">
                    <i class="facebook large icon"></i>
                </div>
                <div class="content">
                  <div class="ui sub header">Facebook</div>
                </div>
              </div>
              <div class="item">
                <div class="ui circular twitter icon button">
                    <i class="twitter large icon"></i>
                </div>
                <div class="content">
                  <div class="ui sub header">Twitter</div>
                </div>
              </div>
              <div class="item">
                <div class="ui circular google plus icon button">
                    <i class="google plus large icon"></i>
                </div>
                <div class="content">
                  <div class="ui sub header">Google Plus</div>
                </div>
              </div>
            </div>
            <!-- <div class="ui hidden divider"></div> -->
            <div class="ui relaxed horizontal list">
              <div class="item">
                <div class="ui circular whatsapp green icon button">
                  <i class="whatsapp white large icon"></i>
                </div>
                <div class="content">
                  <div class="ui sub header">Whats App</div>
                </div>
              </div>
              <div class="item">
                <div class="ui circular linkedin icon button">
                  <i class="linkedin large icon"></i>
                </div>
                <div class="content">
                  <div class="ui sub header">LinkedIn</div>
                </div>
              </div>
              <div class="item">
                <div class="ui circular pinterest icon button">
                  <i class="pinterest large icon"></i>
                </div>
                <div class="content">
                  <div class="ui sub header">Pinterest</div>
                </div>
              </div>
            </div>
            <div class="ui hidden divider"></div>
            <h2 class="ui header">
              <i class="bookmark icon"></i>
              <div class="content">
                Save Card
                <div class="sub header">...save your favorite cards for future use.</div>
              </div>
            </h2>
            Kaadie is easy to use and absolutely free.
            Think cards, think Kaadie!
          </p>
        </div>

      </div>

  </div> <!-- end of pusher -->

{% endblock %}
