<!DOCTYPE html>
<html ng-app="kaadie" ng-controller="BaseController"
      {% if user.is_authenticated %}ng-init="init('{{ user.pk }}', '{{ user.account.name }}')"{% endif %}>
<head>
    <!-- Standard Meta -->
    {% block 'title' %}
        <title>Kaadie | Nigeria's first virtual card platform.</title>
    {% endblock %}
    {% block meta %}
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="description"
              content="Kaadie.com is nigeria's first virtual card sending platform. Send virtual cards/invite via email, sms and share on social media.">
        <meta name="keywords"
              content="Kaadie, eCards, e-Cards, Greeting cards, Birthday cards, Love cards, Romantic cards, free cards, Easter cards, Ramadan cards, Christmas cards,">
        <meta name="author" content="Kaadie">
        <meta name="robot" content="index,follow">
        <meta name="copyright" content="Kaadie.com all rights reserved.">
        <meta name="language" content="en">
        <meta name="revisit-after" content="1">
        <meta property="og:title" content="Kaadie | Nigeria's first virtual card platform."/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="http://www.kaadie.com"/>
        <meta property="og:image" content="https://s3-us-west-2.amazonaws.com/kaadie/kaddielogo.png"/>
        <meta property="og:site_name" content="Kaadie"/>
        <meta property="og:description"
              content="Kaadie.com is nigeria's first virtual card sending platform. Send virtual cards/invite via email, sms and share on social media."/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="google-signin-client_id"
              content="71206465461-u6epfp5tto1b574knupep0urbnak3rb0.apps.googleusercontent.com">
    {% endblock %}
        {#    {% load compress %}#}
        {#    {% compress css %}#}
        <!-- Site Properties -->
    {% block style %}
        {% load static from staticfiles %}
        <link rel="shortcut icon" type="image" href="/images/favicon.ico"/>
{#        <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>#}
        <link rel="stylesheet" type="text/css" href="{% static "css/semantic.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static  "css/select2.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/app.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static  "css/pace.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/lato.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/owl.carousel.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/owl.theme.default.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static '/semantic-ui-calendar/dist/calendar.min.css' %}" />
        <style media="screen">
            #app_message {
                margin: 0 !important;
                width: 100%;
                z-index: 999;
                top: 0;
                right: 0;
            }
            /*For select2-search__field*/
            input.select2-search__field {
              border: none !important;
              padding-left: 0 !important;
              padding-right: 0 !important;
            }
            .select2-container {
              width: 100% !important;
            }
            .select2-container--default .select2-selection--multiple {
                background-color: white;
                border: 1px solid rgba(34,36,38,.15);
            }
        </style>
        {#    {% endcompress %}#}
        <link rel="stylesheet" type="text/css" href="{% static  "css/brands/kaadie.css" %}">
    {% endblock %}
    {% if sub is not None %}
        <link rel="stylesheet" type="text/css" href="/static/css/brands/{{ sub|lower }}.css">
    {% endif %}
    {% block 'inner-script' %}
    {% endblock %}

</head>
<body oncontextmenu="return false;">
{% block header %}
    <!-- Sidebar Menu  when mobile-->
    <div class="ui vertical indexpage sidebar menu">
        <div class="item">
            <a class="ui logo icon image"
               href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}">
                <img class="" style="width: 120px" src="{{ organization.logo }}">
            </a>
        </div>
        <div class="borderless white-color item">
            {% if user.is_authenticated %}
                <a href="{% if sub is None %}{% url 'home' %}{% else %}{% url 'home' sub %}{% endif %}" class="item">
                    <i class="user icon"></i>{{ user.account.name }}
                </a>
                <a ng-show="data.notification_count > 0" href="
                        {% if sub is None %}{% url 'notifications' %}{% else %}{% url 'notifications' sub %}{% endif %}"
                   class="menubar item">
                    <i class="bell large icon"></i>
                    <small class="ui small red left pointing label" ng-bind="data.notification_count"></small>
                    Notifications
                </a>
            {% else %}
                Account
            {% endif %}
        </div>
        {% if user.is_authenticated %}
            {% if user.account.is_premium or user.is_staff %}
                {#                <a href="{% if sub is None %}{% url 'create_card' %}{% else %}{% url 'create_card' sub %}{% endif %}"#}
                {#                   class="item"><i class="pencil icon"></i>Create Card</a>#}
                {% if organization.account_id == user.account.pk %}
                    <a href="{% if sub is None %}{% url 'control_panel' %}{% else %}{% url 'control_panel' sub %}{% endif %}"
                       class="item"><i class="setting icon"></i>Control Panel</a>
                {% endif %}
            {% endif %}
        {% else %}
            <a href="{% if sub is None %}{% url 'login' %}{% else %}{% url 'login' sub %}{% endif %}" class="item"><i
                    class="checkmark box icon"></i> Login</a>
            <a href="{% if sub is None %}{% url 'register' %}{% else %}{% url 'register' sub %}{% endif %}"
               class="item"><i class="signup icon"></i> Sign up</a>
        {% endif %}
        <div class="borderless item"></div>
        {% for section in sections|slice:":5" %}
            <div class="item">
                <a href="{% if sub is None %}{% url 'section' section.slug %}{% else %}{% url 'section' sub section.slug %}{% endif %}"
                   class="header">{{ section.title }}</a>
                <div class="menu">
                    {% if is_db %}
                        {% for category in section.categories.all %}
                            {% if category.is_active %}
                                <a class="item" href="{% if sub is None %}{% url 'category' section.pk category.slug %}{% else %}{% url 'category' sub section.pk category.slug %}{% endif %}">{{ category.title }}</a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for category in section.categories %}
                            {% if category.is_active %}
                                <a class="item" href="{% if sub is None %}{% url 'category' section.pk category.slug %}{% else %}{% url 'category' sub section.pk category.slug %}{% endif %}">{{ category.title }}</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="borderless item"></div>
        {% if not user.is_authenticated %}
            <a href="{% if sub is None %}{% url 'register_brand' %}{% else %}{% url 'register_brand' sub %}{% endif %}"
               class="item"> <span class="ui compact mini blue button ">Register Brand</span>
            </a>
            <a href="{% if sub is None %}{% url 'artist_register' %}{% else %}{% url 'artist_register' sub %}{% endif %}"
               class="item"> <span class="ui compact mini green button">Become an artist</span>
            </a>
        {% endif %}
        {#        {% if not premium and not user.is_staff %}#}
        {#            <a href="{% if sub is None %}{% url 'premium' %}{% else %}{% url 'premium' sub %}{% endif %}" class="item">#}
        {#                <span class="ui compact mini blue button ">Try Premium</span>#}
        {#            </a>#}
        {#        {% endif %}#}
        {% if user.is_authenticated and not artist and not user.is_staff and not artist_request %}
            <a href="{% if sub is None %}{% url 'request_rights' %}{% else %}{% url 'request_rights' sub %}{% endif %}" class="ui compact mini green button">Become An Artist</a>
        {% endif %}
        <a href="/forum/" class="primary_color item"><i class="book large icon"></i>Forum</a>
        <a href="{% url 'view_artists' %}" class="primary_color item"><i class="paint brush large icon"></i>Artists</a>
        <a href="http://support.kaadie.com" class=" primary_color item"><i class="flag large icon"></i>Report</a>
        <a href="https://medium.com/@kaadie" target="_blank" class=" primary_color item">
            <i class="write large icon"></i>Blog
        </a>
        <a href="{% if sub is None %}{% url 'how_it_works' %}{% else %}{% url 'how_it_works' sub %}{% endif %}" class="item"> How It works </a>
        <a href="{% if sub is None %}{% url 'terms_of_use' %}{% else %}{% url 'terms_of_use' sub %}{% endif %}" class="item"> Terms and Conditions</a>
        <a href="{% if sub is None %}{% url 'privacy_policy' %}{% else %}{% url 'privacy_policy' sub %}{% endif %}" class="item"> Privacy Policy </a>
        {% if user.is_authenticated %}<a href="{% if sub is None %}{% url 'logout' %}{% else %}{% url 'logout' sub %}{% endif %}" class="item"><i class="sign out icon"></i> Sign Out</a>{% endif %}
        <div class="borderless item"></div>
        <div class="borderless item">
            &copy; 2017. Kaadie.com or its affiliates.
        </div>
    </div>
    <div class="pusher mybackground">
    <div class="ui borderless topmenu secondary menu ">
        <div class="ui container">
            <a class="fitted item" href="https://www.facebook.com/Kaadiecom-1149233738494529/"><i
                    class="facebook f icon"></i></a>
            <a class="fitted item" href="https://twitter.com/OfficialKaadie"><i class="twitter icon"></i></a>
            <a class="fitted item" href="https://www.instagram.com/officialkaadie/"><i class="instagram icon"></i></a>

            <div class="ui dropdown right primary_color item">All
                <i class="dropdown icon"></i>
                <div class="menu">
                    {% for section in sections %}
                        <a class="item" href=" {% if sub is None %}{% url 'section' section.slug %}{% else %}{% url 'section' sub section.slug %}{% endif %}">{{ section.title }}</a>
                    {% endfor %}
                </div>
            </div>
            {% for section in sections|slice:":3" %}
                <div class="ui dropdown primary_color item">
                    <a href="{% if sub is None %}{% url 'section' section.slug %}{% else %}{% url 'section' sub section.slug %}{% endif %}"
                       style="color:inherit">{{ section.title }}</a>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        {% if is_db %}
                            {% for category in section.categories.all %}
                                {% if category.is_active %}
                                    <a class="item" href="{% if sub is None %}{% url 'category' section.pk category.slug %}{% else %}{% url 'category' sub section.pk category.slug %}{% endif %}">{{ category.title }}</a>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for category in section.categories %}
                                {% if category.is_active %}
                                    <a class="item" href="{% if sub is None %}{% url 'category' section.pk category.slug %}{% else %}{% url 'category' sub section.pk category.slug %}{% endif %}">{{ category.title }}</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <a href="{% if sub is None %}{% url 'how_it_works' %}{% else %}{% url 'how_it_works' sub %}{% endif %}"
               class="primary_color item">
                <i class="question large icon"></i>How It Works
            </a>
            <a href="http://support.kaadie.com" class=" primary_color item"><i class="flag large icon"></i>Report</a>
            <a href="https://medium.com/@kaadie" target="_blank" class=" primary_color item">
                <i class="write large icon"></i>Blog
            </a>
            {% if user.is_authenticated and not artist and not user.is_staff and not artist_request %}
                <a href="{% if sub is None %}{% url 'request_rights' %}{% else %}{% url 'request_rights' sub %}{% endif %}" class="ui compact mini green button" style="margin: 10px">Be an Artist</a>
            {% endif %}
            <div class="padtop-1 padbottom-1">
                {% if not user.is_authenticated %}
                    <a class="ui compact mini blue button" href="{% if sub is None %}{% url 'register_brand' %}{% else %}{% url 'register_brand' sub %}{% endif %}">Register
                        Brand</a>
                    <a class="ui compact mini green button" href="{% if sub is None %}{% url 'artist_register' %}{% else %}{% url 'artist_register' sub %}{% endif %}">Become an artist</a>
                {% endif %}
            </div>
            {% if user.is_authenticated %}<a href="{% if sub is None %}{% url 'logout' %}{% else %}{% url 'logout' sub %}{% endif %}" class="item"><i class="sign out icon"></i> Sign Out</a>{% endif %}
            {#            {% if not premium and not user.is_staff %}#}
            {#                <div class="padtop-1 padbottom-1">#}
            {#                    <a class="ui compact mini blue button"#}
            {#                       href="{% if sub is None %}{% url 'premium' %}{% else %}{% url 'premium' sub %}{% endif %}">Try#}
            {#                        Premium</a>#}
            {#                </div>#}
            {#            {% endif %}#}
        </div>
    </div>

    <!-- Fixed menu when you scroll -->
    <div class="ui top fixed borderless hidden featured menu">
        <div class="ui container">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <div class="item">
                <a href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}"><img
                        id="kaadie_logo" src="{{ organization.logo }}"></a>
            </div>
            <div class="right mobilehide menu">
                <div class="item">
                    <div class="ui search ">
                        <div class="ui icon mini long-search input">
                            <form id="search_form" method="get" action="{% url 'search' %}">
                                <input class="prompt" type="text" name="q"
                                       placeholder="Search for Cards..." value="{{ search_q }}">
                                <i class="search icon"></i>
                            </form>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    {% if user.account.saved_count > 0 %}
                        <a href="{% if sub is None %}{% url 'home' %}{% else %}{% url 'home' sub %}{% endif %}"
                           class="menubar item">
                            <i class="bookmark large icon"></i>
                            <div class="ui small green left pointing label">{{ user.account.saved_count }}</div>
                        </a>
                    {% endif %}
                    <a ng-show="data.notification_count > 0" href="{% if sub is None %}{% url 'notifications' %}{% else %}{% url 'notifications' sub %}{% endif %}"
                       class="menubar item">
                        <i class="bell large icon"></i>
                        <div class="ui small red left pointing label" ng-bind="data.notification_count"></div>
                    </a>
                {% endif %}
                <div class="ui dropdown item">
                    {% if user.is_authenticated %}
                        <i class="user large icon"></i> {{ user.account.name }}
                    {% else %}
                        Account
                    {% endif %}
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        {% if user.is_authenticated %}
                            {% if user.account.is_premium or user.is_staff %}
                                {% if organization.account_id == user.account.pk %}
                                    <a href="{% if sub is None %}{% url 'control_panel' %}{% else %}{% url 'control_panel' sub %}{% endif %}"
                                       class="item"><i class="setting icon"></i>Control
                                        Panel</a>
                                {% endif %}
                            {% endif %}
                            {% if artist or user.is_staf %}
                                <a href="{% if sub is None %}{% url 'create_card' %}{% else %}{% url 'create_card' sub %}{% endif %}"
                                   class="item"><i class="pencil icon"></i>Create Card
                                </a>
                            {% endif %}
                            <a href="{% if sub is None %}{% url 'home' %}{% else %}{% url 'home' sub %}{% endif %}"
                               class="item"><i class="user icon"></i>Profile</a>
{#                            <a href="{% if sub is None %}{% url 'logout' %}{% else %}{% url 'logout' sub %}{% endif %}"#}
{#                               class="item"><i class="sign out icon"></i> Sign Out</a>#}
                        {% else %}
                            <a href="{% if sub is None %}{% url 'login' %}{% else %}{% url 'login' sub %}{% endif %}"
                               class="item"><i class="checkmark box icon"></i>
                                Login</a>
                            <a href="{% if sub is None %}{% url 'register' %}{% else %}{% url 'register' sub %}{% endif %}"
                               class="item"><i class="signup icon"></i> Sign up</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main menu -->
    <div class="ui inverted huge borderless mainnav menu">
        <div class="ui container" style="">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <div class="item">
                <a href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}"><img
                        id="kaadie_logo" src="{{ organization.logo }}"></a>
            </div>
            <div class="right mobilehide menu">
                <div class="item">
                    <div class="ui search ">
                        <div class="ui icon mini long-search input">
                            <form id="search_form" method="get" action="{% url 'search' %}">
                                <input class="prompt" type="text" name="q"
                                       placeholder="Search for Cards..." value="{{ search_q }}">
                                <i class="search icon"></i>
                            </form>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>

                {% if user.is_authenticated %}
                    {% if user.account.saved_count > 0 %}
                        <a href="{% if sub is None %}{% url 'home' %}{% else %}{% url 'home' sub %}{% endif %}"
                           class="menubar item">
                            <span class="icon-popup" data-tooltip="Your Saved Cards" data-position="bottom center">
                              <i class="bookmark large icon"></i>
                              <div class="ui small green left pointing label">{{ user.account.saved_count }}</div>
                            </span>
                        </a>
                    {% endif %}
                    <div ng-show="data.notification_count > 0" class="ui dropdown item">
                        <a href="{% if sub is None %}{% url 'notifications' %}{% else %}{% url 'notifications' sub %}{% endif %}">
                            <i class="bell large icon"></i>
                        </a>
                        <div class="ui small red left pointing label" ng-bind="data.notification_count"></div>
                        <i class="dropdown icon"></i>
                    </div>
                {% endif %}
                <a href="/forum/" class="primary_color item"><i class="book large icon"></i>Forum</a>
                <a href="{% url 'view_artists' %}" class="primary_color item"><i class="paint brush large icon"></i>Artists</a>
                <div class="ui dropdown item">
                    {% if user.is_authenticated %}<i class="user large icon"></i>
                        {{ user.account.name }}{% else %}
                        Account{% endif %}
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        {% if user.is_authenticated %}
                            {% if user.account.is_premium or user.is_staff %}
                                {% if organization.account_id == user.account.pk %}
                                    <a href="{% if sub is None %}{% url 'control_panel' %}{% else %}{% url 'control_panel' sub %}{% endif %}"
                                       class="item"><i class="settings icon"></i>Control
                                        Panel</a>
                                {% endif %}
                            {% endif %}
                            {% if artist or user.is_staf %}
                                <a href="{% if sub is None %}{% url 'create_card' %}{% else %}{% url 'create_card' sub %}{% endif %}"
                                   class="item"><i class="pencil icon"></i>Create
                                    Card
                                </a>
                            {% endif %}
                            <a href="{% if sub is None %}{% url 'home' %}{% else %}{% url 'home' sub %}{% endif %}"
                               class="item"><i class="user icon"></i>Profile</a>
                        {% else %}
                            <a href="{% if sub is None %}{% url 'login' %}{% else %}{% url 'login' sub %}{% endif %}"
                               class="item"><i class="checkmark box icon"></i>
                                Login</a>
                            <a href="{% if sub is None %}{% url 'register' %}{% else %}{% url 'register' sub %}{% endif %}"
                               class="item"><i class="signup icon"></i> Sign up</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- message to try mobile -->
    {% if ua.is_mobile %}
{#        <div style="left:10%; right:10%">#}
{#            <div class="ui icon large long-search input">#}
{#                <form method="get" action="{% url 'search' %}">#}
{#                    <input type="text" name="q" placeholder="Search for Cards..." value="{{ search_q }}">#}
{#                    <i class="search icon"></i>#}
{#                </form>#}
{#            </div>#}
{#            <div class="results"></div>#}
{#        </div>#}
        <form id="search_form" class="ui icon input" style="width:100%" method="get" action="{% url 'search' %}">
            <input id="search_form" class="prompt" type="text" name="q" placeholder="Search for Cards..." value="{{ search_q }}">
            <button type="submit" class="ui search mini button" style="background: transparent;"><i class="search large icon"></i></button>
        </form>
        <div class="results"></div>
        <div class="ui blue message" id="app_message">
            <i class="close icon"></i>
            <div class="header">
                Kaadie Mobile app
            </div>
            <p>Coming soon on <a href="#" class="primary_color">Play store</a></p>
        </div>
    {% endif %}
{% endblock %}
{% block 'body' %}
{% endblock %}
{% block footer %}

    <!-- Modal for artist -->
    <div class="ui artist small modal">
        <i class="close icon"></i>
        <div class="header">
            Sign Up as an Artist <br>
            <small>Fill out the form below for artist sign-up!</small>
            <br>
            <div ng-show="artist_request.error" ng-repeat="err in artist_request.error">
                <small ng-bind="err" style="color: red"></small>
            </div>
            <small ng-bind="artist_request.success" style="color: limegreen"></small>
        </div>
        <div class="content">
            <form class="ui form" method="POST" ng-submit="requestPermission()">
                <div class="field">
                    <label>Nickname</label>
                    <input placeholder="nickname" type="text" ng-model="artist_request.nickname" required>
                </div>
                <div class="field">
                    <label>Portfolio</label>
                    <input placeholder="portfolio" type="text" ng-model="artist_request.portfolio" required>
                </div>
                <div class="inline field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="terms" required>
                        <label for="terms">I agree to the terms and conditions</label>
                    </div>
                </div>
                <div class="ui button">Cancel</div>
                <button class="ui blue submit button" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <!--End of artist modal  -->

    <footer class="footer-background">
        <div class="ui three column doubling equal height stackable grid container">
            <div class="four wide column">
{#                <a href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}"><img#}
{#                        src="{{ organization.logo }}" alt="Kaadie Logo" class="ui small image"/></a>#}
{#                <div class="ui hidden divider"></div>#}
                <small class="centered item white-color padtop-2"> &copy; 2017. Kaadie.com or its affiliates.</small>
            </div>
{#            <div class="three wide column computer tablet only">#}
{#                <h3 class="ui dividing white-color header"><b>Main Menu</b></h3>#}
{#                <div class="ui link list">#}
{#                    <a class="white-color item"#}
{#                       href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}">Home</a>#}
{#                    <a class="white-color item"#}
{#                       href="{% if sub is None %}{% url 'about' %}{% else %}{% url 'about' sub %}{% endif %}">About#}
{#                        Kaadie</a>#}
{#                    <a href="{% if sub is None %}{% url 'how_it_works' %}{% else %}{% url 'how_it_works' sub %}{% endif %}"#}
{#                       class="white-color item">How It works</a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="three wide column computer tablet only">#}
{#                <h3 class="ui dividing white-color header"><b>Other Details</b></h3>#}
{#                <div class="ui link list">#}
{#                    <a href="mailto:support@kaadie.com" class="white-color item">Email Us</a>#}
{#                    <a href="{% if sub is None %}{% url 'terms_of_use' %}{% else %}{% url 'terms_of_use' sub %}{% endif %}"#}
{#                       class="white-color item">Terms of Use</a>#}
{#                    <a href="{% if sub is None %}{% url 'privacy_policy' %}{% else %}{% url 'privacy_policy' sub %}{% endif %}"#}
{#                       class="white-color item">Privacy Policy</a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="three wide column">#}
{#                <h3 class="ui dividing white-color header"><b>Follow Kaadie</b></h3>#}
{#                <div class="ui link list">#}
{#                    <a class="white-color item" href="https://www.facebook.com/Kaadiecom-1149233738494529/">#}
{#                        <i class="facebook white-color icon"></i>#}
{#                        <div class="content">#}
{#                            Facebook#}
{#                        </div>#}
{#                    </a>#}
{#                    <a class="white-color item" href="https://twitter.com/OfficialKaadie">#}
{#                        <i class="twitter white-color icon"></i>#}
{#                        <div class="content">#}
{#                            Twitter#}
{#                        </div>#}
{#                    </a>#}
{#                    <a class="white-color item" href="https://www.instagram.com/officialkaadie/">#}
{#                        <i class="instagram white-color icon"></i>#}
{#                        <div class="content">#}
{#                            Instagram#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
        </div>
    </footer>
{% endblock %}
</div>

{#{% compress js %}#}
{% load static from staticfiles %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js'%}"></script>
<script src="{% static 'js/jquery.blockUI.js' %}"></script>
<script src="{% static 'js/facebook-sdk.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'js/dataTables.rowReorder.min.js' %}"></script>
<script src="{% static 'js/semantic.min.js' %}"></script>
<script src="{% static 'js/sweetalert.min.js' %}"></script>
<script src="{% static '/js/select2.min.js' %}"></script>
<script src="{% static '/js/dataTables.semanticui.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/codemirror.min.js' %}"></script>
<script src="{% static '/js/pusher.min.js' %}"></script>
<script src="{% static '/js/xml.min.js' %}"></script>
<script src="{% static '/js/menu.js' %}"></script>
<script src="{% static '/froala_editor/js/froala_editor.min.js' %}"></script>
<script src="{% static '/froala_editor/js/plugins/link.min.js' %}"></script>
<script src="{% static '/froala_editor/js/plugins/emoticons.min.js' %}"></script>
<script src="{% static '/js/additional-methods.min.js' %}"></script>
<script src="{% static '/js/owl.carousel.min.js' %}"></script>
<script src="{% static '/js/angular/angular.min.js' %}"></script>
<script src="{% static '/js/angular/angular-resource.min.js' %}"></script>
<script src="{% static '/js/angular/angular-utils-pagination/dirPagination.js' %}"></script>
<script src="{% static 'js/ngInfiniteScroll.min.js' %}"></script>
<script src="{% static '/semantic-ui-calendar/dist/calendar.min.js' %}"></script>
<script src="{% static '/js/angular/model.js' %}"></script>
<script src="{% static '/js/angular/controllers.js' %}"></script>
<script src="{% static '/js/angular/app.js' %}"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o);
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '/static/js/analytics.js', 'ga');

    ga('create', 'UA-87995079-1', 'auto');
    ga('send', 'pageview');
</script>
<script type="text/javascript">
    var mark = function (notification_id) {
        var url = '/notification/' + notification_id + '/mark';
        $.post(url, function (data, status) {
        })
    };

    jQuery.validator.setDefaults({
        debug: true,
        success: "valid"
    });
    $(function () {
        $('#app_message.close').on('click', function () {
            $(this).closest('.message').transition('fade');
        });
    });
    function submitForm() {
        $('#search_form').submit();
    }
    $('#search_form input').keydown(function (e) {
        if (e.keyCode == 13) {
            submitForm();
        }
    });
{#    $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);#}
    <!-- Start of Async Drift Code -->
{#    !function() {#}
{#      var t;#}
{#      if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,#}
{#      t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],#}
{#      t.factory = function(e) {#}
{#        return function() {#}
{#          var n;#}
{#          return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;#}
{#        };#}
{#      }, t.methods.forEach(function(e) {#}
{#        t[e] = t.factory(e);#}
{#      }), t.load = function(t) {#}
{#        var e, n, o, i;#}
{#        e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),#}
{#        o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",#}
{#        n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);#}
{#      });#}
{#    }();#}
{#drift.SNIPPET_VERSION = '0.3.1';#}
{#drift.load('4wiy46ybtdw6');#}
<!-- End of Async Drift Code -->
</script>
{% block 'scripts' %}
{% endblock %}
{#{% endcompress %}#}
</body>

</html>
