{% extends 'base_layout.html' %}

{% block 'title' %}
    <title>Kaadie | Login</title>
{% endblock %}

{% block header %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block 'scripts' %}
    <!-- Script files  -->
    <script type="text/javascript">
      $(function () {
        $('#select-gender')
            .dropdown();
        $('.ui.checkbox').checkbox();

        //Message
        $('.message .close')
          .on('click', function() {
            $(this)
              .closest('.message')
              .transition('fade');
          });
      });
    </script>
    <script src="/static/js/platform.js?onload=signOut" async defer></script>
    <script>
        window.signOut = function () {
            gapi.auth2.init({
                client_id: '71206465461-u6epfp5tto1b574knupep0urbnak3rb0.apps.googleusercontent.com'
            }).then(function (authInstance) {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                    console.log('logged out')
                });
            });
        };

        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            $.post('/accounts/login/', {
                email: profile.getEmail(),
                password: profile.getId(),
                image_url: profile.getImageUrl(),
                first_name: profile.getGivenName(),
                last_name: profile.getFamilyName(),
                social_login: 'true',
                csrfmiddlewaretoken: 'ya6D36Frt3pGdRQedqP94ahuV2G0ORg8PtZ7zg5ywFaCCEVi0qFwao8e09ELD86C',
                platform: 'facebook'
            }, function (data, status) {
                signOut();
                if (data.status == 'success') {
                    location.href = data.redirect_url
                }
                else {
                    document.getElementById('status').innerHTML = data.message;
                }
            })
        }

        function statusChangeCallback(response) {
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                FB.logout(function (response) {
                    console.log(response)
                });
            }
        }

        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                if (response.status == 'connected') {
                    retrieveAPI()
                }
            });
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '1329121063813084',
                cookie: true,  // enable cookies to allow the server to access
                xfbml: true,  // parse social plugins on this page
                version: 'v2.8' // use graph api version 2.8
            });
            FB.AppEvents.logPageView();

            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });

        };
        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function retrieveAPI() {
            FB.api('/me', {fields: 'id,email,first_name, last_name'}, function (response) {
                $.post('/accounts/login/', {
                    email: response.email,
                    password: response.id,
                    image_url: '',
                    first_name: response.first_name,
                    platform: 'google',
                    last_name: response.last_name,
                    social_login: 'true',
                    csrfmiddlewaretoken: 'ya6D36Frt3pGdRQedqP94ahuV2G0ORg8PtZ7zg5ywFaCCEVi0qFwao8e09ELD86C'
                }, function (data, status) {
                    if (data.status == 'success') {
                        location.href = data.redirect_url
                    }
                    else {
                        location.reload()
                    }
                })
            });
        }
    </script>

{% endblock %}

{% block 'body' %}
    <div id="signuppage">
        <div class="ui stackable two column centered grid container">
            <div class="column">
                <a class="" href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}">
                    <img class="kaadie-logo-image" src="{{ organization.logo }}" alt="Kaadie Logo"/>
                </a>
            </div>
            <div class="column five wide form-holder padright-2 padleft-2">
                <form class="ui form" method="post" id="loginform" {% if sub is None %}action="{{ request.path }}"{% else %}action="{% url 'login' sub %}"{% endif %}>
                    <h1 class="primary_color cursive-font">Login In</h1>
                    {% if storage %}
                        <div class="ui message">
                          <i class="right floated close icon"></i>
                          <div class="content">
                            {% for message in storage %}
                                <p {% if message.tags == 'alert-danger error' %} style="color: #a41515" {% else %} style="color: limegreen" {% endif %}>{{ message }}</p>
                            {% endfor %}
                          </div>
                        </div>
                    {% endif %}
                    <div class="required field">
                        <label for="email">Email</label>
                        <div class="ui left icon input">
                            <input class="" placeholder="Email" type="email" name="email" value="{{ username }}"
                                   required>
                            <i class="mail icon"></i>
                        </div>
                    </div>

                    <div class="required field">
                        <label for="password">Password</label>
                        <div class="ui left icon input">
                            <input class="" placeholder="Password" type="password" name="password"
                                   value="{{ password }}" required>
                            <input type="hidden" name="social_login" value="false">
                            <i class="lock icon"></i>
                        </div>
                    </div>
                    <div class=" required field">
                        <div class="ui checkbox">
                            <input type="checkbox" tabindex="0" class="hidden" name="terms">
                            <label>Remember me</label>
                        </div>
                    </div>
                    <button class="ui blue fluid button" type="submit">
                      Login
                    </button>
                    <span class="" style="line-height: 2.3em; display: block;">
                      <a href="{% if sub is None %}{% url 'forgot' %}{% else %}{% url 'forgot' sub %}{% endif %}">Forgot password?</a>
                    </span>
                    <div>
                        <div class="ui horizontal divider primary_color cursive-font">
                          Or use
                        </div>
                        <ul style="display: inline-flex; list-style: none">
                            <li class="g-signin2" style="height: 32px; width: 90px; zoom: 0.8; margin-right: 10px" data-onsuccess="onSignIn"></li>
                            <li>
                                <a href="{% if sub is None %}{% url 'facebook_login' %}{% else %}{% url 'facebook_login' sub %}{% endif %}" class="ui mini icon facebook button"><i class="facebook icon"></i>&nbsp;Facebook</a>
                            </li>
                        </ul>
{#                        <a class="g-signin2" style="height: 28px; width: 88px; zoom: 0.8; margin-right: 10px" data-onsuccess="onSignIn"></a>#}
{#                        <a href="{% if sub is None %}{% url 'facebook_login' %}{% else %}{% url 'facebook_login' sub %}{% endif %}" class="ui big icon facebook button"><i class="facebook icon"></i>&nbsp;Facebook</a>#}
{#                        <p>#}
{#                          <small>We'll never post anything without your permission.</small>#}
{#                        </p>#}
                    </div>
                    <div class="ui divider"></div>
                      <a href="{% if sub is None %}{% url 'register' %}{% else %}{% url 'register' sub %}{% endif %}" class="ui sub header"><i class="add icon"></i>New to kaadie? Sign up</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
