{% extends 'layout.html' %}

{% block 'title' %}
    <title> Kaadie | Personalize Card</title>
{% endblock %}

{% block 'inner-script' %}
    <style media="screen">
        canvas {
            border: 1px solid whitesmoke;
            border-radius: 5px;
        }

        .canvas-container {
            left: 5%;

        }

        .imageUpload {
            position: relative;
        }

        .imageUpload input.upload {
            cursor: pointer;
            font-size: 22px;
            margin: 2px;
            opacity: 0;
            padding: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 5.7em;
        }

        ::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0, 0, 0, .5);
            -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }

    </style>
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/personal.css" %}">
{% endblock %}

{% block 'scripts' %}
    <!-- Script files  -->
    {% load static from staticfiles %}
    <script src="{% static "js/fabric.min.js" %}"></script>
    <script>

        function whichElement(e) {
            var targ;
            if (!e) {
                var e = window.event;
            }
            if (e.target) {
                targ = e.target;
            } else if (e.srcElement) {
                targ = e.srcElement;
            }
            var tname;
            tname = targ.tagName;
            alert("You clicked on a " + tname + " element.");
        }

        var resolveEmail = function () {
            $('#receipt').val($('#email_recipients').val().join());
        };
        // Multiple Selection Dropdowns
        $('.multiple.search.selection.dropdown').dropdown({
            on: 'Hover',
            allowAdditions: true,
            forceSelection: false,
            hideAdditions: false
        });

        // TO HIDE send via SMS options
        $('#sms-checkbox').click(function () {
            var inputValue = $(this).attr("value");
            $("." + inputValue).toggle();
        });

        // TO HIDE send via CSV options
        $('#csv-checkbox').click(function () {
            var inValue = $(this).attr("value");
            $("." + inValue).toggle();
        });

        // Select Field of Email
        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        $(".emails").select2({
            tags: true,
            createTag: function (term, data) {
                var value = term.term;
                if (validateEmail(value)) {
                    return {
                        id: value,
                        text: value
                    };
                }
                return null;
            },
            tokenSeparators: [',', ' '],
            placeholder: 'Enter email address(es)'
        });
        $('.ui.multiple.search.selection.dropdown').dropdown({
            allowAdditions: true,
            forceSelection: false,
            hideAdditions: false
        });

        $('#close_message').on('click', function () {
            $(this).closest('.message').transition('fade');
        });

        $('#cityMove').on("click", function () {
            console.log('cityMove')
        })

    </script>
    {#    <script type="text/javascript">#}
    {#        var canvasOriginalWidth = 300;#}
    {#        canvasOriginalHeight = 402;#}
    {#        canvasWidth = 300;#}
    {#        canvasHeight = 402;#}
    {##}
    {#        // variables declaration#}
    {#        var canvas,#}
    {#                imgWidth,#}
    {#                imgHeight,#}
    {#                bgImage,#}
    {#                canvasScale = 1;#}
    {#        var photoUrl = '/images/Kaadie_inner_3.png';#}
    {##}
    {#        // initialize fabricJs#}
    {#        canvas = new fabric.Canvas('imageCanvas', {#}
    {#            backgroundColor: 'transparent',#}
    {#            selectionBorderColor: 'black',#}
    {#            allowTouchScrolling: true#}
    {#        });#}
    {#        #}
    {#        // zoom canvas function#}
    {#        function setCanvasZoom() {#}
    {#            canvasWidth = canvasOriginalWidth * canvasScale;#}
    {#            canvasHeight = canvasOriginalHeight * canvasScale;#}
    {##}
    {#            canvas.setWidth(canvasWidth);#}
    {#            canvas.setHeight(canvasHeight);#}
    {#        }#}
    {#        setCanvasZoom();#}
    {##}
    {#        $('#zoomin').click(function () {#}
    {#            canvasScale *= 1.15;#}
    {#            scaleAndPositionImage();#}
    {#        });#}
    {#        $('#zoomout').click(function () {#}
    {#            canvasScale /= 1.15;#}
    {#            scaleAndPositionImage();#}
    {#        });#}
    {##}
    {#        // backgroundImage#}
    {#        function setCanvasBackgroundImageUrl(url) {#}
    {#            if (url && url.length > 0) {#}
    {#                fabric.Image.fromURL(url, function (img) {#}
    {#                    bgImage = img;#}
    {#                    scaleAndPositionImage();#}
    {#                });#}
    {#            } else {#}
    {#                canvas.backgroundImage = 0;#}
    {#                canvas.setBackgroundImage('', canvas.renderAll.bind(canvas));#}
    {#                canvas.renderAll();#}
    {#            }#}
    {#        }#}
    {#        // image positioning#}
    {#        function scaleAndPositionImage() {#}
    {#            setCanvasZoom();#}
    {##}
    {#            var canvasAspect = canvasWidth / canvasHeight;#}
    {#            var imgAspect = bgImage.width / bgImage.height;#}
    {#            var left, top, scaleFactor;#}
    {##}
    {#            if (canvasAspect >= imgAspect) {#}
    {#                scaleFactor = canvasWidth / bgImage.width;#}
    {#                left = 0;#}
    {#                top = -((bgImage.height * scaleFactor) - canvasHeight) / 2;#}
    {#            } else {#}
    {#                scaleFactor = canvasHeight / bgImage.height;#}
    {#                top = 0;#}
    {#                left = -((bgImage.width * scaleFactor) - canvasWidth) / 2;#}
    {##}
    {#            }#}
    {#            canvas.setBackgroundImage(bgImage, canvas.renderAll.bind(canvas), {#}
    {#                top: top,#}
    {#                left: left,#}
    {#                originX: 'left',#}
    {#                originY: 'top',#}
    {#                scaleX: scaleFactor,#}
    {#                scaleY: scaleFactor#}
    {#            });#}
    {#            canvas.renderAll();#}
    {#        }#}
    {#        // initialize backgroundImage function#}
    {#        setCanvasBackgroundImageUrl(photoUrl, 0, 0, 1);#}
    {##}
    {#        //determine Canvas size#}
    {#        function setCanvasSize(canvasSizeObject) {#}
    {#            canvas.setWidth(canvasSizeObject.width);#}
    {#            canvas.setHeight(canvasSizeObject.height);#}
    {#        }#}
    {#        setCanvasSize({height: canvasHeight, width: canvasWidth});#}
    {##}
    {#        //Moving and Deleting Shapes with the Keyboard#}
    {#        document.body.addEventListener('keydown', function (event) {#}
    {#            var obj = canvas.getActiveObject();#}
    {#            if (event.keyCode == 37) {#}
    {#                if (!obj) return;#}
    {#                obj.left -= 1;#}
    {#                canvas.renderAll();#}
    {#            }#}
    {#            if (event.keyCode == 38) {#}
    {#                if (!obj) return;#}
    {#                obj.top -= 1;#}
    {#                canvas.renderAll();#}
    {#            }#}
    {#            if (event.keyCode == 39) {#}
    {#                if (!obj) return;#}
    {#                obj.left += 1;#}
    {#                canvas.renderAll();#}
    {#            }#}
    {#            if (event.keyCode == 40) {#}
    {#                if (!obj) return;#}
    {#                obj.top += 1;#}
    {#                canvas.renderAll();#}
    {#            }#}
    {#            if (event.keyCode == 46) {#}
    {#                if (canvas.getActiveGroup()) {#}
    {#                    canvas.getActiveGroup().forEachObject(function (a) {#}
    {#                        canvas.remove(a);#}
    {#                    });#}
    {#                    canvas.discardActiveGroup();#}
    {#                    canvas.deactivateAll().renderAll();#}
    {#                } else {#}
    {#                    canvas.getActiveObject().remove();#}
    {#                }#}
    {#            }#}
    {##}
    {#        });#}
    {#        var imageLoader = document.getElementById('imageLoader');#}
    {#        imageLoader.addEventListener('change', handleImage, false);#}
    {##}
    {##}
    {#        function handleImage(e) {#}
    {#            var reader = new FileReader();#}
    {#            reader.onload = function (event) {#}
    {#                var img = new Image();#}
    {#                img.onload = function () {#}
    {#                    var imgInstance = new fabric.Image(img, {#}
    {#                        scaleX: 0.4,#}
    {#                        scaleY: 0.4#}
    {#                    });#}
    {#                    canvas.add(imgInstance).bringToFront();#}
    {#                };#}
    {#                img.src = event.target.result;#}
    {#            };#}
    {#            reader.readAsDataURL(e.target.files[0]);#}
    {#        }#}
    {##}
    {#        // AddText function#}
    {#        function AddText() {#}
    {#            var textBox = new fabric.IText('Hello Love', {#}
    {#                left: 50,#}
    {#                top: 100,#}
    {#                fontFamily: 'Cursive',#}
    {#                fontStyle: 'italic',#}
    {#                fill: '#0x00',#}
    {#                fontSize: 14#}
    {#            });#}
    {#            canvas.add(textBox);#}
    {#            canvas.setActiveObject(textBox);#}
    {#        }#}
    {#        // change text color#}
    {#        document.getElementById('text-color').onchange = function () {#}
    {#            canvas.getActiveObject().setFill(this.value);#}
    {#            canvas.renderAll();#}
    {#        };#}
    {#        // change font family#}
    {#        document.getElementById('font-family').onchange = function () {#}
    {#            canvas.getActiveObject().setFontFamily(this.value);#}
    {#            canvas.renderAll();#}
    {#        };#}
    {##}
    {#        // delete element function#}
    {#        function DeleteElement() {#}
    {#            if (canvas.getActiveGroup()) {#}
    {#                canvas.getActiveGroup().forEachObject(function (a) {#}
    {#                    canvas.remove(a);#}
    {#                });#}
    {#                canvas.discardActiveGroup();#}
    {#                canvas.deactivateAll().renderAll();#}
    {#            } else if (canvas.getActiveObject()) {#}
    {#                canvas.getActiveObject().remove();#}
    {#            }#}
    {#            else {#}
    {#                canvas.backgroundImage = 0;#}
    {#                canvas.setBackgroundImage('', canvas.renderAll.bind(canvas));#}
    {#                canvas.renderAll();#}
    {#            }#}
    {#        }#}
    {##}
    {#    </script>#}
    <script type="text/javascript">
        var OriginalWidth = 300,
                OriginalHeight = 402,
                coverWidth = 300,
                coverHeight = 402;

        // variables declaration
        var coverCanvas,
                coverImgWidth,
                coverImgHeight,
                coverBgImage,
                coverScale = 1;
        var coverUrl = '{{ image }}';  // card.image_url photoUrl will be dynamic

        // initialize fabricJs
        coverCanvas = new fabric.Canvas('coverImageCanvas', {
            backgroundColor: 'whitesmoke',
            selectionBorderColor: 'black',
            allowTouchScrolling: true
        });

        {#        var disableScroll = function () {#}
        {#            coverCanvas.allowTouchScrolling = false;#}
        {#        };#}
        {##}
        {#        var enableScroll = function () {#}
        {#            coverCanvas.allowTouchScrolling = true;#}
        {#        };#}
        {##}
        {#        coverCanvas.on('object:moving', disableScroll);#}
        {#        coverCanvas.on('object:scaling', disableScroll);#}
        {#        coverCanvas.on('object:rotating', disableScroll);#}
        {#        coverCanvas.on('mouse:up', enableScroll);#}

        // zoom canvas function
        function setZoom() {
            coverWidth = OriginalWidth * coverScale;
            coverHeight = OriginalHeight * coverScale;

            coverCanvas.setWidth(coverWidth);
            coverCanvas.setHeight(coverHeight);
        }

        setZoom();

        $('#coverin').click(function () {
            coverScale *= 1.15;
            scaleImage();
        });
        $('#coverout').click(function () {
            coverScale /= 1.15;
            scaleImage();
        });

        // backgroundImage
        function setBackgroundImageUrl(url) {
            if (url && url.length > 0) {
                fabric.Image.fromURL(url, function (img) {
                    coverBgImage = img;
                    scaleImage();
                });
            } else {
                coverCanvas.backgroundImage = 0;
                coverCanvas.setBackgroundImage('', coverCanvas.renderAll.bind(coverCanvas));
                coverCanvas.renderAll();
            }
        }

        // image positioning
        function scaleImage() {
            setZoom();

            var canvasAspect = coverWidth / coverHeight;
            var imgAspect = coverBgImage.width / coverBgImage.height;
            var left, top, scaleFactor;

            if (canvasAspect >= imgAspect) {
                scaleFactor = coverWidth / coverBgImage.width;
                left = 0;
                top = -((coverBgImage.height * scaleFactor) - coverHeight) / 2;
            } else {
                scaleFactor = coverHeight / coverBgImage.height;
                top = 0;
                left = -((coverBgImage.width * scaleFactor) - coverWidth) / 2;

            }
            coverCanvas.setBackgroundImage(coverBgImage, coverCanvas.renderAll.bind(coverCanvas), {
                top: top,
                left: left,
                originX: 'left',
                originY: 'top',
                scaleX: scaleFactor,
                scaleY: scaleFactor
            });
            coverCanvas.renderAll();
        }

        // initialize backgroundImage function
        setBackgroundImageUrl(coverUrl, 0, 0, 1);

        //determine Canvas size
        function setSize(canvasSizeObject) {
            coverCanvas.setWidth(canvasSizeObject.width);
            coverCanvas.setHeight(canvasSizeObject.height);
        }

        setSize({height: coverHeight, width: coverWidth});

        //Moving and Deleting Shapes with the Keyboard
        document.body.addEventListener('keydown', function (event) {
            var obj = coverCanvas.getActiveObject();
            if (event.keyCode == 37) {
                if (!obj) return;
                obj.left -= 1;
                coverCanvas.renderAll();
            }
            if (event.keyCode == 38) {
                if (!obj) return;
                obj.top -= 1;
                coverCanvas.renderAll();
            }
            if (event.keyCode == 39) {
                if (!obj) return;
                obj.left += 1;
                coverCanvas.renderAll();
            }
            if (event.keyCode == 40) {
                if (!obj) return;
                obj.top += 1;
                coverCanvas.renderAll();
            }
            if (event.keyCode == 46) {
                if (coverCanvas.getActiveGroup()) {
                    coverCanvas.getActiveGroup().forEachObject(function (a) {
                        coverCanvas.remove(a);
                    });
                    coverCanvas.discardActiveGroup();
                    coverCanvas.deactivateAll().renderAll();
                }
                {#                else {#}
                {#                    coverCanvas.getActiveObject().remove();#}
                {#                }#}
            }

        });

        var canvasLoader = document.getElementById('canvasLoader');
        canvasLoader.addEventListener('change', handleCoverImage, false);

        function handleCoverImage(e) {
            var reader = new FileReader();
            reader.onload = function (event) {
                var img = new Image();
                img.onload = function () {
                    var imgInstance = new fabric.Image(img, {
                        scaleX: 0.4,
                        scaleY: 0.4
                    });
                    coverCanvas.add(imgInstance).bringToFront();
                };
                img.src = event.target.result;
            };
            reader.readAsDataURL(e.target.files[0]);
        }

        // AddText function
        function AddCoverText() {
            var box = new fabric.IText('Hey you!!!', {
                left: 50,
                top: 100,
                fontFamily: 'Cursive',
                fontStyle: 'italic',
                fill: '#0x00',
                fontSize: 14
            });
            coverCanvas.add(box);
            coverCanvas.setActiveObject(box);
        }

        // change text color
        document.getElementById('cover-color').onchange = function () {
            var act = coverCanvas.getActiveObject();
            console.log(act);
            act.setFill(this.value);
            coverCanvas.renderAll();
        };
        // change font family
        document.getElementById('cover-family').onchange = function () {
            coverCanvas.getActiveObject().setFontFamily(this.value);
            coverCanvas.renderAll();
        };

        // delete element function
        function DeleteCoverElement() {
            if (coverCanvas.getActiveGroup()) {
                coverCanvas.getActiveGroup().forEachObject(function (a) {
                    coverCanvas.remove(a);
                });
                coverCanvas.discardActiveGroup();
                coverCanvas.deactivateAll().renderAll();
            }
            else if (coverCanvas.getActiveObject()) {
                coverCanvas.getActiveObject().remove();
            }
            else {
                coverCanvas.backgroundImage = 0;
                coverCanvas.setBackgroundImage('', coverCanvas.renderAll.bind(coverCanvas));
                coverCanvas.renderAll();
            }
        }

        //Saving Card image from canvas
        var imageSaver = document.getElementById('imageSaver');
        imageSaver.addEventListener('click', saveImage, false);

        function saveImage(e) {

            document.getElementById('cover_image').value = coverCanvas.toDataURL({
                format: 'jpeg',
                quality: 0.8
            });

            document.getElementById('card_image').value = canvas.toDataURL({
                format: 'jpeg',
                quality: 0.8
            });
        }

        function saveDesign() {

            $.blockUI({message: '<h1><img src="/images/loader.gif" /> Just a moment...</h1>'});
            var cover_design = coverCanvas.toDataURL({
                format: 'jpeg',
                quality: 0.8
            });

            var card_design = canvas.toDataURL({
                format: 'jpeg',
                quality: 0.8
            });

            $.post('/designs/{{ card.pk }}/save', {
                cover_image: cover_design,
                card_image: card_design
            }, function (data, status) {
                $.unblockUI();
                if (data.status == 'success') {
                    swal({
                        title: "Success!",
                        text: "You have successfully saved this design!",
                        icon: "success",
                        button: "OK"
                    });
                }
                else {
                    swal({
                        title: "Error!!!",
                        text: "This design was not saved!",
                        icon: "error",
                        button: "OK"
                    });
                }
            });
        }

        //Saving Card image from canvas
        {#        var coverSaver = document.getElementById('coverSaver');#}
        {#        coverSaver.addEventListener('click', saveCoverImage, false);#}
        {##}
        {#        function saveCoverImage(e) {#}
        {#            document.getElementById('cover_image').value = coverCanvas.toDataURL({#}
        {#                format: 'jpeg',#}
        {#                quality: 0.8#}
        {#            });#}
        {#        }#}
    </script>
    <script type="text/javascript" src="{% static "js/edit-canvas.js" %}"></script>
{% endblock %}

{% block 'body' %}

    <div ng-controller="HomeController" ng-init="initCard()">
        <!--Send page header  -->
        <div class="ui very padded text container">
            <h2 class="ui center aligned header padtop-1" id="cityMove">
                Design Your Card on <span class="ui header primary_color">Kaadie</span>

                <div class="sub header padtop-1">Creatively craft your card.<br>
                    <b><em style="color:green">Click Next at the bottom of the page to fill in delivery details</em></b>
                </div>
                {% if storage %}
                    <ul class="messages">
                        {% for message in storage %}
                            <li {% if message.tags == 'alert-danger error' %} style="color: #a41515" {% else %}
                                                                              style="color: limegreen" {% endif %}>{{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </h2>
            {% if sent_success %}
                <div class="ui icon positive message">
                    <i class="send teal icon"></i>
                    <i class="right floated close icon" id="close_message"></i>

                    <div class="content">
                        <div class="header">
                            Congratulations!
                        </div>
                        <h3>Card sent successfully from <span class="primary_color"><b>Kaadie</b></span></h3>
                    </div>
                </div>
            {% endif %}
            {% if sent_failure %}
                <div class="ui icon negative message">
                    <i class="remove icon"></i>
                    <i class="right floated close icon"></i>

                    <div class="content">
                        <div class="header">
                            Oops!
                        </div>
                        <p>Sorry, your card was not sent!</p>
                    </div>
                </div>
            {% endif %}
            <div class="ui hidden divider"></div>
        </div>

        <div id="cards">
            <div class="center aligned column row">
                <div>
                    <p style="text-align:center">Insert Images and Add Text to edit this card</p>
                </div>
                <div class="column" style="margin:10px">
                    <div class="column ">
                        <div class="six ui tiny buttons">
{#                            <button class="ui button imageUpload">#}
{#                                <span><i class="fa fa-photo"></i></span>#}
{#                                <input class="upload" type="file" id="canvasLoader"#}
{#                                       name="canvasLoader"/>#}
{#                            </button>#}
                            <button class="ui icon red button" id="delete"
                                    onclick="DeleteCoverElement()">
                                <i class="trash icon"></i>
                            </button>
                            <button class="ui icon purple button" id="coverin">
                                <i class="zoom icon"></i>
                            </button>
                            <button class="ui icon blue button" id="coverout">
                                <i class="zoom out icon"></i>
                            </button>
                            <button onclick="AddCoverText()" class="ui icon white button">
                                <i class="font icon"></i> Text
                            </button>
                        </div>
                    </div>
                    <div class="column" style="margin: 10px; float: right">
                        <div class="ui form">
                            <div class="fields">
                                <div class="field" style="padding:0 !important;zoom:0.8">
                                    <select class="ui fluid dropdown" id="cover-family">
                                        <option value="arial">Arial</option>
                                        <option value="comic sans ms" selected>Comic Sans MS
                                        </option>
                                        <option value="courier">Courier</option>
                                        <option value="georgia">Georgia</option>
                                        <option value="handlee">Handlee</option>
                                        <option value="cursive">Cursive</option>
                                        <option value="Lato">Lato</option>
                                        <option value="verdana">Verdana</option>
                                    </select>
                                </div>
                                <div class="field" style="padding:0 !important;">
                                    <input type="color" id="cover-color" style="height: 2em; line-height:2em">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui hidden divider"></div>
                    <div class="ui hidden divider"></div>
                    <div style="height:419px;width:375px; overflow: -moz-scrollbars-vertical; overflow-y:scroll !important">
                        <canvas id="coverImageCanvas" style="height: 101%;"></canvas>
                    </div>
                </div>
                <div class="one ui buttons" style="float:right; padding-right: 30px;">
                    <button class="ui inverted violet medium button next">Next</button>
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui hidden divider"></div>
                <div class="ui hidden divider"></div>
            </div>
        </div>

        {#        <div id="internal">#}
        {#            <div class="left aligned segment container">#}
        {#                <div class="column" style="padding: 15px; padding-top: 0;">#}
        {#                    <div class="two ui tiny buttons">#}
        {#                        <button class="ui icon purple button" id="zoomin">#}
        {#                            <i class="zoom in icon"></i>#}
        {#                        </button>#}
        {#                        <button class="ui icon blue tiny button" id="zoomout">#}
        {#                            <i class="zoom out icon"></i>#}
        {#                        </button>#}
        {#                    </div>#}
        {#                    <div class="three ui tiny buttons">#}
        {#                        <button onclick="AddText()" class="ui icon white button">#}
        {#                            <i class="font icon"></i> Text#}
        {#                        </button>#}
        {#                        <button class="ui icon red button" id="delete" onclick="DeleteElement()">#}
        {#                            <i class="trash icon"></i>#}
        {#                        </button>#}
        {#                        <button class="ui button imageUpload">#}
        {#                            <span><i class="fa fa-photo"></i></span>#}
        {#                            <input class="upload" type="file" id="imageLoader" name="imageLoader"/>#}
        {#                        </button>#}
        {#                    </div>#}
        {#                    <div class="ui form" style="margin-top:15px; margin-bottom: 10px">#}
        {#                        <div class="fields">#}
        {#                            <div class="field">#}
        {#                                <input type="color" id="text-color" style="height: 30px; line-height: 30px">#}
        {#                            </div>#}
        {#                            <div class="field" style="padding:0 !important;zoom:0.8">#}
        {#                                <select class="ui fluid dropdown" id="font-family">#}
        {#                                    <option value="arial">Arial</option>#}
        {#                                    <option value="comic sans ms" selected>Comic Sans MS</option>#}
        {#                                    <option value="courier">Courier</option>#}
        {#                                    <option value="georgia">Georgia</option>#}
        {#                                    <option value="cursive">Cursive</option>#}
        {#                                    <option value="Lato">Lato</option>#}
        {#                                    <option value="verdana">Verdana</option>#}
        {#                                </select>#}
        {#                            </div>#}
        {#                            <div class="field">#}
        {#                                <div class="ui icon compact circular green button"#}
        {#                                     data-tooltip="Click here to save this design"#}
        {#                                     data-position="bottom center" onclick="saveDesign()">#}
        {#                                    <i class="bookmark icon"></i>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                    <div style="height:419px;width:375px; overflow-y:scroll;overflow-x: hidden;">#}
        {#                        <canvas id="imageCanvas"></canvas>#}
        {#                    </div>#}
        {##}
        {#                </div>#}
        {#                <div class="one ui buttons" style="float:right; padding:10px">#}
        {#                    <button class="ui  inverted violet  medium button next2">Next</button>#}
        {#                </div>#}
        {#                <div class="ui hidden divider"></div>#}
        {#                <div class="ui hidden divider"></div>#}
        {#                <div class="ui hidden divider"></div>#}
        {#            </div>#}
        {#        </div>#}

        <div id="details">
            <div class="ui left aligned  segment container"
                 style="background-color: #F1F0FF;border-radius:5px;width: 40%;">
                <div>
                    <h2 class="ui center aligned header padtop-1 ">
                        Send a card from <span class="ui header primary_color">Kaadie</span>

                        <div class="sub header">Enter details for your card delivery</div>
                        {% if user.is_authenticated %}
                            {% if user.is_premium is False and user.account.sent_count >= sending_limit %}
                                <p style="color: #a00000">You have exceeded your sending limit</p>
                            {% endif %}
                        {% endif %}

                        {% if storage %}
                            <ul class="messages">
                                {% for message in storage %}
                                    <li {% if message.tags %} style="color: #a41515" {% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </h2>
                </div>
                <div class="ui segment">
                    <form class="ui form" id="PersonalizeCardForm" method="post"
                          {% if sub is None %}action="{% url 'personalize_card' card.slug %}"
                          {% else %}action="{% url 'personalize_card' sub card.slug %}"{% endif %}
                          enctype="multipart/form-data">
                        <h4 class="ui dividing header">Info</h4>

                        <div class="required field">
                            <label>Send Card To Email:</label>
                            <input type="hidden" name="receipt" id="receipt" required>
                            <select class="emails" id="email_recipients" name="email_recipients"
                                    onchange="resolveEmail()" multiple="multiple" required>
                                {% for contact in user.account.contacts.all %}
                                    {% if contact.email %}
                                        <option value="{{ contact.email }}">{{ contact.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="inline fields">
                            {% if user.is_authenticated %}
                                {% if user.account.is_premium %}
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" name="csv-option" value="csv-option"
                                                   id="csv-checkbox"
                                                   accept="text/csv">
                                            <label>Upload CSV file</label>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div id="csv-field" class="csv-option" style="display:none;">
                            <div class="required field">
                                <label>Upload CSV: </label>
                                <a href="{{ MEDIA_URL }}sample.xlsx" style="float: right; color: inherit" download>
                                    <i class="inverted circular download link icon"></i>&nbsp;Download Sample
                                </a>

                                <div class="ui icon input">
                                    <input type="file" name="csv" id="csv">
                                </div>
                            </div>
                        </div>
                        <div class="required field">
                            <label>From: </label>

                            <div class="field">
                                <input type="text" name="sender_name" placeholder="Your name as it will appear"
                                       {% if user.is_authenticated %}value="{{ user.account.name }}"{% endif %}
                                       required>
                                <input type="hidden" value="{{ card.pk }}" name="card_id">
                                <input type="hidden" id="card_image" name="card_image">
                                <input type="hidden" id="cover_image" name="cover_image">
                            </div>
                        </div>
                        {% if card.price > 0 %}
                            <h4 class="ui dividing header">Payment Information</h4>
                            <div class="field">
                                <label>Card Type</label>

                                <div class="ui selection dropdown">
                                    <input type="hidden" name="card[type]">

                                    <div class="default text">Type</div>
                                    <i class="dropdown icon"></i>

                                    <div class="menu">
                                        <div class="item" data-value="visa">
                                            <i class="visa icon"></i>
                                            Visa
                                        </div>
                                        <div class="item" data-value="mastercard">
                                            <i class="mastercard icon"></i>
                                            Master Card
                                        </div>
                                        <div class="item" data-value="paypal">
                                            <i class="paypal icon"></i>
                                            Paypal
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="two fields">
                                    <div class="field">
                                        <label>Card Number</label>
                                        <input type="text" name="card[number]" maxlength="16" placeholder="Card #">
                                    </div>
                                    <div class="field">
                                        <label>CVC</label>
                                        <input type="text" name="card[cvc]" maxlength="3" placeholder="CVC">
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Expiration</label>

                                    <div class="two fields">
                                        <div class="field">
                                            <select class="ui fluid search dropdown" name="card[expire-month]">
                                                <option value="">Month</option>
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <input type="text" name="card[expire-year]" maxlength="4"
                                                   placeholder="Year">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <button class="ui green button" id="imageSaver" tabindex="0"
                                {% if user.is_authenticated %}{% if not user.account.is_premium and not user.is_staff and user.account.sent_count > sending_limit %}disabled
                                {% endif %}{% endif %}>Send Card
                        </button>
                    </form>
                    <!-- Save image -->
                </div>
                <div class="ui hidden divider"></div>
            </div>
        </div>
    </div>

{% endblock %}