{% extends 'base_layout.html' %}

{% block 'title' %}
    <title> Kaadie | Control Panel </title>
{% endblock %}

{% block 'scripts' %}
    <!-- Script files  -->
    <script type="text/javascript">
        $(function () {
          //script for message display
          $('.message .close').on('click', function () {
                  $(this).closest('.message').transition('fade');
            });
          // script for tab menu
          $(' .menu .item').tab({});
          // script for modal
          $(".add-user").click(function () {
              $(".ui.adduser.small.modal").modal("show");
          });
          $(".edit-contact").click(function () {
              $(".ui.editcontact.small.modal").modal("show");
          });
          $(".cloud-download").click(function () {
              $(".ui.clouddownload.small.modal").modal("show");
          });

          // initializing table sort
          $('#cp-table').DataTable({
              "info": false,
              "dom": '<"top"if>rt<"bottom"p><"clear">'
          });

          // dropdown
          $('.ui.dropdown').dropdown();

          $('#profileImage').change(function () {
                $("#updateLogoForm").submit();
            });
        });
    </script>

{% endblock %}

{% block 'body' %}
    <div class="ui container">
        <div class="ui stackable huge menu">
            <div class="ui icon image borderless item">
                <img class="kaadie-logo-image" src="{{ organization.logo }}" alt="Kaadie Logo"/>
            </div>
            <a class="borderless item white_color active" data-tab="summary">Summary</a>
            <a class="borderless item white_color" data-tab="api">Third Party APIs</a>
            <a class="borderless item white_color" data-tab="contact">Contacts</a>
            <!-- <a class="borderless item white_color" data-tab="reports">Reports</a> -->
            <a class="borderless item white_color" data-tab="referrals">Referrals</a>

            <div class="ui dropdown right borderless item white_color">
                <i class="user large icon"></i>
                    Details
                <i class="dropdown icon"></i>
                <div class="menu">
                  <a class="borderless item" href="{% if sub is None %}{% url 'home' %}{% else %}{% url 'home' sub %}{% endif %}">
                      <i class="ui user icon"></i> &nbsp;Profile
                  </a>
                  <a class="item" href="{% if sub is None %}{% url 'notifications' %}{% else %}{% url 'notifications' sub %}{% endif %}">
                    <i class="ui bell icon"></i> &nbsp;Notifications</a>
                  <a class="item" href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}">
                      <i class="ui home icon"></i> &nbsp; Homepage
                  </a>
                </div>
              </div>

        </div>
        <div class="ui container">
{#            <div class="row">#}
{#              <div class="ui container padleft-2 padright-2">#}
{#                <div class="ui icon tiny info message ">#}
{#                  <i class="heart outline icon"></i>#}
{#                  <div class="content">#}
{#                    <div class="header">#}
{#                      Welcome {{ organization.name }}, to your organization's control panel#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#                <div class="ui large header padleft-2">{% now 'jS F Y' %}</div>#}
{#            </div>#}
            <div class="column">
              <div class="ui tab basic segment active" data-tab="summary">
                <div class="ui two column doubling stackable grid container">
                  <div class="six wide column">
                    <div class="ui segment">
                      <div class="ui top attached blue large label">Summary</div>
                      <div class="ui relaxed divided list">
                        <div class="item">
                          <i class="large user middle aligned icon"></i>
                          <div class="content">
                            <div class="header">{{ organization.name }}</div>
                            <div class="description">Organization Name</div>
                          </div>
                        </div>
                        <div class="item">
                          <i class="large image middle aligned icon"></i>
                          <div class="content">
                            <a href="#" class="upload_link">
                                <img src="{{ organization.logo }}" class="ui circular tiny image">
                            </a>
                            <div class="ui mini buttons">
                                <form id="updateLogoForm" method="post"
                                      {% if sub is None %}action="{% url 'update_logo' %}"
                                      {% else %}action="{% url 'update_logo' sub %}"{% endif %}
                                      enctype="multipart/form-data">
                                    <button class="ui mini compact floated left button" id="image_upload"
                                            style="width: 100px; ">
                                        <input type="file" name="image" id="profileImage" accept="image/*">
                                        <label for="image">Upload Logo</label>
                                    </button>
                                </form>
                            </div>
                          </div>
                        </div>
                        <div class="item">
                          <i class="large github middle aligned icon"></i>
                          <div class="content">
                            <div class="header">{{ date_created }}</div>
                            <div class="description">Joined </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="ui basic segments">
                      <div class="ui top attached green large label">Kaadie Credit</div>
                      <div class="ui basic segment">
                        <h4 class="ui dividing header">
                            <b>Your Kaadie credit balance</b>
                        </h4>
                        <div class="ui centered card">
                            <h3 class="ui header">
                              <i class="inverted teal circular money small icon"></i>
                              <div class="content">
                                <div class="sub header"><b>Credit</b></div>
                                {{ wallet.sms_credit }}
                              </div>
                            </h3>
                        </div>
                      </div> <!-- end of segment -->
                      <div class="ui basic segment">
                        <h4 class="ui dividing header">
                          <b>Purchase Kaadie Credits.</b>
                        </h4>
                        <form class="ui centered form">
                          <label>How much you want to purchase?</label>
                            <div class=" grouped fields">
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="currency" tabindex="0">
                                        <label><b>$10.00</b></label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="currency" tabindex="0">
                                        <label><b>$20.00</b></label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="currency" tabindex="0">
                                        <label><b>$50.00</b></label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="currency" tabindex="0">
                                        <label><b>$100.00</b></label>
                                    </div>
                                </div>
                            </form>
                            <div class="ui submit green fluid button">Purchase</div>
                        </div>
                      </div>
                      <!-- end of segment-->

                    </div>
                  </div>
                  <div class="ten wide column">
                    <div class="ui segment">
                      <div class="ui top attached teal large primary_color label">Brand Information</div>
                      <h3 class="ui dividing header">
                          Manage your account settings and set layout preferences.
                      </h3>
                      {% if storage %}
                          <div class="ui compact visible message">
                              <i class="close icon"></i>
                              <ul class="messages">
                                  {% for message in storage %}
                                      <li {% if message.tags == 'alert-danger error' %} style="color: #a41515"
                                      {% else %} style="color: limegreen" {% endif %}>{{ message }}
                                      </li>
                                  {% endfor %}
                              </ul>
                          </div>
                      {% endif %}
                      <form class="ui form" method="post" action="{% if sub is None %}{% url 'update_organization' %}{% else %}{% url 'update_organization' sub %}{% endif %}">
                          <div class="field">
                              <label for="name">Brand Name</label>
                              <input type="text" name="name" value="{{ organization.name }}" placeholder="Brand Name"
                                     required>
                          </div>
                          <div class="field">
                              <label>Logo</label>
                              {{ form.logo }}
{#                                <input type="file" name="logo">#}
                          </div>
                          <div class="field">
                              <label for="primary_color">Primary Color</label>
                              <input type="text" name="primary_color" value="{{ organization.primary_color }}"
                                     placeholder="" required>
                          </div>
                          <div class="field">
                              <label for="primary_background_color">Primary Background Color</label>
                              <input type="text" name="primary_background_color"  value="{{ organization.primary_background_color }}" required>
                          </div>
                          <div class="field">
                              <label for="primary_color_class">Primary Color Class</label>
                              <input type="text" name="primary_color_class"
                                     value="{{ organization.primary_color_class }}" required>
                          </div>
                          <div class="field">
                              <label for="color">Color</label>
                              <input type="text" name="color" value="{{ organization.color }}" required>
                          </div>
                          <div class="field">
                              <label for="semantic_class">Semantic Class</label>
                              <input type="text" name="semantic_class" value="{{ organization.semantic_class }}"
                                     required>
                          </div>
                          <div class="field">
                              <label for="menu_color">Menu Color</label>
                              <input type="text" name="menu_color" value="{{ organization.menu_color }}" required>
                          </div>
                          <button class="ui green button" type="submit">Update Information</button>
                      </form>
                  </div>

                  </div>
                </div>
              </div>

                <!-- <div class="ui tab basic segment" data-tab="personal">

                </div>
                <div class="ui tab basic segment" data-tab="wallet">

                </div> -->

                <div class="ui tab basic segment" data-tab="api">
                    <div class="ui segment">
                        <div class="ui top attached blue large primary_color label">API</div>
                        <h3 class="ui dividing header">
                            Manage your account SMS and e-mail APIs.
                        </h3>
                        <div class="ui pointing secondary stackable menu">
                            <a class="active item" data-tab="api/a">SMS</a>
                            <a class="item" data-tab="api/b">Email</a>
                        </div>
                        <div class="ui active basic tab segment" data-tab="api/a">
                            <form action="" class="ui tiny form">
                                <div class="field">
                                    <label>SMS API: </label>
                                    <input value="40328423092340">
                                </div>
                                <button class="ui green small button" type="submit">Save</button>
                            </form>
                        </div>
                        <div class="ui basic tab segment" data-tab="api/b">
                            <form action="" class="ui tiny form">
                                <div class="field">
                                    <label>E-mail API: </label>
                                    <input value="84723432894411">
                                </div>
                                <button class="ui green small button" type="submit">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="ui tab basic segment" data-tab="contact">
                  <div class="ui stackable doubling grid container">
                      <div class="four wide column">
                          <!-- <div class="ui header">
                              <i class="address book outline primary_color icon"></i>
                              <h2 class="content">
                                  Contact Listings
                                  <span class="sub header">Manage your contacts</span>
                              </h2>
                          </div> -->
                      </div>
                      <div class="six wide column mobile only">
                          <div class="ui small primary labeled add-user icon button">
                              <i class="add user icon"></i>Add
                          </div>
                          <div class="ui small green labeled icon button cloud-download ">
                              <i class="cloud upload icon"></i>Import
                          </div>
                      </div>
                      <div class="six wide column computer tablet only">
                          <div class="ui small primary labeled add-user icon right floated button">
                              <i class="add user icon"></i>Add
                          </div>
                          <div class="ui small green labeled cloud-download icon right floated button">
                              <i class="cloud upload icon"></i>Import
                          </div>
                      </div>
                  </div>
                  <table class="ui compact celled table" id="cp-table" style="max-width: 100%">
                      <thead>
                      <tr>
                          <th colspan="">Name</th>
                          <th>Email</th>
                          <th>Phone Number</th>
                          <th>Birthday</th>
                          <th colspan="">Actions</th>
                      </tr>
                      </thead>
                          <tbody>
                          <tr>
                              <td>{{ contact.name }}</td>
                              <td>{% if contact.email %}{{ contact.email }}{% else %}----{% endif %}</td>
                              <td>{% if contact.phone %}{{ contact.phone }}{% else %}----{% endif %}</td>
                              <td>{% if contact.address.date_of_birth %}{{ contact.address.date_of_birth }}{% else %}
                                  ----{% endif %}</td>
                              <td>
                                  {% if contact.address.date_of_birth and user.account.is_premium or user.is_staff and contact.address.date_of_birth %}
                                      {% if not contact.is_reminder_set %}
                                      <a href="{% if sub is None %}{% url 'schedule_reminder' contact.pk %}{% else %}{% url 'schedule_reminder' sub contact.pk %}{% endif %}" class="ui   tiny button">
                                          Set Reminder</a>
                                      {% endif %}
                                  {% endif %}
                                  <a ng-click="deleteContact('{{ contact.pk }}')" class="ui red tiny button"> Delete</a>
                                  <a ng-click="selectContact('{{ contact.pk }}')"
                                     class="ui blue tiny button edit-contact"> Edit</a>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                </div>
                <div class="ui tab basic segment" data-tab="reports">
                    <div class="ui two column doubling stackable grid container">
                      <div class="six wide column">
                        <div class="ui purple segment">
                          <div class="ui header">Cards</div>
                          <div class="ui relaxed divided list">
                            <div class="item">
                              <i class="large user middle aligned icon"></i>
                              <div class="content">
                                <div class="header">Ademola Stikks</div>
                                <div class="description">Card Name</div>
                              </div>
                            </div>
                            <div class="item">
                              <i class="large payment middle aligned icon"></i>
                              <div class="content">
                                <div class="header">2344343234324</div>
                                <div class="description">Card Number</div>
                              </div>
                            </div>
                            <div class="item">
                              <i class="large github middle aligned icon"></i>
                              <div class="content">
                                <div class="header">23/13/2054</div>
                                <div class="description">Date </div>
                              </div>
                            </div>
                          </div>
                        </div> <!-- end of segment-->
                      </div>
                      <div class="ten wide column">
                        <div class="ui teal segment">
                            <div class="ui header">Reports</div>
                          <div class="ui list">
                              <div class="item">
                                <i class="map marker icon"></i>
                                <div class="content">
                                  <a class="header">Krolewskie Jadlo</a>
                                  <div class="description">An excellent polish restaurant, quick delivery and hearty, filling meals.</div>
                                </div>
                              </div>
                              <div class="item">
                                <i class="map marker icon"></i>
                                <div class="content">
                                  <a class="header">Xian Famous Foods</a>
                                  <div class="description">A taste of Shaanxi's delicious culinary traditions, with delights like spicy cold noodles and lamb burgers.</div>
                                </div>
                              </div>
                              <div class="item">
                                <i class="map marker icon"></i>
                                <div class="content">
                                  <a class="header">Sapporo Haru</a>
                                  <div class="description">Greenpoint's best choice for quick and delicious sushi.</div>
                                </div>
                              </div>
                              <div class="item">
                                <i class="map marker icon"></i>
                                <div class="content">
                                  <a class="header">Enid's</a>
                                  <div class="description">At night a bar, during the day a delicious brunch spot.</div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="ui purple segment">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                      </div>
                    </div>

                </div>
                <div class="ui tab basic segment" data-tab="referrals">
                    <div class="ui two column doubling stackable grid container">
                      <div class="six wide column">
                        <div class="ui teal segment">
                          <div class="ui header">Referral Code</div>
                          <form action="" class="ui tiny form">
                              <div class="field">
                                  <label>Code: </label>
                                  <input value="40328423092340">
                              </div>
                              <div class="field">
                                  <label>URL: </label>
                                  <input value="https://urlofreferral.com">
                              </div>
                          </form>
                        </div>
                        <div class="ui orange segment">
                          <div class="ui tiny statistics">
                            <div class=" green statistic">
                              <div class="value">
                                <i class="circular users icon"></i>&nbsp; 55
                              </div>
                              <div class="label">
                                Persons
                              </div>
                            </div>
                            <div class=" blue statistic">
                              <div class="value">
                                <i class="circular payment icon"></i>&nbsp; 235
                              </div>
                              <div class="label">
                                Coins
                              </div>
                            </div>
                          </div>
                        </div> <!-- end of segment-->
                      </div>
                      <div class="ten wide column">
                        <div class="ui yellow segment">
                          <div class="ui header">Referrals List</div>
                          <table class="ui celled striped unstackable table">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>E-mail address</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>John Lilki</td>
                                <td>jhlilk22@yahoo.com</td>
                              </tr>
                              <tr>
                                <td>Jamie Harington</td>
                                <td>jamieharingonton@yahoo.com</td>
                              </tr>
                              <tr>
                                <td>Jill Lewis</td>
                                <td>jilsewris22@yahoo.com</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                </div>
                <div class="ui hidden divider"></div>
          </div>
        </div>
    </div>

    <!-- Modal for Add Contacts -->
    <div class="ui adduser small modal">
        <i class="close icon"></i>
        <div class="primary_color header">
            Add Contacts to your Kaadie profile
        </div>
        <div class="content">
            <form class="ui equal width form" method="post" action="/contacts/create">
                {% csrf_token %}
                <div class="required fields">
                    <div class="field">
                        <label>First name</label>
                        <input type="text" name="first_name" placeholder="First Name" required="">
                    </div>
                    <div class="field">
                        <label>Last name</label>
                        <input type="text" name="last_name" placeholder="Last Name">
                    </div>
                </div>
                <div class="required fields">
                    <div class="field">
                        <label>E-mail</label>
                        <input type="email" name="email" placeholder="joe@schmoe.com" required="">
                    </div>
                    <div class="field">
                        <label>Phone number</label>
                        <input type="number" name="phone" value="" placeholder="+2348011223344">
                    </div>
                    <div class="field">
                        <label>Birthday</label>
                        <input type="date" name="birthday" value="" placeholder="1907-03-20">
                    </div>
                </div>
                <div class="field">
                    <label for="address">Address</label>
                    <textarea name="address" rows="2"></textarea>
                </div>
                <div class="fields">
                    <div class="field">
                        <label for="city">City</label>
                        <input type="text" name="city" placeholder="city">
                    </div>
                    <div class="field">
                        <label for="Country">Country</label>
                        <input type="text" name="country" placeholder="country">
                    </div>
                </div>
                <button class="ui green button"> Save Contact</button>
            </form>
        </div>
    </div>
    <!--End of share modal  -->

    <div class="ui clouddownload small modal">
        <i class="close icon"></i>
        <h3 class="primary_color sub header">
            Import contact via spreadsheet
            <div style="float: right;">
                <a style="color: inherit" href="/images/sample.xlsx" download>
                    <i class="cloud download big icon"></i> Download Sample File
                </a>
            </div>
        </h3>
        <div class="content">
            <form class="ui equal width form" method="post" enctype="multipart/form-data"
                  action="">
                <div class="required fields">
                    <div class="field">
                        <label>File</label>
                        <input type="file" id="file" name="file"
                               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                               required>
                    </div>
                </div>
                <button class="ui green button"> Upload</button>
            </form>
        </div>
    </div>

    <!-- Modal for Import Contacts -->
    <div class="ui importuser small modal">
        <i class="close icon"></i>
        <div class="header">
            Import Contacts to Kaadie
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img src="[[ selected_card.image_url ]]">
            </div>
            <div class="description">
                <h3>Please select from options below</h3>
                <a href="" ng-click="shareFB()"
                   class="ui circular facebook icon button" target="_blank">
                    <i class="facebook big icon"></i>
                </a>
                <a href="" ng-click="shareIn()"
                   class="ui circular linkedin icon button" target="_blank">
                    <i class="linkedin big icon"></i>
                </a>
                <a ng-click="shareTweet()"
                   class="ui circular twitter icon button">
                    <i class="twitter big icon"></i>
                </a>
                <a ng-click="sharePinterest()"
                   class="ui circular pinterest icon button">
                    <i class="pinterest big icon"></i>
                </a>
                <a ng-click="shareGPlus()"
                   class="ui circular google plus icon button">
                    <i class="google plus big icon"></i>
                </a>
            </div>
        </div>
    </div>
    <!--End of share modal  -->

    <footer class="footer-background">
        <div class="ui three column doubling equal height stackable grid container">
            <div class="four wide column">
                <a href="/"><img src="{{ organization.logo }}" alt="Kaadie Logo" class="ui small image"/></a>
                <div class="ui hidden divider"></div>
                <small class="centered item padtop-2"> &copy; 2017. Kaadie.com or its affiliates.</small>
            </div>
            <div class="three wide column computer tablet only">
                <h3 class="ui dividing header"><b>Main Menu</b></h3>
                <div class="ui link list">
                    <div class="active item"><a href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}">Home</a></div>
                    <a class="item" href="{% if sub is None %}{% url 'about' %}{% else %}{% url 'about' sub %}{% endif %}">About Kaadie</a>
                    <a href="{% if sub is None %}{% url 'how_it_works' %}{% else %}{% url 'how_it_works' sub %}{% endif %}" class="item">How It works</a>
                </div>
            </div>
            <div class="three wide column computer tablet only">
                <h3 class="ui dividing header"><b>Other Details</b></h3>
                <div class="ui link list">
                    <a href="mailto:support@kaadie.com" class="item">Email Us</a>
                    <a href="{% if sub is None %}{% url 'terms_of_use' %}{% else %}{% url 'terms_of_use' sub %}{% endif %}" class="item">Terms of Use</a>
                    <a href="{% if sub is None %}{% url 'privacy_policy' %}{% else %}{% url 'privacy_policy' sub %}{% endif %}" class="item">Privacy Policy</a>
                </div>
            </div>
            <div class="three wide column">
                <h3 class="ui dividing header"><b>Connect with Kaadie</b></h3>
                <div class="ui link list">
                    <a class="item" href="https://www.facebook.com/Kaadiecom-1149233738494529/">
                        <i class="facebook icon"></i>
                        <div class="content">
                            Facebook
                        </div>
                    </a>
                    <a class="item" href="https://twitter.com/Kaadieworld">
                        <i class="twitter icon"></i>
                        <div class="content">
                            Twitter
                        </div>
                    </a>
                    <a class="item" href="https://www.instagram.com/kaadieworld/">
                        <i class="instagram icon"></i>
                        <div class="content">
                            Instagram
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
