{% extends 'layout.html' %}

{% block 'title' %}
    <title> Kaadie | Home</title>
{% endblock %}

{% block 'inner-script' %}
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>
    <!-- Bootstrap core CSS     -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <!--  Material Dashboard CSS    -->
    <link href="/static/css/material-dashboard.css" rel="stylesheet"/>
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet'
          type='text/css'>
    <script src="/static/js/jquery-3.1.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/js/material.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap-notify.js"></script>
    <script src="/static/js/material-dashboard.js"></script>
    <script src="/static/js/aws-sdk.min.js"></script>
{% endblock %}
{% block 'body' %}
    <div class="wrapper">
        <div class="card card-profile">
                                <div class="card-avatar">
                                    <a href="#pablo">
                                        <img class="img" src="images/profile.png"/>
                                    </a>
                                </div>
                                <div class="content">
                                    <h6 class="category text-gray">{{ account.name.title }}</h6>
                                    <small class="card-title">{{ account.email }} | {{ account.phone }}</small><br>
                                    <a data-toggle="modal" data-target="#profileModal" class="btn btn-xs btn-success btn-round">Change Profile Image</a>
                                    <div class="card-content">
                                        <ul class="nav nav-pills">
                                            <li class="active"><a data-toggle="pill" href="#profile">Profile</a></li>
                                            <li><a data-toggle="pill" href="#saved-card">Saved Card</a></li>
                                            <li><a data-toggle="pill" href="#sent-card">Sent Card</a></li>
                                            <li><a data-toggle="pill" href="#shared-card">Shared Card</a></li>
                                            <li><a data-toggle="pill" href="#received-card">Received Card</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
        <div class="main-panel">
            <div class="container-fluid">
            <h2>Dynamic Pills</h2>
            <p>To make the tabs toggleable, add the data-toggle="pill" attribute to each link. Then add a .tab-pane
                class with a
                unique ID for every tab and wrap them inside a div element with class .tab-content.</p>
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
                <li><a data-toggle="pill" href="#menu1">Menu 1</a></li>
                <li><a data-toggle="pill" href="#menu2">Menu 2</a></li>
                <li><a data-toggle="pill" href="#menu3">Menu 3</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <h3>HOME</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua.</p>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <h3>Menu 1</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3>Menu 2</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam
                        rem aperiam.</p>
                </div>
                <div id="menu3" class="tab-pane fade">
                    <h3>Menu 3</h3>
                    <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                        explicabo.</p>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}