{% extends 'layout.html' %}

{% block 'title' %}
    <title> Kaadie | Notifications </title>
{% endblock %}

{% block 'scripts' %}
    <!-- Script files  -->
    <script type="text/javascript">
        var mark = function (notification_id) {
            var url = '/notification/' + notification_id + '/mark';
            $.post(url, function (data, status) {
                console.log(data);
                console.log(status);
            })
        }
    </script>
{% endblock %}

{% block 'body' %}
    <div class="ui container">
        <div class="row">
            <div class="ui hidden divider"></div>
            <div class="ui large header">{% now "jS F Y" %}</div>
            {% if user.account.notifications.count > 0 %}
                <div class="ui icon tiny message">
                    <i class="bell icon primary_color"></i>
                    <div class="content">
                        <div class="header">
                            Your Notifications
                        </div>
                        <p>Manage your notifications below</p>
                    </div>
                </div>
            {% endif %}
            <div class="ui hidden divider"></div>
        </div>
        <div class="column">
            {% if notifications|length > 0 %}
                <table class="ui compact very basic fixed striped table" id="contact-table" style="max-width: 100%">
                    <thead>
                        <tr>
                            <th class="two wide"></th>
                            <th class="twelve wide"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for notification in notifications %}
                            <tr>
                                <td>{{ notification.date_created | date }}</td>
                                <td>
                                    <a href="{{ notification.link }}" onclick="mark({{ notification.id }})">{{ notification.body }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="ui icon tiny message">
                    <i class="alert icon"></i>
                    <div class="content">
                        <h3 class="header" style="text-align: center">
                            You have no notifications now.
                        </h3>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="ui hidden divider"></div>
    </div>
{% endblock %}
