{% extends 'layout.html' %}

{% block 'title' %}
    <title> Kaadie | Send Card</title>
{% endblock %}

{% block 'inner-script' %}
    <style media="screen">
        canvas {
            border: 3px solid #999;
            border-radius: 5px;
        }

        .ui.text.container > .canvas-container {
            margin: 0 auto;
        }

        .imageUpload {
            position: relative;
        }

        .imageUpload input.upload {
            cursor: pointer;
            font-size: 22px;
            margin: 2px;
            opacity: 0;
            padding: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 5.7em;
        }
        /*For select2-search__field*/
        input.select2-search__field {
          border: none !important;
        }
        .select2-container {
          width: 100% !important;
        }
        .select2-container--default .select2-selection--multiple {
            background-color: white;
            border: 1px solid rgba(34,36,38,.15);
        }
    </style>
    <script src="/static/js/jquery.min.js"></script>
    <script>
        $(window).load(function () {
            $(".loader").fadeOut("slow")
        })
    </script>
{% endblock %}

{% block 'scripts' %}
    <!-- Script files  -->
    <script type="text/javascript">
        $(function () {
          $('.tabular.menu .item').tab({
              //history: false
          });
          // Accordion
          $('.ui.accordion')
              .accordion();
          // initializing dimmer on cards when you hover
          $('.special.card  .image').dimmer({
              on: 'hover'
          });
          // initializing share button when you click
          // First modal
          $(".share-icon").click(function () {
              $(".ui.share.small.modal").modal("show");
          });
          // Zoom modal
          $(".expand-button").click(function () {
              $(".ui.expand.small.modal").modal("show");
          });
          // Edit
          $(".edit-button").click(function () {
              $(".ui.edit.small.modal").modal("show");
          });
          //Message
          $('#close_message')
              .on('click', function () {
                  $(this).closest('.message').transition('fade');
              });
          //FAILURE modal

          // Multiple Selection Dropdowns
          $('.multiple.search.selection.dropdown').dropdown({
              on: 'Hover',
              allowAdditions: true,
              forceSelection: false,
              hideAdditions: false,
          });

          // TO HIDE send via SMS options
          $('#sms-checkbox').click(function () {
              var inputValue = $(this).attr("value");
              $("." + inputValue).toggle();
          });

          // TO HIDE send via CSV options
          $('#csv-checkbox').click(function () {
              var inValue = $(this).attr("value");
              $("." + inValue).toggle();
          });

          // Select Field of Email
          function validateEmail(email) {
              var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
              return re.test(email);
          }

          $(".js-example-tokenizer").select2({
            tags: true,
            createTag: function(term, data) {
                var value = term.term;
                if(validateEmail(value)) {
                    return {
                      id: value,
                      text: value
                    };
                }
                return null;
            },
            tokenSeparators: [',', ' '],
            placeholder: 'Enter email address(es)'
          });

        });
        attachEvent(window, 'load', function () {
            {% if sent_success %}
                var idleSeconds = 30;
                var idleTimer;
                function resetTimer() {
                    clearTimeout(idleTimer);
                    idleTimer = setTimeout(whenUserIdle, idleSeconds * 1000);
                }
                attachEvent(document.body, 'mousemove', resetTimer);
                attachEvent(document.body, 'keydown', resetTimer);
                attachEvent(document.body, 'click', resetTimer);

                resetTimer(); // Start the timer when the page loads
            {% endif %}
        });

        function whenUserIdle() {
            location.href = location.origin
        }

        function attachEvent(obj, evt, fnc, useCapture) {
            if (obj.addEventListener) {
                obj.addEventListener(evt, fnc, !!useCapture);
                return true;
            } else if (obj.attachEvent) {
                return obj.attachEvent("on" + evt, fnc);
            }
        }
    </script>

    <!-- Script for Edit Card-->
    <!-- Script files  -->
    <script src="/static/js/fabric.min.js"></script>
    <script type="text/javascript">
        // variables declaration
        document.getElementById('imageCanvas').width = 432;
        document.getElementById('imageCanvas').height = 326;
        var canvasOriginalWidth = 432,
            canvasOriginalHeight = 326,
            canvasWidth = 432,
            canvasHeight = 326;

        {% if ua.is_mobile %}
            document.getElementById('imageCanvas').width = 200;
            document.getElementById('imageCanvas').height = 150;
            canvasOriginalWidth = 200;
            canvasOriginalHeight = 150;
            canvasWidth = 200,
                canvasHeight = 150;
        {% endif %}

        var canvas,
            imgWidth,
            imgHeight,
            bgImage,
            canvasScale = 1,
            photoUrl = '{{ image }}'; // photoUrl will be dynamic  432,326

        // initialize fabricJs
        var canvas = new fabric.Canvas('imageCanvas', {
            backgroundColor: 'rgb(236, 240, 241)'
        });
        // zoom canvas function
        function setCanvasZoom() {
            canvasWidth = canvasOriginalWidth * canvasScale;
            canvasHeight = canvasOriginalHeight * canvasScale;

            canvas.setWidth(canvasWidth);
            canvas.setHeight(canvasHeight);
        }

        setCanvasZoom();

        $('#zoomin').click(function () {
            canvasScale *= 1.15;
            scaleAndPositionImage();
        });
        $('#zoomout').click(function () {
            canvasScale /= 1.15;
            scaleAndPositionImage();
        });

        //
        function setCanvasBackgroundImageUrl(url) {
            if (url && url.length > 0) {
                fabric.Image.fromURL(url, function (img) {
                    bgImage = img;
                    scaleAndPositionImage();
                });
            } else {
                canvas.backgroundImage = 0;
                canvas.setBackgroundImage('', canvas.renderAll.bind(canvas));
                canvas.renderAll();
            }
        }

        // image positioning
        function scaleAndPositionImage() {
            setCanvasZoom();

            var canvasAspect = canvasWidth / canvasHeight;
            var imgAspect = bgImage.width / bgImage.height;
            var left, top, scaleFactor;


            if (canvasAspect >= imgAspect) {
                var scaleFactor = canvasWidth / bgImage.width;
                left = 0;
                top = -((bgImage.height * scaleFactor) - canvasHeight) / 2;
            } else {
                var scaleFactor = canvasHeight / bgImage.height;
                top = 0;
                left = -((bgImage.width * scaleFactor) - canvasWidth) / 2;

            }
            canvas.setBackgroundImage(bgImage, canvas.renderAll.bind(canvas), {
                top: top,
                left: left,
                originX: 'left',
                originY: 'top',
                scaleX: scaleFactor,
                scaleY: scaleFactor
            });
            canvas.renderAll();
        }

        // initialize backgroundImage function
        setCanvasBackgroundImageUrl('{{ image }}', 0, 0, 1);

        //determine Canvas size
        function setCanvasSize(canvasSizeObject) {
            canvas.setWidth(canvasSizeObject.width);
            canvas.setHeight(canvasSizeObject.height);
        }

        setCanvasSize({height: canvasHeight, width: canvasWidth});

        //Moving and Deleting Shapes with the Keyboard
        document.body.addEventListener('keydown', function (event) {
            if (event.keyCode == 37) {
                var obj = canvas.getActiveObject();
                if (!obj) return;
                obj.left -= 1;
                canvas.renderAll();
            }
            if (event.keyCode == 38) {
                var obj = canvas.getActiveObject();
                if (!obj) return;
                obj.top -= 1;
                canvas.renderAll();
            }
            if (event.keyCode == 39) {
                var obj = canvas.getActiveObject();
                if (!obj) return;
                obj.left += 1;
                canvas.renderAll();
            }
            if (event.keyCode == 40) {
                var obj = canvas.getActiveObject();
                if (!obj) return;
                obj.top += 1;
                canvas.renderAll();
            }
            if (event.keyCode == 46) {
                if (canvas.getActiveGroup()) {
                    canvas.getActiveGroup().forEachObject(function (a) {
                        canvas.remove(a);
                    });
                    canvas.discardActiveGroup();
                    canvas.deactivateAll().renderAll();
                } else {
                    canvas.getActiveObject().remove();
                }
            }
        });

        var imageLoader = document.getElementById('imageLoader');
        imageLoader.addEventListener('change', handleImage, false);

        function handleImage(e) {
            var reader = new FileReader();
            reader.onload = function (event) {
                var img = new Image();
                img.onload = function () {
                    var imgInstance = new fabric.Image(img, {
                        scaleX: 0.2,
                        scaleY: 0.2
                    })
                    canvas.add(imgInstance);
                }
                img.src = event.target.result;
            }
            reader.readAsDataURL(e.target.files[0]);
        }

        // AddText function onclick="AddText()"
        $('#addtext').click(function () {
            canvas.add(new fabric.IText('Sample Text', {
                    left: 50,
                    top: 100,
                    fontFamily: 'Lato',
                    fill: '#333',
                    fontSize: 40
                })
            ).bringToFront();
        });

        // change text color
        document.getElementById('text-color').onchange = function () {
            canvas.getActiveObject().setFill(this.value);
            canvas.renderAll();
        };

        // change font family
        document.getElementById('font-family').onchange = function () {
            canvas.getActiveObject().setFontFamily(this.value);
            canvas.renderAll();
        };

        // Delete element function
        $('#deleteElement').click(function () {
            if (canvas.getActiveGroup()) {
                canvas.getActiveGroup().forEachObject(function (a) {
                    canvas.remove(a);
                });
                canvas.discardActiveGroup();
                canvas.deactivateAll().renderAll();
            } else {
                canvas.getActiveObject().remove();
            }
        });

        //Saving Card image from canvas
        var imageSaver = document.getElementById('imageSaver');
        imageSaver.addEventListener('click', saveImage, false);

        function saveImage(e) {
            var card_image = canvas.toDataURL({
                format: 'jpeg',
                quality: 0.8
            });
            document.getElementById('card_image').value = card_image;
            $(".ui.edit.small.modal").modal("hide");
            document.getElementById('card-image').src = card_image;
        }


    </script>

{% endblock %}

{% block 'body' %}
    <div ng-controller="IndexController" ng-init="initialize('{{ saved_ids }}')">
        <div class="ui very padded text  container">
            <h2 class="ui center aligned header padtop-1 ">
                Send a card from <span class="ui header primary_color">Kaadie</span>
                <div class="sub header">Enter details for your card delivery</div>

                {% if user.is_authenticated %}
                    {% if user.is_premium is False and user.account.sent_count >= sending_limit %}
                        <p style="color: #a00000">You have exceeded your sending limit</p>
                    {% endif %}
                {% endif %}

                {% if storage %}
                    <ul class="messages">
                        {% for message in storage %}
                            <li {% if message.tags %} style="color: #a41515" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </h2>
            {% if sent_success %}
                <div class="ui icon positive message">
                    <i class="send teal icon"></i>
                    <i class="right floated close icon" id="close_message"></i>
                    <div class="content">
                        <div class="header">
                            Congratulations!
                        </div>
                        <h3>Card sent successfully from <span class="primary_color"><b>Kaadie</b></span></h3>
{#>>>>>>> d47220c7c22341c3027bec569ebeed8ba5c22c0c#}
                    </div>
                </div>
            {% endif %}
            {% if sent_failure %}
                <div class="ui icon negative message">
                    <i class="remove icon"></i>
                    <i class="right floated close icon"></i>
                    <div class="content">
                        <div class="header">
                            Oops!
                        </div>
                        <p>Sorry, your card was not sent!</p>
                    </div>
                </div>
            {% endif %}
            <div class="ui hidden divider"></div>
        </div>
        <!-- Three Column for cards and input fields -->
        <div class="ui three column stackable grid container">
            <div class="column">
                <div class="ui special centered card">
                    <div class="blurring dimmable image">
                        <div class="ui inverted dimmer">
                            <div class="content">
                                <div class="center">
                                    <span class="expand-button">
                                        <button class="ui teal  button"><i class="zoom icon"></i>Zoom</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <img src="{{ card.image_url }}" id="card-image">
                    </div>

                    <div class="content">
                        {% if user.is_authenticated %}
                            <span class="share-icon" ng-click="share('{{ card.pk }}')">
                                <i class="right floated link share alternate large green icon"></i>
                            </span>
                            {% if card not in saved_cards %}
                                <span class="sav-icon" ng-click="saveCard('{{ card.pk }}')" ng-show="can_save('{{ card.pk }}')">
                                    <i class="right floated link bookmark green large icon"></i>
                                </span>
                            {% endif %}
                        {% else %}
                            <a class="" href="{% if sub is None %}{% url 'login' %}?next={% url 'card' card.slug %}{% else %}{% url 'login' sub %}?next={% url 'card' sub card.slug %}{% endif %}">
                                <i class="right floated link share alternate large green icon"></i>
                            </a>
                            {% if card not in saved_cards %}
                                <a class="" href="{% if sub is None %}{% url 'login' %}?next={% url 'card' card.slug %}{% else %}{% url 'login' sub %}?next={% url 'card' sub card.slug %}{% endif %}">
                                    <i class="right floated link bookmark green large icon"></i>
                                </a>
                            {% endif %}
                        {% endif %}
                        <a class="header cursive-font primary_color" href="{% if sub is None %}{% url 'card' card.slug %}{% else %}{% url 'card' sub card.slug %}{% endif %}">{{ card.title }}</a>
                        <div class="meta">
                            <span class="date ">{{ card.description }}</span>
                        </div>
                    </div>

                    <div class="extra content">
{#                          <span class="left floated primary_color icon-popup" data-tooltip="Send Count"#}
{#                                data-position="bottom center">#}
{#                            <i class="send blue icon"></i>#}
{#                            {{ card.sent_counts }}#}
{#                          </span>&nbsp;#}
{#                        <span class="floated primary_color icon-popup" data-tooltip="Share Count"#}
{#                              data-position="bottom center">#}
{#                            <i class="share alternate black icon"></i>#}
{#                            {{ card.shared_count }}#}
{#                          </span>&nbsp;#}
{#                        <span class="floated primary_color icon-popup" data-tooltip="Saved Count"#}
{#                              data-position="bottom center">#}
{#                            <i class="bookmark red icon"></i>#}
{#                            {{ card.saved_counts }}#}
{#                          </span>#}

                        {% if user.is_authenticated %}
                            {% if user.is_staff or user.account.is_premium %}
                                <span class="left floated primary_color right floated edit-button">
                                    <button class="ui button" id="frame">Personalize</button>
                                </span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
{#<<<<<<< HEAD#}
{#        </div>#}
{#        <!-- First column end -->#}
{#        <div class="column">#}
{#            <div class="ui secondary pointing menu">#}
{#                <a class="active item" data-tab="email_section">#}
{#                    Delivery Details#}
{#                </a>#}
{#            </div>#}
{#            <div class="ui segment">#}
{#                <form class="ui form" method="post" {% if sub is None %}action="{% url 'send_card' card.slug %}"#}
{#                      {% else %}action="{% url 'send_card' sub card.slug %}"{% endif %}#}
{#                      enctype="multipart/form-data">#}
{#                    <h4 class="ui dividing header">Info</h4>#}
{#                    <div class="required field">#}
{#                        <label>Send Card To Email:</label>#}
{#                        <!-- <div class="ui fluid multiple search selection dropdown" id="multi-select">#}
{#                            <input type="hidden" name="receipt" tabindex="0">#}
{#                            <i class="dropdown icon"></i>#}
{#                            <div class="default text">#}
{#                              <i class="mail icon"></i>#}
{#                              Email Contacts#}
{#=======#}
            <!-- First column end -->
            <div class="column">
                <div class="ui secondary pointing menu">
                    <a class="active item" data-tab="email_section">
                        Delivery Details
                    </a>
                </div>
                <div class="ui segment">
                    <form class="ui form" method="post" {% if sub is None %}action="{% url 'send_card' card.slug %}"
                          {% else %}action="{% url 'send_card' sub card.slug %}"{% endif %}
                          enctype="multipart/form-data">
                        <h4 class="ui dividing header">Info</h4>
                        <div class="required field">
                            <label>Send Card To Email:</label>
                            <div class="ui fluid multiple search selection dropdown" id="multi-select">
                                <input type="hidden" name="receipt" tabindex="0">
                                <i class="dropdown icon"></i>
                                <div class="default text">
                                  <i class="mail icon"></i>
                                  Email Contacts
                                </div>
                                <div class="menu">
                                    {% for contact in user.account.contacts.all %}
                                        {% if contact.email %}
                                            <div class="item" data-value="{{ contact.email }}"
                                                 data-text="{{ contact.name }}">
                                                {% if contact.image_url %}
                                                    <img class="ui mini avatar image" src="{{ contact.image_url }}">
                                                    {{ contact.name }}
                                                {% else %}
                                                    <img class="ui mini avatar image" src="/images/profile.png">
                                                    {{ contact.name }}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
{#>>>>>>> d47220c7c22341c3027bec569ebeed8ba5c22c0c#}
                            </div>
                            <!-- Checkbox for send via sms option -->
    {#                     <div class="ui hidden divider"></div>#}
                            <div class="inline fields">
    {#                            <div class="field">#}
    {#                                <div class="ui checkbox">#}
    {#                                    <input type="checkbox" name="sms-option" value="sms-option" id="sms-checkbox">#}
    {#                                    <label>Send Via SMS</label>#}
    {#                                </div>#}
    {#                            </div>#}
                                {% if user.is_authenticated %}
                                    {% if user.account.is_premium %}
                                        <div class="field">
                                            <div class="ui checkbox">
                                                <input type="checkbox" name="csv-option" value="csv-option"
                                                       id="csv-checkbox"
                                                       accept="text/csv">
                                                <label>Upload CSV file</label>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
{#<<<<<<< HEAD#}
{#                        </div> -->#}
{#                        <select class="js-example-tokenizer" name="receipt" multiple="multiple">#}
{#                          {% for contact in user.account.contacts.all %}#}
{#                                {% if contact.email %}#}
{#                                  <option value="{{ contact.email }}">{{ contact.name }}</option>#}
{#                                {% endif %}#}
{#                          {% endfor %}#}
{#                        </select>#}
{#                        <!-- Checkbox for send via sms option -->#}
{#                     <div class="ui hidden divider"></div>#}
{#                        <div class="inline fields">#}
{#                            <div class="field">#}
{#                                <div class="ui checkbox">#}
{#                                    <input type="checkbox" name="sms-option" value="sms-option" id="sms-checkbox">#}
{#                                    <label>Send Via SMS</label>#}
{#                                </div>#}
{#                            </div>#}
{#                            {% if user.is_authenticated %}#}
{#                                {% if user.account.is_premium %}#}
{#                                    <div class="field">#}
{#                                        <div class="ui checkbox">#}
{#                                            <input type="checkbox" name="csv-option" value="csv-option"#}
{#                                                   id="csv-checkbox"#}
{#                                                   accept="text/csv">#}
{#                                            <label>Upload CSV file</label>#}
{#                                        </div>#}
{#=======#}
    {#                        <div id="sms-field" class="sms-option" style="display:none;">#}
    {#                            <div class="required field">#}
    {#                                <label>To Recipient Phone:</label>#}
    {#                                <div class="ui fluid multiple search selection dropdown">#}
    {#                                    <input type="hidden" name="receipt_phone">#}
    {#                                    <i class="dropdown icon"></i>#}
    {#                                    <div class="default text">08011111111</div>#}
    {#                                    <div class="menu">#}
    {#                                        {% if user.is_authenticated %}#}
    {#                                            {% for con in user.account.contacts.all %}#}
    {#                                                {% if con.address.phone %}#}
    {#                                                    <div class="item" data-value="{{ con.address.phone }}"#}
    {#                                                         data-text="{{ con.name }}">#}
    {#                                                        {% if con.image_url %}#}
    {#                                                            <img class="ui mini avatar image"#}
    {#                                                                 src="{{ con.image_url }}">#}
    {#                                                            {{ con.name }}#}
    {#                                                        {% else %}#}
    {#                                                            <img class="ui mini avatar image"#}
    {#                                                                 src="/images/profile.png">#}
    {#                                                            {{ con.name }}#}
    {#                                                        {% endif %}#}
    {#                                                    </div>#}
    {#                                                {% endif %}#}
    {#                                            {% endfor %}#}
    {#                                        {% endif %}#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
                            <div id="csv-field" class="csv-option" style="display:none;">
                                <div class="required field">
                                    <label>Upload CSV: </label>
                                    <a href="/images/sample.xlsx" style="float: right; color: inherit" download>
                                        <i class="inverted circular download link icon"></i>&nbsp;Download Sample
                                    </a>
                                    <div class="ui icon input">
                                        <input type="file" name="csv" id="csv">
{#>>>>>>> d47220c7c22341c3027bec569ebeed8ba5c22c0c#}
                                    </div>
                                </div>
                            </div>
                            <div class="required field">
                                <label>From: </label>
                                <div class="field">
                                    <input type="text" name="sender_name" placeholder="Your name as it will appear"
                                           {% if user.is_authenticated %}value="{{ user.account.name }}"{% endif %}
                                           required>
                                    <input type="hidden" value="{{ card.pk }}" name="card_id">
                                </div>
                            </div>
                            <div class="field">
                                <input type="hidden" id="card_image" name="card_image">
                                <label for="message">Message</label>
                                <textarea rows="3" name="message" id="message" required></textarea>
                            </div>
                            {% if card.price > 0 %}
                                <h4 class="ui dividing header">Payment Information</h4>
                                <div class="field">
                                    <label>Card Type</label>
                                    <div class="ui selection dropdown">
                                        <input type="hidden" name="card[type]">
                                        <div class="default text">Type</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            <div class="item" data-value="visa">
                                                <i class="visa icon"></i>
                                                Visa
                                            </div>
                                            <div class="item" data-value="mastercard">
                                                <i class="mastercard icon"></i>
                                                Master Card
                                            </div>
                                            <div class="item" data-value="paypal">
                                                <i class="paypal icon"></i>
                                                Paypal
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="two fields">
                                        <div class="field">
                                            <label>Card Number</label>
                                            <input type="text" name="card[number]" maxlength="16" placeholder="Card #">
                                        </div>
                                        <div class="field">
                                            <label>CVC</label>
                                            <input type="text" name="card[cvc]" maxlength="3" placeholder="CVC">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label>Expiration</label>
                                        <div class="two fields">
                                            <div class="field">
                                                <select class="ui fluid search dropdown" name="card[expire-month]">
                                                    <option value="">Month</option>
                                                    <option value="1">January</option>
                                                    <option value="2">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                            </div>
                                            <div class="field">
                                                <input type="text" name="card[expire-year]" maxlength="4"
                                                       placeholder="Year">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <button class="ui green button" tabindex="0"
                                {% if user.is_authenticated %}{% if not user.account.is_premium and not user.is_staff and user.account.sent_count > sending_limit %}disabled{% endif %}{% endif %}>Send Card
                        </button>
                    </form>
                </div>

                <div class="ui bottom attached mini message">
                    <i class="small circular inverted teal icon info"></i>
                    Cards are sent and sold by <a
                        href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}">Kaadie</a>.
                    Kaadie sent cards are subject <a
                        href="{% if sub is None %}{% url 'terms_of_use' %}{% else %}{% url 'terms_of_use' sub %}{% endif %}">Terms
                    and Conditions</a>.
                </div>
                <div class="ui hidden divider"></div>
            </div><!-- Second column end -->

            <div class="column">
                <div class="ui sub header">You may also like these cards:</div>
                <div class="ui hidden divider"></div>
                <div class="ui tiny images">
                    {% for card in random_cards %}
                        <a href="{% if sub is None %}{% url 'send_card' card.slug %}{% else %}{% url 'send_card' sub card.slug %}{% endif %}"
                           class="ui medium image">
                            <img src="{{ card.image_url }}">
                        </a>
                    {% endfor %}
                </div>
            </div>  <!-- Third Column  -->

        </div>
        <!-- ******
            2 MODALs NOW
        ******* -->
        <!-- MODAL FOR SHARE -->
        <div class="ui share small modal">
            <i class="close icon"></i>
            <div class="header">
                With love from Kaadie
            </div>
            <div class="image content">
                <div class="ui medium image">
                    <img src="{{ card.image_url }}">
                </div>
                <div class="description">
                    <h3>Please select from options below</h3>
                    <a href="" ng-click="shareFB()"
                       class="ui circular facebook icon button" target="_blank">
                        <i class="facebook big icon"></i>
                    </a>
                    <a href="" ng-click="shareIn()"
                       class="ui circular linkedin icon button" target="_blank">
                        <i class="linkedin big icon"></i>
                    </a>
                    <a ng-click="shareTweet()"
                       class="ui circular twitter icon button">
                        <i class="twitter big icon"></i>
                    </a>
                    <a ng-click="sharePinterest()"
                       class="ui circular pinterest icon button">
                        <i class="pinterest big icon"></i>
                    </a>
                    <a class="ui circular whatsapp green icon button">
                        <i class="whatsapp white big icon"></i>
                    </a>
                    <a ng-click="shareGPlus()"
                       class="ui circular google plus icon button">
                        <i class="google plus big icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <!--End of share modal  -->

        <!-- BEGIN OF EXPAND modal  -->
        <div class="ui expand small modal">
            <i class="close icon"></i>
            <div class="header">
                Share Card from Kaadie
            </div>
            <div class="image content">
                <div class="ui fluid image">
                    <img src="{{ card.image_url }}">
                </div>
            </div>
        </div>
        <!-- BEGIN OF EXPAND modal  -->
        <div class="ui edit small modal">
            <i class="close icon"></i>
            <div class="header">
                Edit Card on Kaadie
            </div>
            <div class="ui basic segment">
                <div class="ui five buttons">
                    <button class="ui icon button imageUpload">
                        <i class="upload icon"></i>Upload
                        <input class="upload" type="file" id="imageLoader" name="imageLoader" accept="image/*"/>
                    </button>
                    <button class="ui icon button" id="deleteElement">
                        <i class="trash icon"></i>Del
                    </button>
                    <button class="ui icon button" id="addtext">
                        Add Text <i class="edit icon"></i>
                    </button>
                    <button class="ui icon button" id="zoomin">
                        Zoom In <i class="plus icon"></i>
                    </button>
                    <button class="ui icon button" id="zoomout">
                        Zoom Out <i class="minus icon"></i>
                    </button>
                </div>
                <div class="ui form">
                    <div class="fields">
                        <div class="four wide field">
                            <label>Fonts</label>
                            <select class="ui fluid dropdown" id="font-family">
                                <option value="arial">Arial</option>
                                <option value="comic sans ms">Comic Sans MS</option>
                                <option value="courier">Courier</option>
                                <option value="georgia">Georgia</option>
                                <option value="handlee">Handlee</option>
                                <option value="impact">Impact</option>
                                <option value="Lato" selected="">Lato</option>
                                <option value="verdana">Verdana</option>
                            </select>
                        </div>
                        <div class="four wide field">
                            <label>Text Color</label>
                            <input type="color" value="" id="text-color" size="10">
                        </div>

                    </div>
                </div>
                <div class="ui hidden divider"></div>
                <!-- canvas -->
                <div class="ui text container">
                    <canvas id="imageCanvas" width="432" height="326"></canvas>
                </div>

                <div class="ui divider"></div>
                <!-- Save image -->
                <a class="ui blue button" id="imageSaver" href="#">Save changes</a>
            </div>
        </div>
    </div>

{% endblock %}
