{% extends 'layout.html' %}

{% block 'inner-script' %}
  <style media="screen">
    /*For select2-search__field*/
    input.select2-search__field {
      border: none !important;
    }
    .select2-container {
      width: 100% !important;
    }
    .select2-container--default .select2-selection--multiple {
        background-color: white;
        border: 1px solid rgba(34,36,38,.15);
    }
  </style>
{% endblock %}

{% block 'scripts' %}
    <!-- Script files  -->
    <script type="text/javascript">
        $(function () {
            // Accordion
            $('.ui.accordion').accordion();
            //Send button modal
            $("button.send_button").click(function () {
                $(".ui.send.small.modal").modal("show");
            });
            // Multiple Selection Dropdowns
            $('#dropdown_email').dropdown({
                allowAdditions: true,
                forceSelection: false,
                hideAdditions: false
            });
            $('#dropdown_sms').dropdown({
                allowAdditions: true,
                forceSelection: false,
                hideAdditions: false
            });

            // TO HIDE send via SMS options
            $('#sms-checkbox').click(function () {
                var inputValue = $(this).attr("value");
                $("." + inputValue).toggle();
            });

            // Select Field of Email
            function validateEmail(email) {
                var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }

            $(".js-example-tokenizer").select2({
              tags: true,
              createTag: function(term, data) {
                  var value = term.term;
                  if(validateEmail(value)) {
                      return {
                        id: value,
                        text: value
                      };
                  }
                  return null;
              },
              tokenSeparators: [',', ' '],
              placeholder: 'Enter email address(es)'
            });

        });
        var shareModal = function () {
            $(".ui.share.small.modal").modal("show");
        };

        var sendModalShow = function () {
            $('.special.cards .image').dimmer({
                on: 'hover'
            });
        };

        var sendModal = function () {
            $(".ui.send.small.modal").modal("show");
        };
    </script>

{% endblock %}

{% block 'body' %}

    <div class="owl-carousel owl-theme">
        {% for banner in banners %}
            <div class="item">
                <a href="{{ banner.link }}">
                    <div class="ui large">
                        <img class="ui fluid image" src="{{ banner.image_url }}">
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <!-- <div class="ui main grid"> -->

    <div ng-controller="IndexController" ng-init="initialize('{{ saved_ids }}')">
        <!-- Begin of Featured segment -->
        <div class="ui container">
            {% if featured_cards|length > 0 %}
                <div class="ui featured basic segment">
                    <h1 class="ui dividing header primary_color cursive-font">
                        Featured Cards
                    </h1>
                    <div class="ui four doubling special centered cards">
                        <!-- Begin of Card -->
                        {% for card in featured_cards %}
                            <div class="card">
                                <div class="blurring dimmable image">
                                    <div class="ui inverted dimmer">
                                        <div class="content">
                                            <div class="center">
                                                {% if user.is_authenticated %}
                                                    <button class="ui icon button send_button"
                                                            ng-click='share("{{ card.pk }}", "{{ card.image_url }}")'>
                                                        <i class="send icon"></i>
                                                        Send Card Now
                                                    </button>
                                                {% else %}
                                                    <a href="{% if sub is None %}{% url 'send_card' card.slug %}{% else %}{% url 'send_card' sub card.slug %}{% endif %}"
                                                       class="ui icon button send_button">
                                                        <i class="send icon"></i>
                                                        Send Card Now
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <img src="{{ card.image_url }}">
                                </div>
                                {% if user.is_authenticated %}
                                    <div class="content">
                                              <span class="share-icon"
                                                    ng-click='share("{{ card.pk }}", "{{ card.image_url }}")'>
                                                <i class="right floated link share alternate green large icon"></i>
                                              </span>
                                        {% if card not in saved_cards %}
                                            <span class="save-icon" ng-show="can_save('{{ card.pk }}')"
                                                  ng-click="saveCard('{{ card.pk }}')">
                                                <i class="right floated link bookmark green large icon"></i>
                                            </span>
                                        {% endif %}
                                        <a class="cursive-font primary_color"
                                           href="{% if sub is None %}{% url 'card' card.slug %}{% else %}{% url 'card' sub card.slug %}{% endif %}"><i
                                                class="ui zoom icon"></i></a>
                                        <!-- <div class="meta overflow">
                                            <span class="date">{{ card.description }}</span>
                                        </div> -->
                                    </div>
                                {% else %}
                                    <div class="content">
                                        <a href="{% if sub is None %}{% url 'login' %}?next={% url 'card' card.slug %}{% else %}{% url 'login' sub %}?next={% url 'card' sub card.slug %}{% endif %}"
                                           class="">
                                            <i class="right floated link share alternate green large icon"></i>
                                        </a>
                                        {% if card not in saved_cards %}
                                            <a href="{% if sub is None %}{% url 'login' %}?next={% url 'card' card.slug %}{% else %}{% url 'login' sub %}?next={% url 'card' sub card.slug %}{% endif %}"
                                               class="">
                                                <i class="right floated link bookmark green large icon"></i>
                                            </a>
                                        {% endif %}
                                        <a class="cursive-font primary_color"
                                           href="{% if sub is None %}{% url 'card' card.slug %}{% else %}{% url 'card' sub card.slug %}{% endif %}"><i
                                                class="ui zoom icon"></i></a>
                                        <!-- <div class="meta overflow">
                                            <span class="date ellipsis">{{ card.description }}</span>
                                        </div> -->
                                    </div>
                                {% endif %}
                                <!-- <div class="extra content" id="extra-content-card">
                                        <span class="right floated primary_color">
                                            <i class="money   icon"></i>
                                            <b>${{card.price }}</b>
                                          </span>
                                        <span class="icon-popup" data-tooltip="Your Saved Cards" data-position="bottom center"></span>
                                        <span class="left floated primary_color icon-popup" data-tooltip="Send Count"
                                              data-position="bottom center">
                                           <i class="send blue icon"></i>
                                           {{ card.sent_counts }}
                                         </span>&nbsp;
                                        <span class="floated primary_color icon-popup" data-tooltip="Share Count"
                                              data-position="bottom center">
                                           <i class="share alternate black icon"></i>
                                           {{ card.shared_cards.count }}
                                         </span>&nbsp;
                                        <span class="floated primary_color icon-popup" data-tooltip="Saved Count"
                                              data-position="bottom center">
                                           <i class="bookmark red icon"></i>
                                           {{ card.saved_counts }}
                                         </span>
                                    </div> -->
                            </div>
                            <!-- End of Card -->
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <!-- Section  -->
            {% if is_search %}
                {% for category in categories %}
                    {% if category.cards|length > 0 %}
                        <div class="ui featured basic segment">
                            <h1 class="ui dividing header  cursive-font">
                                <a class="primary_color"
                                   href="/sections/{{ category.section_id }}/{{ category.slug }}">{{ category.title }}</a>
                            </h1>
                            <div class="">
                                <!-- Begin of Card  -->
                                <div class="ui four doubling special centered cards">
                                    {% for card in category.cards|slice:":4" %}
                                        <div class="card">
                                            <div class="blurring dimmable image">
                                                <div class="ui inverted dimmer">
                                                    <div class="content">
                                                        <div class="center">
                                                            {% if user.is_authenticated %}
                                                                <button class="ui icon button send_button"
                                                                        ng-click='share("{{ card.pk }}", "{{ card.image_url }}")'
                                                                        onclick="sendModal()">
                                                                    <i class="send icon"></i>
                                                                    Send Card Now
                                                                </button>
                                                            {% else %}
                                                                <a {% if sub is None %}href="/cards/{{ card.slug }}/send"
                                                                   {% else %}href="/{{ sub }}/cards/{{ card.slug }}/send"{% endif %}
                                                                   class="ui icon button send_button">
                                                                    <i class="send icon"></i>
                                                                    Send Card Now
                                                                </a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <img data-ng-src="{{ card.image_url }}" onmouseover="sendModalShow()">
                                            </div>
                                            {% if user.is_authenticated %}
                                                <div class="content">
                                                  <span class="" onclick="shareModal()"
                                                        ng-click='share("{{ card.pk }}", "{{ card.image_url }}")'>
                                                      <i class="right floated link share alternate green large icon share-icon"></i>
                                                  </span>
                                                    <span class="save-icon" ng-show="can_save('{{ card.pk }}')"
                                                          ng-click="saveCard('{{ card.pk }}')">
                                                      <i class="right floated link bookmark green large icon"></i>
                                                  </span>
                                                    <a class="cursive-font primary_color"
                                                       href="{% if sub is None %}/cards/{{ card.slug }}{% else %}'/{{ sub }}/cards/{{ card.slug }}{% endif %}"><i
                                                            class="ui zoom icon"></i></a>
                                                    <!-- <div class="meta overflow">
                                                        <span class="date ellipsis" ng-bind="card.description"></span>
                                                    </div> -->
                                                </div>
                                            {% else %}
                                                <div class="content">
                                                    <a href="{% if sub is None %}/accounts/login?next=/cards/{{ card.slug }}{% else %}/{{ sub }}/accounts/login?next=/{{ sub }}/cards/{{ card.slug }}"{% endif %}
                                                       class="">
                                                        <i class="right floated link share alternate green large icon"></i>
                                                    </a>
                                                    <a href="{% if sub is None %}/accounts/login?next=/cards/{{ card.slug }}{% else %}/{{ sub }}/accounts/login?next=/{{ sub }}/cards/{{ card.slug }}{% endif %}"
                                                       class="">
                                                        <i class="right floated link bookmark green large icon"></i>
                                                    </a>
                                                    <a class="cursive-font primary_color"
                                                       href="{% if sub is None %}/cards/{{ card.slug }}{% else %}/{{ sub }}/cards/{{ card.slug }}{% endif %}"><i
                                                            class="ui zoom icon"></i></a>
                                                    <!-- <div class="meta overflow">
                                                        <span class="date ellipsis" ng-bind="card.description"></span>
                                                    </div> -->
                                                </div>
                                            {% endif %}
                                            <!-- <div class="extra content" id="extra-content-card">
                                                  <span class="right floated primary_color ">
                                                      <i class="money   icon"></i>
                                                      <b>${{card.price }}</b>
                                                    </span>
                                                  <span class="left floated primary_color icon-popup" data-tooltip="Send Count"
                                                        data-position="bottom center">
                                                   <i class="send blue icon"></i>
                                                   {{ card.sent_counts }}
                                                 </span>&nbsp;
                                                  <span class="floated primary_color icon-popup" data-tooltip="Share Count"
                                                        data-position="bottom center">
                                                   <i class="share alternate black icon"></i>
                                                   {{ card.shared_cards.count }}
                                                 </span>&nbsp;
                                                  <span class="floated primary_color icon-popup" data-tooltip="Saved Count"
                                                        data-position="bottom center">
                                                   <i class="bookmark red icon"></i>
                                                   {{ card.saved_counts }}
                                                 </span>
                                              </div> -->
                                        </div>
                                    {% endfor %}
                                    <!-- End of Card -->
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for category in categories %}
                    {% if category.cards.count > 0 %}
                        <div class="ui featured basic segment">
                            <h1 class="ui dividing header  cursive-font">
                                <a class="primary_color"
                                   href="/sections/{{ category.section_id }}/{{ category.slug }}">{{ category.title }}</a>
                            </h1>
                            <div>
                                <!-- Begin of Card  -->
                                <div class="ui four doubling special centered cards">
                                    {% for card in category.cards.all|slice:":4" %}
                                        <div class="card">
                                            <div class="blurring dimmable image">
                                                <div class="ui inverted dimmer">
                                                    <div class="content">
                                                        <div class="center">
                                                            {% if user.is_authenticated %}
                                                                <button class="ui icon button send_button"
                                                                        ng-click='share("{{ card.pk }}", "{{ card.image_url }}")'
                                                                        onclick="sendModal()">
                                                                    <i class="send icon"></i>
                                                                    Send Card Now
                                                                </button>
                                                            {% else %}
                                                                <a {% if sub is None %}href="/cards/{{ card.slug }}/send"
                                                                   {% else %}href="/{{ sub }}/cards/{{ card.slug }}/send"{% endif %}
                                                                   class="ui icon button send_button">
                                                                    <i class="send icon"></i>
                                                                    Send Card Now
                                                                </a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <img data-ng-src="{{ card.image_url }}" onmouseover="sendModalShow()">
                                            </div>
                                            {% if user.is_authenticated %}
                                                <div class="content">
                                                  <span class="" onclick="shareModal()"
                                                        ng-click='share("{{ card.pk }}", "{{ card.image_url }}")'>
                                                      <i class="right floated link share alternate green large icon share-icon"></i>
                                                  </span>
                                                    <span class="save-icon" ng-show="can_save('{{ card.pk }}')"
                                                          ng-click="saveCard('{{ card.pk }}')">
                                                      <i class="right floated link bookmark green large icon"></i>
                                                  </span>
                                                    <a class="cursive-font primary_color"
                                                       href="{% if sub is None %}/cards/{{ card.slug }}{% else %}'/{{ sub }}/cards/{{ card.slug }}{% endif %}">
                                                        <i class="ui zoom icon"></i>
                                                    </a>
                                                </div>
                                            {% else %}
                                                <div class="content">
                                                    <a href="{% if sub is None %}/accounts/login?next=/cards/{{ card.slug }}{% else %}/{{ sub }}/accounts/login?next=/{{ sub }}/cards/{{ card.slug }}"{% endif %}
                                                       class="">
                                                        <i class="right floated link share alternate green large icon"></i>
                                                    </a>
                                                    <a href="{% if sub is None %}/accounts/login?next=/cards/{{ card.slug }}{% else %}/{{ sub }}/accounts/login?next=/{{ sub }}/cards/{{ card.slug }}{% endif %}"
                                                       class="">
                                                        <i class="right floated link bookmark green large icon"></i>
                                                    </a>
                                                    <a class="header cursive-font primary_color"
                                                       {% if sub is None %}href="/cards/{{ card.slug }}"
                                                       {% else %}href="/{{ sub }}/cards/{{ card.slug }}"{% endif %}>
                                                        <i class="ui zoom icon"></i></a>
                                                    <!-- <div class="meta overflow">
                                                        <span class="date ellipsis" ng-bind="card.description"></span>
                                                    </div> -->
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    <!-- End of Card -->
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <!-- End of Page Section -->

        <!-- Modal for share -->
        <div class="ui share small modal">
            <i class="close icon"></i>
            <div class="header">
                Share Card from Kaadie
            </div>
            <div class="image content">
                <div class="ui medium image">
                    <img data-ng-src="[[ selected_image_url ]]">
                </div>
                <div class="description">
                    <h3>Please select from options below</h3>
                    <a href="" ng-click="shareFB()"
                       class="ui circular facebook icon button" target="_blank">
                        <i class="facebook big icon"></i>
                    </a>
                    <a href="" ng-click="shareIn()"
                       class="ui circular linkedin icon button" target="_blank">
                        <i class="linkedin big icon"></i>
                    </a>
                    <a ng-click="shareTweet()"
                       class="ui circular twitter icon button">
                        <i class="twitter big icon"></i>
                    </a>
                    <a ng-click="sharePinterest()"
                       class="ui circular pinterest icon button">
                        <i class="pinterest big icon"></i>
                    </a>
                    {#                    <a class="ui circular whatsapp green icon button">#}
                    {#                        <i class="whatsapp white big icon"></i>#}
                    {#                    </a>#}
                    <a ng-click="shareGPlus()"
                       class="ui circular google plus icon button">
                        <i class="google plus big icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <!--End of share modal  -->

        <!-- MODAL FOR SHARE -->
        <div class="ui send small modal">
            <i class="close icon"></i>
            <div class="header">
                Send This Card Now
            </div>
<<<<<<< HEAD
            <div class="description" style="min-width:50%;">
                <form class="ui form" method="post" id="SendCardForm" ng-submit="sendCard()">
                    <div ng-show="message.error || message.success">
                        <span ng-bind="message.error" style="color: red"></span>
                        <span ng-bind="message.success" style="color: limegreen"></span>
                    </div>
                    <h4 class="ui dividing header">Recipient Details</h4>
                    <div class="required field">
                        <label>Send Card To Email:</label>
                        <!-- <div class="ui fluid multiple search selection dropdown" id="dropdown_email">
                            <input type="hidden" name="receipt" id="email_recipients">
                            <i class="dropdown icon"></i>
                            <div class="default text">
                              <i class="mail icon"></i>
                              Email Contacts</div>
                            <div class="menu">
                                {% for contact in user.account.contacts.all %}
                                    {% if contact.email %}
                                        <div class="item" data-value="{{ contact.email }}"
                                             data-text="{{ contact.name }}">
                                            {% if contact.image_url %}
                                                <img class="ui mini avatar image" src="{{ contact.image_url }}">
                                                {{ contact.name }}
                                            {% else %}
                                                <img class="ui mini avatar image" src="/images/profile.png">
                                                {{ contact.name }}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div> -->
                        <!-- <div class="ui left icon input js-example-tokenizer">
                          <input type="text" placeholder="Email contacts">
                          <i class="mail icon"></i>
                        </div> -->

                        <select class="js-example-tokenizer" name="receipt" multiple="multiple">
                          {% for contact in user.account.contacts.all %}
                              {% if contact.email %}
                                  <option value="{{ contact.email }}">{{ contact.name }}</option>
                                {% endif %}
                          {% endfor %}
                        </select>
                        <!-- Checkbox for send via sms option -->
                        <div class="ui hidden divider"></div>
                        {#                        <div class="ui checkbox">#}
                        {#                            <input type="checkbox" name="sms-option" value="sms-option" id="sms-checkbox">#}
                        {#                            <label>Send Via SMS</label>#}
                        {#                        </div>#}
                        {#                        <div class="ui hidden divider"></div>#}
                        {#                        <div id="sms-field" class="sms-option">#}
                        {#                            <div class="required field">#}
                        {#                                <label>To Recipient Phone:</label>#}
                        {#                                <div class="ui fluid multiple search selection dropdown" id="dropdown_sms">#}
                        {#                                    <input type="hidden" name="receipt_phone" id="phone_recipients">#}
                        {#                                    <i class="dropdown icon"></i>#}
                        {#                                    <div class="default text">08011111111</div>#}
                        {#                                    <div class="menu">#}
                        {#                                        {% if user.is_authenticated %}#}
                        {#                                            {% for con in user.account.contacts.all %}#}
                        {#                                                {% if con.address.phone %}#}
                        {#                                                    <div class="item" data-value="{{ con.address.phone }}"#}
                        {#                                                         data-text="{{ con.name }}">#}
                        {#                                                        {% if con.image_url %}#}
                        {#                                                            <img class="ui mini avatar image"#}
                        {#                                                                 src="{{ con.image_url }}">#}
                        {#                                                            {{ con.name }}#}
                        {#                                                        {% else %}#}
                        {#                                                            <img class="ui mini avatar image"#}
                        {#                                                                 src="/images/profile.png">#}
                        {#                                                            {{ con.name }}#}
                        {#                                                        {% endif %}#}
                        {#                                                    </div>#}
                        {#                                                {% endif %}#}
                        {#                                            {% endfor %}#}
                        {#                                        {% endif %}#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}
=======
            <div class="image content">
                <div class="ui medium image">
                    <img data-ng-src="[[ selected_image_url ]]">
                    <div class="ui hidden divider"></div>
                    <span class="left floated primary_color edit-button">
                         <a href="/cards/[[selected_card.slug]]/send" class="ui button" id="personalize_btn">Personalize</a>
                     </span>
                </div>
                <div class="description" style="min-width:50%;">
                    <form class="ui form" method="post" id="SendCardForm" ng-submit="sendCard()">
                        <div ng-show="message.error || message.success">
                            <span ng-bind="message.error" style="color: red"></span>
                            <span ng-bind="message.success" style="color: limegreen"></span>
                        </div>
                        <h4 class="ui dividing header">Recipient Details</h4>
>>>>>>> d47220c7c22341c3027bec569ebeed8ba5c22c0c
                        <div class="required field">
                            <label>Send Card To Email:</label>
                            <div class="ui fluid multiple search selection dropdown" id="dropdown_email">
                                <input type="hidden" name="receipt" id="email_recipients">
                                <i class="dropdown icon"></i>
                                <div class="default text">
                                  <i class="mail icon"></i>
                                  Email Contacts</div>
                                <div class="menu">
                                    {% for contact in user.account.contacts.all %}
                                        {% if contact.email %}
                                            <div class="item" data-value="{{ contact.email }}"
                                                 data-text="{{ contact.name }}">
                                                {% if contact.image_url %}
                                                    <img class="ui mini avatar image" src="{{ contact.image_url }}">
                                                    {{ contact.name }}
                                                {% else %}
                                                    <img class="ui mini avatar image" src="/images/profile.png">
                                                    {{ contact.name }}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Checkbox for send via sms option -->
                            <div class="ui hidden divider"></div>
                            {#                        <div class="ui checkbox">#}
                            {#                            <input type="checkbox" name="sms-option" value="sms-option" id="sms-checkbox">#}
                            {#                            <label>Send Via SMS</label>#}
                            {#                        </div>#}
                            {#                        <div class="ui hidden divider"></div>#}
                            {#                        <div id="sms-field" class="sms-option">#}
                            {#                            <div class="required field">#}
                            {#                                <label>To Recipient Phone:</label>#}
                            {#                                <div class="ui fluid multiple search selection dropdown" id="dropdown_sms">#}
                            {#                                    <input type="hidden" name="receipt_phone" id="phone_recipients">#}
                            {#                                    <i class="dropdown icon"></i>#}
                            {#                                    <div class="default text">08011111111</div>#}
                            {#                                    <div class="menu">#}
                            {#                                        {% if user.is_authenticated %}#}
                            {#                                            {% for con in user.account.contacts.all %}#}
                            {#                                                {% if con.address.phone %}#}
                            {#                                                    <div class="item" data-value="{{ con.address.phone }}"#}
                            {#                                                         data-text="{{ con.name }}">#}
                            {#                                                        {% if con.image_url %}#}
                            {#                                                            <img class="ui mini avatar image"#}
                            {#                                                                 src="{{ con.image_url }}">#}
                            {#                                                            {{ con.name }}#}
                            {#                                                        {% else %}#}
                            {#                                                            <img class="ui mini avatar image"#}
                            {#                                                                 src="/images/profile.png">#}
                            {#                                                            {{ con.name }}#}
                            {#                                                        {% endif %}#}
                            {#                                                    </div>#}
                            {#                                                {% endif %}#}
                            {#                                            {% endfor %}#}
                            {#                                        {% endif %}#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                        </div>#}
                            <div class="required field">
                                <label>From: </label>
                                <div class="field">
                                    <input type="text" name="sender_name" placeholder="Your name as it will appear"
                                            {% if user.is_authenticated %} value="{{ user.account.name }}" {% endif %}
                                           ng-model="form.sender_name" required>
                                    <input type="hidden" value="{{ card.pk }}" name="card_id">
                                </div>
                            </div>
                            <div class="field">
                                <input type="hidden" id="card_image" name="card_image" ng-model="form.card_image">
                                <label for="message">Message</label>
                                <textarea rows="3" name="message" id="message" required ng-model="form.message"></textarea>
                            </div>
                            {% if card.price > 0 %}
                                <h4 class="ui dividing header">Payment Information</h4>
                                <div class="field">
                                    <label>Card Type</label>
                                    <div class="ui selection dropdown">
                                        <input type="hidden" name="card[type]">
                                        <div class="default text">Type</div>
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            <div class="item" data-value="visa">
                                                <i class="visa icon"></i>
                                                Visa
                                            </div>
                                            <div class="item" data-value="mastercard">
                                                <i class="mastercard icon"></i>
                                                Master Card
                                            </div>
                                            <div class="item" data-value="paypal">
                                                <i class="paypal icon"></i>
                                                Paypal
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="two fields">
                                        <div class="field">
                                            <label>Card Number</label>
                                            <input type="text" name="card[number]" maxlength="16" placeholder="Card #">
                                        </div>
                                        <div class="field">
                                            <label>CVC</label>
                                            <input type="text" name="card[cvc]" maxlength="3" placeholder="CVC">
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label>Expiration</label>
                                        <div class="two fields">
                                            <div class="field">
                                                <select class="ui fluid search dropdown" name="card[expire-month]">
                                                    <option value="">Month</option>
                                                    <option value="1">January</option>
                                                    <option value="2">February</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                    <option value="5">May</option>
                                                    <option value="6">June</option>
                                                    <option value="7">July</option>
                                                    <option value="8">August</option>
                                                    <option value="9">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                            </div>
                                            <div class="field">
                                                <input type="text" name="card[expire-year]" maxlength="4"
                                                       placeholder="Year">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <button ng-hide="form.sending" class="ui green button" tabindex="0">Send Card</button>
                        <button ng-show="form.sending" class="ui grey button">Sending &nbsp;&nbsp;<i
                                class="fa fa-spinner fa-spin"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <!--End of send modal  -->

    </div>
    <!-- end of pusher -->

{% endblock %}