{% extends 'layout.html' %}

{% block 'title' %}
    <title> Kaadie | Send Card</title>
{% endblock %}

{% block 'inner-script' %}
    <style media="screen">
        .ui.table td.freemium, .ui.table tr.freemium {
            background: #ecf0f1 !important;
            color: #9f3a38 !important;
        }

        .ui.table td.premium, .ui.table tr.premium {
            background: #3498db !important;
            color: #FFF !important;
        }
    </style>
{% endblock %}

{% block 'scripts' %}
    <!-- Script files  -->
    <script type="text/javascript">

        // Premium modal
        {#        $(".ui.primary.massive.button").click(function () {#}
        {#            $(".ui.premium.small.modal").modal("show");#}
        {#        });#}

    </script>
    <script type="text/javascript">

    </script>

{% endblock %}

{% block 'body' %}

    <div class="ui very padded text  container">
        <div class="ui basic segment">
            <h1 class="ui center aligned header padtop-1 ">
                <span class="ui header primary_color">Kaadie</span> Premium Store
            </h1>
            <div class="ui hidden divider"></div>
            <h2 class="ui header">
                <i class="payment icon"></i>
                <div class="content">
                    Upgrade to a Premium user
                    <div class="sub header">Kaadie premium store offers you exclusive and exciting features that let's
                        you do more than send a card, upload pictures, use animated images.
                    </div>
                </div>
            </h2>
            <!-- <div class="ui hidden divider"></div> -->
        </div>
    </div>
    <!-- Three Column for cards and input fields -->
    <div class="ui  column doubling stackable grid container">

        <div class="ui very padded text container">
            <div class="ui basic segment">
                <!-- begin of tables -->
                <table class="ui unstackable striped large table">
                    <thead>
                    <tr>
                        <th class="left aligned eight wide">Features</th>
                        <th class="center aligned four wide">Free</th>
                        <th class="center aligned four wide">Premium</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="center aligned">
                        <td class="left aligned">Send Unlimited card</td>
                        <td class="freemium">30cards monthly</td>
                        <td class="premium"><i class="icon checkmark"></i></td>
                    </tr>
                    <tr class="center aligned">
                        <td class="left aligned">Access to over 500 card designs</td>
                        <td class="freemium"><i class="icon checkmark"></i></td>
                        <td class="premium"><i class="icon checkmark"></i></td>
                    </tr>
                    <tr class="center aligned">
                        <td class="left aligned">Access to animated cards</td>
                        <td class="freemium"><i class="icon close"></i></td>
                        <td class="premium"><i class="icon checkmark"></i></td>
                    </tr>
                    <tr class="center aligned">
                        <td class="left aligned">Edit card design</td>
                        <td class="freemium"><i class=" icon close"></i></td>
                        <td class="premium"><i class="icon checkmark"></i></td>
                    </tr>
                    <tr class="center aligned">
                        <td class="left aligned">Social Media Login</td>
                        <td class="freemium"><i class="icon checkmark"></i></td>
                        <td class="premium"><i class="icon checkmark"></i></td>
                    </tr>
                    <tr class="center aligned">
                        <td class="left aligned">Personalize Cards</td>
                        <td class="freemium"><i class="icon close"></i></td>
                        <td class="premium"><i class="icon checkmark"></i></td>
                    </tr>
                    <tr class="center aligned">
                        <td class="left aligned">Upload Pictures</td>
                        <td class="freemium"><i class="icon close"></i></td>
                        <td class="premium"><i class="icon checkmark"></i></td>
                    </tr>
                    <tr class="center aligned">
                        <td class="left aligned">Birthday Remainder</td>
                        <td class="freemium">4x a month</td>
                        <td class="premium"><i class="icon checkmark"></i></td>
                    </tr>
                    <tr class="center aligned">
                        <td class="left aligned">Schedule Card send</td>
                        <td class="freemium"><i class="icon close"></i></td>
                        <td class="premium"><i class="icon checkmark"></i></td>
                    </tr>
                    </tbody>
                </table>
                <!-- end of table     -->
                {% if user.is_authenticated %}
                    <div class="ui center aligned basic segment">
                        <form method="post" action="{% if sub is None %}{% url 'premium' %}{% else %}{% url 'premium' sub %}{% endif %}">
                            <button type="submit" class="ui primary massive button">
                                Go premium
                            </button>
                        </form>
                        <br>
                        {#<small>Pricing in USD. Excludes any applicable tax</small>#}
                    </div>
                {% else %}
                    <div class="ui center aligned basic segment">
                        <a href="{% if sub is None %}{% url 'login' %}?next={% url 'premium' %}{% else %}{% url 'login' sub %}?next={% url 'premium' sub %}{% endif %}" class="ui primary massive button">
                            Go premium
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="ui hidden divider"></div>
        </div>
    </div>
    <!-- MODAL FOR SHARE -->
    <div class="ui premium small modal">
        <i class="close icon"></i>
        <div class="header">
            Payment Information
        </div>
        <div class="image content">
            <div class="description">
                <form class="ui form" method="post">
                    <h4 class="ui dividing header">Your Details</h4>
                    <div class="required field">
                        <label>Card Name: </label>
                        <input type="text" name="name" value="" placeholder="John Doe">
                    </div>
                    <h4 class="ui dividing header">Payment Information</h4>
                    <div class="required field">
                        <label>Card Type</label>
                        <div class="ui selection dropdown">
                            <input type="hidden" name="card[type]">
                            <div class="default text">Type</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" data-value="visa">
                                    <i class="visa icon"></i>
                                    Visa
                                </div>
                                <div class="item" data-value="mastercard">
                                    <i class="mastercard icon"></i>
                                    Master Card
                                </div>
                                <div class="item" data-value="paypal">
                                    <i class="paypal icon"></i>
                                    Paypal
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" field">
                        <div class="two required fields">
                            <div class="field">
                                <label>Card Number</label>
                                <input type="text" name="card[number]" maxlength="16" placeholder="Card #">
                            </div>
                            <div class="field">
                                <label>CVC</label>
                                <input type="text" name="card[cvc]" maxlength="3" placeholder="CVC">
                            </div>
                        </div>
                        <div class="required field">
                            <label>Expiration</label>
                            <div class="two fields">
                                <div class="field">
                                    <select class="ui fluid search dropdown" name="card[expire-month]">
                                        <option value="">Month</option>
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <div class="field">
                                    <input type="text" name="card[expire-year]" maxlength="4"
                                           placeholder="Year">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="ui green button" tabindex="0">Pay Now/button>
                </form>
            </div>
        </div>
    </div>
    <!--End of send modal  -->

{% endblock %}
