{% extends 'layout.html' %}

{% block 'title' %}
    <title> Kaadie | Privacy Policy </title>
{% endblock %}

{% block 'body' %}

      <!-- Content Description   -->
      <div class="ui padded text container segment">
          <div class="ui hidden divider"></div>
        <div class="ui huge header">
            Kaadie Privacy Policy
        </div>
        <div class="ui justified container">
            <div class="ui sub header">Overview</div>
            <p>
                    The use of the Kaadie website(s) and any Kaadie services and products (collectively, the "Website") provided by Kaadie are subject to the provisions of this Privacy Policy, including any amendments or updates hereto. This Privacy Policy is incorporated into and is subject to the <a href="{% url 'terms_of_use' sub %}">Kaadie Terms of Use</a>. By using the website, you agree to this Privacy Policy.
            </p>
            <div class="ui sub header">General</div>
            <p>
                Kaadie takes your privacy seriously. We gather certain types of information about our users and we want to help you understand the terms related to the collection and use of the information which we collect. 
            </p>
            <p>This Privacy Policy discloses:</p>
            <ul>
                <li>the types of information we gather, </li>
                <li>how we use it, and </li>
                <li>what choices you have regarding the collection of such information.</li>
            </ul>
            <p><b>BY USING, ACCESSING OR DOWNLOADING CONTENT FROM THE WEBSITE, YOU AGREE TO THE COLLECTION AND USE OF YOUR PERSONAL INFORMATION (AS HEREUNDER DESCRIBED), ALL IN ACCORDANCE WITH THE TERMS AND CONDITIONS SET HERE UNDER. </b></p>
            <p>
                Kaadie takes your privacy seriously. We gather certain types of information about our users and we want to help you understand the terms related to the collection and use of the information which we collect. 
            </p>
            <p>
                If you are under the age of 13, you are not eligible to use the Website, and we ask you not to submit any personal information to us.
            </p>
            <p>
                Please note that any video, image, or other content posted at the discretion of users onto the Kaadie website becomes published content and is not considered personally identifiable information subject to this Privacy Policy.
            </p>
            <div class="ui sub header">Information we collect</div>
             <p>
                 Use of certain features of the Website may require submission of certain personal information, including your first and last name, email address, a nickname (or other user ID) and a password.
             </p>
             <p>
                 Kaadie may also collect or receive additional non-personally identifiable usage information specifically related to the use of a particular feature or offering on the Website, and responses to the offerings and advertisements presented on the Website.
             </p>
             <p>
                 Kaadie may also collect or receive (in some cases as part of the internet communication protocol) certain non-personally identifiable technical information, when the Website and pages are visited.
             </p>
             <div class="ui sub header">How is the information being used?</div>
             <p>
                 The information is used to operate and improve the features, offerings and content presented to you by Kaadie, to personalize the content and advertisements provided to you; to fulfill your requests for products, programs, and services; to communicate with you and respond to your inquiries; to conduct research about your use of the Website; and to help offer you other products, programs, or services that may be of interest.
             </p>
             <p>
                 Please note that Kaadie may use your personally identifiable information to present offers to you on behalf of business partners and advertisers. However, while Kaadie's business partners and advertisers may receive aggregate data about Kaadie users, any personally identifiable information of yours will not be shared with third parties unless you have consented to the sharing of this information.
             </p>
             <p>
                 Notwithstanding the foregoing, your information may be accessed and disclosed if and as required by legal procedures, as determined by Kaadie in good faith. Furthermore, Kaadie may transfer personally identifiable information in the event of a transfer of ownership of Kaadie or any of its websites or products, in which case the information could become subject to a different privacy policy.
             </p>
            <div class="ui sub header">Cookies</div>
            <p>
                Kaadie may use cookies, web beacons or similar technologies to enhance and personalize your experience of the Website, including to operate and improve offerings through the Website; to help authenticate your identity when you visit and transact with the Website; to remember your preferences and registration information; to present and help measure and research the effectiveness of the various offerings, advertisements, and e-mail communications (by determining which e-mails you open and act upon); and to customize the content and advertisements provided to you.
            </p>
            <p>
                Kaadie does not require that you accept cookies, and you may disable cookies at any time. However, some functionality of our Website may be impaired if you decline to accept cookies. To disable cookies, follow the instructions in your web browser.
            </p>
            <div class="ui sub header">Kaadie.com's practice regarding IP addresses</div>
            <p>
                We collect and analyze traffic on our website by keeping track of the IP addresses of our visitors. IP addresses are unique numeric identifiers that are assigned to each computer browser accessing the Internet. An IP address, by itself, cannot identify you personally. However, when combined with other information provided by your Internet Service Provider (ISP), your IP address can be used to identify the computer originating a message.
            </p>
            <p>
                Kaadie.com includes the sender's IP Address in the source of each ecard HTML that is created at the website. This is available to the ecard recipient and anyone else who has access to the recipient's ecard. This limits your ability to communicate anonymously using ecards. Ecards are not intended for anonymous communications, and such activity is expressly prohibited by our Terms of Use.
            </p>
            <div class="ui sub header">What does Kaadie.com do with the ecard messages & information?</div>
            <p>
                When you send one of our ecards, the information you provide to us is used to customize your greeting with the recipient's name and with your message, and to deliver an e-mail to the recipient. We treat our ecards as private correspondence between the sender and the recipient and the contents will not be disclosed to anyone other than the intended recipient.
            </p>
            <p>
                Under normal circumstances, we will not monitor or edit the contents of the online ecards you send. Occasion, however, we may need to view your message in connection with the technical processing of your ecard or the maintenance of our network. Also, if you ask one of our customer service representatives to help you send an ecard or to verify that an ecard was sent, that representative will be able to access all information about the ecard, including the recipient's e-mail address and the message.
            </p>
            <p>
                If we have reason to believe, that an ecard has been sent using a false e-mail address or attempt to pose as someone else sending an ecard, information about you - including your computer's IP address - may be disclosed as part of any investigation into your actions.
            </p>
            <div class="ui sub header">Third Party Ad Advertising</div>
            <p>
                Kaadie or its advertisers may use third party ad networks and ad serving companies to help sell and present advertisements online in connection with the Website. These third party ad companies may use cookies, web beacons or similar technologies to help present such advertisements, to help measure and research the advertisements' effectiveness and to compile anonymous statistics about Kaadie users. The use of these technologies by these third party ad companies is subject to their own privacy policies, not Kaadie's. These third party ad companies may also monitor Kaadie for the purpose of reporting website traffic, statistics, advertisements, "click-throughs" and/or other activities.
            </p>
            <p>
                Kaadie does not provide advertisers access to any personally identifiable information that you have provided to Kaadie (keeping in mind that anything you have elected to share publicly on the site is available to everyone to see).
            </p>
            <div class="ui sub header">Security</div>
            <p>
                Kaadie has implemented security policies, rules and technical measures to protect and safeguard the personally identifiable information under our control from unauthorized access, improper use or disclosure, unauthorized modification, unlawful destruction or accidental loss. All our personnel that have access to, and are associated with the processing of your personally identifiable information, are obligated to respect the confidentiality of the information.
            </p>
            <div class="ui sub header">Questions and Comments</div>
            <p>
                If you have any questions, comments or suggestions regarding our website's privacy policy, or regarding any other aspects of our website, please write to us at info@kaadie.com
            </p>
            <div class="ui sub header">Special Note for Parents</div>
            <p>
                Protecting the privacy of young children is especially important. For that reason, Kaadie does not knowingly collect or maintain personally identifiable information on the Website from persons under 13 years of age, and no part of our Website is directed to persons under 13. If you are under 13 years of age, then please do not use or access the Website at any time or in any manner. If Kaadie learns that personally identifiable information of persons under 13 years of age has been collected on the Website without verified parental consent, then Kaadie will take the appropriate steps to delete this information.
            </p>
            <div class="ui sub header">Modification and Deletion of Personally Identifiable Information</div>
            <ul>
                <li>
                    <b>Deletion (Opt-Out):</b> In order to delete the personally identifiable information you submitted, notify us at <a href="mailto:support@kaadie.com">support@kaadie.com</a> that you wish to delete your personally identifiable information or any part thereof contained at our databases.
                </li>
                <li>
                    <b>Modification:</b> If you wish to modify or update your personally identifiable information, use the Website or application interface. If you need help, please contact us at <a href="mailto:support@kaadie.com">support@kaadie.com</a>
                    <p>
                        Please note that deletion of your personally identifiable information from Kaadie's database will not prevent Kaadie from using gathered anonymous information.
                    </p>
                </li>
            </ul>
            <div class="ui sub header">Third Parties' Practices</div>
            <p>
                This Privacy Policy does not cover the information practices exercised by other providers of products or services, advertisers or other web sites, or companies/people that Kaadie does not own or control, or does not employ or manage.
            </p>
            <small>Last Updated: March13, 2017</small>
        </div>
      </div> <!-- end of segment -->
     <div class="ui hidden divider"></div>
  </div> <!-- end of pusher -->

{% endblock %}
