<!DOCTYPE html>
<html ng-app="kaadie" ng-controller="BaseController"
      {% if user.is_authenticated %}ng-init="init('{{ user.pk }}', '{{ user.account.name }}')"{% endif %}>
<head>
    <title>Kaadie | Profile.</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description"
          content="Kaadie.com is nigeria's first virtual card sending platform. Send virtual cards/invite via email, sms and share on social media.">
    <meta name="keywords"
          content="Kaadie, eCards, e-Cards, Greeting cards, Birthday cards, Love cards, Romantic cards, free cards, Easter cards, Ramadan cards, Christmas cards,">
    <meta name="author" content="Kaadie">
    <meta name="robot" content="index,follow">
    <meta name="copyright" content="Kaadie.com all rights reserved.">
    <meta name="language" content="en">
    <meta name="revisit-after" content="1">
    <meta property="og:title" content="Kaadie | Nigeria's first virtual card platform."/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.kaadie.com"/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content="Kaadie"/>
    <meta property="og:description"
          content="Kaadie.com is nigeria's first virtual card sending platform. Send virtual cards/invite via email, sms and share on social media."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="google-signin-client_id"
          content="71206465461-u6epfp5tto1b574knupep0urbnak3rb0.apps.googleusercontent.com">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
          name='viewport'/>
    {#    {% load compress %}#}
    {#    {% compress css %}#}
    <!-- Site Properties -->
    <link rel="shortcut icon" type="image" href="/images/favicon.ico"/>
    <link href="{% static "/css/bootstrap.min.css" %}" rel="stylesheet"/>
    <link href="{% static '/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/semantic.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static  "css/select2.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/app.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static  "css/pace.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/lato.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/owl.theme.default.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static '/semantic-ui-calendar/dist/calendar.min.css' %}" />

    <!--  Material Dashboard CSS    -->
    <link href="{% static '/css/material-dashboard.css' %}" rel="stylesheet"/>
    <link href="{% static '/css/custom.css' %}" rel="stylesheet"/>
    <!--     Fonts and icons     -->
    <link href="{% static '/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href='{% static '/fonts/material-icons.css' %}' rel='stylesheet'
          type='text/css'>
    <script src="{% static '/js/jquery-3.1.0.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/material.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/bootstrap-notify.js' %}"></script>
    <script src="{% static '/js/aws-sdk.min.js' %}"></script>
    <style media="screen">
        #app_message {
            margin: 0 !important;
            width: 100%;
            z-index: 999;
            top: 0;
            right: 0;
        }

        /*For select2-search__field*/
        input.select2-search__field {
            border: none !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .select2-container {
            width: 100% !important;
        }

        .select2-container--default .select2-selection--multiple {
            background-color: white;
            border: 1px solid rgba(34, 36, 38, .15);
        }

        {#          .select2-container--default.select2-container--focus .select2-selection--multiple{#}
        {#              min-width: 20% !important;#}
        {#          }#}
    </style>
    {#    {% endcompress %}#}
    <link rel="stylesheet" type="text/css" href="/static/css/brands/kaadie.css">
    {% if sub is not None %}
        <link rel="stylesheet" type="text/css" href="/static/css/brands/{{ sub|lower }}.css">
    {% endif %}
</head>
<body oncontextmenu="return false;">
<!-- Sidebar Menu  when mobile-->
<div class="ui vertical indexpage sidebar menu">
    <div class="item">
        <a class="ui logo icon image"
           href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}">
            <img class="" style="width: 120px" src="{{ organization.logo }}">
        </a>
    </div>
    <div class="borderless white-color item">
        {% if user.is_authenticated %}
            <a href="{% if sub is None %}{% url 'home' %}{% else %}{% url 'home' sub %}{% endif %}" class="item">
                <i class="user icon"></i>{{ user.account.name }}
            </a>
            <a ng-show="data.notification_count > 0"
               href="{% if sub is None %}{% url 'notifications' %}{% else %}{% url 'notifications' sub %}{% endif %}"
               class="menubar item">
                <i class="bell large icon"></i>
                <small class="ui small red left pointing label" ng-bind="data.notification_count"></small>
                Notifications
            </a>
        {% else %}
            Account
        {% endif %}
    </div>
    {% if user.is_authenticated %}
        {% if user.account.is_premium or user.is_staff %}
            {#                <a href="{% if sub is None %}{% url 'create_card' %}{% else %}{% url 'create_card' sub %}{% endif %}"#}
            {#                   class="item"><i class="pencil icon"></i>Create Card</a>#}
            {% if organization.account_id == user.account.pk %}
                <a href="
                        {% if sub is None %}{% url 'control_panel' %}{% else %}{% url 'control_panel' sub %}{% endif %}"
                   class="item"><i class="setting icon"></i>Control Panel</a>
            {% endif %}
        {% endif %}
        <a href="{% if sub is None %}{% url 'logout' %}{% else %}{% url 'logout' sub %}{% endif %}" class="item"><i
                class="sign out icon"></i> Sign Out</a>
    {% else %}
        <a href="{% if sub is None %}{% url 'login' %}{% else %}{% url 'login' sub %}{% endif %}" class="item"><i
                class="checkmark box icon"></i> Login</a>
        <a href="{% if sub is None %}{% url 'register' %}{% else %}{% url 'register' sub %}{% endif %}"
           class="item"><i class="signup icon"></i> Sign up</a>
    {% endif %}
    <div class="borderless item"></div>
    {% for section in sections|slice:":5" %}
        <div class="item">
            <a href="
                    {% if sub is None %}{% url 'section' section.slug %}{% else %}{% url 'section' sub section.slug %}{% endif %}"
               class="header">{{ section.title }}</a>

            <div class="menu">
                {% if is_db %}
                    {% for category in section.categories.all %}
                        {% if category.is_active %}
                            <a class="item"
                               href="
                                       {% if sub is None %}{% url 'category' section.pk category.slug %}{% else %}{% url 'category' sub section.pk category.slug %}{% endif %}">{{ category.title }}</a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {% for category in section.categories %}
                        {% if category.is_active %}
                            <a class="item"
                               href="
                                       {% if sub is None %}{% url 'category' section.pk category.slug %}{% else %}{% url 'category' sub section.pk category.slug %}{% endif %}">{{ category.title }}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <div class="borderless item"></div>
    {% if not user.is_authenticated %}
        <a href="{% if sub is None %}{% url 'register_brand' %}{% else %}{% url 'register_brand' sub %}{% endif %}"
           class="item"> <span class="ui compact mini blue button ">Register Brand</span>
        </a>
        <a href="{% if sub is None %}{% url 'artist_register' %}{% else %}{% url 'artist_register' sub %}{% endif %}"
           class="item"> <span class="ui compact mini green button">Become an artist</span>
        </a>
    {% endif %}
    {#        {% if not premium and not user.is_staff %}#}
    {#            <a href="{% if sub is None %}{% url 'premium' %}{% else %}{% url 'premium' sub %}{% endif %}" class="item">#}
    {#                <span class="ui compact mini blue button ">Try Premium</span>#}
    {#            </a>#}
    {#        {% endif %}#}
    {% if user.is_authenticated and not artist %}
        <a href="{% if sub is None %}{% url 'request_rights' %}{% else %}{% url 'request_rights' sub %}{% endif %}"
           style="margin: 10px" class="ui compact mini blue button">Request Artist Rights</a>
    {% endif %}
    <a href="http://support.kaadie.com" class=" primary_color item"><i class="flag large icon"></i>Report</a>
    <a href="https://medium.com/@kaadie" target="_blank" class=" primary_color item">
        <i class="write large icon"></i>Blog
    </a>
    <a href="{% if sub is None %}{% url 'how_it_works' %}{% else %}{% url 'how_it_works' sub %}{% endif %}"
       class="item"> How It works </a>
    <a href="{% if sub is None %}{% url 'terms_of_use' %}{% else %}{% url 'terms_of_use' sub %}{% endif %}"
       class="item"> Terms and Conditions</a>
    <a href="{% if sub is None %}{% url 'privacy_policy' %}{% else %}{% url 'privacy_policy' sub %}{% endif %}"
       class="item"> Privacy Policy </a>

    <div class="borderless item"></div>
    <div class="borderless item">
        &copy; 2017. Kaadie.com or its affiliates.
    </div>
</div>
<div class="pusher mybackground">
    <div class="ui borderless topmenu secondary menu ">
        <div class="ui container">
            <a class="fitted item" href="https://www.facebook.com/Kaadiecom-1149233738494529/"><i
                    class="facebook f icon"></i></a>
            <a class="fitted item" href="https://twitter.com/OfficialKaadie"><i class="twitter icon"></i></a>
            <a class="fitted item" href="https://www.instagram.com/officialkaadie/"><i class="instagram icon"></i></a>

            <div class="ui dropdown right primary_color item">All
                <i class="dropdown icon"></i>

                <div class="menu">
                    {% for section in sections %}
                        <a class="item" href="
                                {% if sub is None %}{% url 'section' section.slug %}{% else %}{% url 'section' sub section.slug %}{% endif %}">{{ section.title }}</a>
                    {% endfor %}
                </div>
            </div>
            {% for section in sections|slice:":3" %}
                <div class="ui dropdown primary_color item">
                    <a href="
                            {% if sub is None %}{% url 'section' section.slug %}{% else %}{% url 'section' sub section.slug %}{% endif %}"
                       style="color:inherit">{{ section.title }}</a>
                    <i class="dropdown icon"></i>

                    <div class="menu">
                        {% if is_db %}
                            {% for category in section.categories.all %}
                                {% if category.is_active %}
                                    <a class="item" href="
                                            {% if sub is None %}{% url 'category' section.pk category.slug %}{% else %}{% url 'category' sub section.pk category.slug %}{% endif %}">{{ category.title }}</a>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for category in section.categories %}
                                {% if category.is_active %}
                                    <a class="item" href="
                                            {% if sub is None %}{% url 'category' section.pk category.slug %}{% else %}{% url 'category' sub section.pk category.slug %}{% endif %}">{{ category.title }}</a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <a href="{% if sub is None %}{% url 'how_it_works' %}{% else %}{% url 'how_it_works' sub %}{% endif %}"
               class="primary_color item">
                <i class="question large icon"></i>How It Works
            </a>
            <a href="http://support.kaadie.com" class=" primary_color item"><i class="flag large icon"></i>Report</a>
            {% if user.is_authenticated %}<a href="{% if sub is None %}{% url 'logout' %}{% else %}{% url 'logout' sub %}{% endif %}" class="item"><i class="sign out icon"></i> Sign Out</a>{% endif %}
        </div>
    </div>
    <!-- Fixed menu when you scroll -->
    <div class="ui top fixed borderless hidden featured menu">
        <div class="ui container">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>

            <div class="item">
                <a href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}"><img
                        id="kaadie_logo" src="{{ organization.logo }}"></a>
            </div>
            <div class="right mobilehide menu">
                <div class="item">
                    <div class="ui search ">
                        <div class="ui icon mini long-search input">
                            <form id="search_form" method="get" action="{% url 'search' %}">
                                <input class="prompt" type="text" name="q" placeholder="Search for Cards..."
                                       value="{{ search_q }}">
                                <i class="search icon"></i>
                            </form>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    {% if user.account.saved_count > 0 %}
                        <a href="{% if sub is None %}{% url 'home' %}{% else %}{% url 'home' sub %}{% endif %}"
                           class="menubar item">
                            <i class="bookmark large icon"></i>

                            <div class="ui small green left pointing label">{{ user.account.saved_count }}</div>
                        </a>
                    {% endif %}
                    <a ng-show="data.notification_count > 0" href="
                            {% if sub is None %}{% url 'notifications' %}{% else %}{% url 'notifications' sub %}{% endif %}"
                       class="menubar item">
                        <i class="bell large icon"></i>

                        <div class="ui small red left pointing label" ng-bind="data.notification_count"></div>
                    </a>
                {% endif %}

                <div class="ui dropdown item">
                    {% if user.is_authenticated %}
                        <i class="user large icon"></i> {{ user.account.name }}
                    {% else %}
                        Account
                    {% endif %}
                    <i class="dropdown icon"></i>

                    <div class="menu">
                        {% if user.is_authenticated %}
                            {% if user.account.is_premium or user.is_staff %}
                                {% if organization.account_id == user.account.pk %}
                                    <a href="{% if sub is None %}{% url 'control_panel' %}{% else %}{% url 'control_panel' sub %}{% endif %}"
                                       class="item"><i class="setting icon"></i>Control Panel</a>
                                {% endif %}
                            {% endif %}
                            {% if artist %}
                                <a href="{% if sub is None %}{% url 'create_card' %}{% else %}{% url 'create_card' sub %}{% endif %}"
                                   class="item"><i class="user icon"></i>Create Card</a>
                            {% endif %}
                            <a href="{% if sub is None %}{% url 'home' %}{% else %}{% url 'home' sub %}{% endif %}"
                               class="item"><i class="user icon"></i>Profile</a>
{#                            <a href="{% if sub is None %}{% url 'logout' %}{% else %}{% url 'logout' sub %}{% endif %}"#}
{#                               class="item"><i class="sign out icon"></i> Sign Out</a>#}
                        {% else %}
                            <a href="{% if sub is None %}{% url 'login' %}{% else %}{% url 'login' sub %}{% endif %}"
                               class="item"><i class="checkmark box icon"></i>Login</a>
                            <a href="{% if sub is None %}{% url 'register' %}{% else %}{% url 'register' sub %}{% endif %}"
                               class="item"><i class="signup icon"></i> Sign up</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main menu -->
    <div class="ui inverted huge borderless mainnav menu">
        <div class="ui container" style="">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>

            <div class="item">
                <a href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}">
                    <img id="kaadie_logo" src="{{ organization.logo }}">
                </a>
            </div>
            <div class="right mobilehide menu">
                <div class="item">
                    <div class="ui search ">
                        <div class="ui icon mini long-search input">
                            <form id="search_form" method="get" action="{% url 'search' %}">
                                <input class="prompt" type="text" name="q"
                                       placeholder="Search for Cards..." value="{{ search_q }}">
                                <i class="search icon"></i>
                            </form>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>

                {% if user.is_authenticated %}
                    {% if user.account.saved_count > 0 %}
                        <a href="{% if sub is None %}{% url 'home' %}{% else %}{% url 'home' sub %}{% endif %}"
                           class="menubar item">
                            <span class="icon-popup" data-tooltip="Your Saved Cards" data-position="bottom center">
                              <i class="bookmark large icon"></i>
                              <div class="ui small green left pointing label">{{ user.account.saved_count }}</div>
                            </span>
                        </a>
                    {% endif %}
                    <div ng-show="data.notification_count > 0" class="ui dropdown item">
                        <a href="{% if sub is None %}{% url 'notifications' %}{% else %}{% url 'notifications' sub %}{% endif %}">
                            <i class="bell large icon"></i>
                        </a>

                        <div class="ui small red left pointing label" ng-bind="data.notification_count"></div>
                        <i class="dropdown icon"></i>
                    </div>
                {% endif %}
                <a href="/forum/" class="primary_color item"><i class="book large icon"></i>Forum</a>
                <a href="{% url 'view_artists' %}" class="primary_color item"><i class="paint brush large icon"></i>Artists</a>
                <div class="ui dropdown item">
                    {% if user.is_authenticated %}<i class="user large icon"></i>{{ user.account.name }}{% else %}
                        Account{% endif %}
                    <i class="dropdown icon"></i>

                    <div class="menu">
                        {% if user.is_authenticated %}
                            {% if user.account.is_premium or user.is_staff %}
                                {% if organization.account_id == user.account.pk %}
                                    <a href="{% if sub is None %}{% url 'control_panel' %}{% else %}{% url 'control_panel' sub %}{% endif %}"
                                       class="item"><i class="settings icon"></i>Control Panel</a>
                                {% endif %}
                            {% endif %}
                            {% if artist %}
                                <a href="{% if sub is None %}{% url 'create_card' %}{% else %}{% url 'create_card' sub %}{% endif %}"
                                   class="item">
                                    <i class="user icon"></i>Create Card
                                </a>
                            {% endif %}
                            <a href="{% if sub is None %}{% url 'home' %}{% else %}{% url 'home' sub %}{% endif %}"
                               class="item"><i class="user icon"></i>Profile</a>
{#                            <a href="{% if sub is None %}{% url 'logout' %}{% else %}{% url 'logout' sub %}{% endif %}"#}
{#                               class="item"><i class="sign out icon"></i> Sign Out</a>#}
                        {% else %}
                            <a href="{% if sub is None %}{% url 'login' %}{% else %}{% url 'login' sub %}{% endif %}"
                               class="item"><i class="checkmark box icon"></i>
                                Login</a>
                            <a href="{% if sub is None %}{% url 'register' %}{% else %}{% url 'register' sub %}{% endif %}"
                               class="item"><i class="signup icon"></i> Sign up</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- message to try mobile -->
    {% if ua.is_mobile %}
        <div class="ui blue message" id="app_message">
            <i class="close icon"></i>

            <div class="header">
                Kaadie Mobile app
            </div>
            <p>Coming soon on <a href="#" class="primary_color">Play store</a></p>
        </div>
    {% endif %}
    <div class="wrapper" ng-controller="HomeController" ng-init="init('{{ saved_ids }}')">
        <div class="main-panel custom-panel">
            <div class="content" style="margin-top: 0">
                <div class="container-fluid">
                    {% if ua.is_mobile %}
                        <div class="row">
                            <div class="owl-carousel owl-theme">
                                {% for banner in banners %}
                                    <div class="item">
                                        <a href="{{ banner.link }}">
                                            <div class="ui large">
                                                <img class="ui fluid image" src="{{ banner.image_url }}">
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-4" style="margin-top: 40px">
                            <div class="card card-profile">
                                <!-- web profile thumbnail -->
                                <div class="card-avatar visible-md visible-lg">
                                    {% if account.image_url %}
                                        <img class="img" src="{{ account.image_url }}"/>
                                    {% else %}
                                        <img class="img" src="images/profile.png"/>
                                    {% endif %}
                                </div>
                                <div class="content visible-lg visible-md">
                                    <h6 class="category text-gray">{{ account.name.title }}<br>
                                        <small class="card-title">{{ account.email }}{% if account.phone %} |
                                            {{ account.phone }}{% endif %}</small>
                                    </h6>
                                    <div class="ui mini buttons">
                                        <button class="ui mini compact edit-profile button"
                                                style="background-color: {{ organization.primary_color }}; color: white;">
                                            Edit Profile
                                        </button>
                                        <form id="updateImageForm" method="post"
                                              {% if sub is None %}action="{% url 'update_profile_image' %}"
                                              {% else %}action="{% url 'update_profile_image' sub %}"{% endif %}
                                              enctype="multipart/form-data">
                                            <button class="ui mini compact blue button" id="image_upload"
                                                    style="height:35px;margin-left: 5px">
                                                <i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;Change
                                                <input type="file" name="image" id="profileImage" accept="image/*">
                                            </button>
                                        </form>
                                    </div>
                                    <hr>
                                    <div class="panel">
                                        <div class="ui tiny statistic">
                                            <div class="value">
                                                {{ account.saved_count }}
                                            </div>
                                            <div class="label sm-thin-font">
                                                Cards Saved
                                            </div>
                                        </div>
                                        <div class="ui tiny statistic">
                                            <div class="value">
                                                {{ account.sent_count }}
                                            </div>
                                            <div class="label sm-thin-font">
                                                Cards Sent
                                            </div>
                                        </div>
                                        <div class="ui tiny statistic">
                                            <div class="value">
                                                {{ account.shared_cards.count }}
                                            </div>
                                            <div class="label sm-thin-font">
                                                Cards Shared
                                            </div>
                                        </div>
                                        <div class="ui tiny statistic">
                                            <div class="value">
                                                {{ account.referrals.count }}
                                            </div>
                                            <div class="label sm-thin-font">
                                                Referrals
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <small>To <b>refer friends</b> to Kaadie, share this link</small>
                                        <br>
                                        <em><b>{{ referral_url }}</b></em>
                                    </div>
                                </div>
                                <!-- mobile profile thumbnail -->
                                <div class="content visible-sm visible-xs">
                                    <div class="thumbnail">
                                        <h6 class="category text-gray font_20">
                                            <span>{% if account.image_url %}
                                                <img class="ui avatar image inline_image"
                                                     src="{{ account.image_url }}"/>
                                            {% else %}
                                                <img class="ui avatar image inline_image" src="images/profile.png"/>
                                            {% endif %}</span>
                                            {{ account.name.title }}
                                        </h6>
                                        <hr>
                                        <small class="card-title">{{ account.email }} | {{ account.phone }}</small>
                                        <form id="updateImageForm" method="post"
                                              {% if sub is None %}action="{% url 'update_profile_image' %}"
                                              {% else %}action="{% url 'update_profile_image' sub %}"{% endif %}
                                              enctype="multipart/form-data">
                                            <button class="btn btn-xs btn-success btn-round" id="image_upload"
                                                    style="width: 100px; ">
                                                <i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;Change
                                                <input type="file" name="image" id="profileImage" accept="image/*">
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 tab-content" style="margin-top: 8px">
                            {% if storage %}
                                <div class="row flash-card">
                                    <ul>
                                        {% for message in storage %}
                                            <li {% if message.tags == 'alert-danger error' %}
                                                class="alert-danger message-card" {% else %}
                                                class="alert-success message-card" {% endif %}>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="panel thumbnail" style="padding: 1.5em">
                                <div data-background-color="#123">
                                    <ul class="nav nav-pills visible-lg visible-md">
                                        <li class="active">
                                            <a data-toggle="pill" href="#contacts">Contacts</a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href="#saved-cards">Saved Cards</a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href="#received-cards">Received Cards</a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href="#threads">Threads</a>
                                        </li>
                                        <li>
                                            <a data-toggle="pill" href="#referrals">Referrals</a>
                                        </li>
                                        {% if artist %}
                                            <li>
                                                <a data-toggle="pill" href="#designs">Designs</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div id="contacts" class="card tab-pane fade in active">
                                <div class="six wide column visible-xs visible-sm">
                                    <div class="ui small primary labeled add-user icon button">
                                        <i class="add user icon"></i>Add
                                    </div>
                                    <div class="ui small green labeled icon button cloud-download ">
                                        <i class="cloud upload icon"></i>Import
                                    </div>
                                </div>
                                <div class="six wide column computer visible-md visible-lg">
                                    <div class="ui small primary labeled add-user icon right floated button">
                                        <i class="add user icon"></i>Add
                                    </div>
                                    <div class="ui small green labeled cloud-download icon right floated button">
                                        <i class="cloud upload icon"></i>Import
                                    </div>
                                </div>
                                <div class="hidden divider"></div>
                                {% if  account.contacts.count > 0 %}
                                    <div class="card-content table-responsive">
                                        <table class="table" id="contact-table">
                                            <thead class="text-primary">
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th class="visible-md visible-lg">Phone Number</th>
                                                <th class="visible-md visible-lg">Birthday</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for contact in account.contacts.all|dictsortreversed:"date_created" %}
                                                <tr>
                                                    <td>{{ contact.address.get_full_name }}</td>
                                                    <td>
                                                        <div class="truncate visible-xs visible-sm">
                                                            {% if contact.email %}{{ contact.email }}{% else %}
                                                                ----{% endif %}</div>
                                                        <div>{% if contact.email %}{{ contact.email }}{% else %}
                                                            ----{% endif %}</div>
                                                    </td>
                                                    <td class="visible-md visible-lg">
                                                        {% if contact.phone %}{{ contact.phone }}{% else %}
                                                            ----{% endif %}</td>
                                                    <td class="visible-md visible-lg">
                                                        {% if contact.address.date_of_birth %}
                                                            {{ contact.address.date_of_birth }}{% else %}
                                                            ----{% endif %}</td>
                                                    <td>
                                                        {% if contact.address.date_of_birth and user.account.is_premium or user.is_staff and contact.address.date_of_birth %}
                                                            {% if not contact.is_reminder_set %}
                                                                <a href="
                                                                        {% if sub is None %}{% url 'schedule_reminder' contact.pk %}{% else %}{% url 'schedule_reminder' sub contact.pk %}{% endif %}"
                                                                   class="ui tiny button">
                                                                    Set Reminder
                                                                </a>
                                                            {% endif %}
                                                        {% endif %}
                                                        <button ng-click="selectContact('{{ contact.pk }}')"
                                                                class="ui delete_contact red tiny button">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                        <a ng-click="selectContact('{{ contact.pk }}')"
                                                           class="ui blue tiny button edit-contact">
                                                            <i class="fa fa-pencil"></i>
                                                        </a>
                                                        <a href="{% url 'send_card' random_card.slug %}"
                                                           class="ui green tiny button">
                                                            <i class="fa fa-send"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="ui icon negative message" style="margin: 10px">
                                        <i class="info icon"></i>

                                        <div class="content">
                                            <div class="header">
                                                <h4 class="ui center aligned header">
                                                    <i class="orange circular inverted warning icon"></i>
                                                    NO CONTACTS YET
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui hidden divider"></div>
                                {% endif %}
                            </div>
                            <div id="saved-cards" class="card tab-pane fade">
                                <div class="ui four stackable special cards">
                                    {% if  account.saved_count > 0 %}
                                        {% for saved_card in account.saved_cards.all|dictsortreversed:"date_created" %}
                                            <div class="card">
                                                <div class="blurring dimmable image">
                                                    <div class="ui inverted dimmer">
                                                        <div class="content">
                                                            <div class="center">
                                                                <a href="
                                                                        {% if sub is None %}{% url 'send_card' saved_card.card.slug %}{% else %}{% url 'send_card' sub saved_card.card.slug %}{% endif %}"
                                                                   class="small ui icon button">
                                                                    <i class="send icon"></i>Send
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <img src="{{ saved_card.card.image_url }}">
                                                </div>
                                                <div class="content">
                                                    <a class="header cursive-font primary_color"
                                                       href="/cards/{{ saved_card.card.slug }}">{{ saved_card.card.title }}
                                                    </a>

                                                    <div class="meta overflow">
                                                        <span class="date truncate">{{ saved_card.card.description }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="ui icon negative message">
                                            <i class="info icon"></i>

                                            <div class="content">
                                                <div class="ui basic segment padtop-1">
                                                    <h4 class="ui center aligned header">
                                                        <i class="orange circular inverted warning icon"></i>
                                                        NO CARDS SAVED YET
                                                    </h4>
                                                </div>
                                                {#                                                <p>Go back <a href="{% url 'index' %}">Home</a> to save cards</p>#}
                                            </div>
                                        </div>
                                        <div class="ui hidden divider"></div>
                                    {% endif %}
                                </div>
                            </div>
                            <div id="received-cards" class="card tab-pane fade">
                                <div class="ui four stackable special cards">
                                    <!-- Begin of Card -->
                                    {% if received_cards|length > 0 %}
                                        {% for received_card in received_cards|dictsortreversed:"date_created" %}
                                            <div class="card">
                                                <div class="blurring dimmable image">
                                                    <div class="ui inverted dimmer">
                                                        <div class="content">
                                                            <div class="center">
                                                                <a href="
                                                                        {% if sub is None %}{% url 'sent_card' received_card.notification_id %}{% else %}{% url 'sent_card' sub received_card.notification_id %}{% endif %}"
                                                                   class="small ui   icon button">
                                                                    <i class="send icon"></i>
                                                                    View Reactions
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <img src="{{ received_card.card.image_url }}">
                                                </div>
                                                <div class="content">
                                                    {#                                                    <span class="share-icon" ng-click='share("{{ received_card.card.pk }}", "{{ received_card.card.image_url }}")'>#}
                                                    {#                                                        <i class="right floated link share alternate large green icon"></i>#}
                                                    {#                                                    </span>#}
                                                    <a class="header cursive-font primary_color" href="
                                                            {% if sub is None %}{% url 'sent_card' received_card.notification_id %}{% else %}{% url 'sent_card' sub received_card.notification_id %}{% endif %}">{{ received_card.card.title }}</a>

                                                    <div class="meta overflow">
                                                        <span class="date truncate">{{ received_card.card.description }}</span>
                                                    </div>
                                                </div>
                                                <div class="extra content">
                                                    <span class="floated primary_color ">
                                                        <i class="send blue icon"></i>
                                                        {{ received_card.card.sent_counts }}
                                                    </span>&nbsp;
                                                    {#                                                    <span class="floated primary_color ">#}
                                                    {#                                                      <i class="share alternate black icon"></i>#}
                                                    {#                                                      {{ received_card.card.shared_cards.count }}#}
                                                    {#                                                    </span>&nbsp;#}
                                                    <span class="floated primary_color ">
                                                        <i class="bookmark red icon"></i>
                                                        {{ received_card.card.saved_counts }}
                                                    </span>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="ui icon negative message" style="margin: 10px">
                                            <i class="info icon"></i>

                                            <div class="content">
                                                <div class="header">
                                                    <h4 class="ui center aligned header">
                                                        <i class="orange circular inverted warning icon"></i>
                                                        NO CARDS RECEIVED YET
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui hidden divider"></div>
                                    {% endif %}
                                    <!-- End of Card -->
                                </div>
                            </div>
                            <div id="threads" class="card tab-pane fade">
                                {% if account.threads|length > 0 %}
                                    <div class="card-content table-responsive">
                                        <table class="table" id="thread-table">
                                            <thead class="text-primary">
                                            <tr>
                                                <th>Card</th>
                                                <th>Message</th>
                                                <th>Recipients</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for card_object in account.threads|dictsortreversed:"date_created" %}
                                                <tr>
                                                    <td>
                                                        <div class="truncate visible-sm visible-xs">{{ card_object.card.title }}</div>
                                                        <div class="visible-md visible-lg">{{ card_object.card.title }}</div>
                                                    </td>
                                                    <td>{% if card_object.message %}
                                                        <span class="new-truncate visible-md visible-lg">{{ card_object.message }}</span>{% else %}
                                                        {{ shared_card.platform }}{% endif %}</td>
                                                    <td>{% if card_object.recipients %}
                                                        <span class="new-truncate visible-md visible-lg">{{ card_object.recipients }}</span>{% else %}
                                                        ----{% endif %}</td>
                                                    <td>
                                                        <a href="{% url 'send_card' card_object.card.slug %}"
                                                           class="ui green tiny button">
                                                            <i class="fa fa-send"></i>
                                                        </a>
                                                        {% if card_object.notification_id %}
                                                            {% if card_object.model_name == 'sharedcard' %}
                                                                <a href="
                                                                        {% if sub is None %}{% url 'shared_card' card_object.notification_id %}{% else %}{% url 'shared_card' sub card_object.notification_id %}{% endif %}"
                                                                   class="ui teal tiny icon button">
                                                                    <i class="sort content ascending icon"></i>
                                                                </a>
                                                            {% else %}
                                                                <a href="
                                                                        {% if sub is None %}{% url 'sent_card' card_object.notification_id %}{% else %}{% url 'sent_card' sub card_object.notification_id %}{% endif %}"
                                                                   class="ui teal tiny icon button">
                                                                    <i class="sort content ascending icon"></i>
                                                                </a>
                                                            {% endif %}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="ui icon negative message" style="margin: 10px">
                                        <i class="info icon"></i>

                                        <div class="content">
                                            <div class="header">
                                                <h4 class="ui center aligned header">
                                                    <i class="orange circular inverted warning icon"></i>
                                                    NO THREADS YET
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui hidden divider"></div>
                                {% endif %}
                            </div>
                            <div id="referrals" class="card tab-pane fade">
                                {% if account.referrals.count > 0 %}
                                    <div class="card-content table-responsive">
                                        <table class="table" id="referral-table">
                                            <thead class="text-primary">
                                            <tr>
                                                <th>Name</th>
                                                <th>Recipient</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for ref in account.referrals.all|dictsortreversed:"date_created" %}
                                                <tr>
                                                    <td>{{ ref.name }}</td>
                                                    <td>{{ ref.recipient }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <div class="ui icon negative message" style="margin: 10px">
                                        <i class="info icon"></i>

                                        <div class="content">
                                            <div class="header">
                                                <h4 class="ui center aligned header">
                                                    <i class="orange circular inverted warning icon"></i>
                                                    NO REFERRALS YET
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui hidden divider"></div>
                                {% endif %}
                            </div>
                            {% if artist %}
                                <div id="designs" class="card tab-pane fade">
                                    <div class="ui four stackable special cards">
                                        {% if  cards.count > 0 %}
                                            {% for des in cards.all|dictsortreversed:"date_created" %}
                                                <div class="card">
                                                    <div class="blurring dimmable image">
                                                        <div class="ui inverted dimmer">
                                                            <div class="content">
                                                                <div class="center">
                                                                    <a href="
                                                                            {% if sub is None %}{% url 'edit_card' des.slug %}{% else %}{% url 'edit_card' sub.slug %}{% endif %}"
                                                                       class="small ui icon button">
                                                                        <i class="send icon"></i>Edit
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <img src="{{ des.image_url }}">
                                                    </div>
                                                    <div class="content">
                                                        <a class="header cursive-font primary_color"
                                                           href="/cards/{{ des.slug }}">{{ des.title }}
                                                        </a>

                                                        <div class="meta overflow">
                                                            <span class="date truncate">{{ des.description }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <div class="ui icon negative message">
                                                <i class="info icon"></i>

                                                <div class="content">
                                                    <div class="ui basic segment padtop-1">
                                                        <h4 class="ui center aligned header">
                                                            <i class="orange circular inverted warning icon"></i>
                                                            NO CUSTOMIZED DESIGNS YET
                                                        </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ui hidden divider"></div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal for Add Contacts -->
        <div class="ui editprofile small modal">
            <i class="close icon"></i>

            <div class="primary_color header">
                Edit Profile
            </div>
            <div class="content">
                <form class="ui equal width form" method="post" action="{% url 'update_account' %}">
                    {% csrf_token %}
                    <div class="required fields">
                        <div class="field">
                            <label>First name</label>
                            <input type="text" name="first_name" placeholder="First Name"
                                   value="{{ account.address.first_name }}" required="">
                        </div>
                        <div class="field">
                            <label>Last name</label>
                            <input type="text" name="last_name" value="{{ account.address.last_name }}"
                                   placeholder="Last Name">
                        </div>
                    </div>
                    <div class="required fields">
                        <div class="field">
                            <label>E-mail</label>
                            <input type="email" name="email" value="{{ user.email }}" placeholder="joe@schmoe.com"
                                   disabled>
                        </div>
                        <div class="field">
                            <label>Phone number</label>
                            <input type="number" name="phone" value="{{ account.address.phone }}"
                                   placeholder="+2348011223344">
                        </div>
                        <div class="field">
                            <label>Birthday</label>
                            <input type="date" name="birthday" value="{{ account.address.birthday }}"
                                   placeholder="30/02/1907">
                        </div>
                    </div>
                    <div class="field">
                        <label for="address">Address</label>
                        <textarea name="address" rows="2">{{ account.address.address }}</textarea>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label for="city">City</label>
                            <input type="text" name="city" value="{{ account.address.city }}" placeholder="city">
                        </div>
                        <div class="field">
                            <label for="Country">Country</label>
                            <input type="text" name="country" value="{{ account.address.country }}"
                                   placeholder="country">
                        </div>
                    </div>
                    <button class="ui blue button"> Update Profile</button>
                </form>
            </div>
        </div>
        <!--End of share modal  -->

        <!-- BEGIN OF EXPAND modal  -->
        <div class="ui expand small modal">
            <i class="close icon"></i>

            <div class="header">
                Your card
            </div>
            <div class="image content">
                <div class="ui fluid image">
                    <img data-ng-src="[[ zoomed_url ]]">
                </div>
            </div>
        </div>
        <!-- END expand modal-->

        <!-- BEGIN share modal -->
        <div class="ui share small modal">
            <i class="close icon"></i>

            <div class="header">
                Share Card from Kaadie
            </div>
            <div class="image content">
                <div class="ui medium image">
                    <img data-ng-src="[[ selected_card.image_url ]]">
                </div>
                <div class="description">
                    <h3>Please select from options below</h3>
                    <a href="" ng-click="shareFB()"
                       class="ui circular facebook icon button" target="_blank">
                        <i class="facebook big icon"></i>
                    </a>
                    <a href="" ng-click="shareIn()"
                       class="ui circular linkedin icon button" target="_blank">
                        <i class="linkedin big icon"></i>
                    </a>
                    <a ng-click="shareTweet()"
                       class="ui circular twitter icon button">
                        <i class="twitter big icon"></i>
                    </a>
                    <a ng-click="sharePinterest()"
                       class="ui circular pinterest icon button">
                        <i class="pinterest big icon"></i>
                    </a>
                    <a class="ui circular whatsapp green icon button">
                        <i class="whatsapp white big icon"></i>
                    </a>
                    <a ng-click="shareGPlus()"
                       class="ui circular google plus icon button">
                        <i class="google plus big icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- END -->

        <!-- BEGIN delete contact -->
        <div class="ui deletecontact small modal">
            <i class="close icon"></i>

            <div class="header">
                <h4 class="modal-title">Are you sure you want to delete this contact
                </h4>
            </div>
            <div class="content">
                <div class="ui fluid image">
                    <div class="visible-lg visible-md delete_contact_modal">
                        <button class="ui green button" ng-click="deleteContact(selected_contact.pk)"><i
                                class="ui check icon"></i>YES
                        </button>
                        <button class="ui close_contact red button"><i class="close icon"></i>NO</button>
                    </div>
                    <div class="visible-xs visible-sm">
                        <button class="ui green button" ng-click="deleteContact(selected_contact.pk)"><i
                                class="ui check icon"></i>YES
                        </button>
                        <button class="ui close_contact red button"><i class="close icon"></i>NO</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END delete contact modal->

        <!-- Modal for Add Contacts -->
        <div class="ui adduser small modal">
            <i class="close icon"></i>

            <div class="primary_color header">
                Add Contacts to your Kaadie profile
            </div>
            <div class="content">
                <form class="ui equal width form" method="post" action="/contacts/create">
                    {% csrf_token %}
                    <div class="required fields">
                        <div class="field">
                            <label>First name</label>
                            <input type="text" name="first_name" placeholder="First Name" required="">
                        </div>
                        <div class="field">
                            <label>Last name</label>
                            <input type="text" name="last_name" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="required fields">
                        <div class="field">
                            <label>E-mail</label>
                            <input type="email" name="email" placeholder="joe@schmoe.com" required="">
                        </div>
                        <div class="field">
                            <label>Phone number</label>
                            <input type="number" name="phone" value="" placeholder="+2348011223344">
                        </div>
                        <div class="field">
                            <label>Birthday</label>
                            <input type="date" name="birthday" value="" placeholder="1907-03-20">
                        </div>
                    </div>
                    <div class="field">
                        <label for="address">Address</label>
                        <textarea name="address" rows="2"></textarea>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label for="city">City</label>
                            <input type="text" name="city" placeholder="city">
                        </div>
                        <div class="field">
                            <label for="Country">Country</label>
                            <input type="text" name="country" placeholder="country">
                        </div>
                    </div>
                    <button class="ui green button"> Save Contact</button>
                </form>
            </div>
        </div>
        <!--End of share modal  -->

        <!-- Modal for Editing Contacts -->
        <div class="ui editcontact small modal">
            <i class="close icon"></i>

            <div class="primary_color header">
                Update Contact
            </div>
            <div class="content">
                <form class="ui equal width form" method="post" ng-submit="updateContact()">
                    {% csrf_token %}
                    <div class="required fields">
                        <div class="field">
                            <label>First name</label>
                            <input type="text" name="first_name" ng-model="selected_contact.first_name"
                                   placeholder="First Name" required>
                        </div>
                        <div class="field">
                            <label>Last name</label>
                            <input type="text" name="last_name" ng-model="selected_contact.last_name"
                                   placeholder="Last Name">
                        </div>
                    </div>
                    <div class="required fields">
                        <div class="field">
                            <label>E-mail</label>
                            <input type="email" name="email" ng-model="selected_contact.email"
                                   placeholder="joe@schmoe.com" required>
                        </div>
                        <div class="field">
                            <label>Phone number</label>
                            <input type="tel" name="phone" ng-model="selected_contact.phone"
                                   placeholder="+2348011223344">
                        </div>
                        <div class="field">
                            <label>Birthday</label>
                            <input type="date" name="birthday" ng-model="selected_contact.date_of_birth"
                                   placeholder="02/30/1907">
                        </div>
                    </div>
                    <div class="field">
                        <label>Address</label>
                        <textarea name="address" ng-model="selected_contact.address" rows="2"></textarea>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label for="city">City</label>
                            <input type="text" name="city" ng-model="selected_contact.city" placeholder="city">
                        </div>
                        <div class="field">
                            <label for="Country">Country</label>
                            <input type="text" name="country" ng-model="selected_contact.country"
                                   placeholder="country">
                        </div>
                    </div>
                    <button class="ui green button"> Update Contact</button>
                </form>
            </div>
        </div>
        <!-- END -->

        <!-- BEGIN download -->
        <div class="ui clouddownload small modal">
            <i class="close icon"></i>

            <div class="primary_color header">
                Import contact via spreadsheet
                <div style="float: right;">
                    <a style="color: inherit" href="/images/sample.xlsx" download>
                        <i class="cloud download big icon"></i> Download Sample File
                    </a>
                </div>
            </div>
            <div class="content">
                <form class="ui equal width form" method="post" enctype="multipart/form-data"
                      action="
                              {% if sub is None %}{% url 'upload_contact' %}{% else %}{% url 'upload_contact' sub %}{% endif %}">
                    {% csrf_token %}
                    <div class="required fields">
                        <div class="field">
                            <label>File</label>
                            <input type="file" id="file" name="file"
                                   accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                   required>
                        </div>
                    </div>
                    <button class="ui green button"> Upload</button>
                </form>
            </div>
        </div>
        <!-- END -->

        <!-- Modal for Import Contacts -->
        <div class="ui importuser small modal">
            <i class="close icon"></i>

            <div class="header">
                Import Contacts to Kaadie
            </div>
            <div class="image content">
                <div class="ui medium image">
                    <img data-ng-src="[[ selected_card.image_url ]]">
                </div>
                <div class="description">
                    <h3>Please select from options below</h3>
                    <a href="" ng-click="shareFB()"
                       class="ui circular facebook icon button" target="_blank">
                        <i class="facebook big icon"></i>
                    </a>
                    <a href="" ng-click="shareIn()"
                       class="ui circular linkedin icon button" target="_blank">
                        <i class="linkedin big icon"></i>
                    </a>
                    <a ng-click="shareTweet()"
                       class="ui circular twitter icon button">
                        <i class="twitter big icon"></i>
                    </a>
                    <a ng-click="sharePinterest()"
                       class="ui circular pinterest icon button">
                        <i class="pinterest big icon"></i>
                    </a>
                    <a ng-click="shareGPlus()"
                       class="ui circular google plus icon button">
                        <i class="google plus big icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <!--End of share modal  -->
    </div>
    <!-- Modal for artist -->
    <div class="ui artist small modal">
        <i class="close icon"></i>

        <div class="header">
            Sign Up as an Artist <br>
            <small>Fill out the form below for artist sign-up!</small>
            <br>

            <div ng-show="artist_request.error" ng-repeat="err in artist_request.error">
                <small ng-bind="err" style="color: red"></small>
            </div>
            <small ng-bind="artist_request.success" style="color: limegreen"></small>
        </div>
        <div class="content">
            <form class="ui form" method="POST" ng-submit="requestPermission()">
                <div class="field">
                    <label>Portfolio</label>
                    <input placeholder="portfolio" type="text" ng-model="artist_request.portfolio" required>
                </div>
                <div class="inline field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="terms" required>
                        <label for="terms">I agree to the terms and conditions</label>
                    </div>
                </div>
                <div class="ui button">Cancel</div>
                <button class="ui blue submit button" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <!--End of artist modal  -->
    <footer class="footer-background">
        <div class="ui three column doubling equal height stackable grid container">
            <div class="four wide column">
                <a href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}">
                    <img src="{{ organization.logo }}" alt="Kaadie Logo" class="ui small image"/></a>

                <div class="ui hidden divider"></div>
                <small class="centered item white-color padtop-2"> &copy; 2017. Kaadie.com or its affiliates.</small>
            </div>
            <div class="three wide column computer tablet only">
                <h3 class="ui dividing white-color header"><b>Main Menu</b></h3>

                <div class="ui link list">
                    <a class="white-color item"
                       href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}">Home</a>
                    <a class="white-color item"
                       href="{% if sub is None %}{% url 'about' %}{% else %}{% url 'about' sub %}{% endif %}">AboutKaadie</a>
                    <a href="
                            {% if sub is None %}{% url 'how_it_works' %}{% else %}{% url 'how_it_works' sub %}{% endif %}"
                       class="white-color item">How It works</a>
                </div>
            </div>
            <div class="three wide column computer tablet only">
                <h3 class="ui dividing white-color header"><b>Other Details</b></h3>

                <div class="ui link list">
                    <a href="mailto:support@kaadie.com" class="white-color item">Email Us</a>
                    <a href="
                            {% if sub is None %}{% url 'terms_of_use' %}{% else %}{% url 'terms_of_use' sub %}{% endif %}"
                       class="white-color item">Terms of Use</a>
                    <a href="
                            {% if sub is None %}{% url 'privacy_policy' %}{% else %}{% url 'privacy_policy' sub %}{% endif %}"
                       class="white-color item">Privacy Policy</a>
                </div>
            </div>
            <div class="three wide column">
                <h3 class="ui dividing white-color header"><b>Follow Kaadie</b></h3>

                <div class="ui link list">
                    <a class="white-color item" href="https://www.facebook.com/Kaadiecom-1149233738494529/">
                        <i class="facebook white-color icon"></i>

                        <div class="content">
                            Facebook
                        </div>
                    </a>
                    <a class="white-color item" href="https://twitter.com/OfficialKaadie">
                        <i class="twitter white-color icon"></i>

                        <div class="content">
                            Twitter
                        </div>
                    </a>
                    <a class="white-color item" href="https://www.instagram.com/officialkaadie/">
                        <i class="instagram white-color icon"></i>

                        <div class="content">
                            Instagram
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>

{#{% compress js %}#}
{% load static from staticfiles %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js'%}"></script>
<script src="{% static 'js/jquery.blockUI.js' %}"></script>
<script src="{% static 'js/facebook-sdk.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'js/dataTables.rowReorder.min.js' %}"></script>
<script src="{% static 'js/semantic.min.js' %}"></script>
<script src="{% static 'js/sweetalert.min.js' %}"></script>
<script src="{% static '/js/select2.min.js' %}"></script>
<script src="{% static '/js/dataTables.semanticui.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/codemirror.min.js' %}"></script>
<script src="{% static '/js/pusher.min.js' %}"></script>
<script src="{% static '/js/xml.min.js' %}"></script>
<script src="{% static '/js/menu.js' %}"></script>
<script src="{% static '/froala_editor/js/froala_editor.min.js' %}"></script>
<script src="{% static '/froala_editor/js/plugins/link.min.js' %}"></script>
<script src="{% static '/froala_editor/js/plugins/emoticons.min.js' %}"></script>
<script src="{% static '/js/additional-methods.min.js' %}"></script>
<script src="{% static '/js/owl.carousel.min.js' %}"></script>
<script src="{% static '/js/angular/angular.min.js' %}"></script>
<script src="{% static '/js/angular/angular-resource.min.js' %}"></script>
<script src="{% static '/js/angular/angular-utils-pagination/dirPagination.js' %}"></script>
<script src="{% static 'js/ngInfiniteScroll.min.js' %}"></script>
<script src="{% static '/semantic-ui-calendar/dist/calendar.min.js' %}"></script>
<script src="{% static '/js/angular/model.js' %}"></script>
<script src="{% static '/js/angular/controllers.js' %}"></script>
<script src="{% static '/js/angular/app.js' %}"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o);
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '/static/js/analytics.js', 'ga');

    ga('create', 'UA-87995079-1', 'auto');
    ga('send', 'pageview');
</script>
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    $('.pointing.menu .item').tab({
        //history: false
    });

    // initializing share button when you click

    $(".import-user").click(function () {
        $(".ui.importuser.small.modal").modal("show");
    });

    $(".add-user").click(function () {
        $(".ui.adduser.small.modal").modal("show");
    });

    $(".edit-profile").click(function () {
        $(".ui.editprofile.small.modal").modal("show");
    });

    $(".edit-contact").click(function () {
        $(".ui.editcontact.small.modal").modal("show");
    });

    $(".cloud-download").click(function () {
        $(".ui.clouddownload.small.modal").modal("show");
    });

    // Zoom modal
    $(".expand-button").click(function () {
        $(".ui.expand.small.modal").modal("show");
    });

    $(".delete_contact").click(function () {
        $(".ui.deletecontact.small.modal").modal("show");
    });

    $(".close_contact").click(function () {
        $(".ui.deletecontact.small.modal").modal("hide");
    });


    $.extend(true, $.fn.dataTable.defaults, {
        "ordering": false
    });

    // initializing table sort
    $('#contact-table').DataTable({
        info: false,
        dom: '<"top"i>rt<"bottom"p><"clear">',
        rowReorder: {
            selector: 'td:nth-child(2)'
        }
    });


    $('#thread-table').DataTable({
        info: false,
        dom: '<"top"i>rt<"bottom"p><"clear">',
        rowReorder: {
            selector: 'td:nth-child(2)'
        }
    });

    $('#referral-table').DataTable({
        info: false,
        dom: '<"top"i>rt<"bottom"p><"clear">',
        rowReorder: {
            selector: 'td:nth-child(2)'
        }
    });

    {#    $('#design-table').DataTable({#}
    {#        info: false,#}
    {#        dom: '<"top"i>rt<"bottom"p><"clear">',#}
    {#        rowReorder: {#}
    {#            selector: 'td:nth-child(2)'#}
    {#        }#}
    {#    });#}

    //Pagination codes

</script>
<script>
    $(function () {
        $(function () {
            $(".upload_link").on('click', function (e) {
                e.preventDefault();
                $("#profileImage").trigger('click');
            });
        });
        $('#profileImage').change(function () {
            $("#updateImageForm").submit();
        });
        $('#DOB').datepicker({
            {#                format: 'dd/mm/yyyy',#}
            defaultViewDate: '{{ account.address.date_of_birth }}',
            todayBtn: true
        });
        $('#profileForm').validate({
            submitHandler: function (form) {
                if ($(form).valid() && document.getElementById('DOB').value != null) {
                    document.getElementById('DOB').value = new Date(document.getElementById('DOB').value).toISOString().slice(0, 10);
                    form.submit();
                }
            }
        })
    });
</script>
<script type="text/javascript">
    var mark = function (notification_id) {
        var url = '/notification/' + notification_id + '/mark';
        $.post(url, function (data, status) {
        })
    };

    jQuery.validator.setDefaults({
        debug: true,
        success: "valid"
    });
    $(function () {
        $('#app_message.close').on('click', function () {
            $(this).closest('.message').transition('fade');
        });
    });
    $('#search_form input').keydown(function (e) {
        if (e.keyCode == 13) {
            $('#search_form').submit();
        }
    });
</script>
{#{% endcompress %}#}
</body>

</html>
