{% extends 'base_layout.html' %}

{% block 'title' %}
    <title> Kaadie | Control Panel </title>
{% endblock %}

{% block 'scripts' %}
    <!-- Script files  -->
    <script type="text/javascript">
        $(function () {
          //script for message display
          $('.message .close').on('click', function () {
                  $(this).closest('.message').transition('fade');
            });
          // script for tab menu
          $(' .menu .item').tab({});
          // script for modal scrolling : 'scrolling'

          $(".report_detail").click(function () {
              $(".ui.reportdetail.modal").modal({
                  scrolling : 'no scrolling',
                  blurring  : true,
                }).modal("show");
          });

          // initializing table sort
          $('#cp-table').DataTable({
              "info": false,
              "dom": '<"top"if>rt<"bottom"p><"clear">'
          });

          // dropdown
          $('.ui.dropdown').dropdown();
        });
    </script>

{% endblock %}

{% block 'body' %}
    <div class="ui container">
        <div class="ui stackable huge menu">
            <div class="ui icon image borderless item">
                <img class="kaadie-logo-image" src="{{ organization.logo }}" alt="Kaadie Logo"/>
            </div>
            <div class="ui item">Analytics Report</div>

            <div class="ui dropdown right borderless item white_color">
                <i class="user large icon"></i>
                    Details
                <i class="dropdown icon"></i>
                <div class="menu">
                  <a class="borderless item" href="{% if sub is None %}{% url 'home' %}{% else %}{% url 'home' sub %}{% endif %}">
                      <i class="ui user icon"></i> &nbsp;Profile
                  </a>
                  <a class="item" href="{% if sub is None %}{% url 'notifications' %}{% else %}{% url 'notifications' sub %}{% endif %}">
                    <i class="ui bell icon"></i> &nbsp;Notifications</a>
                  <a class="item" href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}">
                      <i class="ui home icon"></i> &nbsp; Homepage
                  </a>
                </div>
              </div>

        </div>
        <div class="ui container">
          <div class="ui two column doubling stackable grid container">
            <div class="column computer only">&nbsp;</div>
            <div class="column">
              <div class="ui form">
                <div class="evenly divided fields">
                  <div class="field">
                    <label>From:</label>
                    <input type="date" placeholder="dd/mm/yyyy">
                  </div>
                  <div class="field">
                    <label>To:</label>
                    <input type="date" placeholder="dd/mm/yyyy">
                  </div>
                  <div class="field">
                    <label>&nbsp;</label>
                    <button class="ui green fluid button">
                      Search
                    </button>
                      <!-- end of search -->
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="ui hidden divider"></div>
          <!-- end of search form           -->
          <div class="ui two stackable special centered cards">
            <div class="ui card" id="details-card">
              <div class="content">
                  <div class="header primary_color report_detail">Title</div>
                  <div class="description">
                    <div class="report_detail">
                      <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
                      <p>Many people also have their own barometers for what makes a cute dog.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo explicabo doloribus hic blanditiis eveniet, quod distinctio! Consequatur reiciendis, sapiente nobis perspiciatis ipsa ducimus! Minus nemo dolorum ullam, quis ducimus natus?</p>
                    </div>
                  </div>
              </div>
            </div><!-- end of card -->
            <div class="ui card" id="details-card">
              <div class="content">
                  <div class="header primary_color report_detail">Title</div>
                  <div class="description">
                    <div class="report_detail">
                      <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
                      <p>Many people also have their own barometers for what makes a cute dog.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo explicabo doloribus hic blanditiis eveniet, quod distinctio! Consequatur reiciendis, sapiente nobis perspiciatis ipsa ducimus! Minus nemo dolorum ullam, quis ducimus natus?</p>
                    </div>
                  </div>
              </div>
            </div><!-- end of card -->
            <div class="ui card" id="details-card">
              <div class="content">
                  <div class="header primary_color report_detail">Title</div>
                  <div class="description">
                    <div class="report_detail">
                      <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
                      <p>Many people also have their own barometers for what makes a cute dog.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo explicabo doloribus hic blanditiis eveniet, quod distinctio! Consequatur reiciendis, sapiente nobis perspiciatis ipsa ducimus! Minus nemo dolorum ullam, quis ducimus natus?</p>
                    </div>
                  </div>
              </div>
            </div><!-- end of card -->
            <div class="ui card" id="details-card">
              <div class="content">
                  <div class="header primary_color report_detail">Title</div>
                  <div class="description">
                    <div class="report_detail">
                      <p>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</p>
                      <p>Many people also have their own barometers for what makes a cute dog.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo explicabo doloribus hic blanditiis eveniet, quod distinctio! Consequatur reiciendis, sapiente nobis perspiciatis ipsa ducimus! Minus nemo dolorum ullam, quis ducimus natus?</p>
                    </div>
                  </div>
              </div>
            </div><!-- end of card -->

          </div><!-- end of card groups -->
          <div class="ui hidden divider"></div>
        </div>
    </div> <!-- end of container -->

    <!-- Begin of modal -->
    <div class="ui reportdetail modal">
      <div class="header">Title </div>
      <div class="content">
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    <!-- End of modal -->

    <footer class="footer-background">
        <div class="ui three column doubling equal height stackable grid container">
            <div class="four wide column">
                <a href="/"><img src="{{ organization.logo }}" alt="Kaadie Logo" class="ui small image"/></a>
                <div class="ui hidden divider"></div>
                <small class="centered item padtop-2"> &copy; 2017. Kaadie.com or its affiliates.</small>
            </div>
            <div class="three wide column computer tablet only">
                <h3 class="ui dividing header"><b>Main Menu</b></h3>
                <div class="ui link list">
                    <div class="active item"><a href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}">Home</a></div>
                    <a class="item" href="{% if sub is None %}{% url 'about' %}{% else %}{% url 'about' sub %}{% endif %}">About Kaadie</a>
                    <a href="{% if sub is None %}{% url 'how_it_works' %}{% else %}{% url 'how_it_works' sub %}{% endif %}" class="item">How It works</a>
                </div>
            </div>
            <div class="three wide column computer tablet only">
                <h3 class="ui dividing header"><b>Other Details</b></h3>
                <div class="ui link list">
                    <a href="mailto:support@kaadie.com" class="item">Email Us</a>
                    <a href="{% if sub is None %}{% url 'terms_of_use' %}{% else %}{% url 'terms_of_use' sub %}{% endif %}" class="item">Terms of Use</a>
                    <a href="{% if sub is None %}{% url 'privacy_policy' %}{% else %}{% url 'privacy_policy' sub %}{% endif %}" class="item">Privacy Policy</a>
                </div>
            </div>
            <div class="three wide column">
                <h3 class="ui dividing header"><b>Connect with Kaadie</b></h3>
                <div class="ui link list">
                    <a class="item" href="https://www.facebook.com/Kaadiecom-1149233738494529/">
                        <i class="facebook icon"></i>
                        <div class="content">
                            Facebook
                        </div>
                    </a>
                    <a class="item" href="https://twitter.com/Kaadieworld">
                        <i class="twitter icon"></i>
                        <div class="content">
                            Twitter
                        </div>
                    </a>
                    <a class="item" href="https://www.instagram.com/kaadieworld/">
                        <i class="instagram icon"></i>
                        <div class="content">
                            Instagram
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
