{% extends 'layout.html' %}

{% block 'title' %}
    <title> Kaadie | Search Page </title>
{% endblock %}

{% block 'body' %}

    <div class="ui fluid container" ng-controller="IndexController" ng-init="initialize('{{ saved_ids }}')">
        <header style="margin: 20px">
            <h1 class="ui dividing header primary_color cursive-font">
                Search results For: '{{ search_q }}'
            </h1>
            {% if search_result|length == 0 %}
                <h1 class="ui center aligned icon huge header">
                    <i class="grey frown icon"></i>
                    No result
                </h1>
                <div class="ui center aligned grey sub header">Sorry, the card you were looking for doesn't exist.</div>
            {% endif %}
        </header>
        <section>
            <div class="ui basic segment" ng-controller="LandingController">
                <div class="ui six doubling special centered cards">
                    <!-- Begin of Card -->
                    {% for card in search_result %}
                        <div class="card">
                            <div class="blurring dimmable image">
                                <div class="ui inverted dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a class="ui icon button primary_color" href="{% if sub is None %}{% url 'card' card.slug %}{% else %}{% url 'card' sub card.slug %}{% endif %}">
                                                <i class="zoom icon"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <img src="{{ card.image_url }}">
                            </div>
                            {% if user.is_authenticated %}
                                <div class="content">
                                    {% if card not in saved_cards %}
                                        <span class="save-icon" ng-show="can_save('{{ card.pk }}')" ng-click="saveCard('{{ card.pk }}')">
                                          <i class="link bookmark green large icon"></i>
                                      </span>
                                    {% endif %}
                                    <a href="{% if sub is None %}{% url 'send_card' card.slug %}{% else %}{% url 'send_card' sub card.slug %}{% endif %}"
                                       class="right floated ui compact primary circular tiny  button">Send
                                    </a>
                                </div>
                            {% else %}
                                <div class="content">
                                    {% if card not in saved_cards %}
                                        <a href="{% if sub is None %}{% url 'login' %}?next={% url 'card' card.slug %}{% else %}{% url 'login' sub %}?next={% url 'card' sub card.slug %}{% endif %}">
                                            <i class="link bookmark green large icon"></i>
                                        </a>
                                    {% endif %}

                                    <a href="{% if sub is None %}{% url 'send_card' card.slug %}{% else %}{% url 'send_card' sub card.slug %}{% endif %}"
                                       class="right floated ui compact primary circular tiny  button">Send
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <!-- End of Card -->
                    {% endfor %}
                </div>
                <div class="ui hidden divider"></div>
                <div class="ui hidden divider"></div>
                <h3 class="ui dividing header primary_color cursive-font">Other beautifully designed cards for you to explore</h3>
                <div class="ui six doubling special centered cards">
                    {% for card in random_cards %}
                        <div class="card">
                            <div class="blurring dimmable image">
                                <div class="ui inverted dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a class="ui icon button primary_color" href="{% if sub is None %}{% url 'card' card.slug %}{% else %}{% url 'card' sub card.slug %}{% endif %}">
                                              <i class="zoom icon"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <img src="{{ card.image_url }}">
                            </div>
                            {% if user.is_authenticated %}
                                <div class="content">
                                    {% if card not in saved_cards %}
                                        <span class="save-icon" ng-show="can_save('{{ card.pk }}')" ng-click="saveCard('{{ card.pk }}')">
                                          <i class="link bookmark green large icon"></i>
                                      </span>
                                    {% endif %}
                                    <a href="{% if sub is None %}{% url 'send_card' card.slug %}{% else %}{% url 'send_card' sub card.slug %}{% endif %}"
                                       class="right floated ui compact primary circular tiny  button">Send
                                    </a>
                                </div>
                            {% else %}
                                <div class="content">
                                    {% if card not in saved_cards %}
                                        <a href="{% if sub is None %}{% url 'login' %}?next={% url 'card' card.slug %}{% else %}{% url 'login' sub %}?next={% url 'card' sub card.slug %}{% endif %}">
                                            <i class="link bookmark green large icon"></i>
                                        </a>
                                    {% endif %}

                                    <a href="{% if sub is None %}{% url 'send_card' card.slug %}{% else %}{% url 'send_card' sub card.slug %}{% endif %}"
                                       class="right floated ui compact primary circular tiny  button">Send
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <!-- End of Card -->
                    {% endfor %}
                </div>
                <div class="ui six doubling special centered cards" infinite-scroll="loadMore()"
                     infinite-scroll-disabled="isBusy" infinite-scroll-distance="1">
                    <div class="card" ng-repeat="moreCard in cards">
                        <div class="blurring dimmable image">
                            <div class="ui inverted dimmer">
                                <div class="content">
                                    <div class="center">
                                        <a class="ui icon button primary_color"
                                           href="{% if sub is None %}/cards/[[ moreCard.slug ]]{% else %}'/{{ sub }}/cards/[[ moreCard.slug ]]{% endif %}">
                                            <i class="zoom icon"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <img data-ng-src="[[ moreCard.image_url ]]" onmouseover="sendModalShow()">
                        </div>
                        {% if user.is_authenticated %}
                            <div class="content">
                                        <span class="save-icon" ng-show="can_save(moreCard.pk)" ng-click="saveCard(moreCard.pk)">
                                          <i class="link bookmark green large icon"></i>
                                        </span>
                                <a href="{% if sub is None %}/cards/[[ moreCard.slug ]]/send{% else %}/{{ sub }}/cards/[[ moreCard.slug ]]/send{% endif %}"
                                   class="right floated ui compact primary circular tiny  button">Send
                                </a>
                            </div>
                        {% else %}
                            <div class="content">
                                <a href="{% if sub is None %}/accounts/login?next=/cards/[[ moreCard.slug ]]{% else %}/{{ sub }}/accounts/login?next=/{{ sub }}/cards/[[ moreCard.slug ]]{% endif %}">
                                    <i class=" link bookmark green large icon"></i>
                                </a>
                                <a {% if sub is None %}href="/cards/[[ moreCard.slug ]]/send"
                                   {% else %}href="/{{ sub }}/cards/[[ moreCard.slug ]]/send"{% endif %}
                                   class="right floated ui compact primary circular tiny button">
                                    Send
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <div ng-show='isBusy'><h2 style="text-align: center">Loading data...</h2></div>
                </div>
            </div>
        </section>
        <div class="ui share small modal">
            <i class="close icon"></i>

            <div class="header">
                Share Card from Kaadie
            </div>
            <div class="image content">
                <div class="ui medium image">
                    <img data-ng-src="[[ selected_card.image_url ]]">
                </div>
                <div class="description">
                    <h3>Please select from options below</h3>
                    <a href="" ng-click="shareFB()"
                       class="ui circular facebook icon button" target="_blank">
                        <i class="facebook big icon"></i>
                    </a>
                    <a href="" ng-click="shareIn()"
                       class="ui circular linkedin icon button" target="_blank">
                        <i class="linkedin big icon"></i>
                    </a>
                    <a ng-click="shareTweet()"
                       class="ui circular twitter icon button">
                        <i class="twitter big icon"></i>
                    </a>
                    <a ng-click="sharePinterest()"
                       class="ui circular pinterest icon button">
                        <i class="pinterest big icon"></i>
                    </a>
                    {% if ua.is_mobile %}
                        <a ng-click="shareWhatsapp()" class="ui circular whatsapp green icon button">
                            <i class="whatsapp white big icon"></i>
                        </a>
                    {% endif %}
                    <a ng-click="shareGPlus()"
                       class="ui circular google plus icon button">
                        <i class="google plus big icon"></i>
                    </a>
                </div>
            </div>
        </div>
    </div><!-- end of container -->
{% endblock %}