{% extends 'layout.html' %}

{% block 'title' %}
    <title> Kaadie | {{ section.title.title }} </title>
{% endblock %}

{% block 'scripts' %}
    <!-- Script files  -->
    <script type="text/javascript">
        $(function () {
            // Accordion
            $('.ui.accordion').accordion();
            //Send button modal
{#            $("button.send_button").click(function () {#}
{#                $(".ui.send.small.modal").modal("show");#}
{#            });#}
            // Multiple Selection Dropdowns
            $('#dropdown_email').dropdown({
                allowAdditions: true,
                forceSelection: false,
                hideAdditions: false
            });
            $('#dropdown_sms').dropdown({
                allowAdditions: true,
                forceSelection: false,
                hideAdditions: false
            });

            // TO HIDE send via SMS options
            $('#sms-checkbox').click(function () {
                var inputValue = $(this).attr("value");
                $("." + inputValue).toggle();
            });

            // Select Field of Email
            function validateEmail(email) {
                var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }

            $(".js-example-tokenizer").select2({
              tags: true,
              createTag: function(term, data) {
                  var value = term.term;
                  if(validateEmail(value)) {
                      return {
                        id: value,
                        text: value
                      };
                  }
                  return null;
              },
              tokenSeparators: [',', ' '],
              placeholder: 'Enter email address(es)'
            });

        });
        $("button.send_button").click(function () {
            $(".ui.send.small.modal").modal("show");
        });

    </script>
    <!-- End Scripts -->
{% endblock %}

{% block 'body' %}
    <!-- Category Content  -->
    <!-- Section  -->
    <div ng-controller="IndexController" ng-init="initialize('{{ saved_ids }}')">
        <div class="ui container">
            <div class="ui featured basic segment">
                <h2 class="ui header primary_color cursive-font">
                    {{ section.title }}
                </h2>

                <h4 class="ui cursive-font dividing header">
                    <div class="ui celled horizontal link list">
                        {% for category in categories %}
                            <a class="item" href="{% if sub is None %}{% url 'category' section.pk category.slug %}{% else %}{% url 'category' sub section.pk category.slug %}{% endif %}">{{ category.title }}</a>
                        {% endfor %}
                    </div>
                </h4>

                <div class="ui hidden divider"></div>
                <div class="ui four doubling special cards">
                    <!-- Begin of Card -->
                    {% for card in cards %}
                        <div class="card">
                            <div class="blurring dimmable image">
                                <div class="ui inverted dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <a href="{% if sub is None %}{% url 'card' card.slug %}{% else %}{% url 'card' sub card.slug %}{% endif %}"
                                               class="ui icon button">
                                                <i class="zoom icon"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <img src="{{ card.image_url }}">
                            </div>
                            {% if user.is_authenticated %}
                                <div class="content">
{#                            <span class="share-icon" ng-click='share("{{ card.pk }}", "{{ card.image_url }}")'>#}
{#                                <i class="right floated link share alternate large green icon"></i>#}
{#                            </span>#}
                                    {% if card not in saved_cards %}
                                        <span class="save-icon" ng-click="saveCard('{{ card.pk }}')" ng-show="can_save('{{ card.pk }}')">
                                            <i class="left floated link bookmark green large icon"></i>
                                        </span>
                                    {% endif %}
{#                                    <button class="right floated ui compact circular small button send_button" ng-click='share("{{ card.pk }}", "{{ card.image_url }}", "{{ card.slug }}", "{{ card.title }}", "{{ card.description }}")'>#}
{#                                        Send#}
{#                                    </button>#}
                                    <a href="{% if sub is None %}{% url 'send_card' card.slug %}{% else %}{% url 'send_card' sub card.slug %}{% endif %}"
                                           class="right floated ui compact primary circular tiny button">Send
                                    </a>
{#                                    <a class="cursive-font primary_color"#}
{#                                       href="{% if sub is None %}{% url 'card' card.slug %}{% else %}{% url 'card' sub card.slug %}{% endif %}">#}
{#                                        <i class="ui zoom icon"></i></a>#}
                                </div>
                            {% else %}
                                <div class="content">
{#                                    <a href="{% if sub is None %}{% url 'login' %}?next={% url 'card' card.slug %}{% else %}{% url 'login' sub %}?next={% url 'card' sub card.slug %}{% endif %}"#}
{#                                       class="share-icon">#}
{#                                        <i class="right floated link share alternate large green icon"></i>#}
{#                                    </a>#}
                                    <a href="{% if sub is None %}{% url 'login' %}?next={% url 'card' card.slug %}{% else %}{% url 'login' sub %}?next={% url 'card' sub card.slug %}{% endif %}"
                                       class="save-icon">
                                        <i class="left floated link bookmark green large icon"></i>
                                    </a>
                                    <a href="{% if sub is None %}{% url 'send_card' card.slug %}{% else %}{% url 'send_card' sub card.slug %}{% endif %}"
                                           class="right floated ui compact primary circular tiny  button">Send
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <!-- End of Card -->
                    {% if cards|length == 0 %}
                        <div class="padtop-1">
                            <h4 class="ui horizontal divider orange header">
                                <i class="orange circular inverted warning icon"></i>
                                ATTENTION
                            </h4>
                        </div>
                        <div class="ui icon negative message ">
                            <i class="send icon"></i>
                            <div class="content">
                                <div class="red header">
                                    No cards available in this section yet.
                                </div>
                                <p>Go back <a href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}">Home</a>
                                    to view our array of beautiful cards</p>
                            </div>
                        </div>
                        <div class="ui hidden divider"></div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- End of Section -->
        <!-- End of Category Content -->

        <!-- Modal for share -->
        <div class="ui share small modal">
            <i class="close icon"></i>
            <div class="header">
                Share Card from Kaadie
            </div>
            <div class="image content">
                <div class="ui medium image">
                    <img data-ng-src="[[ selected_card.image_url ]]">
                </div>
                <div class="description">
                    <h3>Please select from options below</h3>
                    <a href="" ng-click="shareFB()"
                       class="ui circular facebook icon button" target="_blank">
                        <i class="facebook icon"></i>
                    </a>
                    <a href="" ng-click="shareIn()"
                       class="ui circular linkedin icon button" target="_blank">
                        <i class="linkedin icon"></i>
                    </a>
                    <a ng-click="shareTweet()"
                       class="ui circular twitter icon button">
                        <i class="twitter icon"></i>
                    </a>
{#                    <a ng-click="sharePinterest()"#}
{#                       class="ui circular pinterest icon button">#}
{#                        <i class="pinterest icon"></i>#}
{#                    </a>#}
{#                    {% if ua.is_mobile %}#}
{#                        <a ng-click="shareWhatsapp()" class="ui circular whatsapp green icon button">#}
{#                            <i class="whatsapp white icon"></i>#}
{#                        </a>#}
{#                    {% endif %}#}
                    <a ng-click="shareWhatsapp('{{ ua.is_pc }}')" data-text="Kaadie | [[selected_card.title]]" data-href="[[selected_card.link]]" data-action="share/whatsapp/share" class="ui circular whatsapp green icon button">
                        <i class="whatsapp white small icon"></i>
                    </a>
                    <a ng-click="shareGPlus()"
                       class="ui circular google plus icon button">
                        <i class="google plus icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <!--End of share modal  -->

        <!-- MODAL FOR SEND -->
        <div class="ui send small modal">
            <i class="close icon"></i>
            <div class="header">
                Send This Card Now
            </div>
            <div class="image content">
                <div class="ui medium image">
                    <img data-ng-src="[[ selected_image_url ]]">
                    <div class="ui hidden divider"></div><br>
                    <span class="left floated primary_color edit-button">
                         <a href="/cards/[[selected_card.slug]]/send" class="ui button" id="personalize_btn">Personalize</a>
                     </span>
                </div>
                <div class="description" style="min-width:50%;">
                    <h3>Send on social media via the options below</h3>
                    <a href="" ng-click="shareFB()"
                       class="ui circular facebook icon button" target="_blank">
                        <i class="facebook icon"></i>
                    </a>
                    <a href="" ng-click="shareIn()"
                       class="ui circular linkedin icon button" target="_blank">
                        <i class="linkedin icon"></i>
                    </a>
                    <a ng-click="shareTweet()"
                       class="ui circular twitter icon button">
                        <i class="twitter icon"></i>
                    </a>
{#                    <a ng-click="sharePinterest()"#}
{#                       class="ui circular pinterest icon button">#}
{#                        <i class="pinterest big icon"></i>#}
{#                    </a>#}
{#                    {% if ua.is_mobile %}#}
{#                        <a ng-click="shareWhatsapp()" data-text="Kaadie | [[selected_card.title]]" data-href="[[selected_card.link]]" data-action="share/whatsapp/share" class="ui circular whatsapp green icon button">#}
{#                            <i class="whatsapp white icon"></i>#}
{#                        </a>#}
{#                    {% endif %}#}
                    <a ng-click="shareWhatsapp('{{ ua.is_pc }}')" data-text="Kaadie | [[selected_card.title]]" data-href="[[selected_card.link]]" data-action="share/whatsapp/share" class="ui circular whatsapp green icon button">
                        <i class="whatsapp white small icon"></i>
                    </a>
                    <a ng-click="shareGPlus()" class="ui circular google plus icon button">
                        <i class="google plus icon"></i>
                    </a>
                    <form class="ui form" method="post" id="SendCardForm" ng-submit="sendCard()">
                        <div ng-show="message.error || message.success">
                            <span ng-bind="message.error" style="color: red"></span>
                            <span ng-bind="message.success" style="color: limegreen"></span>
                        </div>
                        <h4 class="ui dividing header">Recipient Details</h4>
                        <div class="required field">
                            <label>Send Card To Email:</label>
                            <select class="js-example-tokenizer" name="receipt" id="email_recipients" multiple="multiple">
                              {% for contact in user.account.contacts.all %}
                                  {% if contact.email %}
                                      <option value="{{ contact.email }}">{{ contact.name }}</option>
                                    {% endif %}
                              {% endfor %}
                            </select>
                        </div>
                        <!-- Checkbox for send via sms option -->
                        <div class="ui hidden divider"></div>
                        <div class="required field">
                            <label>From: </label>
                            <div class="field">
                                <input type="text" name="sender_name" placeholder="Your name as it will appear" {% if user.is_authenticated %} value="{{ user.account.name }}" {% endif %} ng-model="form.sender_name" required>
                                <input type="hidden" value="[[selected_card.pk]]" name="card_id">
                            </div>
                        </div>
                        <div class="field">
                            <input type="hidden" id="card_image" name="card_image" ng-model="form.card_image">
                            <label for="message">Message</label>
                            <textarea rows="3" name="message" id="message" required ng-model="form.message"></textarea>
                        </div>
                        {% if card.price > 0 %}
                            <h4 class="ui dividing header">Payment Information</h4>
                            <div class="field">
                                <label>Card Type</label>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="card[type]">
                                    <div class="default text">Type</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <div class="item" data-value="visa">
                                            <i class="visa icon"></i>
                                            Visa
                                        </div>
                                        <div class="item" data-value="mastercard">
                                            <i class="mastercard icon"></i>
                                            Master Card
                                        </div>
                                        <div class="item" data-value="paypal">
                                            <i class="paypal icon"></i>
                                            Paypal
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="two fields">
                                    <div class="field">
                                        <label>Card Number</label>
                                        <input type="text" name="card[number]" maxlength="16" placeholder="Card #">
                                    </div>
                                    <div class="field">
                                        <label>CVC</label>
                                        <input type="text" name="card[cvc]" maxlength="3" placeholder="CVC">
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Expiration</label>
                                    <div class="two fields">
                                        <div class="field">
                                            <select class="ui fluid search dropdown" name="card[expire-month]">
                                                <option value="">Month</option>
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <input type="text" name="card[expire-year]" maxlength="4"
                                                   placeholder="Year">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <button ng-hide="form.sending" class="ui green button" tabindex="0">Send Card</button>
                        <button ng-show="form.sending" class="ui grey button">Sending &nbsp;&nbsp;<i
                                class="fa fa-spinner fa-spin"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <!--End of send modal  -->
    </div>

{% endblock %}
