{% extends 'layout.html' %}

{% block 'title' %}
    <title> Kaadie | Section </title>
{% endblock %}

{% block 'body' %}
        <!-- Category Content  -->
        <!-- Section  -->
  <div class="ui container">
        <div class="ui featured basic segment">
            <h1 class="ui centered aligned header primary_color">
                All Sections
            </h1>

            <div class="ui hidden divider"></div>
            <div class="ui four column padded doubling grid">
                {% for section in sections %}
                    <div class="column">
                        <h2 class="ui primary_color center aligned dividing header cursive-font">
                            <a href="{% if sub is None %}{% url 'section' section.slug %}{% else %}{% url 'section' sub section.slug %}{% endif %}" style="color:inherit">{{ section.title }}</a>
                        </h2>
                        <div class="ui middle aligned animated selection list">
                            {% for category in section.categories.all %}
                                <a class="item"
                                   href="{% if sub is None %}{% url 'category' section.pk category.slug %}{% else %}{% url 'category' sub section.pk category.slug %}{% endif %}">{{ category.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
  </div>
        <!-- End of Section -->
        <!-- End of Category Content -->

        <!-- Modal for share -->
        <div class="ui share small modal">
            <i class="close icon"></i>
            <div class="header">
                Share Card from Kaadie
            </div>
            <div class="image content">
                <div class="ui medium image">
                    <img src="[[ selected_card.image_url ]]">
                </div>
                <div class="description">
                    <h3>Please select from options below</h3>
                    <a href="" ng-click="shareFB()"
                       class="ui circular facebook icon button" target="_blank">
                        <i class="facebook big icon"></i>
                    </a>
                    <a href="" ng-click="shareIn()"
                       class="ui circular linkedin icon button" target="_blank">
                        <i class="linkedin big icon"></i>
                    </a>
                    <a ng-click="shareTweet()"
                       class="ui circular twitter icon button">
                        <i class="twitter big icon"></i>
                    </a>
                    <a ng-click="sharePinterest()"
                       class="ui circular pinterest icon button">
                        <i class="pinterest big icon"></i>
                    </a>
                    {#                    <a class="ui circular whatsapp green icon button">#}
                    {#                        <i class="whatsapp white big icon"></i>#}
                    {#                    </a>#}
                    <a ng-click="shareGPlus()"
                       class="ui circular google plus icon button">
                        <i class="google plus big icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <!--End of share modal  -->

    </div> <!-- end of pusher -->

{% endblock %}
