{% extends 'layout.html' %}

{% block 'title' %}
    <title> Kaadie | Sent Card successfully</title>
{% endblock %}

{% block 'scripts' %}
    <!-- Script files  -->
    <script type="text/javascript">
        $('.ui.basic.failure.modal')
          .modal({  blurring: true})
          .modal('show')
        ;
        // initializing share button when you click
        // First modal
        // $(".share-icon").click(function () {
        //     $(".ui.share.small.modal").modal("show");
        // });
        // Second modal
        // $(".expand-button").click(function () {
        //     $(".ui.expand.small.modal").modal("show");
        // });

    </script>


{% endblock %}


{% block 'body' %}
    <!-- Sidebar Menu  when mobile-->
    <div class="ui vertical indexpage sidebar menu">
        <div class="item" style="width: 120px">
            <a href="{% url 'index' %}"><img class="ui image" src="/images/k_logo-white.png"></a>
        </div>
        {% for section in sections %}
            <a class="item" href="{% url 'categories' section.pk %}">{{ section.title }}</a>
        {% endfor %}
        {% if user %}
            <a class="item" href="{% url 'home' %}">Profile</a>
            <a class="item" href="{% url 'notifications' %}">Notifications</a>
        {% else %}
            <a class="item" href="{% url 'login' %}">Login</a>
            <a class="item" href="{% url 'register' %}">Signup</a>
        {% endif %}
    </div>

    <div class="pusher mybackground" ng-controller="HomeController" ng-init="init('{{ user.pk }}')">
        <!-- topmenu -->
        <div class="ui borderless topmenu secondary menu">
            <div class="ui container">
                <a class="fitted item" href="https://www.facebook.com/Kaadiecom-1149233738494529/"><i
                        class="facebook f icon"></i></a>
                <a class="fitted item" href="https://twitter.com/Kaadieworld"><i class="twitter icon"></i></a>
                <a class="fitted item" href="https://www.instagram.com/kaadieworld/"><i class="instagram icon"></i></a>

                <div class="ui dropdown right item">All
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        {% for section in sections.all %}
                            <a class="item" href="{% url 'categories' section.pk %}">{{ section.title }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% for section in sections.all|slice:":3" %}
                    <div class="ui dropdown item">
                        {{ section.title }}
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {% for category in section.categories.all %}
                                <a class="item"
                                   href="{% url 'category' category.pk category.slug %}">{{ category.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

                <a class="item primary_color"><i class="question large icon"></i>How It works</a>
                <a class=" item primary_color"><i class="flag large icon"></i>Report</a>
            </div>
        </div>

        <!-- Fixed menu when you scroll -->
        <div class="ui top fixed borderless hidden featured menu">
            <div class="ui container">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <div class="item">
                    <a href="{% url 'index' %}"><img id="kaadie_logo" src="/images/k_logo-white.png"></a>
                </div>
                <div class="right mobilehide menu">
                    <div class="item">
                        <div class="ui search ">
                            <div class="ui icon mini long-search input">
                                <input class="prompt" type="text" name="search_cards" placeholder="Search for Cards...">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                    {% if user %}
                        <a href="{% url 'home' %}" class="active item white-color">
                            <i class="pin large icon"></i>
                            <div class="ui small green left pointing label">{{ user.saved_cards.count }}</div>
                        </a>
                        <a class="item white-color">
                            <i class="bell large icon"></i>
                            <div class="ui small red left pointing label">{{ user.notifications.count }}</div>
                        </a>
                    {% endif %}

                    <div class="ui dropdown item white-color">
                        {% if user %}<i class="user large icon"></i> {{ user.name }}{% else %}Account{% endif %}
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {% if user %}
                                <a href="{% url 'logout' %}" class="item"><i class="sign out icon"></i> Sign Out</a>
                                <a href="{% url 'home' %}" class="item"><i class="user icon"></i>Profile</a>
                            {% else %}
                                <a href="{% url 'login' %}" class="item"><i class="checkmark box icon"></i> Login</a>
                                <a href="{% url 'register' %}" class="item"><i class="signup icon"></i> Sign up</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main menu -->
        <div class="ui inverted teal huge borderless mainnav menu">
            <div class="ui container">
                <div class="item">
                    <a href="{% url 'index' %}"><img id="kaadie_logo" src="/images/k_logo-white.png"></a>
                </div>
                <div class="right mobilehide menu">
                    <div class="item">
                        <div class="ui search ">
                            <div class="ui icon mini long-search input">
                                <input class="prompt" type="text" name="search_cards" placeholder="Search for Cards...">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>

                    {% if user %}
                        <a href="{% url 'home' %}" class="active item">
                        <span class="icon-popup" data-tooltip="Your Saved Cards" data-position="bottom center">
                          <i class="pin large icon"></i>
                          <div class="ui small green left pointing label">{{ user.saved_cards.count }}</div>
                        </span>
                        </a>
                        <a class="item">
                        <span class="icon-popup" data-tooltip="Your Notifications" data-position="bottom center">
                          <i class="bell large icon"></i>
                          <div class="ui small red left pointing label">{{ user.notifications.count }}</div>
                        </span>
                        </a>
                    {% endif %}
                    <div class="ui dropdown item">
                        {% if user %}<i class="user large icon"></i> {{ user.name }}{% else %}Account{% endif %}
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {% if user %}
                                <a href="{% url 'logout' %}" class="item"><i class="sign out icon"></i> Sign Out</a>
                                <a href="{% url 'home' %}" class="item"><i class="user icon"></i>Profile</a>
                            {% else %}
                                <a href="{% url 'login' %}" class="item"><i class="checkmark box icon"></i> Login</a>
                                <a href="{% url 'register' %}" class="item"><i class="signup icon"></i> Sign up</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Successfully Sent Cards  -->

        <!-- Links back to home page -->
        <a href="{% url 'index' %}" class="padleft-2">
            < Back to Results
        </a>
        <!--Success page header  -->
        <div class="ui very padded text  container">
            <h2 class="ui icon center aligned header">
                <i class="send inverted green circular icon"></i>
                <div class="content">
                    Card sent successfully from <span class="ui teal header">Kaadie</span>!
                </div>
            </h2>
            <div class="ui divider"></div>
        </div>
        <div class="ui three column doubling stackable grid container">
          <div class="column">
            <p></p>
          </div>
            <div class="column">
              <div class="ui fluid card">
                <div class="image">
                  <img src="/images/card_1.jpg">
                </div>
                <div class="content">
                  <a class="header">Wedding</a>
                  <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
                <div class="ui bottom attached follow green button">Successfully Sent Card</div>
              </div>
              <div class="ui hidden divider"></div>
            </div>
        </div>
        <!-- success modal -->
        <!-- <div class="ui basic modal">
            <h2 class="ui icon center aligned hidden header">
                <div class="item">
                    <a href="{% url 'index' %}"><img id="kaadie_logo" src="/images/k_logo-white.png"></a>
                </div>
                <div class="ui hidden divider"></div>
                <div class="content">
                  <i class="send inverted green circular icon"></i>
                    Card sent successfully from <span class="ui teal header">Kaadie</span>!
                </div>
            </h2>
            <div class="ui very padded text center aligned container">
              <div class="ui hidden divider"></div>
              <h3 class="white-color">
                Do you want to return your Kaadie Home Page?
              </h3>
              <div class="ui red cancel inverted button">
                <i class="remove icon"></i>
                No
              </div>
              <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Yes
              </div>
            </div>
          </div> -->

          <!-- failure modal -->
          <div class="ui basic failure modal">
              <h2 class="ui icon center aligned hidden header">
                  <div class="item">
                      <a href="{% url 'index' %}"><img id="kaadie_logo" src="/images/k_logo-white.png"></a>
                  </div>
                  <div class="ui hidden divider"></div>
                  <div class="content">
                    <i class="cancel inverted red circular icon"></i>
                       <span class="ui teal header">Kaadie</span> was not able to send your card.
                  </div>
              </h2>
              <div class="ui very padded text center aligned container">
                <div class="ui hidden divider"></div>
                <h3 class="white-color">
                  Do you want to try again?
                </h3>
                <div class="ui red cancel inverted button">
                  <i class="remove icon"></i>
                  No
                </div>
                <div class="ui green ok inverted button">
                  <i class="checkmark icon"></i>
                  Yes
                </div>
              </div>
            </div>


        <footer class="footer-background">
            <div class="ui container">
                <div class="ui three column grid">
                    <div class="column">
                        <h3><b>Main Menu</b></h3>
                        <hr>
                        <div class="ui link list">
                            <div class="active item"><b>Home</b></div>
                            <a class="item">About Kaadie</a>
                            <a class="item">Jobs at Kaadie</a>
                            <a class="item">Team</a>
                        </div>
                    </div>
                    <div class="column">
                        <h3><b>Other Important Details</b></h3>
                        <hr>
                        <div class="ui link list">
                            <a class="item">Email Us</a>
                            <a class="item">Legals</a>
                            <a class="item">Privacy Policy</a>
                        </div>
                    </div>
                    <div class="column">
                        <h3><b>Subscribe</b></h3>
                        <hr/>
                        <div class="ui link list">
                            <div class="item"><b>Connect with Kaadie</b></div>
                            <a class="item" href="https://www.facebook.com/Kaadiecom-1149233738494529/">
                                <i class="facebook icon"></i>
                                <div class="content">
                                    Facebook
                                </div>
                            </a>
                            <a class="item" href="https://twitter.com/Kaadieworld">
                                <i class="twitter icon"></i>
                                <div class="content">
                                    Twitter
                                </div>
                            </a>
                            <a class="item" href="https://www.instagram.com/kaadieworld/">
                                <i class="instagram icon"></i>
                                <div class="content">
                                    Instagram
                                </div>
                            </a>
                            <!-- <div class="ui inline field">
                              <div class="item"> Sign up for new cards</div>
                              <div class="ui right action mini input">
                                <input type="text" value="" placeholder="Enter your email">
                                <button class="ui teal button">
                                  Submit
                                </button>
                              </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div> <!-- end of pusher -->

{% endblock %}
