{% extends 'layout.html' %}

{% block 'title' %}
    <title> Kaadie | Received Card</title>
{% endblock %}

{% block meta %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description"
          content="Kaadie.com is nigeria's first virtual card sending platform. Send virtual cards/invite via email, sms and share on social media.">
    <meta name="keywords"
          content="Kaadie, eCards, e-Cards, Greeting cards, Birthday cards, Love cards, Romantic cards, free cards, Easter cards, Ramadan cards, Christmas cards,">
    <meta name="author" content="Kaadie">
    <meta name="robot" content="index,follow">
    <meta name="copyright" content="Kaadie.com all rights reserved.">
    <meta name="language" content="en">
    <meta name="revisit-after" content="1">
    <meta property="og:title" content="{{ card.title }}">
    <meta property="og:description" content="{{ card.description }}">
    <meta property="og:image" itemprop="image" content="{{ card.image_url }}">
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.kaadie.com"/>
    <meta property="og:site_name" content="Kaadie"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="google-signin-client_id"
          content="71206465461-u6epfp5tto1b574knupep0urbnak3rb0.apps.googleusercontent.com">
{% endblock %}

{% block 'inner-script' %}
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static "froala_editor/css/froala_editor.min.css" %}">
    <link rel="stylesheet" href="{% static "froala_editor/css/froala_style.min.css" %}">
    <link rel="stylesheet" href="{% static "froala_editor/css/plugins/emoticons.min.css" %}">
    <link rel="stylesheet" href="{% static "css/codemirror.min.css" %}">
{#    <script type="text/javascript" src="{% static "js/jquery/1.11.0.min.js" %}"></script>#}
{% endblock %}

{% block 'scripts' %}
    <!-- Script files  -->
    {% load static from staticfiles %}
    <script src="{% static "js/tinymce/tinymce.min.js" %}"></script>
    <script type="text/javascript">
        tinymce.init({
            forced_root_block: false,
            entity_encoding: 'raw',
            selector: '#commentBox',
            menubar: false,
            toolbar: 'undo redo bold italic emoticons',
            plugins: "emoticons, advlist",
            skin: 'lightgray'
        });
        jQuery.validator.setDefaults({
            debug: true,
            success: "valid"
        });
    </script>
{% endblock %}

{% block 'body' %}
<div ng-controller="IndexController" ng-init="initialize('{{ saved_ids }}')">
    <div class="ui very padded text container">
        <h1 class="ui center aligned primary_color header  padtop-1 ">
            {{ card.title }}
            <div class="sub header cursive-font">with love from <span class="ui header primary_color">Kaadie</span>
            </div>
        </h1>
        <div class="ui divider"></div>
    </div>
    <!-- Card View -->
    <div class="ui two column doubling stackable grid container">
        <div class="column">
            <img class="ui fluid rounded image" src="{{ s_card.card.image_url }}">
            {% if s_card.message %}
                <div class="ui basic segment">
                    <h3 class="ui dividing cursive-font header">{{ s_card.message }}</h3>
                </div>
            {% endif %}
            <div class="ui hidden divider"></div>
        </div>
        <div class="column">
            {% if storage %}
                <div class="messages">
                    {% for message in storage %}
                        <div class="ui icon negative message">
                            <i class="remove icon"></i>
                            <i class="right floated close icon"></i>
                            <div class="content">
                                {% for message in storage %}
                                    <p {% if message.tags %} {% endif %}>{{ message }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if comments.count > 0 %}
            <div class="ui sub dividing header">Comments</div>
            <div class="ui comments">
                {% for msg in comments.all %}
                <div class="comment">
                    <div class="content">
                        <a class="author">{{ msg.poster }}</a>
                        <div class="metadata">
                            <span class="date">{{ msg.date_created|date }}</span>
                        </div>
                        <div class="text">
                            {% autoescape off %}{{ msg.comment }}{% endautoescape %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="ui basic segment">
                <form method="post" {% if sub is not None %}action="{% url 'post_comment' sub notification_id %}"
                      {% else %}action="{% url 'post_comment' notification_id %}"{% endif %} id="commentForm">
                    {% csrf_token %}
                    <textarea id="commentBox" name="comment" required>Thank you {{ s_card.user.name }} for sending me this beautifully crafted card.</textarea>
                    <hr>
                    <button type="submit" class="ui blue button small right floated">Reply</button>
                </form>
                <hr>
           </div>
            <div class="ui sub dividing header">You may like to respond with any of these cards:</div>
            <div class="ui hidden divider"></div>
            <div class="ui tiny images">
                {% for card in random_cards %}
                    <a href="{% if sub is None %}{% url 'send_card' card.slug %}{% else %}{% url 'send_card' sub card.slug %}{% endif %}"
                       class="ui medium image">
                        <img src="{{ card.image_url }}">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
