{% extends 'layout.html' %}

{% block 'title' %}
    <title> Kaadie | Terms of Use </title>
{% endblock %}

{% block 'body' %}

      <!-- Content Description   -->
      <div class="ui padded text container segment">
          <div class="ui hidden divider"></div>
        <div class="ui huge header">
            Kaadie Terms of Use
        </div>
        <div class="ui justified container">
            <ol type="1">
                <li class="ui sub header">Your Acceptance </li>
                <p>BY USING OR VISITING THIS WEBSITE (together with all Content available through the Kaadie.com, OR SUBMITTING CONTENT TO THIS WEBSITE, “YOU” the user have entered into an User Agreement (“Agreement”) with Kaadie.com, Inc., having its offices at 38A Awori Road, Dolphin Estate, Ikoyi, Lagos; ("Kaadie," "we," "us," or "our") and YOU FURTHER SIGNIFY YOUR ASSENT TO (1) THESE TERMS OF USE (the "Terms of Use"), AND (2) Kaadie'S PRIVACY POLICY. If you do not agree to these Terms of Use, or the Privacy Policy then please do not use the Website.</p>
                <li class="ui sub header">Links </li>
                <p>
                    The Website may contain links to third party websites that are not owned or controlled by Kaadie. Kaadie is not affiliated with those websites, has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party websites. In addition, Kaadie will not and cannot censor or edit the content of any third-party site. By using the Website, you expressly release Kaadie from any and all liability arising from your use of any third-party website. Accordingly, we encourage you to be aware when you have left the Website and to read the terms and conditions and privacy policy of each other website that you visit.
                </p>
                <li class="ui sub header">Website Access</li>
                <ol type="i">
                    <li>Kaadie hereby grants you permission to use the Website, provided that:
                        <ul>
                            <li>your use of the Website is solely for your personal, noncommercial use; </li>
                            <li>you will not copy, distribute or modify any part of the Website without Kaadie's prior written authorization; </li>
                            <li>you will not send unsolicited or unauthorized advertisements, spam, chain letters, etc.,</li>
                            <li>you will not transmit any Content which contains software viruses, or other harmful computer code, files or programs;  </li>
                            <li>you will not disrupt servers or networks connected to the Website; and </li>
                            <li>you comply with these Terms of Use.</li>
                        </ul>
                    </li>
                    <li>
                        In order to access some features of the Website, you will have to create an account. You may never use another's account without permission. When creating your account, you must provide accurate and complete information. You are solely responsible for the activity that occurs on your account, and you must keep your account password secure. You must notify Kaadie immediately of any breach of security or unauthorized use of your account. You will be liable for any use made on your account or password and the losses of Kaadie or others due to such unauthorized use. Kaadie will not be liable for your losses caused by any unauthorized use of your account.</li>
                    <li>
                        You agree not to use or launch any automated system, including without limitation, "robots," "spiders," and "offline readers," that accesses the Website in a manner that sends more request messages to the Kaadie servers in a given period of time than a human can reasonably produce in the same period by using a conventional on-line web browser. Kaadie grants the operators of public search engines permission to use spiders to copy materials from the Website for the sole purpose of creating publicly available searchable indices of the materials, but not caches or archives of such materials. Kaadie reserves the right to revoke these exceptions either generally or in specific cases. You agree not to collect or harvest any personally identifiable information, including account names or e-mail addresses, from the Website, nor to use the communication systems provided by the Website for any commercial solicitation purposes. You agree not to solicit, for commercial purposes, any users of the Website with respect to their User Submissions (as defined below).
                        </li>
                    <li>
                        Kaadie has the right to terminate your access to the Website, in its sole discretion, immediately and with or without cause.
                    </li>
                </ol>
                <li class="ui sub header">Transactions</li>
                <p>
                    We make available premium e-cards for purchase through the Site, and we may use third–party suppliers and service providers to enable e–commerce functionality on the Site. If you wish to purchase any of these premium e-cards through the Site, you may be asked to supply certain information relevant to your Transaction, including without limitation your credit card number, the expiration date of your credit card, your billing address, and your shipping information. YOU REPRESENT AND WARRANT THAT YOU HAVE THE LEGAL RIGHT TO USE ANY CREDIT CARD(S) UTILIZED IN CONNECTION WITH ANY TRANSACTION. By submitting such information, you grant to Kaadie.com the right to provide such information to third parties for purposes of facilitating the completion of Transactions initiated by you or on your behalf. Verification of information may be required prior to the acknowledgment or completion of any Transaction.
                </p>
                <p>
                    Descriptions and images of, and references to, third–party products or services available in connection with the Site do not imply Kaadie’s endorsement of such third–party products or services. All descriptions, images, references, features, content, specifications, products and prices of products and services described or depicted on the Site are subject to change at any time without notice. Certain weights, measures and similar descriptions are approximate and are provided for convenience purposes only. By placing an order, you represent that the products ordered will be used only in a lawful manner. You agree to pay all charges that may be incurred by you or on your behalf through the Site, at the price(s) in effect when such charges are incurred.
                </p>
                <li class="ui sub header">Intellectual Property Rights</li>
                <p>
                    The content on the Website, including without limitation, all User Submissions, the text, scripts, graphics, photos, sounds, music, videos and interactive features ("Content") and the trademarks, service marks and logos contained therein ("Marks"), are owned by or licensed to Kaadie. Content on the Website is provided to you "AS IS" for your information and personal use only and may not be used, copied, distributed, transmitted, broadcast, displayed, sold, licensed, reverse engineered, de-compiled, or otherwise exploited for any other purposes whatsoever without Kaadie's prior written consent. Kaadie reserves all rights not expressly granted in and to the Website. If you download or print a copy of the Content for personal use, you must retain all copyright and other proprietary notices contained therein. You agree not to circumvent, disable or otherwise interfere with security-related features of the Website or features that prevent or restrict use or copying of any Content or enforce limitations on use of the Website.
                </p>
                <li class="ui sub header">User Submissions</li>
                <ol type="i">
                    <li>
                        The Website facilitates the submission of cards or other Content by you and other users ("User Submissions") and the hosting and publishing of such User Submissions. You understand that whether or not such User Submissions are published, Kaadie does not guarantee any confidentiality with respect to any User Submissions. Kaadie has complete discretion whether to display your User Submission on the Website.</li>
                    <li>You shall be solely responsible for your own User Submissions and the consequences of posting or publishing them. You represent and warrant that:
                        <ul>
                            <li>
                                you own or have the necessary rights and permissions to use and authorize Kaadie to use all copyright, trademark or other proprietary rights in and to any User Submissions to enable inclusion and use thereof as contemplated by the Website and these Terms of Use; and </li>
                            <li>
                                you have the written consent and/or permission of each and every identifiable individual person in the User Submission to use their name or likeness as contemplated by the Website and these Terms of Use.
                            </li>
                        </ul>
                    </li>
                    <li>
                        You retain all of your ownership rights in your User Submissions. However, by submitting the User Submissions to Kaadie, you hereby grant Kaadie, in addition to any other rights which it has pursuant to any other program established by Kaadie, a worldwide, non-exclusive and transferable license to use, copy, prepare derivative works of (including without limitation, to rename, edit, shorten, split the cards into different segments, and use the entire card or segments as part of compilations), display, and perform the User Submissions in connection with the Website and Kaadie's (and its successor's) business, including without limitation to grant access to the Website to third parties to view the User Submission (and derivative works thereof). You may notify Kaadie to remove the User Submission from the Website, and Kaadie will do so within a reasonable time period, at which point the foregoing license to Kaadie will terminate other than with respect to usages by Kaadie prior to such removal.</li>
                    <li>
                        You also hereby grant each user of the Website or other viewer of the User Submission a non-exclusive right to use, reproduce, distribute, prepare derivative works of, display and perform such User Submissions, all for non-commercial and personal use.
                    </li>
                    <li>
                        You agree that you will not:
                        <ul>
                            <li>submit material that is copyrighted, protected by trade secret or otherwise subject to third party proprietary rights, including privacy and publicity rights, unless you are the owner of such rights or have permission from their rightful owner to post the User Submission and to grant Kaadie all of the license rights granted herein; </li>
                            <li>
                                publish falsehoods or misrepresentations that could damage Kaadie or any third party;
                            </li>
                            <li>
                                submit material that is unlawful, obscene, defamatory, libelous, threatening, pornographic, harassing, hateful, racially or ethnically offensive, or encourages conduct that would be considered a criminal offense, give rise to civil liability, violate any law, or is otherwise inappropriate; or
                            </li>
                            <li>
                                mis-identify yourself in submitting the User Submission or misstate your true identity. Kaadie does not endorse any User Submission or any opinion, recommendation, or advice expressed therein, and Kaadie expressly disclaims any and all liability in connection with User Submissions.
                            </li>
                        </ul>
                    </li>
                    <li>
                        You understand that when using the Website, you will be exposed to User Submissions from a variety of sources, and that Kaadie is not responsible for the accuracy, usefulness, safety, or intellectual property rights of or relating to such User Submissions. You may be exposed to User Submissions that are inaccurate, offensive, indecent, or objectionable, and you agree to waive, and hereby do waive, any legal or equitable rights or remedies you may have against Kaadie with respect thereto, and agree to indemnify and hold Kaadie, its owners, affiliates, employees, agents and/or licensors, harmless to the fullest extent allowed by law regarding all matters related to your use of the Website. You acknowledge that access to certain Content which may be available through the Website and which depict violence, or contain images of nudity, sexual acts, or other sexual material ("Mature Content") is permitted only if you are over the minimum age applicable in your jurisdiction (often but not necessarily 18 or 21).</li>
                    <li>
                        You understand, acknowledge and agree that by using the website and/or sending/ receiving ecards/ invitations, you will receive the following email communications:
                        <ul>
                            <li>Notification emails related to ecard/ invitation sending/ receiving/ viewing</li>
                            <li>Reminder emails related to your unviewed ecards/ invitations</li>
                            <li>Newsletters and Special Promotional Offers every week</li>
                            <li>Notification emails for Upcoming Events/Birthday/Anniversary of your contacts</li>
                            <li>Emails related to your registration with Kaadie</li>
                            <li>Any other emails related to your activities on Kaadie from time to time.</li>
                        </ul>
                    </li>
                    <p>You also consent, permit and allow us to send invites on your behalf to your contacts to update their Birthdays/ Anniversaries while sending an ecard. You may opt-out from receiving such emails at any time by clicking on the unsubscribe links provided in the respective emails.</p>
                    <p>You may opt-out from receiving Newsletters/ Special Promotional Offers by clicking on the unsubscribe links provided in the respective Newsletters/Special Promotional Offers. You can also unsubscribe from mails, newsletters and special promotional offers by notifying us via e-mail at support@Kaadie.com and we will remove you from our mailing list promptly.</p>
                </ol>
                <li class="ui sub header">Digital Copyright</li>
                <p>
                    Kaadie respects the intellectual property rights of others, and requests you to do the same. Kaadie does not permit copyright infringing activities and infringement of intellectual property rights on its Website or related services, and Kaadie will remove all Content if properly notified that such Content infringes another's intellectual property rights. Kaadie reserves the right to remove any Content without prior notice. Kaadie will also terminate a User’s account if the User is determined to be a repeat infringer of copyright. Kaadie may remove such Content and/or terminate a User's account due to a violation of these Terms of Use at any time, without prior notice and at its sole discretion.
                </p>
                <p>
                    If you are a copyright owner or an agent thereof and believe that any Content infringes upon your copyrights, you may submit a notification pursuant to Digital Copyrights by providing us with the following information in writing for further detail:
                </p>
                <ul>
                    <li>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</li>
                    <li>Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site;</li>
                    <li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled and information reasonably sufficient to permit the service provider to locate the material;</li>
                    <li>Information reasonably sufficient to permit the service provider to contact you, such as an address, telephone number, and, if available, an electronic mail;</li>
                    <li>A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and</li>
                    <li>A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed. You can reach us as follows:</li>
                     <div class="ui hidden divider"></div>
                    <address>
                        <strong>By mail:</strong> 
                        Kaadie.com <br> 
                        38A Awori Road, Dolphin Estate, <br>
                        Ikoyi, Lagos;<br>
                        <strong>By Phone</strong>: +234 802 675 4151;<br>
                        <strong>By email:</strong> copyright@Kaadie.com
                    </address>
                     <div class="ui hidden divider"></div>
                    <p>You acknowledge that if you fail to provide all of the requirements stated above, your copyright notice may not be valid.</p>
                    <p>Counter-Notice. If you believe that your Content that was removed (or to which access was disabled) is not infringing, or that you have the authorization from the copyright owner, the copyright owner's agent, or pursuant to the law, to post and use the material in your Content, you may send a counter-notice to us containing the following information:</p>
                    <ul>
                        <li>Your physical or electronic signature;</li>
                        <li>Identification of the Content that has been removed or to which access has been disabled and the location at which the Content appeared before it was removed or disabled;</li>
                        <li>A statement that you have a good faith belief that the Content was removed or disabled as a result of mistake or a misidentification of the Content; and</li>
                        <li>Your name, address, telephone number, and e-mail address, a statement that you consent to the jurisdiction of the federal court in New York, and a statement that you will accept service of process from the person who provided notification of the alleged infringement.</li>
                    </ul>
                    <p>
                        If a counter-notice is received, Kaadie may send a copy of the counter-notice to the original complaining party informing that person that it may replace the removed Content or cease disabling it in 10 business days. Unless the copyright owner files an action seeking a court order against the Content provider, member or user, the removed Content may be replaced, or access to it restored, in 10 to 14 business days or more after receipt of the counter-notice, at Kaadie's sole discretion.
                    </p>
                </ul>
                <li class="ui sub header">Limitation of Liability </li>
                <p>
                    In no event shall Kaadie, its officers, directors, employees, or agents, be liable to you for any direct, indirect, incidental, special, punitive, or consequential damages whatsoever resulting from any
                    <ul>
                        <li>content, including any mistakes or inaccuracies therein, </li>
                        <li>personal injury or property damage, of any nature whatsoever, resulting from your use of our website,</li>
                        <li>any unauthorized use of our servers and/or any and all personal information and/or financial information stored therein,</li>
                        <li>any interruption or cessation of transmission to or from our website, </li>
                        <li>any bugs, viruses, trojan horses, or the like, which may be transmitted to or through our website by any third party, and/or </li>
                        <li>any errors or omissions in any content or for any loss or damage of any kind incurred as a result of your use of any content on or via the website, whether based on warranty, contract, tort, or any other legal theory, and whether or not kaadie is advised of the possibility of such damages. The foregoing limitation of liability shall apply to the fullest extent permitted by law in the applicable jurisdiction.</li>
                    </ul>
                </p>
                <p>You specifically acknowledge that kaadie shall not be liable for user submissions or the defamatory, offensive, or illegal conduct of any third party and that the risk of harm or damage from the foregoing rests entirely with you.</p>
                <li class="ui sub header">Indemnity</li>
                <p>You agree to defend, indemnify and hold harmless Kaadie, its affiliates, and their respective officers, directors, employees and agents, from and against any and all claims, damages, obligations, losses, liabilities, costs and expenses (including but not limited to attorney's fees) arising from:</p>
                <ul>
                    <li>your use of the Website;</li>
                    <li>your violation of these Terms of Use;</li>
                    <li> your violation of the terms which apply to your User Submission;</li>
                    <li>your violation of any third party right, including without limitation any copyright, property, publicity or privacy right; or</li>
                    <li>any claim that one of your User Submissions caused damage to a third party. This defense and indemnification obligation will survive these Terms of Use and your use of the Website.</li>
                </ul>
                <li class="ui sub header">Ability to Accept Terms of Use </li>
                <p>You affirm that you are either more than 18 years of age or possess legal parental or guardian consent to enter into these Terms of Use, and to comply with these Terms of Use. In any case, you affirm that you are over the age of 13, as the Website is not intended for children under 13. If you are under 13 years of age, then please do not use the Website-there are lots of other great web sites for you. Talk to your parents about what sites are appropriate for you.</p>
                <li class="ui sub header">Assignment</li>
                <p>These Terms of Use, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by Kaadie without restriction.</p>
            </ol>
            <small>Last Updated: March 13, 2017</small>
        </div>
      </div> <!-- end of segment -->
      <div class="ui hidden divider"></div>
  </div> <!-- end of pusher -->

{% endblock %}
