<html>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">
            <h1>SMS an image</h1>
            <form action="{% url 'twilio' %}" method="POST" class="form-horizontal" enctype='multipart/form-data'>
                <div class="control-group">
                    <label for="phone_number" class="control-label">Cell phone number:</label>
                    <div class="controls">
                        <input name="phone_number" type="text">
                    </div>
                </div>
                <div class="control-group">
                    <label for="file" class="control-label">Image to send via SMS:</label>
                    <div class="controls">
                        <input class="btn" name="filename" type="file"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Send File</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>