{% extends 'base_layout.html' %}

{% block 'title' %}
    <title>Artist Signup | Kaadie</title>
{% endblock %}

{% block header %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block 'scripts' %}
    <!-- Script files  -->
    <script type="text/javascript">
        $('#select-gender')
            .dropdown();
        $('.ui.checkbox').checkbox();

        //Message
        $('.message .close')
            .on('click', function () {
                $(this)
                    .closest('.message')
                    .transition('fade');
            });
    </script>
    <script src="/static/js/platform.js?onload=signOut" async defer></script>
    <script>
        window.signOut = function () {
            gapi.auth2.init({
                client_id: '71206465461-u6epfp5tto1b574knupep0urbnak3rb0.apps.googleusercontent.com'
            }).then(function (authInstance) {
                // now auth2 is fully initialized
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                    console.log('logged out')
                });
            });
        };
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            $.post('/register', {
                username: profile.getEmail(),
                password: profile.getId(),
                confirm_password: profile.getId(),
                image_url: profile.getImageUrl(),
                name: profile.getGivenName() + ' ' + profile.getFamilyName(),
                social_signup: 'true',
                csrfmiddlewaretoken: 'ya6D36Frt3pGdRQedqP94ahuV2G0ORg8PtZ7zg5ywFaCCEVi0qFwao8e09ELD86C',
                platform: 'google'
            }, function (data, status) {
                signOut();
                console.log(status);
                console.log(data);
                if (data.status == 'success') {
                    location.href = data.redirect_url
                }
                else {
                    document.getElementById('status').innerHTML = data.message;
                }
            })
        }

        function statusChangeCallback(response) {
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                FB.logout(function (response) {
                    console.log(response)
                });
            }
        }

        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                if (response.status == 'connected') {
                    retrieveAPI()
                }
            });
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '1329121063813084',
                cookie: true,  // enable cookies to allow the server to access
                xfbml: true,  // parse social plugins on this page
                version: 'v2.8' // use graph api version 2.8
            });
            FB.AppEvents.logPageView();

            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });

        };
        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function retrieveAPI() {
            FB.api('/me', {fields: 'id,email,first_name, last_name'}, function (response) {
                $.post('/register', {
                    username: response.email,
                    password: response.id,
                    confirm_password: response.id,
                    image_url: '',
                    first_name: response.first_name,
                    last_name: response.last_name,
                    social_signup: 'true',
                    csrfmiddlewaretoken: 'ya6D36Frt3pGdRQedqP94ahuV2G0ORg8PtZ7zg5ywFaCCEVi0qFwao8e09ELD86C',
                    referral_code: '{{ referral_code }}'
                }, function (data, status) {
                    if (data.status == 'success') {
                        location.href = data.redirect_url
                    }
                    else {
                        location.reload()
                    }
                })
            });
        }
    </script>
    <script type="text/javascript">
        // just for the demos, avoids form submit
        jQuery.validator.setDefaults({
            debug: true,
            success: "valid"
        });
        $("#signupform").validate({
            rules: {
                password: "required",
                confirm_password: {
                    equalTo: "#password"
                }
            },
            messages: {
                terms: {
                    required: "Check this to continue"
                }
            },
            highlight: function (element) {
                $(element).parent().addClass('error')
            },
            unhighlight: function (element) {
                $(element).parent().removeClass('error')
            },
            submitHandler: function (form) {
                if ($(form).valid()) {
                    form.submit();
                }
                return false; // prevent normal form posting
            }
        });
    </script>

{% endblock %}
{% block 'body' %}
    <div id="signuppage">
        <div class="ui stackable two column centered grid">
            <div class="column">
                <a class="" href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}">
                    <img class="kaadie-logo-image" src="{{ organization.logo }}" alt="Kaadie Logo"/>
                </a>
            </div>
            <div class="column six wide form-holder padright-2 padleft-2">
                <h1 class=" primary_color cursive-font">Artist Sign Up</h1>
                {% if storage %}
                    <div class="messages">
                        {% for message in storage %}
                            <!-- <span {% if message.tags %} style="color: #a41515" {% endif %}>{{ message }}</span> -->
                            <div class="ui icon negative message">
                                <i class="remove icon"></i>
                                <i class="right floated close icon"></i>
                                <div class="content">
                                    <div class="header">
                                        Oops!
                                    </div>
                                    {% for message in storage %}
                                        <p {% if message.tags %} {% endif %}>{{ message }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <form class="ui form" method="post" {% if sub is None %}action="{% url 'artist_register' %}"{% else %}action="{% url 'artist_register' sub %}"{% endif %} id="signupform">
                    <div class="equal width required fields">
                        <div class="field">
                            <label for="first-name">Name</label>
                            <input type="text" placeholder="Name" name="name" value="{{ name }}"
                                   required>
                        </div>
                        <div class="field">
                            <label for="nickname">Nickname</label>
                            <input type="text" placeholder="NickName" name="nickname" value="{{ nickname }}"
                                   required>
                        </div>
                        <div class="field">
                            <label for="username">Email Address</label>
                            <input type="email" placeholder="john@example.com" name="username" value="{{ username }}"
                                   required>
                        </div>
                    </div>
                    <div class="equal width required fields">
{#                        <div class="field">#}
{#                            <label for="username">Username</label>#}
{#                            <input type="email" placeholder="john@example.com" name="username" value="{{ username }}"#}
{#                                   required>#}
{#                        </div>#}
                        <div class="field">
                            <label for="password">Password</label>
                            <input type="password" placeholder="Password" id="password" name="password" required>
                        </div>
                        <div class="required field">
                            <label for="confirm-password">Confirm Password</label>
                            <input type="password" name="confirm_password" id="confirm_password" placeholder="Password"
                                   required>
                        </div>
                    </div>
                    <div class="equal width required field">
                        <div class="field">
                            <label>Portfolio<p style="font-size: 9px; font-weight: 200; color: #007783">&nbsp;add a link to your online portfolio</p></label>
                            <input placeholder="portfolio" type="text" name="portfolio" value="{{ portfolio }}" required>
                        </div>
                        <div class="field">
                            <label for="referral_code">Referral Code</label>
                            <input type="text" placeholder="PT2X7W3E" name="referral_code" value="{{ referral_code }}">
                        </div>
                    </div>
                    <div class="required field">
                        <input type="checkbox" value="1" name="terms" id="terms" required>
                        <label for="terms">I agree to the <a href="{% if sub is None %}{% url 'terms_of_use' %}{% else %}{% url 'terms_of_use' sub %}{% endif %}">Terms and Conditions</a></label>
                    </div>
                    <input class="ui green button" type="submit" value="Join Us">
                </form>
                <div id="status"></div>
                <span class="help-block">Already have an account? <a href="{% if sub is None %}{% url 'login' %}{% else %}{% url 'login' sub %}{% endif %}">Sign in</a></span>
            </div>
        </div>
    </div>
{% endblock %}
