{% extends 'layout.html' %}

{% block 'title' %}
    <title> Kaadie | Edit Card</title>
{% endblock %}

{% block 'inner-script' %}
    <style media="screen">
        canvas {
            border: 3px solid #999;
            border-radius: 5px;
        }

        .ui.text.container > .canvas-container {
            margin: 0 auto;
        }

        .imageUpload {
            position: relative;
        }

        .imageUpload input.upload {
            cursor: pointer;
            font-size: 22px;
            margin: 2px;
            opacity: 0;
            padding: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 5.7em;
        }
        footer.footer-background {
            background-color: '{{ organization.background_color }}';
            color: #fff;
            position: fixed;
            bottom: 0;
            margin-top: 20px;
            width: 100%;
        }
    </style>
    <script src="/static/js/jquery.min.js"></script>
    <script>
        $(window).load(function () {
            $(".loader").fadeOut("slow")
        })
    </script>
{% endblock %}

{% block 'scripts' %}
    <!-- Script files  -->
    <script src="/static/js/fabric.min.js"></script>
{#    <script type="text/javascript">#}
{#        document.getElementById('imageCanvas').width = 432;#}
{#        document.getElementById('imageCanvas').height = 326;#}
{#        var canvasOriginalWidth = 432,#}
{#            canvasOriginalHeight = 326,#}
{#            canvasWidth = 432,#}
{#            canvasHeight = 326;#}
{##}
{#        {% if ua.is_mobile %}#}
{#            document.getElementById('imageCanvas').width = 200;#}
{#            document.getElementById('imageCanvas').height = 150;#}
{#            canvasOriginalWidth = 200;#}
{#            canvasOriginalHeight = 150;#}
{#            canvasWidth = 200,#}
{#            canvasHeight = 150;#}
{#        {% endif %}#}
{##}
{#        // variables declaration#}
{#        var canvas,#}
{#            imgWidth,#}
{#            imgHeight,#}
{#            bgImage,#}
{#            canvasScale = 1,#}
{#            photoUrl = '{{ image }}'; // photoUrl will be dynamic  432,326#}
{##}
{#        // initialize fabricJs#}
{#        canvas = new fabric.Canvas('imageCanvas', {#}
{#            backgroundColor: 'rgb(236, 240, 241)'#}
{#        });#}
{#        // zoom canvas function#}
{#        function setCanvasZoom() {#}
{#            canvasWidth = canvasOriginalWidth * canvasScale;#}
{#            canvasHeight = canvasOriginalHeight * canvasScale;#}
{##}
{#            canvas.setWidth(canvasWidth);#}
{#            canvas.setHeight(canvasHeight);#}
{#        }#}
{#        setCanvasZoom();#}
{##}
{#        $('#zoomin').click(function () {#}
{#            canvasScale *= 1.15;#}
{#            scaleAndPositionImage();#}
{#        });#}
{#        $('#zoomout').click(function () {#}
{#            canvasScale /= 1.15;#}
{#            scaleAndPositionImage();#}
{#        });#}
{##}
{#        //#}
{#        function setCanvasBackgroundImageUrl(url) {#}
{#            if (url && url.length > 0) {#}
{#                fabric.Image.fromURL(url, function (img) {#}
{#                    bgImage = img;#}
{#                    scaleAndPositionImage();#}
{#                });#}
{#            } else {#}
{#                canvas.backgroundImage = 0;#}
{#                canvas.setBackgroundImage('', canvas.renderAll.bind(canvas));#}
{#                canvas.renderAll();#}
{#            }#}
{#        }#}
{#        // image positioning#}
{#        function scaleAndPositionImage() {#}
{#            setCanvasZoom();#}
{##}
{#            var canvasAspect = canvasWidth / canvasHeight;#}
{#            var imgAspect = bgImage.width / bgImage.height;#}
{#            var left, top, scaleFactor;#}
{##}
{#            if (canvasAspect >= imgAspect) {#}
{#                var scaleFactor = canvasWidth / bgImage.width;#}
{#                left = 0;#}
{#                top = -((bgImage.height * scaleFactor) - canvasHeight) / 2;#}
{#            } else {#}
{#                var scaleFactor = canvasHeight / bgImage.height;#}
{#                top = 0;#}
{#                left = -((bgImage.width * scaleFactor) - canvasWidth) / 2;#}
{##}
{#            }#}
{#            canvas.setBackgroundImage(bgImage, canvas.renderAll.bind(canvas), {#}
{#                top: top,#}
{#                left: left,#}
{#                originX: 'left',#}
{#                originY: 'top',#}
{#                scaleX: scaleFactor,#}
{#                scaleY: scaleFactor#}
{#            });#}
{#            canvas.renderAll();#}
{#        }#}
{#        // initialize backgroundImage function#}
{#        setCanvasBackgroundImageUrl(photoUrl, 0, 0, 1);#}
{##}
{#        //determine Canvas size#}
{#        function setCanvasSize(canvasSizeObject) {#}
{#            canvas.setWidth(canvasSizeObject.width);#}
{#            canvas.setHeight(canvasSizeObject.height);#}
{#        }#}
{#        setCanvasSize({height: canvasHeight, width: canvasWidth});#}
{##}
{#        //Moving and Deleting Shapes with the Keyboard#}
{#        document.body.addEventListener('keydown', function (event) {#}
{#            if (event.keyCode == 37) {#}
{#                var obj = canvas.getActiveObject();#}
{#                if (!obj) return;#}
{#                obj.left -= 1;#}
{#                canvas.renderAll();#}
{#            }#}
{#            if (event.keyCode == 38) {#}
{#                var obj = canvas.getActiveObject();#}
{#                if (!obj) return;#}
{#                obj.top -= 1;#}
{#                canvas.renderAll();#}
{#            }#}
{#            if (event.keyCode == 39) {#}
{#                var obj = canvas.getActiveObject();#}
{#                if (!obj) return;#}
{#                obj.left += 1;#}
{#                canvas.renderAll();#}
{#            }#}
{#            if (event.keyCode == 40) {#}
{#                var obj = canvas.getActiveObject();#}
{#                if (!obj) return;#}
{#                obj.top += 1;#}
{#                canvas.renderAll();#}
{#            }#}
{#            if (event.keyCode == 46) {#}
{#                if (canvas.getActiveGroup()) {#}
{#                    canvas.getActiveGroup().forEachObject(function (a) {#}
{#                        canvas.remove(a);#}
{#                    });#}
{#                    canvas.discardActiveGroup();#}
{#                    canvas.deactivateAll().renderAll();#}
{#                } else {#}
{#                    canvas.getActiveObject().remove();#}
{#                }#}
{#            }#}
{##}
{#        });#}
{##}
{#        var imageLoader = document.getElementById('imageLoader');#}
{#        imageLoader.addEventListener('change', handleImage, false);#}
{##}
{#        function handleImage(e) {#}
{#            var reader = new FileReader();#}
{#            reader.onload = function (event) {#}
{#                var img = new Image();#}
{#                img.onload = function () {#}
{#                    var imgInstance = new fabric.Image(img, {#}
{#                        scaleX: 0.2,#}
{#                        scaleY: 0.2#}
{#                    })#}
{#                    canvas.add(imgInstance);#}
{#                }#}
{#                img.src = event.target.result;#}
{#            }#}
{#            reader.readAsDataURL(e.target.files[0]);#}
{#        }#}
{##}
{#        // AddText function#}
{#        function AddText() {#}
{#            canvas.add(new fabric.IText('Sample Text', {#}
{#                    left: 50,#}
{#                    top: 100,#}
{#                    fontFamily: 'Lato',#}
{#                    fill: '#333',#}
{#                    fontSize: 40#}
{#                })#}
{#            );#}
{#        }#}
{#        // change text color#}
{#        document.getElementById('text-color').onchange = function () {#}
{#            canvas.getActiveObject().setFill(this.value);#}
{#            canvas.renderAll();#}
{#        };#}
{#        // change font family#}
{#        document.getElementById('font-family').onchange = function () {#}
{#            canvas.getActiveObject().setFontFamily(this.value);#}
{#            canvas.renderAll();#}
{#        };#}
{#        // AddText function#}
{#        function DeleteElement() {#}
{#            if (canvas.getActiveGroup()) {#}
{#                canvas.getActiveGroup().forEachObject(function (a) {#}
{#                    canvas.remove(a);#}
{#                });#}
{#                canvas.discardActiveGroup();#}
{#                canvas.deactivateAll().renderAll();#}
{#            } else {#}
{#                canvas.getActiveObject().remove();#}
{#            }#}
{#        }#}
{#        //Saving Card image from canvas#}
{#        var imageSaver = document.getElementById('imageSaver');#}
{#        imageSaver.addEventListener('click', saveImage, false);#}
{##}
{#        function saveImage(e) {#}
{#            document.getElementById('card_image').value = canvas.toDataURL({#}
{#                format: 'jpeg',#}
{#                quality: 0.8#}
{#            });#}
{#        }#}
{##}
{#        jQuery.validator.setDefaults({#}
{#            debug: true,#}
{#            success: "valid"#}
{#        });#}
{#        $("#EditCardForm").validate({#}
{#            ignore: [],#}
{#            rules: {#}
{#                card_image: "required"#}
{#            },#}
{#            messages: {#}
{#                card_image: {#}
{#                    required: "Please Attach an Image"#}
{#                },#}
{#                categories: {#}
{#                    required: ""#}
{#                }#}
{#            },#}
{#            highlight: function (element) {#}
{#                $(element).parent().addClass('error')#}
{#            },#}
{#            unhighlight: function (element) {#}
{#                $(element).parent().removeClass('error')#}
{#            },#}
{#            submitHandler: function (form) {#}
{#                if ($(form).valid()) {#}
{#                    form.submit();#}
{#                }#}
{#                return false; // prevent normal form posting#}
{#            }#}
{#        });#}
{#    </script>#}

{% endblock %}

{% block 'body' %}

    <div class="loader"></div>
    <!--Send page header  -->
    <div class="ui very padded text  container">
        <h2 class="ui center aligned header padtop-1">
            <span class="ui header primary_color">Edit Your Card</span>
{#            <div class="sub header padtop-1">Edit card to suit you.</div>#}
            {% if storage %}
                <ul class="ui message">
                    {% for message in storage %}
                      <li {% if message.tags == 'alert-danger error' %} style="color: #a41515" {% else %}
                                                                        style="color: limegreen" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </h2>
        <div class="ui hidden divider"></div>
    </div>
    <!-- Three Column for cards and input fields -->
    <div class="ui text container">
        <div class="ui segment">
{#            <div class="five ui buttons">#}
{#                <button class="ui button imageUpload">#}
{#                    <span>Upload Image</span>#}
{#                    <input class="upload" type="file" id="imageLoader" name="imageLoader"/>#}
{#                </button>#}
{#                <button class="ui icon button" id="delete" onclick="DeleteElement()">#}
{#                    <i class="trash icon"></i>Del#}
{#                </button>#}
{#                <button onclick="AddText()" class="ui icon button">#}
{#                    <i class="edit icon"></i> Add Text#}
{#                </button>#}
{#                <button class="ui icon button" id="zoomin">#}
{#                    <i class="plus icon"></i> Zoom In#}
{#                </button>#}
{#                <button class="ui icon button" id="zoomout">#}
{#                    <i class="minus icon"></i> Zoom Out#}
{#                </button>#}
{#            </div>#}
{#            <div class="ui three buttons"></div>#}
{#            <div class="ui form">#}
{#                <div class="fields">#}
{#                    <div class="four wide field">#}
{#                        <label>Fonts</label>#}
{#                        <select class="ui fluid dropdown" id="font-family">#}
{#                            <option value="arial">Arial</option>#}
{#                            <option value="comic sans ms">Comic Sans MS</option>#}
{#                            <option value="courier">Courier</option>#}
{#                            <option value="georgia">Georgia</option>#}
{#                            <option value="handlee">Handlee</option>#}
{#                            <option value="impact">Impact</option>#}
{#                            <option value="Lato" selected="">Lato</option>#}
{#                            <option value="verdana">Verdana</option>#}
{#                        </select>#}
{#                    </div>#}
{#                    <div class="field">#}
{#                        <label>Text Color</label>#}
{#                        <input type="color" value="" id="text-color" size="10">#}
{#                    </div>#}
{##}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="ui hidden divider"></div>#}
            <!-- canvas -->
            <!-- <div class="ui two column grid">
                <div class="column computer tablet only">
                  <canvas id="imageCanvas" width="432" height="326"></canvas>
                </div>
                <div class="column mobile only">
                  <canvas id="imageMobileCanvas" width="200" height="160"></canvas>
                </div>
            </div> -->
{#            <div class="ui text container">#}
{#                <canvas id="imageCanvas" width="432" height="326"></canvas>#}
{#            </div>#}
            <div class="ui basic segment">
            {{ form.media }}
{#                <form class="ui form" method="post" action="{% if sub is None %}{% url 'edit_card' card.slug %}{% else %}{% url 'edit_card' sub card.slug %}{% endif %}" id="EditCardForm">#}
{#                {% csrf_token %}#}
{#                <div class="field">#}
{#                  <label for="title">Card Title</label>#}
{#                  <input type="text" name="title" placeholder="your card title here..." id="title"#}
{#                  disabled value="{{ card.title }}">#}
{#                  <input type="hidden" name="card_image" id="card_image" value="{{ image }}" required>#}
{#                </div>#}
{#                <div class="field">#}
{#                  <label>Description</label>#}
{#                  <textarea rows="2" placeholder="your message here..." name="description"#}
{#                  id="description">{{ card.description }}</textarea>#}
{#                </div>#}
{#                <div class="fields">#}
{#                  <div class="required nine wide field">#}
{#                    <label>Categories:</label>#}
{#                    <div class="ui fluid multiple search selection dropdown">#}
{#                      <input type="hidden" name="categories" value="{{ card_categories }}" required>#}
{#                      <i class="dropdown icon"></i>#}
{#                      <div class="default text">select categories</div>#}
{#                      <div class="menu">#}
{#                        {% for category in categories %}#}
{#                        <div class="item" data-value="{{ category.pk }}"#}
{#                        data-text="{{ category.title }}">#}
{#                        {{ category.title }}#}
{#                      </div>#}
{#                      {% endfor %}#}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}
{#                <div class="six wide field">#}
{#                  <label for="price">Price ($)</label>#}
{#                  <input type="number" value="{{ card.price }}" name="price" id="price">#}
{#                </div>#}
{#              </div>#}
{#              <div id="error-message" style="color:red"></div>#}
{#              <div class="ui hidden divider"></div>#}
{#              <button class="ui blue button" id="imageSaver" type="submit">Save</button>#}
{#            </form>#}
                <form class="ui form" method="post" action="{% if sub is None %}{% url 'edit_card' card.slug %}{% else %}{% url 'edit_card' sub card.slug %}{% endif %}"
                      id="CreateCardForm">
                    {% csrf_token %}
                    <div class="field">
                        <label for="title">Card Title</label>
                        <input type="text" name="title" placeholder="your card title here..." id="title" value="{{ card.title }}" disabled>
                    </div>
                    <div class="field">
                        <label>Description</label>
                        <textarea rows="2" placeholder="your message here..." name="description" id="description">{{ card.description }}</textarea>
                    </div>
                    <div class="fields">
                        <div class="required ten wide field">
                            <label>Categories:</label>

                            <div class="ui fluid multiple search selection dropdown">
                                <input type="hidden" name="categories" value="{{ card_categories }}" required>
                                <i class="dropdown icon"></i>

                                <div class="default text">select categories</div>
                                <div class="menu">
                                    {% for category in categories %}
                                        <div class="item" data-value="{{ category.pk }}"
                                             data-text="{{ category.title }}">
                                            {{ category.title }}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="six wide field">
                            {{ form.image_url.errors }}
                            <label for="{{ form.image_url.id_for_label }}">Card Image</label>
                            {{ form.image_url }}
                        </div>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label>Payment Option</label>
                            <div class="ui toggle checkbox">
                              <input type="checkbox" name="plan" disabled>
                              <label>Paid</label>
                            </div>
                        </div>
                    </div>
{#                    <div class="fields">#}
{#                        <div class="ten wide field">#}
{#                            <label for="price">Price ($)</label>#}
{#                            <input type="number" value=0.00 name="price" id="price" disabled>#}
{#                        </div>#}
{#                    </div>#}
                    <div id="error-message" style="color:red"></div>
                    <br>
                    <button class="ui blue button" id="imageSaver" type="submit">Save</button>
                </form>
          </div>
        </div>
        <div class="ui bottom attached mini message">
            <i class="small circular inverted teal icon info"></i>
            Cards are sent and sold by <a href="{% if sub is None %}{% url 'index' %}{% else %}{% url 'index' sub %}{% endif %}">Kaadie</a>. Kaadie sent cards are subject <a
                href="#">Terms and Conditions</a>.
        </div>
        <div class="ui hidden divider"></div>
    </div><!--End of Segment container for canvas-->

    <!-- ******
        2 MODALs NOW
        ONE FOR SHARING
        SECOND IS USED HERE TO VIEW LARGE IMAGE
    ******* -->
    <!-- MODAL FOR SHARE -->
    <div class="ui share small modal">
        <i class="close icon"></i>
        <div class="header">
            Share Card from Kaadie
        </div>
        <div class="image content">
            <div class="ui medium image">
                <img src="{{ image }}">
            </div>
            <div class="description">
                <h3>Please select from options below</h3>
                <a href="" ng-click="shareFB()"
                   class="ui circular facebook icon button" target="_blank">
                    <i class="facebook big icon"></i>
                </a>
                <a href="" ng-click="shareIn()"
                   class="ui circular linkedin icon button" target="_blank">
                    <i class="linkedin big icon"></i>
                </a>
                <a ng-click="shareTweet()"
                   class="ui circular twitter icon button">
                    <i class="twitter big icon"></i>
                </a>
                <a ng-click="sharePinterest()"
                   class="ui circular pinterest icon button">
                    <i class="pinterest big icon"></i>
                </a>
                <a class="ui circular whatsapp green icon button">
                    <i class="whatsapp white big icon"></i>
                </a>
                <a ng-click="shareGPlus()"
                   class="ui circular google plus icon button">
                    <i class="google plus big icon"></i>
                </a>
            </div>
        </div>
    </div>
    <!--End of share modal  -->

    <!-- BEGIN OF EXPAND modal  -->
    <div class="ui expand small modal">
        <i class="close icon"></i>
        <div class="header">
            Share Card from Kaadie
        </div>
        <div class="image content">
            <div class="ui fluid image">
                <img src="{{ image }}">
            </div>
        </div>
    </div>

{% endblock %}
