{% extends 'layout.html' %}

{% block 'title' %}
    <title> Kaadie | Create Card</title>
{% endblock %}

{% block 'inner-script' %}
    <style media="screen">
        .canvas {
            border: 3px solid #999;
            border-radius: 5px;
        }

        .canvas-container {
            margin: 0 auto;
        }

        .imageUpload {
            position: relative;
        }

        .imageUpload input.upload {
            cursor: pointer;
            font-size: 22px;
            margin: 2px;
            opacity: 0;
            padding: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 5.7em;
        }

        footer.footer-background {
          background-color: #bdc3c7;
          color: #fff;
          position: fixed;
          bottom: 0;
          margin-top: 20px;
          width: 100%;
        }

    </style>
{% endblock %}

{% block 'scripts' %}
    <!-- Script files  -->
    <script src="/static/js/fabric.min.js"></script>
    <script type="text/javascript">

        $('.ui.multiple.search.selection.dropdown')
            .dropdown({
                allowAdditions: true,
                forceSelection: false,
                hideAdditions: false
            });
        // variables declarations
        document.getElementById('imageCanvas').width = 432;
        document.getElementById('imageCanvas').height = 326;
        var canvasOriginalWidth = 432,
            canvasOriginalHeight = 326,
            canvasWidth = 432,
            canvasHeight = 326;

        {% if ua.is_mobile %}
            document.getElementById('imageCanvas').width = 200;
            document.getElementById('imageCanvas').height = 150;
            canvasOriginalWidth = 200;
            canvasOriginalHeight = 150;
            canvasWidth = 200;
            canvasHeight = 150;
        {% endif %}

        // variables declaration
        var canvas,
            imgWidth,
            imgHeight,
            bgImage,
            canvasScale = 1;
        {# photoUrl = '{{}}'; #} // card.image_url photoUrl will be dynamic

        // initialize fabricJs
        canvas = new fabric.Canvas('imageCanvas', {
            backgroundColor: 'whitesmoke',
            selectionBorderColor: 'black',
            minWidth: 14
        });
{#        document.getElementById("imageCanvas").fabric = canvas;#}
        // zoom canvas function
        function setCanvasZoom() {
            canvasWidth = canvasOriginalWidth * canvasScale;
            canvasHeight = canvasOriginalHeight * canvasScale;

            canvas.setWidth(canvasWidth);
            canvas.setHeight(canvasHeight);
        }
        setCanvasZoom();

        $('#zoomin').click(function () {
            canvasScale *= 1.15;
            scaleAndPositionImage();
        });
        $('#zoomout').click(function () {
            canvasScale /= 1.15;
            scaleAndPositionImage();
        });

        // backgroundImage
        function setCanvasBackgroundImageUrl(url) {
            if (url && url.length > 0) {
                fabric.Image.fromURL(url, function (img) {
                    bgImage = img;
                    scaleAndPositionImage();
                });
            } else {
                canvas.backgroundImage = 0;
                canvas.setBackgroundImage('', canvas.renderAll.bind(canvas));
                canvas.renderAll();
            }
        }
        // image positioning
        function scaleAndPositionImage() {
            setCanvasZoom();

            var canvasAspect = canvasWidth / canvasHeight;
            var imgAspect = bgImage.width / bgImage.height;
            var left, top, scaleFactor;

            if (canvasAspect >= imgAspect) {
                scaleFactor = canvasWidth / bgImage.width;
                left = 0;
                top = -((bgImage.height * scaleFactor) - canvasHeight) / 2;
            } else {
                scaleFactor = canvasHeight / bgImage.height;
                top = 0;
                left = -((bgImage.width * scaleFactor) - canvasWidth) / 2;

            }
            canvas.setBackgroundImage(bgImage, canvas.renderAll.bind(canvas), {
                top: top,
                left: left,
                originX: 'left',
                originY: 'top',
                scaleX: scaleFactor,
                scaleY: scaleFactor
            });
            canvas.renderAll();
        }
        // initialize backgroundImage function
        //setCanvasBackgroundImageUrl(photoUrl, 0, 0, 1);

        //determine Canvas size
        function setCanvasSize(canvasSizeObject) {
            canvas.setWidth(canvasSizeObject.width);
            canvas.setHeight(canvasSizeObject.height);
        }
        setCanvasSize({height: canvasHeight, width: canvasWidth});

        //Moving and Deleting Shapes with the Keyboard
        document.body.addEventListener('keydown', function (event) {
            var obj = canvas.getActiveObject();
            if (event.keyCode == 37) {
                if (!obj) return;
                obj.left -= 1;
                canvas.renderAll();
            }
            if (event.keyCode == 38) {
                if (!obj) return;
                obj.top -= 1;
                canvas.renderAll();
            }
            if (event.keyCode == 39) {
                if (!obj) return;
                obj.left += 1;
                canvas.renderAll();
            }
            if (event.keyCode == 40) {
                if (!obj) return;
                obj.top += 1;
                canvas.renderAll();
            }
            if (event.keyCode == 46) {
                if (canvas.getActiveGroup()) {
                    canvas.getActiveGroup().forEachObject(function (a) {
                        canvas.remove(a);
                    });
                    canvas.discardActiveGroup();
                    canvas.deactivateAll().renderAll();
                } else {
                    canvas.getActiveObject().remove();
                }
            }

        });

        var imageLoader = document.getElementById('imageLoader');
        imageLoader.addEventListener('change', handleImage, false);

        function handleImage(e) {
            var reader = new FileReader();
            reader.onload = function (event) {
                var img = new Image();
                img.onload = function () {
                    var imgInstance = new fabric.Image(img, {
                        scaleX: 0.4,
                        scaleY: 0.4
                    });
                    canvas.add(imgInstance).bringToFront();
                };
                img.src = event.target.result;
            };
            reader.readAsDataURL(e.target.files[0]);
        }

        // AddText function
        function AddText() {
            canvas.add(new fabric.IText('Sample Text', {
                    left: 50,
                    top: 100,
                    fontFamily: 'Verdana',
                    fill: '#333',
                    fontSize: 40
                })
            );
        }
        // change text color
        document.getElementById('text-color').onchange = function () {
            canvas.getActiveObject().setFill(this.value);
            canvas.renderAll();
        };
        // change font family
        document.getElementById('font-family').onchange = function () {
            canvas.getActiveObject().setFontFamily(this.value);
            canvas.renderAll();
        };
        // AddText function
        function DeleteElement() {
            canvas = document.getElementById('imageCanvas').fabric;
            console.log(canvas);
            console.log(getActiveGroup());
            if (canvas.getActiveGroup()) {
                canvas.getActiveGroup().forEachObject(function (a) {
                    canvas.remove(a);
                });
                canvas.discardActiveGroup();
                canvas.deactivateAll().renderAll();
            } else {
                canvas.getActiveObject().remove();
            }
        }
        //Saving Card image from canvas
        var imageSaver = document.getElementById('imageSaver');
        imageSaver.addEventListener('click', saveImage, false);

        function saveImage(e) {
            document.getElementById('card_image').value = canvas.toDataURL({
                format: 'jpeg',
                quality: 0.8
            });
        }

        jQuery.validator.setDefaults({
            debug: true,
            success: "valid"
        });
        $("#CreateCardForm").validate({
            ignore: [],
            rules: {
                card_image: "required"
            },
            messages: {
                card_image: {
                    required: "Please Attach an Image"
                },
                categories: {
                    required: ""
                }
            },
            highlight: function (element) {
                $(element).parent().addClass('error')
            },
            unhighlight: function (element) {
                $(element).parent().removeClass('error')
            },
            submitHandler: function (form) {
                if ($(form).valid()) {
                    $.get('/check/cards?q=' + form.title.value, function (data, status) {
                        if (data.response == false) {
                            form.submit();
                        }
                        else {
                            document.getElementById('error-message').innerHTML = 'A Card with this title already exist, Please Change.'
                        }
                    });
                }
                return false; // prevent normal form posting
            }
        });

    </script>
{% endblock %}

{% block 'body' %}

    <div ng-controller="HomeController" ng-init="initCard()">
        <!--Send page header  -->
        <div class="ui very padded text container">
            <h2 class="ui center aligned header padtop-1">
                Join Our Pool of Skilled <span class="ui header primary_color">Designers</span>
                <div class="sub header padtop-1">Creatively craft cards, share with a budding community and earn </div>
                {% if storage %}
                    <ul class="messages">
                        {% for message in storage %}
                            <li {% if message.tags == 'alert-danger error' %} style="color: #a41515" {% else %}
                                                                              style="color: limegreen" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </h2>
            <div class="ui hidden divider"></div>
        </div>
        <!-- Three Column for cards and input fields -->
        <div class="ui text container">
            <div class="ui segment">
                <div class="ui hidden divider"></div>
                <form class="ui form" method="post" action="{% if sub is None %}{% url 'request_rights' %}{% else %}{% url 'request_rights' sub %}{% endif %}" id="CreateCardForm">
                    {% csrf_token %}
                    <div class="field">
                        <label for="title">Nickname</label>
                        <input type="text" name="nickname" placeholder="enter nickname here..." id="nickname" value="{{ nickname }}" required>
                    </div>
                    <div class="field">
                        <label>Portfolio</label>
                        <input type="text" name="portfolio" placeholder="enter link to your online portfolio here..." id="portfolio" value="{{ portfolio }}" required>
                    </div>
                    <button class="ui blue button" id="imageSaver" type="submit">Save</button>
                </form>
                <!-- Save image -->
            </div>
        </div><!--End of Segment container for canvas-->
    </div>

{% endblock %}
