{% load premailer %}
{% premailer %}
<html lang="en" style="height: 100%;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
  </head>
  <body style="margin:0; padding:30px; background-color:#FFFFFF; font-family:'Open Sans', Arial,Helvetica,sans-serif; font-weight: 300;">
  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
      <tr>
          <td>
              <table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
                     style="border-collapse: collapse;">
                  <tr>
                      <td bgcolor="transparent" style="padding: 50px 10px 20px 170px;">
                          <img src="https://s3-us-west-2.amazonaws.com/kaadie/kaddielogo.png" style="display: block;" alt="kaadie.com logo">
                      </td>
                  </tr>
                  <tr>
                      <td bgcolor="#E6E7ED" style="padding: 0px 30px 0px 30px;">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tr>
                                  <td style="padding: 0px 10px 0px 10px;">
                                    <a href="{{ link }}"><img src="{{ thumbnail_url }}" style="display: block;margin-left: 175px; margin-top: 50px;" alt="kaadie.com email banner"></a>
                                  </td>
                              </tr>
                              <tr>
                                <td style="padding: 20px 0px 20px 7px;">
                                  <h4 style="margin: 20px 0 0 0 !important; font-size: 1.4rem">Hello {% if recipient %} {{ recipient }}{% endif %},</h4>
                                </td>
                              </tr>
                              <tr>
                                  <td style="padding: 0px 0px 0px 5px;">
                                      <p style="font-size: 1rem">{{ message }}</p>
                                      <p>Please <a href="{{ link }}" style="text-decoration: none; color: #1abc9c;"><u><b>click HERE</b></u></a> to view and don't forget to say thanks!</p>
                                      <p> Best Regards</p>
                                  </td>
                              </tr>
                              <tr>
                                  <td style="padding: 4px 0px 0px 6px;">
                                      <img src="https://s3-us-west-2.amazonaws.com/kaadie/kaddielogo.png" width="70"
                                           height="15" style="display: block;" alt="kaadie.com logo">
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                          <tr>
                                              <td style="font-size:0; line-height: 0;" width="40">
                                              </td>
                                              <td width="500">
                                                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                      <tr>
                                                          <td align="center" style="padding: 25px 0 25px 0; color: #34495E;">
                                                            <a href="https://www.kaadie.com" style="text-decoration: none; color: #34495E;">www.kaadie.com</a>
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <td>
                                                          </td>
                                                      </tr>
                                                  </table>
                                              </td>
                                              <td style="font-size:0; line-height: 0;" width="40"> </td>
                                          </tr>
                                      </table>
                                  </td>
                              </tr>
                          </table>
                      </td>
                  </tr>
                  <tr>
                      <td bgcolor="#2c3e50" style="padding: 30px 30px 30px 30px">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tr>
                                  <td width="70%" style="color: #ffffff; font-size: 14px;">
                                      Copyright © 2017 Kaadie,<br>All rights reserved
                                  </td>
                                  <td align="right">
                                      <table>
                                          <tr>
                                              <td style="font-size:12px;">
                                                  <a style="text-decoration:none; color:#ffffff;"
                                                     href="https://www.facebook.com/Kaadiecom-1149233738494529/">Facebook</a>
                                              </td>
                                              <td style="font-size:12px;">
                                                  <a style="text-decoration:none; color:#ffffff;"
                                                     href="https://twitter.com/OfficialKaadie">Twitter</a>
                                              </td>
                                              <td style="font-size:12px;">
                                                  <a style="text-decoration:none; color:#ffffff;"
                                                     href="https://www.instagram.com/officialkaadie/">Instagram</a>
                                              </td>
                                          </tr>

                                      </table>
                                  </td>
                              </tr>
                          </table>
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
  </table>
    <script type="text/javascript">
        $('img').mousedown(function (e) {
            if (e.button == 2) {
                return false;  }
        });
    </script>
  </body>
</html>
{% endpremailer %}
