<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
</head>
<body style="margin:0; padding:30px; background-color:#FFFFFF; font-family:'Open Sans', Arial,Helvetica,sans-serif; font-weight: 300;">
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="500"
                   style="border-collapse: collapse;">
                <tr>
                    <td bgcolor="#34495e" style="padding: 15px 0px 20px 0px;" align="center">
                        <a href="https://www.kaadie.com" target="_blank" style="text-decoration: none; color: #FFFFFF;"><img src="https://s3-us-west-2.amazonaws.com/kaadie/kaddielogo.png" width=""
                             height="30" style="display: block;" alt="kaadie.com logo"></a>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="transparent" style="padding: 0px 0px 0px 0px;">
                        <a href="https://www.kaadie.com" target="_blank"><img src="/images/kaadie_welcome1.jpg" width="600" height="" style="display: block;" alt="Welcome to Kaadie.com"></a>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#E6E7ED" style="padding: 0px 30px 0px 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td style="padding: 9px 0px 10px 7px;">
                              <h4 style="margin: 20px 0 0 0 !important; font-size: 1.3rem">Hi {% if recipient %} {{ recipient }} {% endif %},</h4>
                            </td>
                          </tr>
                          <tr>
                              <td style="padding: 0px 0px 0px 5px;">
                                  <div class="">
                                    <p style="">Welcome to a whole new world of virtual experience on Kaadie</p>
                                    <p>To continue your Kaadie experience, please click on any of the categories below.</p>
                                  </div>
                              </td>
                          </tr>
                            <tr>
                              <td>
                                <table border="0" cellpadding="0" cellspacing="0" width="500" align="center">
                                  <tr>
                                    <td style="padding: 10px 5px 10px 5px;" width="" align="center">
                                      <a href="https://www.kaadie.com" target="_blank"><img src="/images/kaadie_welcome2.jpg" width="120" height="" style="display: block;" alt="Kaadie.com cards categories"></a>
                                    </td>
                                    <td style="padding: 10px 5px 10px 5px;" width="" align="center">
                                      <a href="https://www.kaadie.com" target="_blank"><img src="/images/kaadie_welcome3.jpg" width="120" height="" style="display: block;" alt="Kaadie.com cards categories"></a>
                                    </td>
                                    <td style="padding: 10px 5px 10px 5px;" width="" align="center">
                                      <a href="https://www.kaadie.com" target="_blank"><img src="/images/kaadie_welcome7.jpg" width="120" height="" style="display: block;" alt="Kaadie.com cards categories"></a>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <table border="0" cellpadding="0" cellspacing="0" width="500" align="center">
                                  <tr>
                                    <td style="padding: 10px 5px 10px 5px;" width="" align="center">
                                      <a href="https://www.kaadie.com" target="_blank"><img src="/images/kaadie_welcome4.jpg" width="120" height="" style="display: block;" alt="Kaadie.com cards categories"></a>
                                    </td>
                                    <td style="padding: 10px 5px 10px 5px;" width="" align="center">
                                      <a href="https://www.kaadie.com" target="_blank"><img src="/images/kaadie_welcome5.jpg" width="120" height="" style="display: block;" alt="Kaadie.com cards categories"></a>
                                    </td>
                                    <td style="padding: 10px 5px 10px 5px;" width="" align="center">
                                      <a href="https://www.kaadie.com" target="_blank"><img src="/images/kaadie_welcome6.jpg" width="120" height="" style="display: block;" alt="Kaadie.com cards categories"></a>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            <tr>
                                <td style="padding: 4px 0px 0px 6px;" align="center">
                                    <p>Whatever the occasion, that exact moment, share your love on Kaadie.</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 4px 0px 0px 6px;" align="center">
                                  <p>Discover more</p>
                                    <a href="https://www.kaadie.com" target="_blank"><img src="https://s3-us-west-2.amazonaws.com/kaadie/kaddielogo.png" width="70"
                                         height="15" style="display: block;" alt="kaadie.com logo" ></a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td style="font-size:0; line-height: 0;" width="40">
                                            </td>
                                            <td width="500">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td align="center" style="padding: 25px 0 25px 0; color: #34495E;">
                                                          <a href="https://www.kaadie.com" style="text-decoration: none; color: #34495E;">www.kaadie.com</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="font-size:0; line-height: 0;" width="40"> </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#2c3e50" style="padding: 30px 30px 30px 30px">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td width="70%" style="color: #ffffff; font-size: 14px;">
                                    Copyright © 2017 Kaadie,<br>All rights reserved
                                </td>
                                <td align="right">
                                    <table>
                                        <tr>
                                            <td style="font-size:12px;">
                                                <a style="text-decoration:none; color:#ffffff;"
                                                   href="https://www.facebook.com/Kaadiecom-1149233738494529/">Facebook</a>
                                            </td>
                                            <td style="font-size:12px;">
                                                <a style="text-decoration:none; color:#ffffff;"
                                                   href="https://twitter.com/OfficialKaadie">Twitter</a>
                                            </td>
                                            <td style="font-size:12px;">
                                                <a style="text-decoration:none; color:#ffffff;"
                                                   href="https://www.instagram.com/officialkaadie/">Instagram</a>
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<script type="text/javascript">
    $('img').mousedown(function (e) {
        if (e.button == 2) {
            return false;
        }
    });
</script>
</body>
</html>
