//Css for home.html

#image_upload {
    position: relative;
    overflow: hidden;

    input{
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       opacity: 0.001;
    }
}

#brand_segment_2 {

.masthead.segment {
    min-height: 400px;
    padding: 1em 0em;

    h1.ui.header {
      margin-top: 2em;
      margin-bottom: 0em;
      font-size: 3em;
      font-weight: normal;
    }
  }

.ui.vertical.stripe {
    padding: 2em 0em;

    h3 {
      font-size: 1.5em;
    }
  }

  .ui.vertical.stripe .button + h3,
      .ui.vertical.stripe p + h3 {
        margin-top: 1em;
      }
      .ui.vertical.stripe .floated.image {
        clear: both;
      }
      .ui.vertical.stripe p {
        font-size: 1.1em;
      }
      .ui.vertical.stripe .horizontal.divider {
        margin: 3em 0em;
      }

      .quote.stripe.segment {
        padding: 0em;
      }
      .quote.stripe.segment .grid .column {
        padding-top: 4em;
        padding-bottom: 4em;
      }

@media only screen and (max-width: 700px) {

      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }

  #form_grid {
    .column {
      max-width: 450px;
    }
  }
}
