// #create-side-tab {
//   @extend #side-tab;
//   top: 56px;
// }
.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-position: center center;
}
.sidebar, .off-canvas-sidebar {
    width: 260px;
    display: block;
    font-weight: 200;
}

.sidebar, .main-panel {
    overflow: auto;
    max-height: 100%;
    height: 100%;

     .sidebar-wrapper {
        position: relative;
        background-color: $brand-midblue;
        max-height: none;
        min-height: 100%;
        overflow: hidden;
        width: 260px;
        z-index: 4;
        box-shadow: inset -1px 0px 0px 0px $brand-gray;

        .nav i, .off-canvas-sidebar .nav i {
        font-size: 24px;
        float: left;
        margin-right: 15px;
        line-height: 30px;
        width: 30px;
        text-align: center;
      }
    }
}

.main-panel {
    background-color: #f4f3ef;
    position: relative;
    z-index: 2;
    float: right;
    width: calc(100% - 260px);
    min-height: 100%;
}
textarea {
    width: 106% !important;
    height: 8rem !important;
    border-radius: 4px !important;
    border-color: #ccc;
}
