body {
	font-family: $font-primary;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.7;
	color: #777;
	.pushable>.pusher {
		background-color: $brand-lighter !important;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 300 !important;
	}
}
.cursive-font {
	font-family: $font-secondary !important;
}
.primary-color {
	color: $brand-primary!important;
}
.secondary-color {
	color: $brand-secondary!important;
}
.white-color {
	color: $brand-white !important;
}

.padright-1 {
  padding-right: 1rem !important; }

.padright-2 {
  padding-right: 2rem !important; }

.padright-3 {
  padding-right: 3rem !important; }

.padright-4 {
  padding-right: 4rem !important; }

.padright-5 {
  padding-right: 5rem !important; }

.padright-6 {
  padding-right: 6rem !important; }

.padleft-1 {
    padding-left: 1rem !important; }

.padleft-2 {
    padding-left: 2rem !important; }

.padleft-3 {
    padding-left: 3rem !important; }

.padleft-4 {
    padding-left: 4rem !important; }

.padleft-5 {
    padding-left: 5rem !important; }

.padleft-6 {
    padding-left: 6rem !important; }

.padtop-1 {
    padding-top: 1rem !important; }

.padtop-2 {
    padding-top: 2rem !important; }

.padtop-3 {
    padding-top: 3rem !important; }

.padtop-4 {
    padding-top: 4rem !important; }

.padtop-5 {
    padding-top: 5rem !important; }

.padtop-6 {
    padding-top: 6rem !important; }

.padbottom-1 {
    padding-bottom: 1rem !important; }

.padbottom-2 {
    padding-bottom: 2rem !important; }

.padbottom-3 {
    padding-bottom: 3rem !important; }

.padbottom-4 {
    padding-bottom: 4rem !important; }

.padbottom-5 {
    padding-bottom: 5rem !important; }

.padbottom-6 {
    padding-bottom: 6rem !important; }
