// sidebar
.ui.vertical.indexpage.sidebar.menu {
  background-color: $brand-primary;
  color: $brand-white;

  a {
    color: $brand-white !important;
  }
}
// Disappearing menu toggle
.toc.item {
  display: none !important;
  color: $brand-black !important;
  font-size: 2em;
  padding: 0 !important;
  margin-left: 15px;
}
//for adjustable card imageSaver
.card {
  box-shadow: none !important;
}
#details-card {
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5 !important;
}
.card .image {
  // height: 17em;
  // overflow: hidden;
}

@media only screen and (max-width: 700px) {

  .card .image {
    // height: 9em;
    // overflow: hidden;
  }
  #extra-content-card {
    display: none;
  }
  .right.mobilehide.menu {
    display: none !important;
  }
  .borderless.topmenu.secondary.menu {
    display: none;
    margin-bottom: 3em;
  }
  .fixed.borderless.hidden.menu {
    display: none !important;
  }
 .toc.item {
    display: inline-block !important;
    position: fixed;
    visibility: visible;
    margin-top: 10px;
    font-size: 2em;
    //top: 3rem;
    z-index: 999;
  }
}

.pusher.mybackground {
  background: $brand-white !important;
}
.ui[class*="top fixed"].featured.menu {
  background-color: $brand-primary; // !important;
  color: $brand-white;
}
// fixed bar menu
.ui.top.fixed.borderless.hidden.featured.menu {
}
.ui.top.fixed.hidden.menu {
  display: none;
}

// top menu navbar
.ui.borderless.topmenu.menu {
  background-color: $brand-white;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: $brand-primary;
  margin: 0 !important;

  .ui.container {
    .icon {
      color: $brand-primary;
    }

    .ui.dropdown.item {
      border-radius: 0;
      color: $brand-primary;

      .menu>.item {
          color: $brand-primary;
        .icon {
          color: $brand-primary;
        }
      }
    }
  }
}
//.ui.menu .item>img:not(.ui)
#kaadie_logo {
    width: 8.5em !important;
  }
.long-search.input {
  width: 30em !important;
}

//main navigation menu
.ui.borderless.mainnav.menu {
  background-color: $brand-teal;
  border: none;
  border-radius: 0;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  color: $brand-white;
  margin-bottom: 0 !important;
  margin-top: 0 !important;

  .ui.centered.stackable.grid.container  {
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    .ui.dropdown.item {
      border-radius: 0;
      color: $brand-white;

      .menu>.item {
          color: $brand-primary;
        .icon {
          color: $brand-primary;
        }
      }
    }
  }
}
//clipping cards description
.overflow {
  overflow: hidden !important;
  white-space: nowrap !important;

}
.ellipsis {
  text-overflow: ellipsis !important;
 }
//Featured section
.ui.very.padded.featured.segment {
  box-shadow: none;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
// hack for semantic bug
.ui.card .content img,.ui.cards>.card .content img {
  width: 100%;
}

//Footer
footer.footer-background {
  background-color: $brand-primary;
  color: $brand-white;
  padding-top: 3em;
  padding-bottom: 3em;
  bottom: 0;
  // width: 100%;
  // position: absolute;
}


// ******************
// Home page styles
// ******************
.sm-thin-font {
  font-weight: 300 !important;
  font-size: 0.65em !important;
}
//main navigation menu
.ui.borderless.homenav.menu {
  @extend .ui.borderless.mainnav.menu;
  margin-top: 0px !important;
}
