
#signuppage {
  background: $brand-primary;
  background-image: url(../../images/mockup.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  padding-top: 2em;
  position: relative;

  .form-holder {
    background: rgba(255,255,255,0.85);
    border-radius: 3px;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .form-head {
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 15px auto 30px auto;
  }

  .kaadie-logo-image {
    //padding: 2em;
    width: 40%;
  }
  .size-mini {
    font-size: 12px!important;
    line-height: 1.9 !important;
  }
}

#forgotpage {
  @extend  #signuppage;
  height: 100vh;
  background-image: url(../../images/mockup.jpg);
}

#footer-details {
  position: absolute;
  bottom: 5%;
}

 #login-form {
   box-sizing: border-box;
   width: 400px;
   margin: 10px 2em 0;
   box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
   padding-bottom: 40px;
   border-radius: 5px;
   background-color: $brand-white;
   h1 {
     box-sizing: border-box;
     padding: 20px;
     padding-bottom: 0;
     text-align: center;
   }
 }
 .form-header {
   //height: 50px;
   width: 100%;
   //font-family: $font-secondary;
   background: $brand-midblue;
   font-weight: 300;
   color: $brand-white;
   line-height: 150%;
   border-radius: 5px 5px 0 0;
   box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
 }

 button {
   box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
   &:hover {
     transform: translateY(-3px);
     box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
   }
 }
 .alter {
   padding: 0 1.5em;
 }


 @media screen and (max-width: 680px) {
   .kaadie-logo-image {
     //height: 50px;
     margin: 0 auto;
   }
 }
