$font-primary: 'Lato', Arial, sans-serif;
$font-secondary: 'Acme', sans-serif;


// Overrides
$grid-gutter-width: 40px ;
$border-radius-base:  4px ;
$padding-base-vertical: 14px ;

$brand-primary: #bdc3c7; // silver;
$brand-secondary: #34495e; // wet asphalt
$brand-lighter: #f8f9ef; //cloud
$brand-tertiary: #605490;
$brand-teal: #00B5AD; //light teal - amazonlite
$brand-midblue: #2c3e50;

$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-gray: #ccc;
$brand-body-color: #818892;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #3b3d40;
$brand-bg-color: $brand-white;

$input-border-focus:  $brand-primary ;
$form-group-margin-bottom:       30px ;
